/** @define default.base */

/* Set up a decent box model on the root element */
html {
  box-sizing: border-box;
}

body {
  @apply text-grey-900;
}

/*
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus,
button:focus {
  outline: none;
  box-shadow:
    0 0 0 6px rgba(var(--ubc-blue-neptue), 0.5),
    0 0 0 1px rgba(var(--ubc-blue), 1) !important;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

[hidden],
[data-screen="sm"] .hidden--mobile,
[data-screen="lg"] .hidden--desktop {
  display: none;
}
