/** @define form.base */

/*
* This file contains basic form styles.
*/

form {
  margin-top: calc(var(--text-base) * var(--scale-ratio));
  width: 100%;
}

fieldset {
  @apply border rounded-lg border-grey-300;
  margin-top: calc(var(--text-base) * var(--scale-ratio));
  margin-bottom: calc(var(--text-base) * var(--scale-ratio));
  padding: calc(var(--text-xl) * var(--scale-ratio));
}

legend {
  @apply text-ubc-blue;
  font-size: 1.25em;
}

label {
  font-weight: 400;
}

button,
input,
optgroup,
select,
textarea {
  line-height: var(--base-line-height);
}

::placeholder {
  opacity: 1;
  color: var(--input-placeholder-color);
}

/* required styles */
.form-required {
  color: var(--input-required-color);
  font-weight: 700;
}

.description {
  @apply mt-2;
}

/* adust multiple form element styles */
fieldset .form-checkboxes,
fieldset .form-radios  {
  @apply my-0;
}

/* error styles */
form .error {
  border-color: rgba(var(--error), 1) important;
}

form .error::placeholder,
form .error + .description,
abbr.tabledrag-changed {
  color: rgba(var(--error), 1) important;
}

/* draggable elements */
abbr.tabledrag-changed {
  text-decoration: none;
}




/* focus styles */
[type="number"]:focus,
[type="search"]:focus,
[type="date"]:focus,
[type="time"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="text"]:focus,
[type="password"]:focus,
[type="datetime"]:focus,
[type="week"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="tel"]:focus,
[type="color"]:focus,
textarea:focus {
  background-color: rgba(var(--white), 1);
}

[type=checkbox]:focus,
[type=radio]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 0.375rem var(--focus-bg)!important;
}

:required:focus {
  outline: none;
  box-shadow:
    0 0 0 0.375rem var(--focus-required-bg),
    0 0 0 1px var(--focus-required-inner-bg) !important;
}

/* disabled styles */
.form-disabled [type="number"],
.form-disabled [type="search"],
.form-disabled [type="date"],
.form-disabled [type="time"],
.form-disabled [type="datetime-local"],
.form-disabled [type="month"],
.form-disabled [type="text"],
.form-disabled [type="password"],
.form-disabled [type="datetime"],
.form-disabled [type="week"],
.form-disabled [type="email"],
.form-disabled [type="url"],
.form-disabled [type="tel"],
.form-disabled [type="color"],
.form-disabled textarea,
[type="number"]:disabled,
[type="search"]:disabled,
[type="date"]:disabled,
[type="time"]:disabled,
[type="datetime-local"]:disabled,
[type="month"]:disabled,
[type="text"]:disabled,
[type="password"]:disabled,
[type="datetime"]:disabled,
[type="week"]:disabled,
[type="email"]:disabled,
[type="url"]:disabled,
[type="tel"]:disabled,
[type="color"]:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  border: 2px solid rgba(var(--grey-300), 1);
  background-color: rgba(var(--grey-50), 1);
}
