/** @define layout.base */

/*
* This file contains css for layouts
*/

.container-narrow {
  width: 100%;
}

.w-constrain {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-narrow {
    max-width: 640px;
  }
}

@media (min-width: 980px) {
  .container-narrow {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-narrow {
    @apply max-w-5xl;
  }
}

/* automatic layouts for grid */
.auto-grid {
  @apply flex flex-row flex-wrap gap-4;
}

.auto-grid--full .auto-grid__cell {
  width: 100%;
}

.auto-grid--half .auto-grid__cell {
  width: 50%;
}

.auto-grid--third .auto-grid__cell {
  width: 33.33333%;
}

.auto-grid--quarter .auto-grid__cell {
  width: 25%;
}

.auto-grid--fifth .auto-grid__cell {
  width: 20%;
}

.auto-grid--sixth .auto-grid__cell {
  width: 16.66666%;
}

@media (min-width: 768px) {

  .sm--auto-grid {
    @apply flex flex-row flex-wrap gap-4;
  }

  .sm--auto-grid--full .auto-grid__cell {
    width: 100%;
  }

  .sm--auto-grid--half .auto-grid__cell {
    width: 50%;
  }

  .sm--auto-grid--third .auto-grid__cell {
    width: 33.33333%;
  }

  .sm--auto-grid--quarter .auto-grid__cell {
    width: 25%;
  }

  .sm--auto-grid--fifth .auto-grid__cell {
    width: 20%;
  }

  .sm--auto-grid--sixth .auto-grid__cell {
    width: 16.66666%;
  }
}

@media (min-width: 980px) {

  .md--auto-grid {
    @apply flex flex-row flex-wrap gap-4;
  }

  .md--auto-grid--full .auto-grid__cell {
    width: 100%;
  }

  .md--auto-grid--half .auto-grid__cell {
    width: 50%;
  }

  .md--auto-grid--third .auto-grid__cell {
    width: 33.33333%;
  }

  .md--auto-grid--quarter .auto-grid__cell {
    width: 25%;
  }

  .md--auto-grid--fifth .auto-grid__cell {
    width: 20%;
  }

  .md--auto-grid--sixth .auto-grid__cell {
    width: 16.66666%;
  }
}

@media (min-width: 1200px) {

  .lg--auto-grid {
    @apply flex flex-row flex-wrap gap-4;
  }

  .lg--auto-grid--full .auto-grid__cell {
    width: 100%;
  }

  .lg--auto-grid--half .auto-grid__cell {
    width: 50%;
  }

  .lg--auto-grid--third .auto-grid__cell {
    width: 33.33333%;
  }

  .lg--auto-grid--quarter .auto-grid__cell {
    width: 25%;
  }

  .lg--auto-grid--fifth .auto-grid__cell {
    width: 20%;
  }

  .lg--auto-grid--sixth .auto-grid__cell {
    width: 16.66666%;
  }
}
