/** @define links */

/*
* This file contains basic link styles.
*/
a,
button {
  transition: background-color 0.125s ease, color 0.125s ease;
}

a {
  text-decoration: underline;
  color: $default-link-color;
}

a:hover {
  color: $default-link-color-hover;
}

a:active {
  color: $default-link-color-active;
}

/* accessibly hidden links and content */
.element-invisible,
.skip-link:link,
.skip-link:visited,
.skip-link:hover,
.visually-hidden {
  position: absolute;
  top: auto;
  left: -300%;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* allow the link to stretch to fill the first parent with relative positioning */
.link-expand::before,
.unit-button--simple.link-expand::before {
  @apply absolute inset-0;

  content: "";
}

.link-expand-break {
  @apply relative z-50;
}

.link-external::after {
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  content: "";
  transform: translateY(0.25em);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath fill='%23acacac' d='M25 0H22.5V5H25H31.4609L15.7344 20.7344L13.9609 22.5L17.5 26.0391L19.2656 24.2734L35 8.53906V15V17.5H40V15V2.5V0H37.5H25ZM2.5 2.5H0V5V37.5V40H2.5H35.625H38.125V37.5V27.5V25H33.125V27.5V35H5V7.5H12.5H15V2.5H12.5H2.5Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;  background-position: 50%;
  background-size: 1em 1em;
}