/** @define links */

/*
* This file contains basic link styles.
*/
a,
button {
  transition: background-color 0.125s ease, color 0.125s ease;
}

a {
  text-decoration: underline;
  color: $default-link-color;
}

a:hover {
  color: $default-link-color-hover;
}

a:active {
  color: $default-link-color-active;
}

a.disabled {
  @apply text-accessible-grey
}

.color-inverse a {
  text-decoration: underline;
  color: #fff;
}

.color-inverse a:hover {
  @apply text-ubc-grey-3
}

.color-inverse a:active {
  @apply text-ubc-grey-2
}

.color-inverse a.disabled {
  @apply text-accessible-grey
}

/* accessibly hidden links and content */
.element-invisible,
.skip-link:link,
.skip-link:visited,
.skip-link:hover,
.visually-hidden {
  position: absolute;
  top: auto;
  left: -300%;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* allow the link to stretch to fill the first parent with relative positioning */
.link-expand::before,
.unit-button--simple.link-expand::before {
  @apply absolute inset-0;

  content: "";
}

.link-expand-break {
  @apply relative z-50;
}

.link-external::after {
  background-image: url("data:image/svg+xml,%3Csvg width='1792' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%239e9e9e' d='M1408 928v320q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h704q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-320q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19-45-19l-176-176-652 652q-10 10-23 10t-23-10l-114-114q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45 45-19h512q26 0 45 19t19 45z'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  content: "";
  margin-left: .25em;
  display: inline-flex;
  height: 1em;
  transform: translateY(.25em);
  width: 1em;
}