/** @define link.base */

/*
* This file contains basic link styles.
*/
a,
button {
  transition: background-color 0.125s ease, color 0.125s ease;
}

a {
  text-decoration: underline;
  color: var(--default-color-link);
}

a:hover {
  color: var(--default-color-link-hover);
}

a:active {
  color: var(--default-color-link-active);
}

/* accessibly hidden links and content */
.element-invisible,
.skip-link:link,
.skip-link:visited,
.skip-link:hover,
.visually-hidden {
  position: absolute;
  top: auto;
  left: -300%;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* allow the link to stretch to fill the first parent with relative positioning */
.link-expand::before,
.unit-button--simple.link-expand::before {
  @apply absolute inset-0;

  content: "";
}

.link-expand-break {
  @apply relative z-50;
}

.link-external::after {
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  content: "";
  transform: translateY(0.25em);
  background-image: url(../img/svg/icon-link-external--grey.svg);
  background-repeat: no-repeat;  background-position: 50%;
  background-size: .875em .875em;
}
