/** @define media.base */

/*
* This file contains base styles related to media, such as images, svgs and iframes.
*/

img,
video {
  max-width: 100%;
  height: auto;
}

figure {
  @apply mt-leading;

  margin-bottom: 0;
}

figcaption {
  @apply px-3 pt-2 text-sm text-grey-700;
}

/* svgs
* add a default stroke width (utilities to modify in separate file)
*/
svg:not(.ck) {
  stroke-width: 2;
  fill: none;
}

/* embedded media (iframes) */
embed,
iframe,
object {
  aspect-ratio: 16/9;
  height: auto;
  width: 100%;
}

/* image helpers */
.img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-zoom {
  overflow: hidden;
}

.img-zoom img {
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom center;
}

.img-zoom:hover img {
  transform: scale(1.05);
}

.img-rounded img {
  border-radius: 9999px;
}

/* image filters */
.img-greyscale {
  filter: grayscale(100%);
}
