/** @define table.base */

/*
* This file contains all styles related to the table element.
*/

table {
  @apply w-full text-left mt-leading;
  border-spacing: 0;
  border-collapse: collapse;
}

thead tr {
  @apply border-t border-b border-ubc-blue;
}

tr {
  @apply border-b border-grey-300;
}

td,
th {
  @apply p-4 text-sm;
  vertical-align: top;
  line-height: 1.45;
}

th {
  @apply font-semibold text-ubc-blue;
}

table caption {
  @apply px-4 py-0 text-ubc-blue;
  font-size: 120%;
  font-weight: 600;
}

/* table element variants */
.table--responsive {
  overflow-x: auto;
  max-width: 100%;
  margin: 0;
}

.table--plain tr {
  @apply border-b-0 !bg-transparent;
}

.table--condensed th,
.table--condensed td {
  @apply py-2 pr-2;
  line-height: 1.25;
}

.table--striped tr.odd,
.table--striped tbody tr:nth-child(2n+1) {
  @apply bg-ubc-blue-cornflower/20;
}

.table--striped td,
.table--striped th {
  padding-left: 0.75rem;
  @apply pl-3;
}

.table--hover tbody tr:hover {
  @apply bg-ubc-blue-cornflower/30;
}

td p:first-child {
  margin-top: 0;
}

/* sortable tables */
.tablesort {
  display: none;
}

.tablesort--asc {
  background-image: url(../img/svg/icon-sort-asc.svg);
}

.tablesort--desc {
  background-image: url(../img/svg/icon-sort-desc.svg);
}

.column-sort {
  position: relative;
}

.column-sort::after  {
  position: absolute;
  right: -1.25rem;
  height: 1rem;
  width: 1rem;
  content: '';
  background-image: url(../img/svg/icon-sort.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

[aria-sort] .column-sort:has(.tablesort--desc)::after {
  background-image: url(../img/svg/icon-sort-desc.svg);
}

[aria-sort] .column-sort:has(.tablesort--asc)::after {
  background-image: url(../img/svg/icon-sort-asc.svg);
}

/* sortable wysiwyg tables */
table.sortable th {
  position: relative;
}

table.sortable th::after {
  background-image: url(../img/svg/icon-sort.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  content: "";
  margin-left: .5em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -.125em;
}

table.sortable th[aria-sort=descending]::after {
  background-image: url(../img/svg/icon-sort-desc.svg);
}

table.sortable th[aria-sort=ascending]::after {
  background-image: url(../img/svg/icon-sort-asc.svg);
}