/** @define typography */

/*
* This file contains default typographic styles for text.
*/

/* variables in file */
$default-text-color: $text-color;
$h1-weight: 600;
$h2-weight: 600;
$h3-weight: 600;
$h4-weight: 700;
$h5-weight: 700;
$h6-weight: 700;

$text-xs: .75rem; /* 12px */
$text-sm: .875rem; /* 14px */
$text-base: 1rem; /* 16px */
$text-lg: 1.125rem; /* 18px */
$text-xl: 1.25rem; /* 20px */
$text-2xl: 1.5rem; /* 24px */
$text-3xl: 1.75rem; /* 28px */
$text-4xl: 2rem; /* 32px */
$text-5xl: 2.25rem; /* 36px */
$text-6xl: 3.375rem; /* 54px */
$text-7xl: 4rem; /* 64px */
$text-8xl: 5rem; /* 80px */
$text-9xl: 7.625rem; /* 122px */

html {
	color: $default-text-color;
	font-size: 100%;
	font-family: $default-typeface;
}

body {
	font-size: var(--base-font-size);
	font-family: $default-typeface;
	line-height: $leading;
}

/* heading elements */
h1,
.h1,
.heading-one {
	margin-top: calc($leading * 3.5rem);
	margin-bottom: 0;
	font-weight: $h1-weight;
	font-size: $text-6xl;
	font-family: $default-typeface;
	line-height: 1.25;
}

h2,
.h2,
.heading-two {
	margin-top: calc($leading * 2.25rem);
	margin-bottom: 0;
	font-weight: $h2-weight;
	font-size: 2.625rem;
	font-family: $default-typeface;
	line-height: 1.4;
}

h3,
.h3,
.heading-three {
	margin-top: calc($leading * 1.75rem);
	margin-bottom: 0;
	font-weight: $h3-weight;
	font-size: $text-5xl;
	font-family: $default-typeface;
	line-height: 1.4;
	letter-spacing: .025em;
}

h4,
.h4,
.heading-four {
	margin-top: calc($leading * 1.25rem);
	margin-bottom: 0;
	font-weight: 700;
	font-size: $text-2xl;
	font-family: $default-typeface;
	line-height: 1.4;
	letter-spacing: .025em;
	text-transform: uppercase;
}

h5,
.h5,
.heading-five {
	margin-top: calc($leading * 1rem);
	margin-bottom: 0;
	font-weight: $h5-weight;
	font-size: $text-base;
	font-family: $default-typeface;
	line-height: $leading;
	letter-spacing: .05em;
}

h6,
.heading-six {
	margin-top: calc($leading * 1rem);
	margin-bottom: 0;
	font-weight: $h6-weight;
	font-size: $text-sm;
	font-family: $default-typeface;
	line-height: $leading;
	letter-spacing: .05em;
}

.heading-display {
	font-weight: 700;
	font-size: $text-8xl;
	font-family: $default-typeface;
	line-height: 1.2;
}

.h1--mt {
	margin-top: calc($leading * 3.5rem);
}

.h2--mt {
	margin-top: calc($leading * 2.25rem);
}

.h3--mt {
	margin-top: calc($leading * 1.75rem);
}

/* text and list elements */
p,
pre,
table,
blockquote {
	margin-top: calc($leading * 1rem);
	margin-bottom: 0;
}

b,
strong {
	font-weight: 700;
}

kbd,
code {
	padding: .125em .25em;
	font-size: .875em;
	background-color: $grey-100;
}

kbd {
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	white-space: nowrap;
	border: 1px solid $grey-300;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
}

code,
kbd,
sub,
sup,
samp,
.text--code, {
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Lists */

ul,
ol,
dl {
	margin-top: calc($leading * 1rem);
	margin-bottom: calc($leading * 1rem);
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

.text-formatted ul {
	@apply pl-6;
	list-style-type: disc;
}

.text-formatted ol {
	@apply pl-6;
	list-style-type: decimal;
}

dt {
	text-transform: uppercase;
}

/* Blockquote */

blockquote {
	@apply relative py-4 m-8 text-xl font-bold text-ubc-blue-sea;
	margin-bottom: calc($leading * 1rem);
	font-weight: 400;
	quotes: "“""”""‘""’";
}

blockquote::after {
	@apply absolute block bg-ubc-blue-sea;
	bottom: 0;
	left: 0;
	width: 40%;
	height: 1px;
	content: '';
}

blockquote p:first-of-type {
	margin-top: 0;
}

blockquote p:last-of-type {
	position: relative;
}

/*
blockquote p:first-of-type::before {
	content: '“';
}

blockquote p:last-of-type::after {
	content: '”';
}
*/

cite,
.cite {
	@apply pt-4 pb-4 font-sans text-sm not-italic font-normal uppercase text-grey-500;
}

cite::before,
.cite::before {
	content: '— ';
}


/* Tables */

table {
	margin-top: calc($leading * 1rem);
	font-size: .875em;
}

/* horizontal rule element */
hr,
.hr {
	margin: calc($leading * 1rem) 0;
	border-top: .25rem solid $ubc-blue;
	max-width: 7rem;
}

/* Text utilities */

.text-lead {
	margin-top: calc($leading * 1.5rem);
	margin-bottom: 0;
	font-size: $text-2xl;
	line-height: $leading;
	color: $ubc-blue-sea;
}

.text-lead--mt {
	margin-top: calc($leading * 1.5rem);
}

.text--small {
	font-size: $scale * .875rem;
}

@media (min-width: $breakpoint--xxl) {

	body {
		font-size: $text-2xl;
	}

	/* heading elements */

	h1,
	.h1,
	.heading-one {
		margin-top: calc($leading * 3rem);
		font-size: $text-8xl;
		letter-spacing: -.01em;
	}

	h2,
	.h2,
	.heading-two {
		margin-top: calc($leading * 2.5rem);
		font-size: $text-7xl;
	}

	h3,
	.h3,
	.heading-three {
		margin-top: calc($leading * 2.5rem);
		font-size: $text-6xl;
		line-height: 1.25;
	}

	h4,
	.h4,
	.heading-four {
		margin-top: calc($leading * 1rem);
		font-size: $text-5xl;
	}

	h5,
	.h5,
	.heading-five {
		margin-top: calc($leading * .875rem);
		font-size: $text-3xl;
		line-height: 1.4;
	}

	h6,
	.h6,
	.heading-six {
		font-size: $text-2xl;
	}

	.heading-display {
		font-size: $text-9xl;
	}

	.h1--mt {
		margin-top: calc($leading * 3rem);
	}

	.h2--mt {
		margin-top: calc($leading * 2.5rem);
	}

	.h3--mt {
		margin-top: calc($leading * 2.5rem);
	}

	blockquote {
		@apply text-2xl;
	}

	.text-lead {
		margin-top: calc($leading * 2.5rem);
		font-size: $text-5xl;
	}

	.text-lead--mt {
		margin-top: calc($leading * 2.5rem);
	}

}

/* non-responsive text utilities */

/* placed last to allow to take precedence in the cascade */
.text-hug {
	margin-top: 0;
}

/* we use the 'ch' unit, which is the width of the '0' [zero] character in the current font. */

/* https://meyerweb.com/eric/thoughts/2018/06/28/what-is-the-css-ch-unit/ */
.text-measure {
	max-width: 60ch;
}

.text-measure-sm {
	max-width: 50ch;
}

.text-measure-lg {
	max-width: 70ch;
}

@media (min-width: $breakpoint--xxl) {

	.text-xs {
		font-size: 1.125rem !important; /* 18px */
	}

	.text-sm {
		font-size: 1.313rem !important; /* 21px */
	}

	.text-lg {
		font-size: 1.688rem !important;/* 27px */
	}

	.text-xl {
		font-size: 1.875rem !important; /* 30px */
	}

	.text-2xl {
		font-size: 2.25rem !important; /* 36px */
	}

	.text-3xl {
		font-size: 2.625rem !important; /* 42px */
	}

	.text-4xl {
		font-size: 3rem !important; /* 48px */
	}

	.text-5xl {
		font-size: 3.375rem !important; /* 54px */
	}

	.text-6xl {
		font-size: 5.063rem !important; /* 81px */
	}

	.text-7xl {
		font-size: 6rem !important; /* 96px */
	}

	.text-8xl {
		font-size: 7.5rem !important; /* 120px */
	}

	.text-9xl {
		font-size: 11.438rem !important; /* 183px */
	}

}
