/** @define typography.base */

/*
* This file contains default typographic styles for text.
*/


html {
  color: var(--default-text-color);
  font-family: var(--text-font-stack);
  font-size: 100%;
}

body {
  font-family: var(--text-font-stack);
  font-size: var(--base-font-size);
  line-height: var(--leading);
}

/* heading elements */
h1,
.h1 {
  @apply mb-0 text-6xl;
  margin-top: calc(var(--leading) * 3.5rem);
  font-family: var(--alternate-font-stack);
  font-weight: var(--title-weight);
  line-height: 1.25;
}

h2,
.h2 {
  @apply mb-0 text-4xl;
  margin-top: calc(var(--leading) * 2.25rem);
  font-family: var(--alternate-font-stack);
  font-weight: var(--title-weight);
  line-height: 1.4;
}

h3,
.h3 {
  @apply mb-0 text-3xl;
  margin-top: calc(var(--leading) * 1.75rem);
  letter-spacing: 0.025em;
  font-family: var(--alternate-font-stack);
  font-weight: var(--title-weight);
  line-height: 1.4;
}

h4,
.h4 {
  @apply mb-0 text-2xl;
  margin-top: calc(var(--leading) * 1.25rem);
  letter-spacing: 0.025em;
  font-family: var(--alternate-font-stack);
  font-weight: 700;
  line-height: 1.4;
}

h5,
.h5 {
  @apply mb-0 text-base;
  margin-top: calc(var(--leading) * 1rem);
  letter-spacing: 0.05em;
  font-family: var(--alternate-font-stack);
  font-weight: var(--title-weight);
  line-height: 1.425;
}

h6,
.h6 {
  @apply mb-0 text-sm;
  margin-top: calc(var(--leading) * 1rem);
  letter-spacing: 0.05em;
  font-family: var(--alternate-font-stack);
  font-weight: var(--title-weight);
  line-height: 1.425;
}

.heading-display,
.heading-display h1 {
  @apply text-5xl;
  font-weight: var(--title-weight);
  line-height: 1.2;
}

/* responsive type (20px min to 46px max) - see https://modern-fluid-typography.vercel.app for configuration */
.heading-responsive {
  font-size: clamp(1.25rem, 2vw + 1rem, 2.875rem);
}

@media (max-width: 479px) {
  .heading-display,
  .heading-display h1 {
    @apply text-2xl;
  }
}

/* heading siblings */
h1 + h2 {
  margin-top: calc(var(--leading) * 1.125rem);
}

h2 + h3 {
  margin-top: calc(var(--leading) * 1rem);
}

h3 + h4 {
  margin-top: calc(var(--leading) * .875rem);
}

h4 + h5 {
  margin-top: calc(var(--leading) * .75rem);
}

h5 + h6 {
  margin-top: calc(var(--leading) * .5rem);
}

/* text and list elements */
p,
pre,
table,
blockquote {
  @apply mb-0 mt-leading;
}

b,
strong {
  font-weight: 600;
}

kbd,
code {
  @apply py-[.125em] px-[.25em] bg-grey-100 text-[.875em];
}

kbd {
  @apply inline-block border shadow-sm border-grey-300;
  text-wrap: nowrap;
  border-radius: 3px;
  font-weight: 600;
  line-height: 1;
}

code,
kbd,
sub,
sup,
samp,
.text--code {
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Blockquote */
blockquote {
  @apply relative p-12 mx-auto my-8 text-2xl;

  max-width: 60ch;
  /* quotes: "“""”""‘""’"; */
  font-family: var(--alternate-font-stack);
}

blockquote::before {
  position: absolute;
  top: 2rem;
  left: 3rem;
  height: 1.5em;
  width: 1.5em;
  background-image: url("../img/svg/icon-quote-open--ubc-blue.svg");
  background-size: 1.5em 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}


blockquote p:last-of-type {
  position: relative;
}

/*
blockquote p:first-of-type::before {
	content: '“';
}

blockquote p:last-of-type::after {
	content: '”';
}
*/

cite,
.cite {
  @apply pt-6 font-sans text-sm not-italic font-normal text-right uppercase;
}

cite span,
.cite span {
  @apply block;
}

.blockquote--inverse,
.blockquote--inverse cite,
.blockquote--inverse .cite {
  @apply text-left bg-transparent text-ubc-blue;
}

/* horizontal rule element */
hr,
.hr {
  @apply mx-0 my-3 border-t border-grey-300;
}

.hr--styled {
  @apply max-w-[7rem] mx-0 my-3 border-t border-ubc-blue;
}

/* Text utilities */
.text-lead {
  @apply mb-0 text-xl;
  margin-top: calc(var(--leading) * 1.5rem);
  font-family: var(--alternate-font-stack);
  line-height: var(--leading);
}

.text-hug {
  @apply mt-0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* Responsive text sizing - disabled by default
/*
@media (min-width: 1720px) {

  body {
    @apply text-2xl;
  }

  h1,
  .h1 {
    @apply text-8xl;
    margin-top: calc(var(--leading) * 3rem);
    letter-spacing: -0.01em;
  }

  h2,
  .h2 {
    @apply text-7xl;
    margin-top: calc(var(--leading) * 2.5rem);
  }

  h3,
  .h3 {
    @apply text-6xl;
    margin-top: calc(var(--leading) * 2.5rem);
    line-height: 1.25;
  }

  h4,
  .h4 {
    @apply text-5xl;
    margin-top: calc(var(--leading) * 1rem);
  }

  h5,
  .h5 {
    @apply text-3xl;
    margin-top: calc(var(--leading) * 0.875rem);
    line-height: 1.4;
  }

  h6,
  .h6 {
    @apply text-2xl;
  }

  .heading-display,
  .heading-display h1 {
    @apply text-7xl;
  }

  blockquote {
    @apply text-4xl;
  }

  cite,
  .cite {
    @apply text-base;
  }

  .text-lead {
    @apply text-5xl;
  }

  .text-xs {
    @apply !text-lg;
  }

  .text-sm {
    @apply !text-xl;
  }

  .text-base {
    @apply !text-2xl;
  }

  .text-lg {
    @apply !text-3xl;
  }

  .text-xl {
    @apply !text-4xl;
  }

  .text-2xl {
    @apply !text-5xl;
  }

  .text-3xl {
    @apply !text-6xl;
  }

  .text-4xl {
    @apply !text-7xl;
  }

  .text-5xl {
    @apply !text-8xl;
  }

  .text-6xl {
    @apply !text-9xl;
  }

  .text-7xl {
    @apply !text-10xl;
  }
}
*/

/* we use the 'ch' unit, which is the width of the '0' [zero] character in the current font. */

/* https://meyerweb.com/eric/thoughts/2018/06/28/what-is-the-css-ch-unit/ */
.text-measure {
  max-width: 60ch;
}

.text-measure-sm {
  max-width: 50ch;
}

.text-measure-lg {
  max-width: 70ch;
}
