// import base styles
@import "_images.less";

/* IMAGES
-------------------------------------------------- */

/* These do not follow bootstrap markup and the namespace of this styling will collide with default bootstrap 

  SAMPLE MARKUP:
  --------------------------------------------------
  
  <figure class="pull-right">
    <img src="my-image.jpg" title="My Image" alt="My Image" class="thumbnail" />
  </figure>
  
  
  CUSTOM IMAGE CLASSES:
  --------------------------------------------------
  .lead-image - removes default top margin from figure
    
  
*/
figure {
  margin: 0 0 30px 0;
}

figure figcaption {
  color: @unit-accent;
  //text-align: left;
  padding: .75em 0;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid @text-muted;
}


// ZOOM the image
@keyframes zoomit {
   0% {transform:scale(1);}
   100% {transform:scale(1.1);}
}
@keyframes zoomited {
   0% {transform:scale(1.1);}
   100% {transform:scale(1);}
}
// ZOOM the image and add duotone effect
@keyframes zoomit--duotone {
   0% {transform:scale(1); filter: grayscale(1);}
   100% {transform:scale(1.1); filter: none;}
}
@keyframes zoomited--duotone {
   0% {transform:scale(1.1); filter: none;}
   100% {transform:scale(1); filter: grayscale(1);}
}

.zoomit,
.zoomimage img {
  transform: scale(1);
  animation-name: zoomited;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  }
.zoomscreen,
.zoomimage {
  overflow: hidden;
  margin: 0 !important;
}
.zoomscreen:hover .zoomit,
.zoomimage:hover img {
  transform: scale(1.1);
  animation-name: zoomit;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.zoomimage--duotone img {
  transform: scale(1);
  filter: grayscale(1);
  animation-name: zoomited--duotone;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  }
.zoomimage--duotone {
  overflow: hidden;
  margin: 0 !important;
  position: relative;
}
.zoomimage--duotone:hover img {
  transform: scale(1.1);
  filter: none;
  animation-name: zoomit--duotone;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}


// This is actually an image component for the homepage
.duotone-boxes .col-md-4 {
  margin-bottom: 2em;
}
.duotone-boxes .unit-theme-none {
  background-color: @unit-primary;
  color: #000;
}
.zoomimage--duotone.unit-theme-one:before {
  background-color: fade(@unit-theme-one-dark, 50%);
}
.zoomimage--duotone.unit-theme-two:before {
  background-color: fade(@unit-theme-two-dark, 50%);
}
.zoomimage--duotone.unit-theme-three:before {
  background-color: fade(@unit-theme-three-dark, 50%);
}
.zoomimage--duotone.unit-theme-four:before {
  background-color: fade(@unit-theme-four-dark, 50%);
}
.zoomimage--duotone.unit-theme-five:before {
  background-color: fade(@unit-theme-five-dark, 50%);
}
.zoomimage--duotone:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: opacity 1s ease;
}
.zoomimage--duotone:hover:before {
  opacity: 0;
}
// set default heading styles and add an icon after
.duotone-boxes__title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 11;
  color: #fff;
  font-weight: 600;
  text-align: left;
  padding: .75em;
  font-style: normal;
  font-size: 14px;
  min-height: 60px;
  transition: background-color .5s ease, color .5s ease;
  &:after {
    content: @unit-btn--icon;
    display: inline-block;
    font-family: @icon-font-family;
    font-weight: normal;
    padding-left: .5em;
  }
}
.zoomimage--duotone:hover .duotone-boxes__title:after {
  animation: iconwiggle ease-in-out .75s;
  animation-iteration-count: infinite;
}
// set the theme colors
.unit-theme-one .duotone-boxes__title {
  background-color: @unit-theme-one-dark;
  &:hover {
    background-color: @unit-theme-one;
  }
}
.unit-theme-two .duotone-boxes__title {
  background-color: @unit-theme-two-dark;
  &:hover {
    background-color: @unit-theme-two;
  }
}
.unit-theme-three .duotone-boxes__title {
  background-color: @unit-theme-three-dark;
  &:hover {
    background-color: @unit-theme-three;
  }
}
.unit-theme-four .duotone-boxes__title {
  background-color: @unit-theme-four-dark;
  &:hover {
    background-color: @unit-theme-four;  
  }
}
.unit-theme-five .duotone-boxes__title {
  background-color: @unit-theme-five-dark;
  &:hover {
    background-color: @unit-theme-five;
  }
}
// when we hover over the component, reset the theme colors
.unit-theme-one:hover .duotone-boxes__title {
  background-color: @unit-theme-one;
  color: #000;
}
.unit-theme-two:hover .duotone-boxes__title {
  background-color: @unit-theme-two;
  color: #000;
}
.unit-theme-three:hover .duotone-boxes__title {
  background-color: @unit-theme-three;
  color: #000;
}
.unit-theme-four:hover .duotone-boxes__title {
  background-color: @unit-theme-four;  
  color: #000;
}
.unit-theme-five:hover .duotone-boxes__title {
  background-color: @unit-theme-five;
  color: #000;
}

@media screen and (max-width: @screen-sm-max) {
  .duotone-boxes__title,
  .duotone-boxes .unit-theme-none {
    font-size: (@font-size-base * .875);
  }
}
@media screen and (min-width: @screen-duotone-cta-min) and (max-width: @screen-duotone-cta-max) {
  .duotone-boxes .col-sm-6 {
    width: 50%;
    float: left;
  }
}