// import base styles
@import "_images.less";

/* IMAGES
-------------------------------------------------- */

/* These do not follow bootstrap markup and the namespace of this styling will collide with default bootstrap 

  SAMPLE MARKUP:
  --------------------------------------------------
  
  <figure class="pull-right">
    <img src="my-image.jpg" title="My Image" alt="My Image" class="thumbnail" />
  </figure>
  
  
  CUSTOM IMAGE CLASSES:
  --------------------------------------------------
  .lead-image - removes default top margin from figure
    
  
*/
figure {
  margin: 0 0 30px 0;
}

figure figcaption {
  color: @unit-accent;
  //text-align: left;
  padding: .75em 0;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid @text-muted;
}


// ZOOM the image
@keyframes zoomit {
   0% {transform:scale(1);}
   100% {transform:scale(1.1);}
}
@keyframes zoomited {
   0% {transform:scale(1.1);}
   100% {transform:scale(1);}
}
// ZOOM the image and add duotone effect
@keyframes zoomit--duotone {
   0% {transform:scale(1); filter: grayscale(1);}
   100% {transform:scale(1.1); filter: none;}
}
@keyframes zoomited--duotone {
   0% {transform:scale(1.1); filter: none;}
   100% {transform:scale(1); filter: grayscale(1);}
}

.zoomit,
.zoomimage img {
  transform: scale(1);
  animation-name: zoomited;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  }
.zoomscreen,
.zoomimage {
  overflow: hidden;
  margin: 0 !important;
}
.zoomscreen:hover .zoomit,
.zoomimage:hover img {
  transform: scale(1.1);
  animation-name: zoomit;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
