// import base styles
@import "_imagebreak.less";

.imagebreak {
  margin: 0 -20px;
}
@media screen and (min-width: @screen-md-min) {
  .imagebreak {
    margin: 0 -15px;
  }
}
@media screen and (max-width: @screen-sm-max) {
  .imagebreak {
    background-size: cover;
  }
}
.imagebreak--screened {
  position: relative;
  max-height: none;
  &:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: fade(@unit-secondary, 85%);
  }
  .imagebreak--caption {
    z-index: 2;
    position: relative;
    width: 100%;
  }
}
.imagebreak--ctas .row > div {
  text-align: center !important;
}
.imagebreak__imagelink {
  display: inline-block;
  max-width: 200px;
  margin: 1em 0 .5em;
  //figcaption {
  div {
    border-bottom: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }
  .img--circle-transparent {
    transition: border-color .75s ease-in-out;
  }
  &:hover .img--circle-transparent {
    border-color: fade(white, 20%);
  }
}
@media screen and (min-width: @screen-sm-min) {
  .imagebreak--ctas .row > div {
    &:first-child {
      text-align: right !important;
    }
    &:last-child {
      text-align: left !important;
    }
  }
}
