section.non-clf
  div.imagebreak.imagebreak--header.imagebreak__border-bottom.wow.fadeIn(data-wow-duration=".25s" role="complementary" aria-label="promotions" style="animation-delay: 50ms;")
    img(src="img/prototype/demo-huge1.jpg" alt="alternate text")
    
    div.imagebreak--caption.imagebreak--caption_screened.imagebreak--caption_text-center
      div.container
        div.row
          div.col-md-8.col-md-offset-2
            h1 Services.
            p 
              | "Well," said Stubb, helping himself freely meanwhile; "I shall now go back to the subject of this steak. In the first place, how old are you, cook?"
          
      