div.imagebreak.imagebreak--screened(role="complementary" aria-label="promotions" style="background-image:url(img/prototype/demo-huge2.jpg)")
  
  div.imagebreak--caption.text--white.vert-content-space-2-2
    div.row
      div.col-xs-8.col-xs-offset-2.text--center
        h2.heading--alt-white donate today
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p 
          a.btn.btn-unit.btn-unit-alt(src="#") donate now