// -----------------------------------------------------------------------------
// This file contains all default application-wide Sass and CSS3 variables.
// -----------------------------------------------------------------------------
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans',
'Helvetica Neue Light',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New',
'DejaVu Sans Mono',
'Bitstream Vera Sans Mono',
'Monaco',
monospace !default;

// Type Variables
// From Typebase.scss v0.1.0 | https://github.com/devinhunt/typebase.css/blob/master/src/typebase.scss
$base-font-size: 16 !default; // as an integer. We convert the unit later. The default will result in 16px on desktop
$base-line-height: 1.5 !default; // as an integer. Defines how high the line height is as a multiple of font size.
$leading: $base-line-height * 1rem !default; // multiply the line height and add a unit. Defaults to rem.
$default-typeface: sans-serif !default;
$alternate-typeface: sans-serif !default;

// TYPE SCALES:
// 1.067 Minor Second
// 1.125 Major Second
// 1.200 Minor Third
// 1.250 Major Third
// 1.333 Perfect Fourth
// 1.414 Augmented Fourth
// 1.500 Perfect Fifth
// 1.618 Golden Ratio
$scale: 1.2;

// TYPE WEIGHTS
$h1-weight: 300;
$h2-weight: 300;
$h3-weight: 600;
$h4-weight: 600;
$h5-weight: 600;
$h6-weight: 600;

// Preference is given to HSLA format
// Online color converter: https://www.w3schools.com/colors/colors_converter.asp
/// Copy text color
/// @type Color
$text-color: hsla(0, 0%, 13%, 1) !default;
$white: #fff;
$unit-red: #b22029;
$ubc-blue: #002145;
$unit-grey-dark: #5b6267;
$unit-grey: #7d868c;
$unit-grey-light: #d6d6d8;
$unit-accent: #90c9cb;
$unit-accent-dark: #454545;
$box-shadow-color: rgba(0, 0, 0, .1);
$image-overlay-bg-colour: rgba(69, 69, 69, 1);
$image-overlay-screen-colour: rgba(125, 134, 140, .2);
$page-title-bg-mobile: rgba(255, 255, 255, .5);
$button-tranparent-hover-bg-colour: rgba(255, 255, 255, .2);

// Gradient Colours
// GRADIENTS
$gradient-grey-transparent: rgba(69, 69, 69, 0);
$gradient-grey-intermediate: rgba(69, 69, 69, .6);
$gradient-grey-intermediate-dark: rgba(69, 69, 69, .8);
$gradient-grey-opaque: rgba(69, 69, 69, 1);
$gradient-grey-lighter-opaque: rgba(125, 134, 140, 1);
$gradient-grey-lighter-intermediate: rgba(125, 134, 140, .5);

// Card Background Colours
$card-red-background-color: #f4eeee;
$card-grey-background-color: #f5f5f6;
$card-blue-background-color: #ecedf0;

/// Breakpoints map
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;

$breakpoint--sm--max: $breakpoint--md - 1px;
$breakpoint--md--max: $breakpoint--lg - 1px;
$breakpoint--lg--max: $breakpoint--xl - 1px;


/// CSS Variables
/// Added here so we are able to use them throughout the cascade.
// https://github.com/sasstools/sass-lint/issues/877
// ugly hack to get around sass-lint not understanding css variables.

// :root {
//   #{--unit-red}: #b22029;
//   #{--ubc-blue}: #002145;
//   #{--unit-grey-dark}: #5b6267;
//   #{--unit-grey}: #7d868c;
//   #{--unit-grey-light}: #d6d6d8;
//   #{--unit-accentr}: #90c9cb;
//   #{--unit-accent-dark}: #454545;
// }

/// Accordions
$accordion-open-icon:   '\f056';
$accordion-closed-icon:   '\f055';
$accordion-trigger-open-text-color:   #fff;
$accordion-trigger-closed-text-color:   $text-color;
$accordion-trigger-hover-text-color:   #fff;
$accordion-trigger-open-background-color:   $unit-red;
$accordion-trigger-closed-background-color:   #fff;
$accordion-trigger-hover-background-color:   $unit-red;
$accordion-trigger-open-icon-color:   #fff;
$accordion-trigger-closed-icon-color:   lighten($unit-red, 5%);
$accordion-trigger-hover-icon-color:   #fff;
$accordion-trigger-border-color: #ccc;
$icon-font-family: 'fontawesome';

