/*
* This file contains all default application-wide Sass and CSS3 variables.
*/

/* used to determine when to trigger an external icon */
$site-url: "extendedlearning.ubc.ca";

/* Type Sizes */
$base-line-height: var(--leading);

$text-xs: 0.75rem; /* 12px */
$text-sm: 0.875rem; /* 14px */
$text-base: 1rem; /* 16px */
$text-lg: 1.125rem; /* 18px */
$text-xl: 1.25rem; /* 20px */
$text-2xl: 1.5rem; /* 24px */
$text-3xl: 1.75rem; /* 28px */
$text-4xl: 2rem; /* 32px */
$text-5xl: 2.25rem; /* 36px */
$text-6xl: 2.75rem; /* 44px */
$text-7xl: 3.375rem; /* 54px */
$text-8xl: 4rem; /* 64px */
$text-9xl: 5rem; /* 80px */
$text-10xl: 7.625rem; /* 122px */

$text-12: $text-xs; /* 12px */
$text-14: $text-sm; /* 14px */
$text-16: $text-base; /* 16px */
$text-18: $text-lg; /* 18px */
$text-20: $text-xl; /* 20px */
$text-24: $text-2xl; /* 24px */
$text-28: $text-3xl; /* 28px */
$text-32: $text-4xl; /* 32px */
$text-36: $text-5xl; /* 36px */
$text-44: $text-6xl; /* 44px */
$text-54: $text-7xl; /* 54px */
$text-64: $text-8xl; /* 64px */
$text-80: $text-9xl; /* 80px */
$text-122: $text-10xl; /* 122px */

/* Colors */
$transparent: transparent;
$black: #000;
$white: #fff;

$ubc-blue: #002145;
$ubc-blue-sea: #003a79;
$ubc-blue-cobalt: #0055b7;
$ubc-blue-neptune: #40b4e5;
$ubc-blue-sky: #61c1e9;
$ubc-blue-cornflower: #97d4e9;
$ubc-blue-polar: #def1f8;
$ubc-blue-frost: #f6fbfd;

$ubc-grey-1: #2f5d7c;
$ubc-grey-2: #5e869f;
$ubc-grey-3: #98b2c3;
$ubc-grey-4: #c3d0db;
$ubc-grey-5: #d5dee4;
$ubc-grey-6: #eaeef1;
$ubc-black: #222;

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-300: #e0e0e0;
$grey-500: #9e9e9e;
$grey-700: #616161;
$grey-900: #212121;

$error: #ff7c7c;
$warning: #f8e605;
$success: #57edae;
$status: $ubc-blue-neptune;
$text-color: $grey-900;

$error: #b33542;
$warning: #ef8843;
$success: #95be4f;
$status: #324d6a;
$text-color: $grey-900;

$white-transparent: rgb(255 255 255 / 50%);
$white--translucent: rgb(255 255 255 / 20%);
$ubc-blue--transparent: rgb(0 33 69 / 90%);
$ubc-blue--tint: rgb(0 33 69 / 25%);
$gradient-ubc-blue-transparent: rgb(0 33 69 / 0%);
$gradient-ubc-blue-opaque: rgb(0 33 69 / 100%);
$gradient-grey-transparent: rgb(244 244 244 / 0%);
$gradient-grey-opaque: rgb(244 244 244 / 100%);

/* Default colors */
$default-link-color: $ubc-blue;
$default-link-color-hover: #2f5d7c;
$default-link-color-active: #98b2c3;

$box-shadow-color: rgb(0 0 0 / 10%);
$image-overlay-bg-colour: rgb(69 69 69 / 100%);
$image-overlay-screen-colour: rgb(125 134 140 / 20%);

/* Title weights */
$h1-weight: 600;
$h2-weight: 600;
$h3-weight: 600;
$h4-weight: 600;
$h5-weight: 600;
$h6-weight: 600;

/* Forms */
$input-border-radius: 0;
$input-text: $grey-700;
$input-border: $grey-300;
$input-bg: $white;
$input-disabled-color: $grey-100;
$input-disabled-bg: $grey-700;
$input-disabled-border: $grey-700;
$input-select-border: $grey-300;
$input-select-bg: $white;
$input-select-text: $grey-700;
$input-check-radio-color: $ubc-blue;
$input-check-radio-border: $ubc-blue;
$input-placeholder-color: $grey-300;
$input-required-color: $error;
$focus-bg: rgb(64 180 229 / 50%);
$focus-inner-bg: rgb(0 33 69 / 100%);
$focus-required-bg: rgb(255 124 124 / 50%);
$focus-required-inner-bg: #d62f2f;

/* Buttons */
$gradient-black-transparent: rgb(0 0 0 / 0%);
$gradient-black-translucent: rgb(0 0 0 / 20%);
$gradient-black-opaque: rgb(0 0 0 / 100%);
$button-text: $white;
$button-bg: $ubc-blue;
$button-border: $ubc-blue;
$button-text--hover: $ubc-blue;
$button-bg--hover: $white;
$button-border--hover: $ubc-blue;
$button-text--active: ubc-grey-1;
$button-bg--active: $white;
$button-border--active: $ubc-grey-1;
$button-light-bg: $white;
$button-light-border: $ubc-blue;
$button-light-text: $ubc-blue;
$button-light-bg--hover: $ubc-blue;
$button-light-border--hover: $ubc-blue;
$button-light-text--hover: $white;
$button-light-bg--active: $ubc-grey-1;
$button-light-border--active: $ubc-grey-1;
$button-light-text--active: $white;
$button-dark-bg: $ubc-blue;
$button-dark-border: $ubc-blue;
$button-dark-text: $white;
$button-dark-bg--hover: $white;
$button-dark-border--hover: $ubc-blue;
$button-dark-text--hover: $ubc-blue;
$button-dark-bg--active: $white;
$button-dark-border--active: $ubc-grey-1;
$button-dark-text--active: $ubc-grey-1;
$button-transparent-bg: $transparent;
$button-transparent-border: $white;
$button-transparent-text: $white;
$button-transparent-bg--hover: $white;
$button-transparent-border--hover: $white;
$button-transparent-text--hover: $ubc-blue;
$button-transparent-bg--active: rgb(255 255 255 / 60%);
$button-transparent-border--active: rgb(255 255 255 / 60%);
$button-transparent-text--active: rgb(0 33 69 / 60%);

/* Tables */
$table-row-striping-color: rgba(225, 243, 249, 0.5);
$table-row-hover-color: rgba(225, 243, 249, 0.5);

/* Carousel */
$carousel-button--disabled: $grey-500;
$carousel-item--focus-outline: $ubc-blue-cobalt;
$carousel-item--focus-border: $white;
$carousel-caption--text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
$carousel-gradient-transparent: rgb(0 0 0 / 0.01%);
$carousel-gradient-translucent: rgb(0 0 0 / 70%);

/* Throbber / ajax loading animation */
$throbber-background: rgb(255 255 255 / 50%);
$throbber-border: rgb(51 51 51 / 25%);
$throbber-color: var(--color-primary);

/* CLF 8 Breakpoints map */
$breakpoint--xs: 480px;
$breakpoint--sm: 768px;
$breakpoint--md: 980px;
$breakpoint--lg: 1200px;
$breakpoint--xl: 1720px;
$breakpoint--xxl: 2400px;

$breakpoint--xs--max: 479px;
$breakpoint--sm--max: 767px;
$breakpoint--md--max: 979px;
$breakpoint--lg--max: 1199px;
$breakpoint--xl--max: 1719px;
$breakpoint--xxl--max: 2399px;

/* CLF 7 Breakpoints map to control version 7 of the CLF separately */
$breakpoint--clf7-xs: 360px;
$breakpoint--clf7-sm: 768px;
$breakpoint--clf7-md: 980px;
$breakpoint--clf7-lg: 1200px;
$breakpoint--clf7-xl: $breakpoint--xl;
$breakpoint--clf7-xxl: $breakpoint--xxl;

$breakpoint--clf7-xs--max: 359px;
$breakpoint--clf7-sm--max: 767px;
$breakpoint--clf7-md--max: 979px;
$breakpoint--clf7-lg--max: 1199px;
$breakpoint--clf7-xl--max: $breakpoint--xl--max;
$breakpoint--clf7-xxl--max: $breakpoint--xxl--max;
