// import base styles
@import "_teasers.less";

a.teaser {
  text-decoration: none !important;
  color: inherit !important;
}
.teaser-event {
  margin-bottom: 2.5em;
}
.teaser-workshop__time {
  font-size: .8em;
  float: right;
  padding-left: 1em;
}
