a.teaser(href="workshop.html")
  article.teaser-workshop
    h3.h4 Understanding your employee and family assistance program
    p.teaser-workshop__time 
      span.fa.fa-clock-o  
      |  45 mins
    p.text--note Staff, Faculty
    p Learn about free short&ndash;term councelling and work, health, life services available free to UBC staff, faculty and other dependants.
    p
      button.unit-btn--plain(href="event") Workshop Details
