article.teaser.teaser__w-icon
  span.icon.icon-link.teaser--icon
  div.teaser--content
    h4 Work Smarter.
    p 
      | Software, Hardware, Printing, File Sharing, Tools, Project Setup
    p
      a.btn.btn-unit.btn-sm(href="#") Learn More
          
      