article.teaser
  div.teaser--content
    h3 General IT Computing
    p 
      | Consultation for your Research Project Infrastructure. Consultation for your Research Project Infrastructure. Consultation for your Research Project Infrastructure.
    p
      a.btn.btn-unit.btn-sm(href="#") Learn More
          
      