a.teaser(href="workshop.html")
  article.teaser-workshop
    h3.h4 UBC's Mental Health Journey
    p.teaser-workshop__time 
      span.fa.fa-clock-o  
      |  30 mins
    p.text--note Senior Leaders, Managers, Deans
    p Discover UBC HR's journey in incorporating, supporting and promoting mental health in the UBC workplace.
    p
      button.unit-btn--plain(href="event") Workshop Details
