a.teaser.teaser__w-image(href="story.html")
  article
    figure.teaser--image
      img(src="img/prototype/demo-huge1.jpg" alt="" class="")
    div.teaser--content
      h5 CONVERSATIONS IN WELLBEING WITH BRENDAN CHAN
      p Brendan Chan, the founder of Roots on the Roof at the AMS Student Nest, has been gardening on campus for a year.
      p 
        button.unit-btn--plain(href="#") Read more
