div.teaser.teaser-list
  span.icon.icon-link.teaser--icon.teaser--icon__bordered
  div.teaser--content
    h2.heading-small Audio Visual and Creative Services
    div.row
      div.col-xs-6
        h4 Accounts
        ul
          li
            a(href="#") Adobe Acrobat Pro DC
          li
            a(href="#") Adobe Create Cloud Suite
          li
            a(href="#") Microsoft Office
          li
            a(href="#") Microsoft Office 365
          li
            a(href="#") Microsoft Vista
          li
            a(href="#") Microsoft Windows 10
          li
            a(href="#") Sophos
      div.col-xs-6
        h4 Authentication
        ul
          li
            a(href="#") Adobe Acrobat Pro DC
          li
            a(href="#") Adobe Create Cloud Suite
          li
            a(href="#") Microsoft Office
          li
            a(href="#") Microsoft Office 365
          li
            a(href="#") Microsoft Vista
          li
            a(href="#") Microsoft Windows 10
          li
            a(href="#") Sophos
  