a.teaser(href="event.html")
  article.teaser-event
    p.h5 January 17, 2017
    h3.h4 Food, The Future, And You
    p.h6 Vancouver campus | Ponderossa Ballroom<br />9:00am–2:00pm
    p Join us to celebrate the involvement of UBC students with food sustainability research, education, and community engagement.
    p
      button.unit-btn--plain(href="event") Event Details
