/* Action Links
-------------------------------------------------- */

/* 

  CUSTOM STYLES 
  --------------------------------------------------
  
 
          
  SAMPLE MARKUP:
  --------------------------------------------------
  
    <dl class="action-links">
      <dt class="action-links__heading">I want to …</dt>
      <dd class="action-links__link">
        <a href="#">Reset my CWL Account</a></dd>
      <dd class="action-links__link">
        <a href="#">Reset my ECE Account</a></dd>
      <dd class="action-links__link">
        <a href="#">Get a perm</a></dd>
      <dd class="action-links__link">
        <a href="#">Reconsider my life choices</a></dd>
    </dl>
  
  
  VARIABLES:
  --------------------------------------------------
  

*/

.action-links {
  margin-bottom: 1.5em;
}
.action-links__heading {
  text-transform: uppercase;
  color: #fff;
  background-color: @unit-accent;
  font-size: 20px;
  padding: .5em 1em;
}
.action-links__link {
  background-color: darken(@unit-light-grey, 5%);
  a {
    display: block;
    padding: .75em 1em;
    text-decoration: none;
  }
  &:nth-child(2n+1) {
    background-color: @unit-lightest-grey;
  }
}