/* Breadcrumbs
-------------------------------------------------- */

/* 

  CUSTOM STYLES 
  --------------------------------------------------
  
 
          
  SAMPLE MARKUP:
  --------------------------------------------------
  
    
  
  
  VARIABLES:
  --------------------------------------------------
  

*/

/* BREADCRUMBS */
ul.breadcrumb {
  font-size: 12px;
  //margin-left: 0;
}
@media screen and (max-width: @screen-xs-max) {
  ul.breadcrumb {
    margin-bottom: 0;
  }
}