/* MAIN NAVIGATION
-------------------------------------------------- */

/* 
  
  DOCUMENTATION
  --------------------------------------------------
  
 
          
  SAMPLE MARKUP:
  --------------------------------------------------
  
  
  
  VARIABLES:
  --------------------------------------------------
  

*/

// fix for overly aggressive important styles in clf
@media screen and (max-width: @screen-sm-max) {
  .navbar .container {
    padding: 0 !important;
  }
}
.nav a {
  font-size: 14px;
}
ul.nav {
  margin-left: 0;
}
