/* SLIDEOUT NAVIGATION
-------------------------------------------------- */

/* 
  
  DOCUMENTATION
  --------------------------------------------------
  https://formstone.it/components/navigation/ (using off canvas overlay)
  
 
          
  SAMPLE MARKUP:
  --------------------------------------------------
  
  
  
  VARIABLES:
  --------------------------------------------------
  @sansFontFamily
  @unit-accent
  @unit-primary
  @unit-secondary
  @iconFontFamily

*/






/*! formstone v0.5.14 [navigation.css] 2015-05-20 | MIT License | formstone.it */


.fs-navigation.fs-navigation-enabled {
  margin: 0;
}
.fs-navigation,
.fs-navigation:after,
.fs-navigation:before,
.fs-navigation *,
.fs-navigation *:after,
.fs-navigation *:before {
  box-sizing: border-box;
  -webkit-transition: none;
          transition: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.fs-navigation-toggle-nav.fs-navigation-enabled {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-width: 0 1px 1px;
  border-radius: 0 0 3px 3px;
  display: none;
}
.fs-navigation-toggle-nav.fs-navigation-open {
  display: block;
}
.fs-navigation-toggle-handle.fs-navigation-enabled {
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #111111;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 45px 0 15px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fs-navigation-toggle-handle.fs-navigation-open {
  border-radius: 3px 3px 0 0;
}
.fs-navigation-push-nav.fs-navigation-enabled,
.fs-navigation-reveal-nav.fs-navigation-enabled,
.fs-navigation-overlay-nav.fs-navigation-enabled {
  width: 270px;
  height: 100%;
  height: -webkit-calc(100% + 60px);
  height: calc(100% + 60px);
  position: fixed;
  top: 0;
  background: #ffffff;
  display: block;
  overflow: auto;
  visibility: hidden;
}
.fs-navigation-reveal-nav.fs-navigation-animated {
  -webkit-transition: visibility 0.001s linear 0.2s;
          transition: visibility 0.001s linear 0.2s;
}
.fs-navigation-push-nav.fs-navigation-animated,
.fs-navigation-overlay-nav.fs-navigation-animated {
  -webkit-transition: -webkit-transform 0.2s ease, visibility 0.001s linear 0.2s;
          transition: transform 0.2s ease, visibility 0.001s linear 0.2s;
}
.fs-navigation-push-nav.fs-navigation-enabled,
.fs-navigation-reveal-nav.fs-navigation-enabled {
  z-index: 0;
}
.fs-navigation-push-left-nav.fs-navigation-enabled,
.fs-navigation-reveal-left-nav.fs-navigation-enabled,
.fs-navigation-overlay-left-nav.fs-navigation-enabled {
  left: 0;
}
.fs-navigation-push-right-nav.fs-navigation-enabled,
.fs-navigation-reveal-right-nav.fs-navigation-enabled,
.fs-navigation-overlay-right-nav.fs-navigation-enabled {
  right: 0;
}
.fs-navigation-push-left-nav.fs-navigation-enabled,
.fs-navigation-overlay-left-nav.fs-navigation-enabled {
  -webkit-transform: translate3D(-270px, 0, 0);
      -ms-transform: translate3D(-270px, 0, 0);
          transform: translate3D(-270px, 0, 0);
}
.fs-navigation-push-right-nav.fs-navigation-enabled,
.fs-navigation-overlay-right-nav.fs-navigation-enabled {
  -webkit-transform: translate3D(270px, 0, 0);
      -ms-transform: translate3D(270px, 0, 0);
          transform: translate3D(270px, 0, 0);
}
.fs-navigation-overlay-nav.fs-navigation-enabled {
  z-index: 2;
}
.fs-navigation-overlay-left-nav.fs-navigation-enabled {
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
}
.fs-navigation-overlay-right-nav.fs-navigation-enabled {
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.15);
}
.fs-navigation-reveal-nav.fs-navigation-open {
  visibility: visible;
  -webkit-transition: visibility 0.001s ease;
          transition: visibility 0.001s ease;
}
.fs-navigation-push-nav.fs-navigation-open,
.fs-navigation-overlay-nav.fs-navigation-open {
  -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease, visibility 0.001s ease;
          transition: transform 0.2s ease, visibility 0.001s ease;
  visibility: visible;
}
.fs-navigation-push-handle.fs-navigation-enabled,
.fs-navigation-overlay-handle.fs-navigation-enabled {
  //padding: 10px 40px 10px 15px;
  //background: #ffffff;
  //color: #111111;
  cursor: pointer;
  display: block;
  //font-size: 14px;
  margin: 0;
  //padding: 0 45px 0 15px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fs-navigation-overlay-content:before {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.75);
  content: '';
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
          transition: opacity 0.2s ease, visibility 0.2s ease;
  visibility: hidden;
}
.fs-navigation-overlay-content.fs-navigation-open:before {
  opacity: 1;
  visibility: visible;
}
.fs-navigation-reveal-content.fs-navigation-enabled,
.fs-navigation-push-content.fs-navigation-enabled {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.fs-navigation-reveal-content.fs-navigation-animated,
.fs-navigation-push-content.fs-navigation-animated {
  -webkit-transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease;
}
.fs-navigation-reveal-left-content.fs-navigation-enabled,
.fs-navigation-push-left-content.fs-navigation-enabled {
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.15);
}
.fs-navigation-reveal-right-content.fs-navigation-enabled,
.fs-navigation-push-right-content.fs-navigation-enabled {
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
}
.fs-navigation-reveal-left-content.fs-navigation-open,
.fs-navigation-push-left-content.fs-navigation-open {
  -webkit-transform: translate3D(270px, 0, 0);
      -ms-transform: translate3D(270px, 0, 0);
          transform: translate3D(270px, 0, 0);
}
.fs-navigation-reveal-right-content.fs-navigation-open,
.fs-navigation-push-right-content.fs-navigation-open {
  -webkit-transform: translate3D(-270px, 0, 0);
      -ms-transform: translate3D(-270px, 0, 0);
          transform: translate3D(-270px, 0, 0);
}
.fs-navigation-handle.fs-navigation-enabled {
  position: relative;
}
.fs-navigation-handle.fs-navigation-enabled:after {
  //height: 3px;
  //width: 15px;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  //background: #cccccc;
  //box-shadow: 0 5px 0 #cccccc, 0 -5px 0 #cccccc;
  //content: '';
  display: block;
  margin: auto 0;
}
.fs-navigation-handle.fs-navigation-open:after {
  width: 15px;
  height: 15px;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #cccccc;
  content: "\00d7";
  font-size: 22px;
  font-weight: 700;
  line-height: 13px;
  text-align: center;
}
.fs-navigation-lock {
  overflow: hidden !important;
}


.ubc7-unit-menu .container {
  position: relative;
}

.handle {
  height: 40px;
  line-height: 40px;
  font-weight: normal !important;
  font-family: @sansFontFamily;
  text-decoration: none;
  text-transform: uppercase;
  
}
.ubc7-unit-menu .handle {
  right: 15px;
  display: inline-block !important;
  float: right;
}

// adjust the mobile clf nav trigger */
#ubc7-unit .navbar .btn-navbar {
  text-shadow: none;
  text-indent: -400%;
  overflow: hidden;
  //background-color: @unit-secondary;
  &:hover,
  &.fs-navigation-open {
    background-color: @unit-accent;
  }
}

.fs-navigation-handle.fs-navigation-open:after {
  text-indent: 0 !important;
}

.sidebar .fs-navigation-overlay-handle.fs-navigation-enabled, 
.sidebar .fs-navigation-push-handle.fs-navigation-enabled {
  padding: 3px 24px 2px 24px;
}
.fs-navigation-handle.fs-navigation-enabled
.navbar.quicklinksnav {
  position: fixed;
  right: -55px;
  top: 50vh;
  z-index: 10;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  a {
    text-indent: 25px; 
    width: 80px
  }
}
@media (max-width: @screen-sm-max) {
  .mobilenav-triggered .navbar.quicklinksnav {
    z-index: -1;
  }
}

.fs-navigation-overlay-content:before {
  z-index: 10000;
}
.fs-navigation-overlay-nav.fs-navigation-enabled {
  z-index: 10001;
}

.fs-navigation-handle.fs-navigation-enabled {
  background-color: @unit-secondary;
  color: white;
  &:after {
    background: #fff;
    box-shadow: 0 5px 0 #fff, 0 -5px 0 #fff;
  }
  &:hover {
    background-color: @unit-accent;
    color: #000;
    text-decoration: none;
  }
  &:hover:after {
    background: #000;
    box-shadow: 0 5px 0 #000, 0 -5px 0 #000
  }
  &.fs-navigation-open {
    background-color: @unit-secondary;
    color: #fff;
    &:hover {
      background-color: @unit-primary;
    }
  }
  &.fs-navigation-open:after {
    box-shadow:none;
    color: #fff;
    background: transparent;
  }
}
a.navhandle-quicklinks.fs-navigation-handle.fs-navigation-enabled {
  background-color: @unit-primary;
  &:hover {
    background-color: @unit-secondary;
    color: white;
  }
}

// Allow the nav area to scroll when open
.fs-navigation-element.fs-navigation-open {
  height: 100% !important;
  overflow: hidden scroll;
} 

.navhandle-quicklinks.fs-navigation-handle.fs-navigation-enabled:after {
  display: none;
}
.navhandle-quicklinks.fs-navigation-handle.fs-navigation-enabled:before {
  //content: '\f0c9';
  //font-family: @iconFontFamily;
  font-weight: normal;
  display: block;
  margin: auto 0;
  bottom: 0;
  position: absolute;
  top: 2px;
  left: 15px;
  font-size: 18px;
  height: 40px;
  width: 45px;
  text-indent: 0;
}
.navhandle-quicklinks.fs-navigation-handle.fs-navigation-enabled.fs-navigation-open:before {
  display: none;
}
.navhandle-quicklinks.fs-navigation-handle.fs-navigation-enabled.fs-navigation-open:after {
  display: block;
}
.btn-navbar.navhandle-quicklinks.fs-navigation-handle.fs-navigation-enabled:before {
  left: 0;
}

body {
  background-color: white;
}
#wrapper {
  background-color: white;
}
/*
.fs-navigation-overlay-nav.fs-navigation-enabled, 
.fs-navigation-push-nav.fs-navigation-enabled, 
.fs-navigation-reveal-nav.fs-navigation-enabled {
  background-color: #e1f3f9
}
*/
.sidebar {
  .fs-navigation-handle {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
  h4 {
    text-transform: uppercase;
    padding: 21px 21px 0;
    color: @unit-primary;
    font-weight: 600; 
  }
  .nav a,
  .nav a:hover {
    background-color: inherit;
    text-decoration: none;
    font-size: 14px;
    color: @text-color;
    padding: .75em 1.5em .25em;
  }
  .nav a:hover {
    color: @ubcBlue;
    text-decoration: underline;
  }
  .nav.main a {
    background-color: @unit-secondary;
    color: #fff;
    border-bottom: 2px solid white;
    padding: .75em 1.5em;
    position: relative;
    text-transform: uppercase;
    &:hover {
      background-color: @unit-accent;
      color: @ubcBlue;
      text-decoration: none;
    }
    &.alt-home {
      background-color: lighten(@unit-secondary, 10%);
      &:hover {
        background-color: @unit-accent;
      }
    }
    &.alt {
      background-color: @unit-primary;
      &:hover {
        background-color: @unit-accent;
        color: @ubcBlue;
      }
    }
    .fa {
      width: 20px;
    }
    &:after {
      font-family: 'ubc_finance';
      position: absolute;
      right: 1.5em;
      top: 11px;
      height: 100%;
      font-size: .7em;
      content: '\e801';
      transition: right 0.25s ease-in-out;
    }
    &:hover:after {
      right: 1.25em;
    }
  }
  .quicklinks {
    margin: 0 1.5em;
    border-bottom: 2px solid @unit-primary;
  }
  .quicklinks a,
  .quicklinks a:hover {
    border-top: 2px solid @unit-primary;
    padding: .5em;
    text-transform: uppercase;
    text-decoration: none;
  }
  .quicklinks a:hover {
    background-color: @unit-primary;
    color: white;
  }
} 
