/* SUB NAVIGATION
-------------------------------------------------- */

/* 
  
  DOCUMENTATION
  --------------------------------------------------
  
 
          
  SAMPLE MARKUP:
  --------------------------------------------------
  
  
  
  VARIABLES:
  --------------------------------------------------
 

*/

.subnav {
  background-color: @unit-secondary;
  margin-bottom: 1.5em;
}

.subnav a {
  text-decoration: none;
  //text-transform: uppercase;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    text-decoration: none;
  }
}
.subnav ul,
.subnav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.subnav__toggle {
  padding: .75em 0;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  &:hover {
    color: fade(#fff, 90%);
  }
}
.subnav__links {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    &:extend(.clearfix);
  }
.subnav__link {
  padding-top: .95em;
  padding-bottom: .95em;
  color: @unit-accent !important;
  background: @unit-lightest-grey;
  border-bottom: 1px solid @unit-light-grey;
  &.active,
  &:hover
   {
    color: #fff !important;
    background: @unit-primary;
  }
}

@media screen and (min-width: @nav-subnav-collapse-width) {
  .subnav--collapsing .subnav__toggle {
    display: none;
  }
  .subnav__links.navbar-collapse.collapse {
    height: auto !important;
  }
  .subnav__links {
    box-shadow: none;
  }
}
