// import base styles
@import "_breadcrumbs.less";

.breadcrumb-0 {
  display: none !important;
}
.breadcrumb-home {
  text-transform: uppercase;
}

ul.breadcrumb {
  padding-top: 0;
  border-bottom: 1px solid @unit-accent-lighter;
  border-radius: 0;
  line-height: 20px;
  min-height: 0;
  height: auto;
}

.breadcrumb li {
  line-height: 24px;
}