nav.subnav.services
  div.vert-content-space-2-2
    div.subnav--header
      a.subnav--toggle.collapsed(data-toggle="collapse" data-target=".subnav-services--links" aria-expanded="false")
        | Select a service 
        span.icon-chevron-down
       
    div.subnav-services--links.collapse.navbar-collapse
      ul.clearfix
        li.active
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Accounts & Authentication 
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Audio Visual & Creative Services
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Campus & Faculty Systems
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Computer, Software & Print
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Email, Voice & Internet
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Research Services
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Secure Computing
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Storage & Server Hosting
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Teaching & Learning Tools
        li
          a.subnav--link(href="#")
            span.icon.icon-link
            |  Website Hosting & Emailing
          