nav.subnav.subnav--collapsing
  div.vert-content-space-2-2
    div.subnav__header
      a.subnav__toggle.collapsed(data-toggle="collapse" data-target=".subnav__links" aria-expanded="false")
        | Submenu 
        span.fa.fa-chevron-down
       
    div.subnav__links.collapse.navbar-collapse
      ul.clearfix
        li.active
          a.subnav__link(href="#")
            span.fa.fa-chevron-right
            |  First Menu Item 
        li
          a.subnav__link(href="#")
            span.fa.fa-chevron-right
            |  Second Menu Item 
        li
          a.subnav__link(href="#")
            span.fa.fa-chevron-right
            |  Third Menu Item 
          