nav.menu-block-wrapper
  ul.menu.nav.subnav
    li.first.expanded.active-trail.menu-mlid-3599
      a(href="#") Expanded Item
      ul.menu.nav.subnav
        li.first.leaf.active
          a(href="#") Active Item
        li.leaf
          a(href="#") Inactive Items
        li.leaf.last
          a(href="#") Last Item
    li.collapsed.menu-mlid-3603
      a(href="#") Collapsed Item
    li.collapsed.menu-mlid-3607
      a(href="#") Another Collapsed Item
    li.leaf.menu-mlid-3609
      a(href="#") Single Item
    li.last.leaf.menu-mlid-3553
      a(href="#") Last Item
