div#quicklinks.non-clf
  a.quicklinks--it-help
    span IT HELP
  a.quicklinks--links.icon.icon-link.navhandle-quicklinks
  <!--
  a.quicklinks--search.icon.icon-search -->
div#quicklinks--search.non-clf
  div#sb-search.sb-search
    form
      input#search.sb-search-input(placeholder="Enter your search terms..." type="search" value="" name="search")
      input.sb-search-submit(type="submit" value="")
      span.sb-icon-search.icon.icon-search
