nav.subnav.non-clf
  div.container
    div.subnav--header
      a.subnav--toggle.collapsed(data-toggle="collapse" data-target=".subnav--links" aria-expanded="false")
        | Get Started Menu 
        span.icon-chevron-down
       
    div.subnav--links.collapse.navbar-collapse
      ul
        li
          a.subnav--link.active(href="#") Faculty 
        li
          a.subnav--link(href="#") Staff
        li
          a.subnav--link(href="#") Graduate Students
        li
          a.subnav--link(href="#") Undergrad Students
        li
          a.subnav--link(href="#") Visitors
          