nav.subnav.non-clf
  div.container
    div.subnav__header
      a.subnav__toggle.collapsed(data-toggle="collapse" data-target=".subnav__links" aria-expanded="false")
        | Get Started Menu 
        span.icon-chevron-down
       
    div.subnav__links.collapse.navbar-collapse
      ul
        li
          a.subnav__link.active(href="#") Faculty 
        li
          a.subnav__link(href="#") Staff
        li
          a.subnav__link(href="#") Graduate Students
        li
          a.subnav__link(href="#") Undergrad Students
        li
          a.subnav__link(href="#") Visitors
          