
.sb-search {
	position: relative;
	//margin-top: 10px;
	width: 0%;
	min-width: 48px;
	height: 48px !important;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	form {
	  margin: 0;
	}
}

.sb-search-input {
	position: absolute;
	bottom: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 48px !important;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

.sb-icon-search,
.sb-search-submit  {
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; 
  opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: @unit-accent;
	z-index: 90;
	font-size: 24px;
	text-align: center;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 400px !important;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: @unit-primary;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
