{% extends "layouts/default.twig" %}
{% set title = "Landing page - cmasthead" %}
{% set pageTitle = "Health and Wellbeing" %}

{% block content %}
<main class="unit-content">
	<section class="masthead overflow-hidden">
		<div class="relative min-h-64 md--min-h-96 ">
			<div
				class="block min-h-64 md--min-h-96 absolute w-full h-full has-content--after has-gradient-bottom--after">
				<img src="https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg" alt="UBC I day"
					class="object-cover w-full h-full">
			</div>
			<div class="relative flex min-h-64 md--min-h-96">
				<div class="flex-1 self-end container mx-auto px-4">
					<h1 class="masthead__page-title font-semibold">Ready, $et, Go: Money-saving <span
							class="block">Travel Tips.</span></h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container mx-auto p-4 ">
		{% include "components/navigation--breadcrumbs.twig" %}
		<div class="meta meta__bg mt-12">By <a href="#" title="View all of Miranda's posts."
				class="text-ubc-blue-cobalt hover--text-ubc-blue-neptune">Miranda Massie</a> on April 2, 2019</div>
		<div class="grid-container grid-container--basic ">
			<section class="grid-area-a mb-8">
				<p class="text-lead text-ubc-blue-sea">Travelling is top of mind for me right now. On spring break, I
					spent two weeks chaperoning teenagers across Italy and Greece. And though the dust hasn’t even had
					time to settle on my suitcase, I’m already dreaming of my next adventure and my next destination.
					Unfortunately, a major barrier to my wanderlust is always the associated costs. Travelling is
					expensive and requires discipline both prior to and during a trip. This month, I’m sharing some
					money-savvy hacks to support your frugal and fruitful travel.</p>

				<h2 class="heading-five heading-two--mt">Keep your eye on the deals</h2>

				<p class="text-hug">Sign up for alerts on cheap flights or last-minute deals from sites like YVR Deals
					or Flytrippers.</p>

				<h2 class="heading-five">Take breakfast to go</h2>

				<p class="text-hug">Book hotel stays that include breakfast. Start your day with a big meal and pack
					extra snacks so you can save money on food throughout the day.</p>

				<h2 class="heading-five">Avoid on-the-road prices</h2>

				<p class="text-hug">Pack your own food on travel days so you can avoid paying for pricey food on flights
					and trains or in airports. With healthy options on hand, you’ll be able to avoid the drive-through.
				</p>

				<h2 class="heading-five">Find the free days</h2>

				<p class="text-hug">Many museums and galleries have free days or visiting times throughout the week.
					Some also offer discounts for students, children and families. Check their websites in advance.</p>

				<h2 class="heading-five">Double check your coverage</h2>

				<p class="text-hug">Be sure to check your travel insurance coverage, or the coverage of a spouse or
					dependent. If you’re already covered through work or a credit card, you can avoid paying additional
					insurance costs. If you are enrolled in UBC’s extended health befits, be familiar with your coverage
					while travelling outside BC or Canada. Visit the UBC travel benefits site.</p>

				<h2 class="heading-five">Take a staycation!</h2>

				<p class="text-hug">A vacation does not always need to involve travel. Take advantage of the amazing
					sights, eats and activities available locally. This will also allow you to save your dollars for a
					future trip. Read more about staycation ideas for Metro Vancouver on Daily Hive and Miss604.</p>

				<p>Wherever your travels take you, I encourage you to prioritize taking time off. Breaks are important
					for building resilience and promoting mental and physical health. Allow yourself time to breathe,
					relax and be present without the threat of an incoming credit card bill looming in your head. Have
					any savvy travel hacks of your own? Share in the comments below!</p>

				<p>All my best,<br />
					Miranda</p>

				<hr class="styled-hr" />

				<p class="text-sm"><strong>Posted in</strong> <a href="#"
						class="text-ubc-blue-cobalt hover--ubc-blue-neptune"
						title="Read all of Miranda Massie's posts">Miranda Massie</a>, <a href="#"
						class="text-ubc-blue-cobalt hover--ubc-blue-neptune"
						title="Read all Editorial posts">Editorial</a></p>
				<p class="text-sm"><strong>Tagged</strong> <a href="#"
						class="inline-block px-2 bg-ubc-blue-cornflower text-ubc-blue text-xs hover--bg-ubc-blue-polar mx-2"
						title="Read about all 'break' posts">breaks</a> <a href="#"
						class="inline-block px-2 bg-ubc-blue-cornflower text-ubc-blue text-xs hover--bg-ubc-blue-polar  mx-2"
						title="Read about all 'deals' posts">deals</a> <a href="#"
						class="inline-block px-2 bg-ubc-blue-cornflower text-ubc-blue text-xs hover--bg-ubc-blue-polar mx-2"
						title="Read about all 'hacks' posts">hacks</a></p>
			</section>
			<section class="grid-area-c mb-8">
				<h3>Explore other stories</h3>
				<div class="md--flex md---mx-4 md--flex-wrap">

					<div class="ubc-card md--w-half md--px-4 my-4">
						<a href="#"
							class="ubc-card__primary-action flex-1 text-ubc-blue hover--no-underline group shadow hover--shadow-lg flex h-full bg-ubc-blue-polar">
							<div class="ubc-card__content p-8 self-center w-full">
								<h2 class="card__title">Ergonomics</h2>
								<p class="text-hug">It's not your typical day to day and, if you want to be a part of
									it.</p>
							</div>
						</a>
					</div>

					<div class="ubc-card md--w-half md--px-4 my-4">
						<a href="#"
							class="ubc-card__primary-action flex-1 text-ubc-blue hover--no-underline group shadow hover--shadow-lg flex h-full bg-ubc-blue-polar">
							<div class="ubc-card__content p-8 self-center w-full">
								<h2 class="card__title">Remain at Work / Return to Work Program</h2>
								<p class="text-hug">It's not your typical day to day and, if you want to be a part of
									it.</p>
							</div>
						</a>
					</div>

					<div class="ubc-card md--w-half md--px-4 my-4">
						<a href="#"
							class="ubc-card__primary-action flex-1 text-ubc-blue hover--no-underline group shadow hover--shadow-lg flex h-full bg-ubc-blue-polar">
							<div class="ubc-card__content p-8 self-center w-full">
								<h2 class="card__title">Occupational + Preventative Health Program</h2>
								<p class="text-hug">It's not your typical day to day and, if you want to be a part of
									it.</p>
							</div>
						</a>
					</div>

					<div class="ubc-card md--w-half md--px-4 my-4">
						<a href="#"
							class="ubc-card__primary-action flex-1 text-ubc-blue hover--no-underline group shadow hover--shadow-lg flex h-full bg-ubc-blue-polar">
							<div class="ubc-card__content p-8 self-center w-full">
								<h2 class="card__title">Accidents at Work</h2>
								<p class="text-hug">It's not your typical day to day and, if you want to be a part of
									it.</p>
							</div>
						</a>
					</div>

				</div>
			</section>
			<div class="grid-area-b text-lead--mt mb-8">
				{% include "components/navigation--sub.twig" %}
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
