{% extends "layouts/narrow.twig" %}
{% set title = "Landing page - cmasthead" %}
{% set pageTitle = "Health and Wellbeing" %}
{% set showTitle = TRUE %}
{% set showBreadcrumb = TRUE %}

{% block masthead %}
{% endblock %}

{% block content %}

<div class="mt-0 text-sm meta">By <a href="#" title="View all of Boris' posts.">Boris Karloff</a> on April 2, 2025</div>
<p class="text-lead">Travelling is top of mind for me right now. On spring break, I
	spent two weeks chaperoning teenagers across Italy and Greece. And though the dust hasn’t even had
	time to settle on my suitcase, I’m already dreaming of my next adventure and my next destination.
	Unfortunately, a major barrier to my wanderlust is always the associated costs. Travelling is
	expensive and requires discipline both prior to and during a trip. This month, I’m sharing some
	money-savvy hacks to support your frugal and fruitful travel.</p>

{% include "components/media--image-w-caption.twig" %}

<h2 class="h5">Keep your eye on the deals</h2>

<p class="text-hug">Sign up for alerts on cheap flights or last-minute deals from sites like YVR Deals
	or Flytrippers.</p>

<h2 class="h5">Take breakfast to go</h2>

<p class="text-hug">Book hotel stays that include breakfast. Start your day with a big meal and pack
	extra snacks so you can save money on food throughout the day.</p>

<h2 class="h5">Avoid on-the-road prices</h2>

<p class="text-hug">Pack your own food on travel days so you can avoid paying for pricey food on flights
	and trains or in airports. With healthy options on hand, you’ll be able to avoid the drive-through.
</p>

<h2 class="h5">Find the free days</h2>

<p class="text-hug">Many museums and galleries have free days or visiting times throughout the week.
	Some also offer discounts for students, children and families. Check their websites in advance.</p>

<h2 class="h5">Double check your coverage</h2>

<p class="text-hug">Be sure to check your travel insurance coverage, or the coverage of a spouse or
	dependent. If you’re already covered through work or a credit card, you can avoid paying additional
	insurance costs. If you are enrolled in UBC’s extended health befits, be familiar with your coverage
	while travelling outside BC or Canada. Visit the UBC travel benefits site.</p>

<h2 class="h5">Take a staycation!</h2>

<p class="text-hug">A vacation does not always need to involve travel. Take advantage of the amazing
	sights, eats and activities available locally. This will also allow you to save your dollars for a
	future trip. Read more about staycation ideas for Metro Vancouver on Daily Hive and Miss604.</p>

<p>Wherever your travels take you, I encourage you to prioritize taking time off. Breaks are important
	for building resilience and promoting mental and physical health. Allow yourself time to breathe,
	relax and be present without the threat of an incoming credit card bill looming in your head. Have
	any savvy travel hacks of your own? Share in the comments below!</p>

<p>All the best,<br />
	Boris</p>

<hr class="styled-hr">
<div class="flex flex-wrap mt-4 tags">
	<ul class="inline-flex pl-0 list-none">
		<li class="tag">Annoucement category A</li>
		<li class="tag">Other Annoucement category</li>
	</ul>
</div>

{% endblock %}

{% block areab %}
{% endblock %}

{% block areac %}

<section class="{{ containerClasses }}">
<h3 class="mt-0">Explore other stories</h3>
<ol class="grid grid-cols-1 gap-6 pl-0 item-list sm--grid-cols-2 lg--grid-cols-4">
	<li>
		{% include "components/component--card--vertical--4.twig" %}
	</li>
	<li>
		{% include "components/component--card--vertical--4.twig" %}
	</li>
	<li>
		{% include "components/component--card--vertical--4.twig" %}
	</li>
	<li>
		{% include "components/component--card--vertical--4.twig" %}
	</li>
</ol>
</section>

{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
