{% extends "layouts/default.twig" %}
{% set title = "Components Page" %}
{% set pageTitle = "Web Styles" %}
{% set showTitle = FALSE %}
{% set showBreadcrumb = TRUE %}

{% block masthead %}
{% endblock %}

{% block content %}

{% include "includes/toc.twig" %}

<h1 class="text-ubc-blue">{{ unitName }} {{ pageTitle }}</h1>

<h2 class="mt-12 " id="colors">Colours</h2>
<hr />
{% include "components/color.twig" %}

<h2 class="mt-12 " id="typography">Typography</h2>
<hr />

{% include "components/type.twig" %}

<h2 id="buttons">Buttons</h2>
<hr />
{% include "components/component--button.twig" %}

<h2 id="tables">Tables</h2>
<hr />
{% include "components/component--table.twig" %}

<h2 id="icons">SVG Icons</h2>
<hr />
{% include "components/component--icon.twig" %}
<div class="container px-5 mx-auto md--px-4">
	<details>
  		<summary class="font-mono">SVG Icons Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "components/component--icon.twig" %}
		</script>
	</details>
</div>

<h2 id="forms">Forms</h2>
<hr />
{% include "components/form--sample.twig" %}

<h2 class="mt-12 " id="messages">Messages</h2>
<hr />
{% include "components/component--message.twig" %}

<h2 class="mt-12 " id="boxes">Boxes</h2>
<hr />
{% include "components/component--box.twig" %}

<h2 class="mt-12 " id="tags">Tags / Badges</h2>
<hr />
{% include "components/component--tag.twig" %}

<h2 class="mt-12 " id="media">Media</h2>
<hr />

<h3 id="media-video" tabindex="-1">Embedded Video</h3>
<div class="mb-4 media-wrapper">
	{% include "components/media--video.twig" %}
</div>

<h3 id="media-map" class="mb-4" tabindex="-1">Embedded iFrame</h3>
<div class="media-wrapper">
	{% include "components/media--map.twig" %}
</div>

<h3 id="media-styles" tabindex="-1">Image Styles</h3>
{% include "components/media--image-styles.twig" %}

<h2 id="navigation-subnav" class="mt-12 ">Navigation: Subnavigation</h2>
<hr />
{% include "components/navigation--sub.twig" %}

<h2 id="navigation-breadcrumbs" class="mt-12 ">Navigation: Breadcrumbs</h2>
<hr />
{% include "components/navigation--breadcrumb.twig" %}

<h2 id="navigation-pager" class="mt-12 ">Navigation: Pager</h2>
{% include "components/navigation--pager.twig" %}


<h2 class="mt-12 " id="social">Social</h2>
<hr />
<div class="md--flex md---mx-4">
	<div class="md--flex-1 md--px-4">
		<h3 class="my-4">Share button</h3>
		{% include "components/component--social--share.twig" %}
	</div>
</div>

<h2 class="mt-12 " id="cards">Primary Cards</h2>
<hr />

<h3>Primary Card Variants</h3>
<ul class="grid grid-cols-4 gap-8 pl-0 list-none">
  <li>
		  <div class="h-full p-2 text-white border-4 border-white shadow-md bg-unit-primary">PRIMARY (user defined)<br>#002145<br><span class="font-mono">unit-primary</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-black border-4 border-white shadow-md bg-unit-secondary">SECONDARY (user defined)<br>#e0e0e0<br><span class="font-mono">unit-secondary</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-black border-4 border-white shadow-md bg-unit-tertiary">TERTIARY (user defined)<br>#def1f8<br><span class="font-mono">unit-tertiary</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-white border-4 border-white shadow-md bg-unit-accent">ACCENT (user defined)<br>#003a79<br><span class="font-mono">unit-accent</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-blue">
		UBC BLUE<br>#002145<br><span class="font-mono">ubc-blue</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-blue-cobalt">UBC
			BLUE: COBALT<br>#0055b7<br><span class="font-mono">ubc-blue-cobalt</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-neptune">UBC
			BLUE: NEPTUNE<br>#40b4e5<br><span class="font-mono">ubc-blue-neptune</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-sky">UBC
			BLUE: SKY<br>#61c1e9<br><span class="font-mono">ubc-blue-sky</span></div>
  </li>
   <li>
		  <div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-cornflower">UBC
			BLUE: CORNFLOWER<br>#97d4e9<br><span class="font-mono">ubc-blue-cornflower</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-polar">UBC
			BLUE: POLAR<br>#def1f8<br><span class="font-mono">ubc-blue-polar</span></div>
  </li>
  <li>
		  <div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-frost">UBC
			BLUE: FROST<br>#f6fbfd<br><span class="font-mono">ubc-blue-frost</span></div>
  </li>
</ul>

<h4 id="cards-vertical" class="mb-leading">Primary Card: Vertical</h4>
{% include "components/component--cards--vertical.twig" %}

<h4 id="cards-horizontal" class="mb-leading">Primary Card: Horizontal</h4>
{% include "components/component--cards--horizontal.twig" %}

<h3 id="cards-image">Image Card</h3>
{% include "components/component--cards--image.twig" %}

<p class="text-sm text-grey-500">Note: these styles can have accessibility issues as the text has poor and variable readbility over the image.</p>

<h2 class="mt-12 " id="accordions">Accordions</h2>
<hr />
{% include "components/component--accordion.twig" %}

<h2 class="mt-12 " id="tabcordions">Tabcordions: Tabs (Desktop) to Accordions (Mobile)</h2>
<hr />
{% include "components/component--tabcordion.twig" %}

{% endblock %}

{% block areab %}

{% endblock %}

{% block areac %}
{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
<div class="container px-5 mx-auto md--px-4">
<h2 class="mt-12 " id="layout">Layout</h2>
<hr />
{% include "components/layout--grid.twig" %}
</div>
{% include "components/layout--grid.twig" %}
<div class="container px-5 mx-auto md--px-4">
	<h2 id="containers">Container Regions</h2>
	<hr />
	<h3>Container Region Colour Variants</h3>
	<ul class="grid grid-cols-4 gap-8 pl-0 list-none">
		<li>
				<div class="h-full p-2 text-white border-4 border-white shadow-md bg-unit-primary">PRIMARY (user defined)<br>#002145<br><span class="font-mono">unit-primary</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-black border-4 border-white shadow-md bg-unit-secondary">SECONDARY (user defined)<br>#e0e0e0<br><span class="font-mono">unit-secondary</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-black border-4 border-white shadow-md bg-unit-tertiary">TERTIARY (user defined)<br>#def1f8<br><span class="font-mono">unit-tertiary</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-white border-4 border-white shadow-md bg-unit-accent">ACCENT (user defined)<br>#003a79<br><span class="font-mono">unit-accent</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-blue">
				UBC BLUE<br>#002145<br><span class="font-mono">ubc-blue</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-blue-cobalt">UBC
					BLUE: COBALT<br>#0055b7<br><span class="font-mono">ubc-blue-cobalt</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-neptune">UBC
					BLUE: NEPTUNE<br>#40b4e5<br><span class="font-mono">ubc-blue-neptune</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-sky">UBC
					BLUE: SKY<br>#61c1e9<br><span class="font-mono">ubc-blue-sky</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-cornflower">UBC
					BLUE: CORNFLOWER<br>#97d4e9<br><span class="font-mono">ubc-blue-cornflower</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-polar">UBC
					BLUE: POLAR<br>#def1f8<br><span class="font-mono">ubc-blue-polar</span></div>
		</li>
		<li>
				<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-blue-frost">UBC
					BLUE: FROST<br>#f6fbfd<br><span class="font-mono">ubc-blue-frost</span></div>
		</li>
	</ul>
</div>
{% include "components/region--containers.twig" %}

<div class="container px-5 mx-auto md--px-4">
	<h2 id="carousel">Carousel</h2>
	<hr />
</div>
{% include "components/component--carousel.twig" %}
<div class="container px-5 mx-auto md--px-4">
	<details>
  		<summary class="font-mono">Carousel Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "components/component--carousel.twig" %}
		</script>
	</details>
</div>


{% endblock %}

{% block custom_css %}
<style>
	.stroke-noscale {
		vector-effect: non-scaling-stroke;
	}
</style>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
