{% extends "layouts/default.twig" %}
{% set title = "Components Page" %}
{% set pageTitle = "Web Styles" %}
{% set pageTeaser = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." %}
{% set pageIntro = "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
{% set pageFeatureTitle = "It all starts here." %}
{% set pageFeatureTeaser = "Join Students from across Canada and around the globe and see why they choose UBC CBS's world-class program." %}
{% set pageFeatureTitle = "Plan. Manage. Collaborate." %}
{% set pageFeatureImage = "4.jpg" %}

{% block content %}
{% include "includes/toc.twig" %}
<main class="unit-content">
	<div class="container p-4 mx-auto ">

		<h1 class="text-ubc-blue">{{ unitName }} {{ pageTitle }}</h1>
		<h2 class="text-ubc-blue-cobalt">Base Styles</h2>

		<h3 class="mt-12 uppercase" id="colors">Colours</h3>
		<hr />
		{% include "components/colors.twig" %}

		<h3 class="mt-12 uppercase" id="typography">Typography</h3>
		<hr />
		{% include "components/type.twig" %}

		<h3 id="buttons">Buttons</h3>
		<hr />
		{% include "components/component--buttons.twig" %}

		<h3 id="tables">Tables</h3>
		<hr />
		{% include "components/component--tables.twig" %}

		<h3 id="icons">SVG Icons</h3>
		<hr />
		{% include "components/component--icons.twig" %}

		<h3 id="forms">Forms</h3>
		<hr />
		{% include "components/form--sample.twig" %}

		<h3 class="mt-12 uppercase" id="messages">Messages</h3>
		<hr />
		{% include "components/component--message.twig" %}

		<h3 class="mt-12 uppercase" id="boxes">Boxes</h3>
		<hr />
		{% include "components/component--box.twig" %}

		<h3 class="mt-12 uppercase" id="tags">Tags / Badges</h3>
		<hr />
		{% include "components/component--tags.twig" %}

		<h3 class="mt-12 uppercase" id="media">Media</h3>
		<hr />
		{% include "components/media--image-w-caption.twig" %}
		<h4 id="media-video" tabindex="-1">Embedded Video</h4>
		<div class="mb-4 media-wrapper">
			{% include "components/media--video.twig" %}
		</div>
		<h4 id="media-map" tabindex="-1">Embedded iFrame</h4>
		<div class="media-wrapper">
			{% include "components/media--map.twig" %}
		</div>
		<h4 id="media-styles" tabindex="-1">Image Styles</h4>
		{% include "components/media--image-styles.twig" %}

		<h3 id="navigation-subnav" class="mt-12 uppercase">Navigation: Subnavigation</h3>
		<hr />
		{% include "components/navigation--sub.twig" %}

		<h3 id="navigation-breadcrumbs" class="mt-12 uppercase">Navigation: Breadcrumbs</h3>
		<hr />
		{% include "components/navigation--breadcrumbs.twig" %}
		<p>[<a
				href="https://www.w3.org/TR/wai-aria-practices-1.1/#breadcrumb">https://www.w3.org/TR/wai-aria-practices-1.1/#breadcrumb</a>]
		</p>
		<h3 id="navigation-pager" class="mt-12 uppercase">Navigation: Pager</h3>
		{% include "components/navigation--pager.twig" %}
		<!-- {% include "components/component--throbber.twig" %} -->

		<h3 class="mt-12 uppercase" id="callout">Callouts</h3>
		<hr />
		{% include "components/component--callout.twig" %}

		<h3 class="mt-12 uppercase" id="cards">Cards</h3>
		<hr />
		{% include "components/component--card.twig" %}

		<h3 class="mt-12 uppercase" id="carousel">Carousel</h3>
		<hr />
		{% include "components/component--carousel.twig" %}

		<h3 class="mt-12 uppercase" id="accordions">Accordions</h3>
		<hr />
		{% include "components/component--accordion.twig" %}
		<p>[<a
				href="https://www.w3.org/TR/wai-aria-practices-1.1/#disclosure">https://www.w3.org/TR/wai-aria-practices-1.1/#disclosure</a>]
		</p>
		<p>[<a
				href="https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html">https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html</a>]
		</p>
		<h3 class="mt-12 uppercase" id="details-summary">Details and Summary elements</h3>
		<hr />
		<details>
			<summary>Copyright 1999-2019.</summary>
			<p>&mdash; by the University of British Columbia. All Rights Reserved.</p>
		</details>
		<p class="text-grey-500">Note that there are support issues with the summary / details elements: [<a
				href="https://caniuse.com/#search=details">https://caniuse.com/#search=details</a>]</p>

		<h3 class="mt-12 uppercase" id="tabcordions">Tabcordions: Tabs (Desktop) to Accordions (Mobile)
		</h3>
		<hr />
		{% include "components/component--tabcordions.twig" %}
		<p>[<a
				href="https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel">https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel</a>]
		</p>

	</div>
</main>

{% endblock %}

{% block custom_css %}
<style>
	.stroke-noscale {
		vector-effect: non-scaling-stroke;
	}

</style>
{% endblock %}

{% block custom_javascript %}
<!-- <script src="js/ubc.all.js"></script> -->
{% endblock %}
