{% extends "layouts/default.twig" %}
{% set title = "Contact" %}
{% set pageTitle = "Contact" %}


{% block content %}
<nav class="nav-breadcrumbs text-xs hidden md--block container mx-auto p-4">
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
  <a href="#" class="text-unit-red no-underline">{{ title }}</a>
</nav>

<div class="page-title">
  <h1 class="leading-tight text-xl mt-0 container mx-auto md--text-5xl uppercase">{{ pageTitle }}</h1>
</div>

<main class="container mx-auto px-4 py-12">
  <div class="md--flex">
    <div class="md--w-two-thirds md--pr-4">
      <form action="" method="" accept-charset="UTF-8">
        <div>
          <div class="views-exposed-form">

            <div id="edit-psq-wrapper" class="views-exposed-widget views-widget-filter-field_prog_search_data_value">
              <label for="edit-psq" hidden>Text Inputs</label>
              <div class="views-widget">
                <div class="form-item form-type-textfield form-item-psq">
                  <input id="edit-psq" type="text" name="psq" value="" size="30" maxlength="128" class="form-text" placeholder="Jane Doe">
                </div>
              </div>
            </div>

            <div id="edit-psq-wrapper" class="views-exposed-widget views-widget-filter-field_prog_search_data_value">
              <label for="edit-psq" hidden>Text Inputs</label>
              <div class="views-widget">
                <div class="form-item form-type-textfield form-item-psq">
                  <input id="edit-psq" type="text" name="psq" value="" size="30" maxlength="128" class="form-text" placeholder="jane.doe@you.com">
                </div>
              </div>
            </div>

            <div class="form-item webform-component webform-component-textarea component-textarea form-type-textarea webform-component--row--message">
              <label for="edit-submitted-row-message" hidden>Message <span class="form-required" title="This field is required.">*</span>
              </label>
              <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea">
                <textarea required="required" placeholder="Add your message..." id="edit-submitted-row-message" name="submitted[row][message]" cols="60" rows="5" class="form-textarea required"></textarea>
                <div class="grippie"></div>
              </div>
            </div>
            <p>
              <a href="#" class="unit-button unit-button--red text-sm">Send Us a Message</a>
            </p>
          </div>
        </div>
      </form>
      <p class="text--small">Looking for a specific person? Try our <a href="#">faculty and staff directory</a></p>
    </div>
    <div class="md--w-one-third pt-8 md--pl-4 md--pt-0">
      <div class="supporting supporting--accent relative bg-unit-accent-dark md--bg-transparent text-white md--text-unit-grey-dark md--border-2 md--border-unit-accent px-10 md--px-8 py-4">
        <h3 class="supporting__heading text-white heading-five mt-0 pb-2 uppercase md--text-unit-red">Contact Information</h3>
        <div class="font-light text-sm">
          <p>Stewart Blusson Quantum Matter Institute<br />
            2355 East Mall<br />
            Vancouver, BC, V6T 1Z4, Canada</p>
          <p>
            <svg role="presentation" class="inline-block h-6 w-6 pr-1 -mb-2">
              <use xlink:href="#icon-mail"></use>
            </svg> <a href="mailto:sbqmi@ubc.ca" class="inline-block">sbqmi@ubc.ca</a><br />
            <svg role="presentation" class="inline-block h-6 w-6 pr-1 -mb-2">
              <use xlink:href="#icon-phone"/>
            </svg> 604.822.3909
          </p>
          <p class="media--wrapper">
          {% include "components/map.twig" %}
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
