{% extends "layouts/default.twig" %}
{% set title = "MCAT® Test Preparation - Critical Analysis and Reasoning Skills | Continuing Business Studies" %}
{% set pageTitle = "MCAT® Test Preparation - Critical Analysis and Reasoning Skills" %}

{% set pageIntro = '<p>Develop comprehension and critical thinking skills to read, understand and analyze complex passages from the social sciences and humanities.</p>
<p>Through illustration, explanation and practice on real MCAT questions, our experienced instructors help you build analysis and reasoning skills for this section of the MCAT exam.</p>
<p>Course fee includes a custom-designed workbook and&nbsp;online resources.</p>
<p><strong>Recommended</strong>: Purchase&nbsp;<a href="https://www.amazon.com/MCAT-Official-Guide-MCAT%C2%AE-Fifth/dp/1577541731" target="_blank">The Official Guide to the MCAT Exam (5th Edition)</a>, <a href="https://store.aamc.org/official-mcat-flashcards.html" target="_blank">Official MCAT® Flashcards</a>,&nbsp;and <a href="https://store.aamc.org/official-mcat-sample-test-online.html" target="_blank">Official MCAT Sample Test</a> for $80 +tax.</p>
<h3 class="heading-four">Course Format</h3>
<p>The format of this course is in-class.</p>' %}

{% block content %}

<nav class="nav-breadcrumbs text-xs container mx-auto p-4">
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Courses</a>
  <a href="#" class="text-ubc-blue no-underline">{{ pageTitle }}</a>
</nav>

<main class="container py-6">
  <div class="pb-6">
    <h1 class="heading-three text-hug">{{ pageTitle }}</h1>
    {{ pageIntro }}
    {% include "components/content-course-drawer.twig" %}
    <hr />
    {% include "components/content-course-interest.twig" %}
  </div>
</main>

{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
