{% extends "layouts/default.twig" %}
{% set title = "Events" %}
{% set pageTitle = "Events" %}
{% set pageTeaser = "Test the Most Promising Ideas<br/>
Give New Solutions to the World" %}
{% set pageIntro = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." %}

{% block content %}
<nav class="nav-breadcrumbs text-xs hidden md--block container mx-auto p-4">
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">News and Events</a>
  <a href="#" class="text-unit-red no-underline">{{ title }}</a>
</nav>

<div class="page-title md--hidden">
  <h1 class="leading-tight text-xl mt-0 container mx-auto md--text-5xl uppercase">{{ pageTitle }}</h1>
</div>

<section class="container mx-auto px-4 pb-4 hidden md--block">
  {% include "components/featured-image.twig" %}
</section>

<main class="container mx-auto px-4 py-12">
  <p class="text-center text-lg md--text-3xl font-light leading-normal">{{ pageIntro }}</p>
</main>

<section class="container mx-auto p-4">
  {% include "components/form-events.twig" %}
</section>

<section class="container mx-auto p-4">
  {% include "components/cards-events.twig" %}
</section>

{% endblock %}
