{% extends "layouts/sider.twig" %}
{% set title = "Page" %}
{% set pageTitle = "Pension workshop title" %}
{% set showTitle = TRUE %}

{% block content %}

<div class="mt-12 text-base meta meta__bg meta_big md--text-lg lg--text-2xl"><span class="block inline-block px-2 py-1 text-xs bg-ubc-blue-cornflower text-ubc-blue">UBCV</span><br />Thursday,
	June 20, 2019<br />The Nest, Room 135</div>
<p>Chupa chups tiramisu icing donut marzipan cookie wafer. Gummies donut topping brownie halvah tiramisu
	liquorice cookie marzipan. Jelly-o brownie topping muffin lollipop chocolate jujubes jelly chocolate
	cake. Tiramisu pudding topping jelly beans tart oat cake soufflé apple pie.</p>
<p>Cake croissant lollipop candy canes jelly powder jelly. Candy bear claw powder danish candy marzipan
	chocolate. Gingerbread sugar plum danish. Sugar plum halvah ice cream fruitcake. Jelly-o toffee
	dragée bear claw biscuit sugar plum. Halvah donut ice cream lemon drops soufflé pie sweet roll.
	Candy pie biscuit. Oat cake jelly beans caramels jelly-o chocolate bar cupcake jelly-o cake brownie.
	Wafer toffee tiramisu chocolate cake donut cake.</p>
<div class="my-6 media-wrapper">
	{% include "components/media--map.twig" %}
</div>
<p>
	<a href="#" class="inline-block px-6 py-3 mr-6 border unit-button unit-button--white text-ubc-blue-cobalt border-ubc-blue-cobalt hover--bg-ubc-blue-cobalt hover--text-white hover--no-underline hover--shadow-md group">Register today <svg role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 unit-button__icon text-ubc-blue-cobalt group-hover--text-white stroke-w-4" viewBox="0 0 64 64"><use xlink:href="#icon-arrow-circle"></use></svg></a>
</p>

{% endblock %}

{% block areab %}
	{% include "components/navigation--sub.twig" %}
{% endblock %}

{% block areac %}
{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
