{% extends "layouts/narrow.twig" %}
{% set title = "Page" %}
{% set pageTitle = "Event / workshop title" %}
{% set showTitle = TRUE %}
{% set showBreadcrumb = TRUE %}

{% block masthead %}

{% include "components/region--masthead--region--4.twig" %}

{% endblock %}

{% block content %}

<h2 class="mt-0 font-sans font-normal h4">September 16, 2025, 1:00 pm to 2:30 pm</h2>
<p>Chupa chups tiramisu icing donut marzipan cookie wafer. Gummies donut topping brownie halvah tiramisu
	liquorice cookie marzipan. Jelly-o brownie topping muffin lollipop chocolate jujubes jelly chocolate
	cake. Tiramisu pudding topping jelly beans tart oat cake soufflé apple pie.</p>
<p>Cake croissant lollipop candy canes jelly powder jelly. Candy bear claw powder danish candy marzipan
	chocolate. Gingerbread sugar plum danish. Sugar plum halvah ice cream fruitcake. Jelly-o toffee
	dragée bear claw biscuit sugar plum. Halvah donut ice cream lemon drops soufflé pie sweet roll.
	Candy pie biscuit. Oat cake jelly beans caramels jelly-o chocolate bar cupcake jelly-o cake brownie.
	Wafer toffee tiramisu chocolate cake donut cake.</p>
<div class="my-6 media-wrapper">
	{% include "components/media--map.twig" %}
</div>
<p>
	<a href="#" class="text-sm unit-button unit-button--dark">Register today</a>
</p>
<hr class="styled-hr">
<div class="flex flex-wrap mt-4 tags">
	<ul class="inline-flex pl-0 list-none">
		<li class="tag">Event category A</li>
	</ul>
</div>

{% endblock %}

{% block areab %}
{% endblock %}

{% block areac %}
{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
