{% extends "layouts/home.twig" %}
{% set title = "Homepage" %}
{% set pageTitle = "Welcome" %}
{% set showTitle = false %}

{% block masthead %}

<section class="overflow-hidden masthead">
	<div class="relative min-h-64 md--min-h-96 ">
		<div
			class="absolute block w-full h-full min-h-64 md--min-h-96 has-content--after has-gradient-bottom--after">
			<img src="https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg" alt="UBC I day"
				class="object-cover w-full h-full">
		</div>
		<div class="relative flex min-h-64 md--min-h-96 ">
			<div class="container self-end flex-1 px-4 mx-auto grid-container grid-container--featured">
				<h1 class="grid-area-b masthead__page-title--alt decoration-startline">You do you, we'll <span
						class="block">provide the support.</span></h1>
				<p class="grid-area-c masthead__action">
					<a href="#"
						class="mr-6 cta-button cta-button--underline cta-button--underline-neptune cta-button--light cta-button--underline-heavy">Learn
						how <svg role="presentation" class="text-white unit-button__icon" viewBox="0 0 19 19">
							<use xlink:href="#icon-arrow-circle2"></use>
						</svg>
					</a>
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block content %}

<h2 class="mt-4 text-white normal-case heading-four">Work with us. <span class="text-base font-normal">View all opportunities</span></h2>
<p class="mb-4">
	<a href="#" class="unit-button unit-button--transparent unit-button--has-icon-right xl--text-lg">Faculty openings <svg role="presentation" class="unit-button__icon text-ubc-blue-neptune" viewBox="0 0 64 64"><use xlink:href="#icon-arrow-circle"></use></svg>
	</a>
	<a href="#" class="unit-button unit-button--transparent unit-button--has-icon-right xl--text-lg">Staff openings <svg role="presentation" class="unit-button__icon text-ubc-blue-neptune" viewBox="0 0 64 64"><use xlink:href="#icon-arrow-circle"></use></svg>
	</a>
</p>

{% endblock %}

{% block areab %}

<div class="relative px-8 pt-2 pb-6 bg-white shadow-md hover--shadow-lg md---mt-12">
	<h3 class="uppercase heading-five text-ubc-blue-cobalt">Quicklinks</h3>
	<ul class="mb-0 list-style-none">
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs no-underline bg-ubc-blue-cornflower text-ubc-blue">UBCV</span><a
				href="#" title="some title" class="underline">Campus
				Health Authority</a></li>
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs text-white no-underline bg-ubc-blue-sea">UBCO</span><a
				href="#" title="some title" class="underline">Free
				yoga class for staff</a></li>
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs no-underline bg-ubc-blue-cornflower text-ubc-blue">UBCV</span><a
				href="#" title="some title" class="underline">Swim
				afternoon at the Aquatic Centre</a></li>
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs no-underline bg-ubc-blue-cornflower text-ubc-blue">UBCV</span><a
				href="#" title="some title" class="underline">Fourth
				link title that goes on and on and wraps around a bit</a></li>
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs text-white no-underline bg-ubc-blue-sea">UBCO</span><a
				href="#" title="some title" class="underline">Fifth
				link title</a></li>
	</ul>
</div>

{% endblock %}

{% block areac %}

	{% include "components/component--tabcordion.twig" %}

{% endblock %}

{% block aread %}

<h2 class="w-full px-4 mb-8 text-right text-ubc-blue">Working Life at UBC</h2>
<div class="py-4 ubc-card md--w-1/2 lg--w-1/4 md--p-4">
	<a href="#"
		class="flex flex-col flex-1 h-full text-black shadow ubc-card__primary-action hover--no-underline group hover--shadow-lg">
		<div class="h-64 bg-cover ubc-card__media"
			style="background-image: url(https://live.staticflickr.com/266/19901880670_5dfd479ba2_b.jpg);">
		</div>
		<div class="p-4 ubc-card__content">
			<div class="inline-block p-1 pl-4 pr-2 mb-4 -ml-4 text-xs uppercase meta xl--text-base">
				Learning</div>
			<h2 class="card__title">Professional Learning + Development</h2>
		</div>
		<div class="flex-1 px-4 ubc-card__secondary">It's not your typical day to day and, if you want to be
			a part of it.</div>
		<div class="flex-none py-4 text-right ubc-card__secondary-actions">
			<div class="inline-block ubc-card__action-buttons ">
				<p
					class="mr-0 unit-button unit-button--plain unit-button--has-icon-right unit-button--animate-icon">
					Explore <svg role="presentation" class="unit-button__icon">
						<use xlink:href="#icon-arrow-circle"></use>
					</svg></p>
			</div>
		</div>
	</a>
</div>

<div class="py-4 ubc-card md--w-1/2 lg--w-1/4 md--p-4">
	<a href="#"
		class="flex flex-col flex-1 h-full shadow ubc-card__primary-action hover--no-underline group hover--shadow-lg">
		<div class="h-64 bg-cover ubc-card__media"
			style="background-image: url(https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg);">
		</div>
		<div class="p-4 ubc-card__content">
			<div
				class="inline-block p-1 pl-4 pr-2 mb-4 -ml-4 text-xs text-black uppercase meta xl--text-base">
				Wellbeing</div>
			<h2 class="card__title">Vacations, Leaves + Time Off</h2>
		</div>
		<div class="flex-1 px-4 ubc-card__secondary">It's not your typical day to day and, if you want to be
			a part of it.</div>
		<div class="flex-none py-4 text-right ubc-card__secondary-actions">
			<div class="inline-block ubc-card__action-buttons ">
				<p
					class="mr-0 unit-button unit-button--plain unit-button--has-icon-right unit-button--animate-icon">
					Explore <svg role="presentation" class="unit-button__icon">
						<use xlink:href="#icon-arrow-circle"></use>
					</svg></p>
			</div>
		</div>
	</a>
</div>

<div class="py-4 ubc-card md--w-1/2 lg--w-1/4 md--p-4">
	<a href="#"
		class="flex flex-col flex-1 h-full shadow ubc-card__primary-action hover--no-underline group hover--shadow-lg">
		<div class="h-64 bg-cover ubc-card__media"
			style="background-image: url(https://live.staticflickr.com/603/23144566274_e6133da0ee_b.jpg);">
		</div>
		<div class="p-4 ubc-card__content">
			<div
				class="inline-block p-1 pl-4 pr-2 mb-4 -ml-4 text-xs uppercase meta xl--text-base">
				Community</div>
			<h2 class="card__title">Giving Back to Build a Thriving Community</h2>
		</div>
		<div class="flex-1 px-4 ubc-card__secondary">It's not your typical day to day and, if you want to be
			a part of it.</div>
		<div class="flex-none py-4 text-right ubc-card__secondary-actions">
			<div class="inline-block ubc-card__action-buttons ">
				<p
					class="mr-0 unit-button unit-button--plain unit-button--has-icon-right unit-button--animate-icon">
					Explore <svg role="presentation" class="unit-button__icon">
						<use xlink:href="#icon-arrow-circle"></use>
					</svg></p>
			</div>
		</div>
	</a>
</div>

<div class="py-4 ubc-card md--w-1/2 lg--w-1/4 md--p-4">
	<a href="#"
		class="flex flex-col flex-1 h-full shadow ubc-card__primary-action hover--no-underline group hover--shadow-lg">
		<div class="h-64 bg-cover ubc-card__media"
			style="background-image: url(https://live.staticflickr.com/3776/19936844258_51b56c4606_b.jpg);">
		</div>
		<div class="p-4 ubc-card__content">
			<div class="inline-block p-1 pl-4 pr-2 mb-4 -ml-4 text-xs uppercase meta xl--text-base">Career Lifecycle</div>
			<h2 class="card__title">Career Navigation, Tenure + Promotion</h2>
		</div>
		<div class="flex-1 px-4 ubc-card__secondary">It's not your typical day to day and, if you want to be
			a part of it.</div>
		<div class="flex-none py-4 text-right ubc-card__secondary-actions">
			<div class="inline-block ubc-card__action-buttons ">
				<p
					class="mr-0 unit-button unit-button--plain unit-button--has-icon-right unit-button--animate-icon">
					Explore <svg role="presentation" class="unit-button__icon">
						<use xlink:href="#icon-arrow-circle"></use>
					</svg></p>
			</div>
		</div>
	</a>
</div>

{% endblock %}

{% block areae %}

<p class="pt-20 pb-8 my-16 text-lead text-ubc-blue has-content--before has-content--after pullquote--big">UBC has consistently been recognized as one of BC’s top employers, and one of Canada’s greenest employers, best diversity employers, and top employers for young people.</p>

{% endblock %}

{% block areaf %}

<a href="#"
	class="flex flex-col my-8 text-white shadow ubc-card md--w-1/2 md--mx-4 hover--no-underline hover--shadow-lg group">
	<div class="relative flex ubc-card__primary-action min-h-64 ">
		<div
			class="absolute block w-full h-full ubc-card__media min-h-64 has-content--after has-gradient-top--after">
			<img src="https://live.staticflickr.com/394/20089915475_32ee2672e3_b.jpg" alt="UBC I day"
				class="object-cover w-full h-full">
		</div>
		<div class="relative flex-1 p-8 text-right ubc-card__content">
			<h2
				class="inline-block mb-2 text-base uppercase border-b-2 border-white heading-four text-hug group-hover--border-ubc-blue-cornflower has-content--after has-icon--arrow-circle">
				Being Green at UBC</h2>
			<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.</p>
		</div>
	</div>
</a>
<a href="#"
	class="flex flex-col my-8 text-white shadow ubc-card md--w-1/2 md--mx-4 hover--no-underline hover--shadow-lg group">
	<div class="relative flex ubc-card__primary-action min-h-64 ">
		<div
			class="absolute block w-full h-full ubc-card__media min-h-64 has-content--after has-gradient-top--after">
			<img src="https://live.staticflickr.com/4612/40597723442_cde3f39a44_b.jpg" alt="UBC I day"
				class="object-cover w-full h-full">
		</div>
		<div class="relative flex-1 p-8 text-right ubc-card__content">
			<h2
				class="inline-block mb-2 text-base uppercase border-b-2 border-white heading-four text-hug group-hover--border-ubc-blue-cornflower has-content--after has-icon--arrow-circle">
				Being Green at UBC</h2>
			<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.</p>
		</div>
	</div>
</a>

{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
