{% extends "layouts/default.twig" %}
{% set title = "Welcome | Continuing Business Studies" %}
{% set pageTitle = "Discover your passions &amp; build your career" %}
{% set pageIntro = "<p>Here we highlight key reasons to choose UBC’s CBS. We can write about how it’s globally renowned, and is an innovative and academically rigorous program taught by experts in their field of research who foster a values-based and community-minded culture.</p>
<p>Want to learn more about the program? Attend an info session and discover first-hand where a UBC CBS can take you. </p>" %}
{% set pageFeatureTitle = "It all starts here." %}
{% set pageFeatureTeaser = "Join Students from across Canada and around the globe and see why they choose UBC CBS's world-class program." %}


{% block content %}
<section class="container pt-6">
  {% include "components/featured-home.twig" %}
</section>

<main class="container py-6">
  <div class="lg--flex -mx-4">
    <div class="lg--w-three-quarters px-4">
      <h1 class="heading-three text-hug">{{ pageTitle }}</h1>
      {{ pageIntro }}
      <div class="mt-4"><img alt="" title="" src="img/home-features-3.jpg" /></div>
      <div class="pt-4">
        <h4 class="heading-block heading-block--white-on-grey mt-6">Programs and Courses</h4>
        {% include "components/content-cards-home.twig" %}
        {% include "components/share.twig" %}
      </div>
    </div>
    <div class="lg--w-one-quarter px-4">
      {% include "components/supporting-image.twig" %}
      {% include "components/supporting-upcoming-dates.twig" %}
      {% include "components/supporting-upcoming-feature.twig" %}
    </div>
  </div>
</main>

{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
