{% extends "layouts/default.twig" %}
{% set title = "Web Styles | Continuing Business Studies" %}
{% set pageTitle = "Unit Web Styles" %}
{% set pageTeaser = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." %}
{% set pageIntro = "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}

{% block content %}
<div class="page-title container">
  <h1>{{ pageTitle }}</h1>
</div>

<section class="container mx-auto p-4">
  <p>* Note: these pages have not been fully tested for cross-browser compatability, so display issues may be present. Please use current versions of Chrome or Safari at this time.</p>
  <ul class="list-reset">
    <li class="block bg-ubc-blue"><h2 class="heading-five text-white uppercase p-4 mt-0">Prototype pages</h2></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="components.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Components Page (contains a list of all web styles).</a></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="home.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Home Page</a></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="search.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Search Page</a></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="program.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Program Page</a></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="study-topic.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Study Topic Page</a></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="page.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Basic Page</a></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="course.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Course Page</a></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="testimonials.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Testimonials Page</a></li>
    <li class="block border border-unit-grey-light border-t-0"><a href="logged-in.html" class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Logged in example</a></li>
  </ul>
</section>

{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
