{% extends "layouts/landing.twig" %}
{% set title = "Landing page - cards" %}
{% set pageTitle = "Illness &amp; Injury" %}
{% set showTitle = TRUE %}
{% set showBreadcrumb = TRUE %}

{% block masthead %}
{% endblock %}

{% block content %}

<h2>Things happen. We're here to help.</h2>
<p class="text-lead text-ubc-blue-cobalt">We can connect you to programs and support that can help you
	navigate the transitions of your life and career, from getting married and welcoming a new baby to
	retiring or dealing with the death of a loved one.</p>
<p><a href="#"
		class="py-3 mr-6 font-semibold uppercase cta-button cta-button--underline cta-button--underline-neptune cta-button--underline-heavy text-ubc-blue-sea hover--no-underline">Learn
		how <svg role="presentation"
			class="inline-block w-4 h-4 ml-2 -mt-1 unit-button__icon text-ubc-blue-neptune stroke-w-1"
			viewBox="0 0 19 19">
			<use xlink:href="#icon-arrow-circle2"></use>
		</svg></a>
</p>
<p>Gummies dessert gummies topping pie brownie. Brownie pastry sugar plum brownie gingerbread. Jujubes
	cheesecake tart jujubes. Bonbon jelly beans liquorice I love sugar <i>plum jelly chocolate bar
		carrot cake</i>. Cake toffee marzipan sugar plum. Tiramisu marshmallow halvah dessert tart.
	Dessert tootsie roll sweet roll I love. Apple pie biscuit powder I love. Tiramisu cake cake sesame
	snaps. Pastry I love cotton candy jujubes apple pie jelly I love croissant sweet roll.</p>

{% endblock %}

{% block areab %}
{% endblock %}

{% block areac %}

<ul class="mb-8 md--flex md---mx-4 md--flex-wrap">

		<li class="py-4 ubc-card md--w-1/2 md--p-4">
			<a href="#"
				class="flex flex-1 h-full shadow ubc-card__primary-action bg-ubc-blue-polar hover--no-underline group hover--shadow-lg text-ubc-blue">
				<div class="flex order-last w-1/3 ubc-card__media min-h-64">
					<svg role="presentation"
						class="self-center inline-block w-24 h-24 mx-auto text-ubc-blue-cobalt stroke-w-1">
						<use xlink:href="#icon-alert"></use>
					</svg>
				</div>
				<div class="self-center w-2/3 p-8 ubc-card__content">
					<h2 class="card__title">Ergonomics</h2>
					<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.
					</p>
				</div>
			</a>
		</li>

		<li class="py-4 ubc-card md--w-1/2 md--p-4">
			<a href="#"
				class="flex flex-1 h-full shadow ubc-card__primary-action bg-ubc-blue-polar hover--no-underline group hover--shadow-lg text-ubc-blue">
				<div class="flex order-last w-1/3 ubc-card__media min-h-64">
					<svg role="presentation"
						class="self-center inline-block w-24 h-24 mx-auto stroke-w-1 text-ubc-blue-cobalt">
						<use xlink:href="#icon-search"></use>
					</svg>
				</div>
				<div class="self-center w-2/3 p-8 ubc-card__content">
					<h2 class="card__title">Occupantional + Preventative Health Program</h2>
					<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.
					</p>
				</div>
			</a>
		</li>

		<li class="py-4 ubc-card md--w-1/2 md--p-4">
			<a href="#"
				class="flex flex-1 h-full shadow ubc-card__primary-action bg-ubc-blue-polar hover--no-underline group hover--shadow-lg text-ubc-blue">
				<div class="flex order-last w-1/3 ubc-card__media min-h-64">
					<svg role="presentation"
						class="self-center inline-block w-24 h-24 mx-auto stroke-w-1 text-ubc-blue-cobalt">
						<use xlink:href="#icon-discussion"></use>
					</svg>
				</div>
				<div class="self-center w-2/3 p-8 ubc-card__content">
					<h2 class="card__title">Accidents at Work</h2>
					<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.
					</p>
				</div>
			</a>
		</li>

		<li class="py-4 ubc-card md--w-1/2 md--p-4">
			<a href="#"
				class="flex flex-1 h-full shadow ubc-card__primary-action bg-ubc-blue-polar hover--no-underline group hover--shadow-lg text-ubc-blue">
				<div class="flex order-last w-1/3 ubc-card__media min-h-64">
					<svg role="presentation"
						class="self-center inline-block w-24 h-24 mx-auto stroke-w-1 text-ubc-blue-cobalt">
						<use xlink:href="#icon-user"></use>
					</svg>
				</div>
				<div class="self-center w-2/3 p-8 ubc-card__content">
					<h2 class="card__title">Remain at Work / Return to Work Program</h2>
					<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.
					</p>
				</div>
			</a>
		</li>

	</ul>

{% endblock %}

{% block aread %}
<div>
	<a href="#" class="flex flex-col mt-12 text-white ubc-card hover--no-underline group">
		<div class="relative flex ubc-card__primary-action min-h-96 ">
			<div
				class="absolute block w-full h-full ubc-card__media min-h-96 has-content--after has-gradient-bottom--after">
				<img src="https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg" alt="UBC I day"
					class="object-cover w-full h-full">
			</div>
			<div class="relative self-end flex-1 max-w-2xl p-8 ubc-card__content">
				<h2 class="heading-four">Moving to British Columbia?</h2>
				<p class="text-hug">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<p
					class="inline-block mb-2 text-base uppercase border-b-2 border-white group-hover--border-ubc-blue-cornflower has-content--after has-icon--arrow-circle">
					Get help</p>

			</div>
		</div>
	</a>
</div>
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
