{% extends "layouts/landing.twig" %}
{% set title = "Landing page - masthead" %}
{% set pageTitle = "Health and Wellbeing" %}

{% block masthead %}

<section class="overflow-hidden masthead">
	<div class="relative min-h-64 md--min-h-96 ">
		<div
			class="absolute block w-full h-full min-h-64 md--min-h-96 has-content--after has-gradient-bottom--after">
			<img src="https://live.staticflickr.com/3776/19936844258_51b56c4606_b.jpg" alt="UBC I day"
				class="object-cover w-full h-full">
		</div>
		<div class="relative flex min-h-64 md--min-h-96">
			<div class="container self-end flex-1 px-4 mx-auto">
				<h1 class="masthead__page-title">Health &amp; <span
						class="block decoration-endline decoration-endline--large">Wellbeing.</span></h1>
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block content %}

<h2>Taking care of our entire selves makes sense.</h2>
<p class="text-lead text-ubc-blue-cobalt">We're committed to ensuring that our UBC workplaces are safe,
	healthy and respectful, and we offer many programs and resources to keep you healthy at work.</p>
<p>
	<a href="#" class="py-3 mr-6 font-bold uppercase cta-button cta-button--underline cta-button--underline-neptune cta-button--underline-heavy text-ubc-blue-sea hover--no-underline">Learn
		how <svg role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 unit-button__icon text-ubc-blue-neptune stroke-w-1" viewBox="0 0 19 19">
			<use xlink:href="#icon-arrow-circle2"></use>
		</svg>
	</a>
</p>
<p>Gummies dessert gummies topping pie brownie. Brownie pastry sugar plum brownie gingerbread. Jujubes cheesecake tart jujubes. Bonbon jelly beans liquorice I love sugar <i>plum jelly chocolate bar carrot cake</i>. Cake toffee marzipan sugar plum. Tiramisu marshmallow halvah dessert tart. Dessert tootsie roll sweet roll I love. Apple pie biscuit powder I love. Tiramisu cake cake sesame snaps. Pastry I love cotton candy jujubes apple pie jelly I love croissant sweet roll.</p>
<p>Dessert bonbon macaroon sesame snaps soufflé carrot cake liquorice brownie liquorice. Pastry marshmallow chupa chups cake croissant croissant candy. Candy canes ice cream donut ice cream. Sweet roll cheesecake jelly. Caramels donut cake <strong>dragée gummies bear claw</strong> carrot cake. Sweet liquorice lollipop. Chocolate marzipan tiramisu donut chocolate cake sugar plum. Pudding dragée bear claw. Toffee tiramisu pastry sesame snaps bear claw.</p>

{% endblock %}

{% block areab %}
<div class="p-8 shadow-md hover--shadow-lg heading-two--mt">
	<h3 class="uppercase heading-five text-ubc-blue-cobalt">Upcoming Activities</h3>
	<ul class="mb-0 list-style-none">
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs no-underline bg-ubc-blue-cornflower text-ubc-blue">UBCV</span><a
				href="#" title="some title" class="underline">Campus
				Health Authority</a></li>
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs text-white no-underline bg-ubc-blue-sea">UBCO</span><a
				href="#" title="some title" class="underline">Free
				yoga class for staff</a></li>
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs no-underline bg-ubc-blue-cornflower text-ubc-blue">UBCV</span><a
				href="#" title="some title" class="underline">Swim
				afternoon at the Aquatic Centre</a></li>
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs no-underline bg-ubc-blue-cornflower text-ubc-blue">UBCV</span><a
				href="#" title="some title" class="underline">Fourth
				link title that goes on and on and wraps around a bit</a></li>
		<li class="flex py-2 text-ubc-blue-cobalt hover--text-ubc-blue"><span
				class="self-start block inline-block px-2 py-1 mr-4 text-xs text-white no-underline bg-ubc-blue-sea">UBCO</span><a
				href="#" title="some title" class="underline">Fifth
				link title</a></li>
	</ul>
</div>
{% endblock %}

{% block areac %}
<ul class="mb-8 md--flex md---mx-4 md--flex-wrap">
	<li class="py-4 ubc-card md--w-1/2 md--p-4">
		<a href="#"
			class="flex flex-1 h-full text-black shadow ubc-card__primary-action hover--no-underline group hover--shadow-lg bg-ubc-blue-polar">
			<div class="order-last w-1/3 bg-cover ubc-card__media min-h-64"
				style="background-image: url(https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg);">
			</div>
			<div class="self-end w-2/3 p-8 ubc-card__content">
				<h2 class="card__title">Ergonomics</h2>
				<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.
				</p>
			</div>
		</a>
	</li>
	<li class="py-4 ubc-card md--w-1/2 md--p-4">
		<a href="#"
			class="flex flex-1 h-full text-black shadow ubc-card__primary-action hover--no-underline group hover--shadow-lg bg-ubc-blue-polar">
			<div class="order-last w-1/3 bg-cover ubc-card__media min-h-64"
				style="background-image: url(https://live.staticflickr.com/603/23144566274_e6133da0ee_b.jpg);">
			</div>
			<div class="self-end w-2/3 p-8 ubc-card__content">
				<h2 class="card__title">Occupantional &amp; Preventative Health Program</h2>
				<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.
				</p>
			</div>
		</a>
	</li>
	<li class="py-4 ubc-card md--w-1/2 md--p-4">
		<a href="#"
			class="flex flex-1 h-full text-black shadow ubc-card__primary-action hover--no-underline group hover--shadow-lg bg-ubc-blue-polar">
			<div class="order-last w-1/3 bg-cover ubc-card__media min-h-64"
				style="background-image: url(https://live.staticflickr.com/4527/37965347504_f63c420360_b.jpg);">
			</div>
			<div class="self-end w-2/3 p-8 ubc-card__content">
				<h2 class="card__title">Accidents at work</h2>
				<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.
				</p>
			</div>
		</a>
	</li>
	<li class="py-4 ubc-card md--w-1/2 md--p-4">
		<a href="#"
			class="flex flex-1 h-full text-black shadow ubc-card__primary-action hover--no-underline group hover--shadow-lg bg-ubc-blue-polar">
			<div class="order-last w-1/3 bg-cover ubc-card__media min-h-64"
				style="background-image: url(https://live.staticflickr.com/481/19901880860_921901ff1f_b.jpg);">
			</div>
			<div class="self-end w-2/3 p-8 ubc-card__content">
				<h2 class="card__title">Remain at work / Return to work program</h2>
				<p class="text-hug">It's not your typical day to day and, if you want to be a part of it.
				</p>
			</div>
		</a>
	</li>
</ul>
{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
