{% extends "layouts/landing.twig" %}
{% set title = "Landing page - list" %}
{% set pageTitle = "Pension Workshops" %}

{% block masthead %}

<section class="overflow-hidden masthead">
	<div class="relative min-h-64 md--min-h-96 ">
		<div
			class="absolute block w-full h-full min-h-64 md--min-h-96 has-content--after has-gradient-bottom--after">
			<img src="https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg" alt="UBC I day"
				class="object-cover w-full h-full">
		</div>
		<div class="relative flex min-h-64 md--min-h-96">
			<div class="container self-end flex-1 px-4 mx-auto">
				<h1 class="masthead__page-title">Pension <span
						class="block decoration-endline decoration-endline--large">Workshops.</span></h1>
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block content %}

<p class="text-lead text-ubc-blue-cobalt">As an employee of the University, there are several resources
	that the University and the Plan provide for new and current employees. Pension plans are complex
	and may not be easy to understand, which is why the Plan provides the following information sessions
	and workshops to help you understand pension plans, the Staff Pension Plan, and how they might help
	you with your financial and retirement planning.</p>
<p>Understanding Your Staff Pension Plan (UYSPP) is an informative workshop session designed for both
	potential and current members of the UBC Staff Pension Plan. All ages are welcome to attend. If you
	are close to retiring, you may want to consider booking a Retirement Information Session (RIS)
	rather than attending the workshop, as we’ll be able to review your specific situation including
	pension estimates.</p>
<p>If you are already a Plan member, regardless of age, this workshop will help you learn more about the
	Plan, pensions in general, and related retirement considerations. If you are interested in
	retirement planning, this workshop will help you understand your retirement options. If you are not
	yet a member, this workshop will provide enrolment information and an opportunity to have all of
	your pension-related questions answered.</p>
<p>Advance registration is required. Please note that registration cut-off time is 24 hours before the
	workshop.</p>
<section>
	<h2>Workshop sessions</h2>
	<ul class="mb-0 list-style-none">
		<li>
			<span
				class="block inline-block px-2 py-1 text-xs bg-ubc-blue-cornflower text-ubc-blue">UBCV</span>
			<span class="block pt-2 text-xs meta__date">Thursday, June 14, 2019</span>
			<a href="#" title="some title"
				class="block pb-4 mb-4 underline border-b-2 text-ubc-blue-cobalt hover--text-ubc-blue border-grey-300">UBC
				Staff Pension Plan Fair</a>
		</li>
		<li>
			<span class="block inline-block px-2 py-1 text-xs text-white bg-ubc-blue-sea">UBCO</span>
			<span class="block pt-2 text-xs meta__date">Monday, June 20, 2019</span>
			<a href="#" title="some title"
				class="block pb-4 mb-4 underline border-b-2 text-ubc-blue-cobalt hover--text-ubc-blue border-grey-300">Apply
				for Community Leadership Program or a really long title for an event because this
				container should adjust</a>
		<li>
			<span
				class="block inline-block px-2 py-1 text-xs bg-ubc-blue-cornflower text-ubc-blue">UBCV</span>
			<span class="block pt-2 text-xs meta__date">Sunday, June 19, 2019</span>
			<a href="#" title="some title"
				class="block pb-4 mb-4 underline border-b-2 text-ubc-blue-cobalt hover--text-ubc-blue border-grey-300">UBC
				Staff Pension Plan 2018: Annual Report</a>
		</li>
		<li>
			<span
				class="block inline-block px-2 py-1 text-xs bg-ubc-blue-cornflower text-ubc-blue">UBCV</span>
			<span class="block pt-2 text-xs meta__date">Thursday, June 14, 2019</span>
			<a href="#" title="some title"
				class="block pb-4 mb-4 underline border-b-2 text-ubc-blue-cobalt hover--text-ubc-blue border-grey-300">UBC
				Staff Pension Plan Fair</a>
		</li>
		<li>
			<span class="block inline-block px-2 py-1 text-xs text-white bg-ubc-blue-sea">UBCO</span>
			<span class="block pt-2 text-xs meta__date">Monday, June 20, 2019</span>
			<a href="#" title="some title"
				class="block pb-4 mb-4 underline border-b-2 text-ubc-blue-cobalt hover--text-ubc-blue border-grey-300">Apply
				for Community Leadership Program or a really long title for an event because this
				container should adjust</a>
		</li>
	</ul>
</section>

{% endblock %}

{% block areab %}
	{% include "components/navigation--sub.twig" %}
{% endblock %}

{% block areac %}
{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
