{% extends "layouts/default.twig" %}
{% set title = "Default page" %}
{% set pageTitle = "Default Page Layout" %}
{% set showTitle = TRUE %}

{% block masthead %}
  <section class="h-20 p-12 text-center border-2 border-dashed bg-grey-100 border-grey-500">
    <p class="mt-0">Masthead Area</p>
  </section>
{% endblock %}

{% block content %}
  <section class="h-20 p-12 text-center border-2 border-dashed bg-grey-100 border-grey-500">
    <p class="mt-0">Content Area <code>[Area A]</code></p>
  </section>
{% endblock %}

{% block areab %}
	<section class="h-20 p-12 text-center border-2 border-dashed bg-grey-100 border-grey-500">
    <p class="mt-0">Area B</p>
  </section>
{% endblock %}

{% block areac %}
  <section class="h-20 p-12 text-center border-2 border-dashed bg-grey-100 border-grey-500">
    <p class="mt-0">Area C</p>
  </section>
{% endblock %}

{% block aread %}
  <section class="h-20 p-12 text-center border-2 border-dashed bg-grey-100 border-grey-500">
    <p class="mt-0">Area D</p>
  </section>
{% endblock %}

{% block prefooter %}
  <section class="h-20 p-12 mt-4 text-center border-2 border-dashed bg-grey-100 border-grey-500">
    <p class="mt-0">Prefooter</p>
  </section>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
