{% extends "layouts/default.twig" %}
{% set title = "Page | Continuing Business Studies" %}
{% set pageTitle = "A basic page" %}
{% set pageFeatureTitle = "Plan. Manage. Collaborate." %}
{% set pageFeatureImage = "4.jpg" %}
{% set pageIntro = "<p>Behind every project delivered on time and on budget is a skilled project manager who can communicate effectively and manage a team from initiation through to planning execution, control and closing. The ability to juggle timelines, resources, team members, stakeholders, and deliverables makes project managers a valuable asset to any organization.</p>
<p>Our project management offerings give you the essential skills needed to excel in successful project delivery in a wide variety of disciplines, along with a toolkit you can put to work immediately whether you are in industry, government or a community organization.</p>" %}

{% block content %}
<nav class="nav-breadcrumbs text-xs container mx-auto p-4">
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Some page</a>
  <a href="#" class="text-ubc-blue no-underline">{{ pageTitle }}</a>
</nav>

<main class="container py-6">
  <div class="flex -mx-4 flex-wrap">
    <div class="w-full md--w-two-thirds lg--w-three-quarters px-4 mb-6">
      <h1 class="heading-three text-hug">{{ pageTitle }}</h1>
      {{ pageIntro }}
      {{ loremIpsum }}
    </div>
    <div class="w-full md--w-one-third lg--w-one-quarter px-4 mb-6 flex-order--1">
      {% include "components/subnavigation.twig" %}
    </div>
  </div>
</main>

{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
