{% extends "layouts/default.twig" %}
{% set title = "Listing Page" %}
{% set pageTitle = "Listing page" %}
{% set pageIntro = '<p class="text-lead text-ubc-blue">Behind every project delivered on time and on budget is a skilled project manager who can communicate effectively and manage a team from initiation through to planning execution, control and closing. The ability to juggle timelines, resources, team members, stakeholders, and deliverables makes project managers a valuable asset to any organization.</p>' %}

{% block content %}
<main class="unit-content">
	<div class="container mx-auto p-4 ">
		{% include "components/navigation--breadcrumbs.twig" %}
		<h1 class="text-ubc-blue-cobalt">{{ pageTitle }}</h1>
		<div class="grid-container grid-container--basic">
			<div class="grid-area-a mb-8">
				{{ pageIntro }}
				<ul class="unstyled-list">
					<li>
						<div class="ubc-card py-8 has-content--after hr--small">
							<div class="ubc-card__primary-action text-black flex">
								<a href="#" title="some words" class="ubc-card__media w-one-third bg-cover min-h-64"
									style="background-image: url(https://live.staticflickr.com/481/19901880860_921901ff1f_b.jpg);"></a>
								<div class="ubc-card__content pl-8 w-two-thirds">
									<h2 class="card__title"><a href="#" title="some words">Professional Lerning +
											Development</a></h2>
									<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
										dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
										candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
										snaps gummi bears carrot cake powder.</p>
									<p>
										<a href="#" title="some words"
											class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
												role="presentation" class="inline-block h-4 w-4 -mt-1 ml-2 stroke-w-3">
												<use xlink:href="#icon-arrow-circle"></use>
											</svg></a>
									</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ubc-card py-8 has-content--after hr--small">
							<div class="ubc-card__primary-action text-black flex">
								<a href="#" title="some words" class="ubc-card__media w-one-third bg-cover min-h-64"
									style="background-image: url(https://live.staticflickr.com/4527/37965347504_f63c420360_b.jpg);"></a>
								<div class="ubc-card__content pl-8 w-two-thirds">
									<h2 class="card__title"><a href="#" title="some words">Giving back to build a
											thriving community</a></h2>
									<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
										dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
										candy wafer lollipop jelly beans.</p>
									<p>
										<a href="#" title="some words"
											class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
												role="presentation" class="inline-block h-4 w-4 -mt-1 ml-2 stroke-w-3">
												<use xlink:href="#icon-arrow-circle"></use>
											</svg></a>
									</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ubc-card py-8 has-content--after hr--small">
							<div class="ubc-card__primary-action text-black flex">
								<a href="#" title="some words" class="ubc-card__media w-one-third bg-cover min-h-64"
									style="background-image: url(https://live.staticflickr.com/3776/19936844258_51b56c4606_b.jpg);"></a>
								<div class="ubc-card__content pl-8 w-two-thirds">
									<h2 class="card__title"><a href="#" title="some words">Career Navigation, Tenure +
											Promotion</a></h2>
									<p>Tootsie roll cupcake dragée wafer soufflé sweet wafer jelly. Liquorice candy
										pastry brownie cotton candy wafer lollipop jelly beans. Cookie gummies chupa
										chups topping sesame snaps gummi bears carrot cake powder.</p>
									<p>
										<a href="#" title="some words"
											class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
												role="presentation" class="inline-block h-4 w-4 -mt-1 ml-2 stroke-w-3">
												<use xlink:href="#icon-arrow-circle"></use>
											</svg></a>
									</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ubc-card py-8 has-content--after hr--small">
							<div class="ubc-card__primary-action text-black flex">
								<a href="#" title="some words" class="ubc-card__media w-one-third bg-cover min-h-64"
									style="background-image: url(https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg);"></a>
								<div class="ubc-card__content pl-8 w-two-thirds">
									<h2 class="card__title"><a href="#" title="some words">Career Navigation, Tenure +
											Promotion</a></h2>
									<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
										dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
										candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
										snaps gummi bears carrot cake powder.</p>
									<p>
										<a href="#" title="some words"
											class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
												role="presentation" class="inline-block h-4 w-4 -mt-1 ml-2 stroke-w-3">
												<use xlink:href="#icon-arrow-circle"></use>
											</svg></a>
									</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ubc-card py-8 has-content--after hr--small">
							<div class="ubc-card__primary-action text-black flex">
								<a href="#" title="some words" class="ubc-card__media w-one-third bg-cover min-h-64"
									style="background-image: url(https://live.staticflickr.com/4612/40597723442_cde3f39a44_b.jpg);"></a>
								<div class="ubc-card__content pl-8 w-two-thirds">
									<h2 class="card__title"><a href="#" title="some words">Career Navigation, Tenure +
											Promotion</a></h2>
									<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
										dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
										candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
										snaps gummi bears carrot cake powder.</p>
									<p>
										<a href="#" title="some words"
											class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
												role="presentation" class="inline-block h-4 w-4 -mt-1 ml-2 stroke-w-3">
												<use xlink:href="#icon-arrow-circle"></use>
											</svg></a>
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				{% include "components/navigation--pager.twig" %}
			</div>
			<div class="grid-area-b mb-8 text-lead--mt">
				{% include "components/navigation--sub.twig" %}
			</div>
		</div>
	</div>
</main>

{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
