{% extends "layouts/default.twig" %}
{% set layout = "narrow" %}
{% set title = "Page" %}
{% set pageTitle = "Listing page with images" %}
{% set showTitle = TRUE %}
{% set showBreadcrumb = TRUE %}

{% block masthead %}
{% endblock %}

{% block content %}

{{ pageIntro }}
<ul class="grid grid-cols-1 gap-6 pl-0 mt-8 list-none list-unstyled">
	<li>
		{% include "components/component--card--horizontal--1.twig" %}
	</li>
	<li>
		{% include "components/component--card--horizontal--1.twig" %}
	</li>
	<li>
		{% include "components/component--card--horizontal--1.twig" %}
	</li>
	<li>
		{% include "components/component--card--horizontal--1.twig" %}
	</li>
	<li>
		{% include "components/component--card--horizontal--1.twig" %}
	</li>
</ul>
<nav class="flex justify-center my-8 pager" role="navigation" aria-labelledby="pagination-heading">
	<h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
	<ul class="flex max-w-md pager__items js-pager__items list-unstyled">
		<li class="pager__item is-active">
			<a href="?page=0" title="Current page" aria-current="page" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Current page
				</span>1</a>
		</li>
		<li class="pager__item">
			<a href="?page=1" title="Go to page 2" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Page
				</span>2</a>
		</li>
		<li class="pager__item">
			<a href="?page=2" title="Go to page 3" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Page
				</span>3</a>
		</li>
		<li class="pager__item">
			<a href="?page=3" title="Go to page 4" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Page
				</span>4</a>
		</li>
		<li class="pager__item">
			<a href="?page=4" title="Go to page 5" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Page
				</span>5</a>
		</li>
		<li class="pager__item">
			<a href="?page=5" title="Go to page 6" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Page
				</span>6</a>
		</li>
		<li class="pager__item">
			<a href="?page=6" title="Go to page 7" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Page
				</span>7</a>
		</li>
		<li class="pager__item">
			<a href="?page=7" title="Go to page 8" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Page
				</span>8</a>
		</li>
		<li class="pager__item">
			<a href="?page=8" title="Go to page 9" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">
					Page
				</span>9</a>
		</li>
		<li class="pager__item pager__item--ellipsis" role="presentation">…</li>
		<li class="pager__item pager__item--next">
			<a href="?page=1" title="Go to next page" rel="next" class="block px-6 py-2 no-underline text-ubc-blue-cobalt hover--text-black hover--bg-unit-tertiary-alt hover--no-underline">
				<span class="visually-hidden">Next page</span>
				<span aria-hidden="true">›</span>
			</a>
		</li>
		<li class="pager__item pager__item--last">
			<a href="?page=25" title="Go to last page" class="hidden">
				<span class="visually-hidden">Last page</span>
				<span aria-hidden="true">»</span>
			</a>
		</li>
	</ul>
</nav>

<div class="feed-icons">
	<a href="https://master-7rqtwti-rh2ho4kehraae.ca-1.platformsh.site/news-and-updates/rss.xml" class="mt-6 text-sm feed-icon unit-button lg--text-base">
	Subscribe to News and Updates
		<svg id="icon-rss" class="self-center inline-block w-4 h-4 ml-3 -mt-1" role="img" viewBox="0 0 64 64">
			<path d="M10.063 45.824a8.088 8.088 0 1 0 8.063 8.088 8.075 8.075 0 0 0-8.063-8.088z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"></path>
			<path d="M2.656 22.219h-.469v11.192h.469a27.971 27.971 0 0 1 27.938 27.931V62H41.75v-.658A39.111 39.111 0 0 0 2.656 22.219z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"></path>
			<path d="M2.656 2h-.469v11.191h.469A48.188 48.188 0 0 1 50.75 61.342V62H62v-.658A59.408 59.408 0 0 0 2.656 2z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"></path>
		</svg>
	</a>
</div>

{% endblock %}

{% block areab %}
{% endblock %}

{% block areac %}
{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
