{% extends "layouts/sider.twig" %}
{% set title = "Listing Page" %}
{% set pageTitle = "Listing page" %}
{% set showTitle = TRUE %}

{% block masthead %}
{% endblock %}

{% block content %}

{{ pageIntro }}
<ul class="unstyled-list">
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="flex text-black ubc-card__primary-action">
				<a href="#" title="some words" class="w-1/3 bg-cover ubc-card__media min-h-64"
					style="background-image: url(https://live.staticflickr.com/481/19901880860_921901ff1f_b.jpg);"></a>
				<div class="w-2/3 pl-8 ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">Professional Lerning +
							Development</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
						snaps gummi bears carrot cake powder.</p>
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="flex text-black ubc-card__primary-action">
				<a href="#" title="some words" class="w-1/3 bg-cover ubc-card__media min-h-64"
					style="background-image: url(https://live.staticflickr.com/4527/37965347504_f63c420360_b.jpg);"></a>
				<div class="w-2/3 pl-8 ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">Giving back to build a
							thriving community</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans.</p>
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="flex text-black ubc-card__primary-action">
				<a href="#" title="some words" class="w-1/3 bg-cover ubc-card__media min-h-64"
					style="background-image: url(https://live.staticflickr.com/3776/19936844258_51b56c4606_b.jpg);"></a>
				<div class="w-2/3 pl-8 ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">Career Navigation, Tenure +
							Promotion</a></h2>
					<p>Tootsie roll cupcake dragée wafer soufflé sweet wafer jelly. Liquorice candy
						pastry brownie cotton candy wafer lollipop jelly beans. Cookie gummies chupa
						chups topping sesame snaps gummi bears carrot cake powder.</p>
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="flex text-black ubc-card__primary-action">
				<a href="#" title="some words" class="w-1/3 bg-cover ubc-card__media min-h-64"
					style="background-image: url(https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg);"></a>
				<div class="w-2/3 pl-8 ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">Career Navigation, Tenure +
							Promotion</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
						snaps gummi bears carrot cake powder.</p>
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="flex text-black ubc-card__primary-action">
				<a href="#" title="some words" class="w-1/3 bg-cover ubc-card__media min-h-64"
					style="background-image: url(https://live.staticflickr.com/4612/40597723442_cde3f39a44_b.jpg);"></a>
				<div class="w-2/3 pl-8 ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">Career Navigation, Tenure +
							Promotion</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
						snaps gummi bears carrot cake powder.</p>
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
</ul>
{% include "components/navigation--pager.twig" %}

{% endblock %}

{% block areab %}
	{% include "components/navigation--sub.twig" %}
{% endblock %}

{% block areac %}
{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
