{% extends "layouts/default.twig" %}
{% set title = "QuEST Fellowship" %}
{% set pageTitle = "QuEST Fellowship" %}
{% set pageTeaser = "Test the Most Promising Ideas<br/>
Give New Solutions to the World" %}
{% set pageIntro = "The Quantum Electronic Science and Technology (QuEST) initiative offers an enriched experience for top-tier graduate students in Quantum Materials and Devices research." %}

{% block content %}
<nav class="nav-breadcrumbs text-xs hidden md--block container mx-auto p-4">
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Learn</a>
  <a href="#" class="text-unit-red no-underline">{{ pageTitle }}</a>
</nav>

<div class="page-title md--hidden">
  <h1 class="leading-tight text-xl mt-0 container mx-auto md--text-5xl uppercase">{{ pageTitle }}</h1>
</div>

<section class="container mx-auto px-4 pb-4">
  {% include "components/featured-image--page.twig" %}
</section>

<main class="container mx-auto px-4 py-12">
  <p class="text-center text-lg md--text-3xl font-light leading-normal">{{ pageIntro }}</p>
  <p>QuEST consists of a highly integrated training program combining a top-level research environment with an emphasis on development of professional skills, and opportunities to experience different research environments.</p>
  <p>QuEST program participants will:</p>
  <ul>
    <li>Learn a strong foundation of knowledge</li>
    <li>Build a broad technical base</li>
    <li>Develop the ability to devise innovative solutions to complex materials problems</li>
    <li>Experience an open and highly-collaborative research network and environment that allows students to develop both breadth and depth in their field of research</li>
  </ul>
  <p>Additional QuEST program advantages:</p>
  <ul>
    <li>Access to innovative courses developed specifically to target areas of expertise related to Quantum Materials and Devices research</li>
    <li>Opportunities for co-supervision in an interdisciplinary environment</li>
    <li>Opportunities for professional development, career advice, panel discussions, mentoring, and networking</li>
    <li>Access to highly-competitive scholarship funding</li>
    <li>Access to travel subsidies to present research at international conferences</li>
    <li>Additional funding and opportunities for research exchanges abroad, and internships & collaborations with SBQMI industry partners</li>
  </ul>

  <p><a href="#" class="unit-button unit-button--red">How to Apply</a></p>
  <p class="text-sm"><em>Have a question? Please email us at <a href="mailto:quest@qmi.ubc.ca" class="text-unit-red no-underline hover--underline">quest@qmi.ubc.ca</a>.</em></p>
</main>

{% endblock %}
