{% extends "layouts/side-r.twig" %}
{% set title = "Page" %}
{% set pageTitle = "Listing page no images" %}
{% set showTitle = TRUE %}

{% block masthead %}
{% endblock %}

{% block content %}

{{ pageIntro }}
<ul class="unstyled-list">
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="ubc-card__primary-action text-ubc-blue group">
				<div class="ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">Professional Learning and
							Development</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
						snaps gummi bears carrot cake powder.</p>
				</div>
			</div>
			<div class="ubc-card__secondary-actions">
				<div class="inline-block ubc-card__action-buttons ">
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="ubc-card__primary-action text-ubc-blue group">
				<div class="ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">Professional Learning and
							Development</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
						snaps gummi bears carrot cake powder.</p>
				</div>
			</div>
			<div class="ubc-card__secondary-actions">
				<div class="inline-block ubc-card__action-buttons ">
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="ubc-card__primary-action text-ubc-blue group">
				<div class="ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">GIVING BACK TO BUILD A
							THRIVING COMMUNITY</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
						snaps gummi bears carrot cake powder.</p>
				</div>
			</div>
			<div class="ubc-card__secondary-actions">
				<div class="inline-block ubc-card__action-buttons ">
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="ubc-card__primary-action text-ubc-blue group">
				<div class="ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">CAREER NAVIGATION, TENURE +
							PROMOTION AND MORE WORDS</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
						snaps gummi bears carrot cake powder.</p>
				</div>
			</div>
			<div class="ubc-card__secondary-actions">
				<div class="inline-block ubc-card__action-buttons ">
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="py-8 ubc-card has-content--after hr--small">
			<div class="ubc-card__primary-action text-ubc-blue group">
				<div class="ubc-card__content">
					<h2 class="card__title"><a href="#" title="some words">Professional Learning and
							Development</a></h2>
					<p>Candy canes oat cake cake gummi bears topping carrot cake. Tootsie roll cupcake
						dragée wafer soufflé sweet wafer jelly. Liquorice candy pastry brownie cotton
						candy wafer lollipop jelly beans. Cookie gummies chupa chups topping sesame
						snaps gummi bears carrot cake powder.</p>
				</div>
			</div>
			<div class="ubc-card__secondary-actions">
				<div class="inline-block ubc-card__action-buttons ">
					<p>
						<a href="#" title="some words"
							class="inline-block text-ubc-blue-cobalt text-hug">Explore <svg
								role="presentation" class="inline-block w-4 h-4 ml-2 -mt-1 stroke-w-3">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></a>
					</p>
				</div>
			</div>
		</div>
	</li>
</ul>
{% include "components/navigation--pager.twig" %}

{% endblock %}

{% block areab %}
	{% include "components/navigation--sub.twig" %}
{% endblock %}

{% block areac %}
{% endblock %}

{% block aread %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
