{% extends "layouts/default.twig" %}
{% set title = "John Doe" %}
{% set pageTitle = "John Doe" %}
{% set pageTeaser = "Test the Most Promising Ideas<br/>
Give New Solutions to the World" %}

{% block content %}
<nav class="nav-breadcrumbs text-xs hidden md--block container mx-auto p-4">
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Profiles</a>
  <a href="#" class="text-ubc-blue no-underline">{{ title }}</a>
</nav>

<div class="page-title">
  <h1 class="leading-tight text-xl mt-0 container mx-auto md--text-5xl uppercase">{{ pageTitle }}</h1>
</div>

<main class="container mx-auto px-4 pt-4">
  <div class="md--flex">
    <div class="md--w-two-thirds md--pr-4">
      <div class="md--flex md--flex-wrap p-4 border-t border-b border-unit-grey">
        <div class="md--w-half py-2 md--p-2 flex-order-1"><svg role="presentation" class="inline-block h-6 w-6 pr-1 -mb-2">
              <use xlink:href="#icon-mail"></use>
            </svg> <a href="mailto:hi@you.com">hi@you.com</a></div>
        <div class="md--w-half py-2 md--p-2 flex-order-3"><svg role="presentation" class="inline-block h-6 w-6 pr-1 -mb-2">
            <use xlink:href="#icon-phone"/>
          </svg> 604 822 2222</div>
        <div class="md--w-half py-2 md--p-2 flex-order-2">Adjunct Professor</div>
        <div class="md--w-half py-2 md--p-2 flex-order-4">Department of Adjusted Proportions</div>
        <div class="md--w-half py-2 md--p-2 flex-order-5">Room 222, Klinck</div>
        <div class="md--w-half py-2 md--p-2 flex-order-6">Hours: M-F 1:00-1:05</div>
      </div>
      <h2 class="heading-four uppercase text-ubc-blue">Biography</h2>
      <p>Cabore plaut am nihicit, sant adiciis erum everit doluptate voloriam rem quiderspis nobitia pe sitatusdanis nonserum que vidi dolupti te adit dolupta sperum quam que perferempos quae res enistrum repudae pudios alitae omnis nulparchic te velibusa pratur sinctatus doloratur minti nit fugit, qui cor moluptam alia nonse eatem acest voleseque rehenimintia niam is quiant molorument odio et vitio. Nam, odipsan totaquae. Et ducim quos esti quam, qui delluptatem nosam, ommoluptatem exerita temquidebit, quasimoditae dolor remperi buscia ideruptiis et rerumqu iaspidellam ditasserum non rereris aut.</p>
      <h3 class="heading-five">Research Interests</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="md--w-one-third pt-8 md--pl-4 md--pt-0">
      <div class="relative image-overlay ">
        <img src="img/demo/profile4.jpg" />
      </div>
    </div>
  </div>
</main>


<section class="container mx-auto px-4">
  <h2 class="heading-five">Recent Publications</h2>
  <div class="table--responsive">
    <table class="views-table cols-4 table text-sm">
      <thead>
        <tr>
          <th scope="col">Authors</th>
          <th scope="col">Title</th>
          <th scope="col">Publication</th>
          <th scope="col">Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Damascelli A.; Gyenis A.; da Silva Neto E.H.; Sutarto R.; Schierle E.; He F.; Weschke E.</td>
          <td>Quasiparticle interference of heavy fermions in resonant X-ray scattering.</td>
          <td>Science Advances 2 e1601086</td>
          <td>2016</td>
        </tr>
        <tr>
          <td>Damascelli A.; Gyenis A.; da Silva Neto E.H.; Sutarto R.</td>
          <td>Introducing Quasiparticle interference of heavy fermions.</td>
          <td>Science Advances 1</td>
          <td>2015</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="text-right">
    <a href="#" class="unit-button unit-button--blue text-sm">See All Publications</a>
  </p>
</section>

{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
