{% extends "layouts/default.twig" %}
{% set title = "Research Area" %}
{% set pageTitle = "Atomic-level design of  Novel Quantum Materials" %}
{% set pageTeaser = "Test the Most Promising Ideas<br/>
Give New Solutions to the World" %}
{% set pageIntro = "The Stewart Blusson Quantum Matter Institute has strategically assembled a strong cluster of research scientists in quantum structures, quantum materials, and applications towards  quantum devices, supported by strong international collaborations including a formal  agreement with the Max Planck Society of Germany." %}

{% block content %}
<nav class="nav-breadcrumbs text-xs hidden md--block container mx-auto p-4">
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Research</a>
  <a href="#" class="text-unit-red no-underline">{{ title }}</a>
</nav>

<div class="page-title">
  <h1 class="leading-tight text-xl mt-0 container mx-auto md--text-5xl uppercase">{{ pageTitle }}</h1>
</div>

<main class="container mx-auto px-4 pb-12">
  <p class="text-center text-lg md--text-xl font-light leading-normal">{{ pageIntro }}</p>
</main>

<section class="container mx-auto p-4" id="test">
  {% include "components/cards-featured--home.twig" %}
</section>

<section class="container mx-auto p-4">
  <div class="md--flex">
    <div class="md--w-2/3 md--pr-4">
      <h2 class="heading-four uppercase">Section Title</h2>
      <p>Cabore plaut am nihicit, sant adiciis erum everit doluptate voloriam rem quiderspis nobitia pe sitatusdanis nonserum que vidi dolupti te adit dolupta sperum quam que perferempos quae res enistrum repudae pudios alitae omnis nulparchic te velibusa pratur sinctatus doloratur minti nit fugit, qui cor moluptam alia nonse eatem acest voleseque rehenimintia niam is quiant molorument odio et vitio. Nam, odipsan totaquae. Et ducim quos esti quam, qui delluptatem nosam, ommoluptatem exerita temquidebit, quasimoditae dolor remperi buscia ideruptiis et rerumqu iaspidellam ditasserum non rereris aut.</p>
      <h3 class="heading-four uppercase">Section Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="md--w-1/3 pt-16 md--pl-4">
      <div class="supporting supporting--red relative bg-unit-accent-dark md--bg-transparent text-white md--text-unit-grey-dark md--border-2 md--border-unit-red px-10 md--px-8 py-4">
      <h3 class="supporting__heading text-white heading-five mt-0 uppercase md--text-unit-red">Research Applications</h3>
      <div class="font-light text-sm">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <h2 class="heading-four uppercase px-4">Principle Investigators</h2>
  {% include "components/cards-profiles--researcharea.twig" %}
</section>

<section class="container mx-auto">
  <h2 class="heading-four uppercase px-4">Projects</h2>
  {% include "components/cards-small.twig" %}
</section>

{% endblock %}
