/* STYLES FOR THE JQUERYUI DATEPICKER
-------------------------------------------------- */

/* 

  Adjust jQueryUI's default datepicker markup to pull in some Bootstrap styles
  
  See: https://jqueryui.com/datepicker/
  
  
  VARIABLES
  --------------------------------------------------
  @iconFontFamily: adds icon font
  @inputBorderRadius: adds border radius to the popup picker
  
    
  ALTERNATE STYLES FOR DATEPICKER
  --------------------------------------------------
 
  
*/

#ui-datepicker-div {
  background-color: #fff;
  border: 1px solid @datepicker-border-color;
  border-radius: @input-border-radius;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  margin-top: 4px;
  width: 240px;
}
#ui-datepicker-div .ui-widget-header,
#ui-datepicker-div .ui-state-default, 
#ui-datepicker-div .ui-widget-content .ui-state-default, 
#ui-datepicker-div .ui-widget-header .ui-state-default {
  border: none;
  border-radius: @input-border-radius;
  background: none;
  color: @datepicker-text-color;
  text-align: center;
  &:hover {
    background: @datepicker-hover-background-color;
  }
}

// prev / next buttons
#ui-datepicker-div .ui-state-hover .ui-widget-content .ui-state-hover,
#ui-datepicker-div .ui-datepicker-header .ui-state-hover {
  border: none;
  background: none;
}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span {
  margin-top: auto;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
  height: 100%;
  &:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: @icon-font-family;
    top: 6px;
  }
}
.ui-datepicker .ui-datepicker-prev:after {
  content: @datepicker-prev-icon;
}
.ui-datepicker .ui-datepicker-next:after {
  content: @datepicker-next-icon;
}
.ui-widget-header .ui-icon,
.ui-state-hover .ui-icon, 
.ui-state-focus .ui-icon {
  background-image:none;
}
#ui-datepicker-div .ui-state-active, 
#ui-datepicker-div .ui-widget-content .ui-state-active, 
#ui-datepicker-div .ui-widget-header .ui-state-active {
  background: @datepicker-active-background-color;
}