// -----------------------------------------------------------------------------
// This file contains base styles related to embedded media, such as iframes.
// -----------------------------------------------------------------------------

.media--wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0!important;
  overflow: hidden
}

.media--wrapper embed,
.media--wrapper iframe,
.media--wrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%!important
}

.img-and-caption {
  @apply .my-6;
}

figcaption {
  @apply .text-sm .text-unit-grey .text-right;
}
