// -----------------------------------------------------------------------------
// This file contains default typographic styles for text.
// -----------------------------------------------------------------------------
//
// Default
//
html {
  color: $unit-grey-dark;
  font-family: $default-typeface;
  font-size: ($base-font-size / 16) * 100%;
}

// Copy & Lists
p {
  margin-top: $leading;
  margin-bottom: 0;
  line-height: $leading;
}

ul,
ol {
  margin-top: $leading;
  margin-bottom: $leading;

  li {
    line-height: $leading;
  }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

blockquote {
  @apply .my-12 .px-12;
  border-left: 4px solid $unit-red;
  //line-height: 2 * $leading;
  font-size: (1.5 * $scale) * 1rem;
  color: $unit-grey;
  font-weight: 300;
  p {
    line-height: 1.4em;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.heading-one,
.heading-two,
.heading-three,
.heading-four,
.heading-five,
.heading-six {
  margin-bottom: 0;
}

h1,
.heading-one {
  margin-top: 2 * $leading;
  line-height: 5 * $leading;
  font-size: (5 * $scale) * 1rem;
  font-weight: $h1-weight;
}

h2,
.heading-two {
  margin-top: 2 * $leading;
  line-height: 4 * $leading;
  font-size: (4 * $scale) * 1rem;
  font-weight: $h2-weight;
}

h3,
.heading-three {
  margin-top: 2 * $leading;
  line-height: 3 * $leading;
  font-size: (3 * $scale) * 1rem;
  font-weight: $h3-weight;
}

h4,
.heading-four {
  margin-top: 2 * $leading;
  line-height: 2 * $leading;
  font-size: (2 * $scale) * 1rem;
  font-weight: $h4-weight;
}

h5,
.heading-five {
  margin-top: $leading;
  line-height: $leading;
  font-size: (1 * $scale) * 1rem;
  font-weight: $h5-weight;
}

h6,
.heading-six {
  margin-top: $leading;
  line-height: $leading;
  font-size: ($scale / 1.5) * 1rem;
  font-weight: $h6-weight;
}

// Horizontal Rule
hr {
  margin: 2rem 0;
  border-top: 1px solid $unit-grey;
}

// Code blocks
code,
.text--code {
  // Forces text to constrain to the line-height. Not ideal, but works.
  vertical-align: bottom;
}

// TEXT UTILITIES
// -------------------
// Sizes
.text--lead {
  @apply .text-lg .leading-normal;
  margin-top: $leading;
  margin-bottom: 0;
  //line-height: 2rem;
  color: $unit-grey-dark;
  //font-size: 1.25rem;
  font-weight: 200;
}

@media (min-width: $breakpoint--md) {
  .text--lead {
    @apply .text-3xl;
    //line-height: 2.5rem;
    //font-size: 1.75rem;
  }
}

.text--small {
  font-size: $scale * .75rem;
}

// Position
// Hug the block above you
.text--hug {
  margin-top: 0;
}

