// VARIABLES
$transition-speed: .125s;
$transition-easing: ease;
$panel--width: 20rem;
$panel--background: #fff;
$panel--z-index: 10;
$mask--z-index: 2;
$pushed-content--z-index: 1;
$mask--background: rgba(255, 255, 255, 0.5);

//+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
$unit-accent: #585858;
$unit-primary: #f86808;
$unit-secondary: #00457f;
$sans-font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, 'Helvetica Neue', sans-serif;
$ubc-blue: rgb(0, 33, 69);

$close-menu--background-color: #686868; //dark grey
$close-menu--background-color--hover: darken($close-menu--background-color, 10%);
$close-menu--background-color--focus: darken($close-menu--background-color, 15%);
$close-menu--border-color: #414141;     //darker grey
$close-menu--padding: 18px;
$push-drawer--inner--color: #fff;
$push-drawer--inner--font-size: 16px;
$push-nav--inner--color: #fff;          //white
$push-nav--inner--font-size: 16px;
//+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

#pushed-content {
  position: relative;
  z-index: $pushed-content--z-index;
  display: block;
  overflow: hidden;
  //transform: translate3D(0, 0, 0);
  transition: transform $transition-speed $transition-easing;
}
#pushed-content.drawer-panel--push-left.drawer-panel--primary-is-active {
  transform: translate3D(-$panel--width, 0, 0);
  //box-shadow: 2px 0 2px rgba(0, 0, 0, .15);
}
#pushed-content.drawer-panel--push-right.drawer-panel--primary-is-active {
  transform: translate3D($panel--width, 0, 0);
  //box-shadow: 2px 0 2px rgba(0, 0, 0, .15);
}
#drawer-panel--primary {
  transition: transform $transition-speed $transition-easing, visibility $transition-speed $transition-easing;
  visibility: visible;
  height: 100% !important;
  width: 0;
  position: fixed;
  top: 0;
  background-color: $panel--background;
  background-color: $close-menu--background-color;
  display: block;
  overflow: auto;
}
#drawer-panel--primary.drawer-panel--cover-left,
#drawer-panel--primary.drawer-panel--push-left {
  right: 0;
  transform: translate3D($panel--width, 0, 0);
}
#drawer-panel--primary.drawer-panel--cover-right,
#drawer-panel--primary.drawer-panel--push-right {
  left: 0;
  transform: translate3D(-$panel--width, 0, 0);
}
#drawer-panel--primary.drawer-panel--cover-left.drawer-panel--primary-is-animating,
#drawer-panel--primary.drawer-panel--cover-right.drawer-panel--primary-is-animating,
#drawer-panel--primary.drawer-panel--push-left.drawer-panel--primary-is-animating,
#drawer-panel--primary.drawer-panel--push-right.drawer-panel--primary-is-animating {
  width: $panel--width;
  z-index: $panel--z-index;
}
#drawer-panel--primary.drawer-panel--cover-left.drawer-panel--primary-is-active,
#drawer-panel--primary.drawer-panel--cover-right.drawer-panel--primary-is-active,
#drawer-panel--primary.drawer-panel--push-left.drawer-panel--primary-is-active,
#drawer-panel--primary.drawer-panel--push-right.drawer-panel--primary-is-active {
  transform: translate3D(0, 0, 0);
  z-index: $panel--z-index;
  width: $panel--width;
}
.push-drawer--inner {
  overflow-x: scroll;
  color: $push-drawer--inner--color;
  font-size: $push-drawer--inner--font-size;
  background-color: $close-menu--background-color;
}
#off-canvas-mask {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: $mask--z-index;
  top: 0;
  left: 0;
  background-color: $mask--background;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity $transition-speed;
}
#off-canvas-mask.drawer-panel--primary-is-active {
  width: 100% !important;
  opacity: .5;
}
//+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+


.sidebar,
.sidebar a,
.sidebar .dropdown-menu a {
  color: $push-nav--inner--color;
}
.sidebar {
  .menu__close {
    background-color: $close-menu--background-color;
    border-top: 1px solid $close-menu--border-color;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: $push-nav--inner--color;
    padding: $close-menu--padding;
    display: block;
    font-family: $sans-font-family;
    position: relative;
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    &:hover {
      background-color: $close-menu--background-color--hover;
    }
    &:focus {
      background-color: $close-menu--background-color--focus;
    }
  }
  a {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: $close-menu--border-color;
    box-shadow: none;
    box-sizing: border-box;
    padding: $close-menu--padding;
    padding-right: 0;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: $push-nav--inner--color;
      border-color: $close-menu--border-color;
    }
  }
  .nav>li>a:focus,
  .nav>li>a:hover,
  .btn-group:hover>.btn,
  .btn-group>a:focus {
    background-color: $close-menu--background-color--hover;
  }
  .btn-group {
    width: 100%;
    .dropdown-toggle {
      &:hover:after,
      &:focus:after {
        color: $push-nav--inner--color;
      }
      z-index: 2;
      float: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 55px;
      box-shadow: none;
      span {
        &:hover,
        &::after {
          transform: rotate(90deg);
        }
        transition: all .3s ease;
      }
    }
    .dropdown-menu {
      border: none;
      width: 100%;
      li {
        border-bottom: none;
      }
      a {
        background-color: lighten($close-menu--background-color, 10%);
        text-transform: none;
        padding-top: $close-menu--padding;
        padding-bottom: $close-menu--padding;
      }
    }
    > a {
      width: 100%;
      z-index: 1;
      font-size: $push-nav--inner--font-size;
    }
    > .btn {
      background-color: $close-menu--background-color;
      border-left: none;
      border-right: none;
      border-bottom: none;
      border-color: $close-menu--border-color;
      line-height: 18px;
      box-shadow: none !important;
      background-image: none !important;
      text-align: left;
    }
    &:hover>.dropdown-toggle{
      background-color: $close-menu--background-color--focus;
    }
    &.open {
      span {
        transform: rotate(90deg);
        transition: all .3s ease;
      }
      .btn.dropdown-toggle {
        background-color: $close-menu--background-color--hover;
        border-color: $close-menu--background-color--hover;
      }
      > .dropdown-menu {
        display: block;
        position: relative;
      }
    }
  }
  button:focus {
    outline: 0;
  }
}
