// VARIABLES
$mq-min-large: 1200px;
$mq-unit-menu-active: 980px;
$mq-unit-area-active: 979px;
$unit-menu-height--1200: 45px;
$unit-menu-height: 40px;
$unit-area-height: 50px;



@media screen and (min-width: $mq-unit-menu-active) {
  body.unit-menu-is-sticky {
    padding-top: $unit-menu-height;
  }
  #ubc7-unit-menu.navigation-is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media screen and (min-width: $mq-min-large) {
    body.unit-menu-is-sticky {
      padding-top: $unit-menu-height--1200;
    }
  }
}

@media screen and (max-width: $mq-unit-area-active) {
  body.unit-area-is-sticky {
    padding-top: $unit-area-height;
  }
  #ubc7-unit.navigation-is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #ubc7-unit.navigation-is-sticky .btn-navbar {
    margin-right: 40px;
  }
}
