// Tailwind's base styles
//See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622 */
@tailwind preflight;

// Add custom styles */
@import 'config/variables',
'config/functions';
@import 'base/base',
'base/forms',
'base/table',
'base/media',
'base/typography';
@import 'components/button',
'components/card',
'components/accordion',
'components/tabs',
'components/throbber',
'components/navigation';
@import 'theme/default';

// Injects all of Tailwind's utility classes
//See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622 */
@tailwind utilities;

// Custom utilities you need that don't come out of the box with Tailwind. /

// TRANSFORMATION UTILITIES
.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

// Add tailwind responsive directive to generate repsonsive utility classes
@responsive {

  // SHADOWS
  .shadow-inside {
    box-shadow: inset 0 0 2px 2px $box-shadow-color;
  }

  // FLEXBOX ORDER
  .flex-order-1 {
    order: 1;
  }

  .flex-order-2 {
    order: 2;
  }

  .flex-order-3 {
    order: 3;
  }

  .flex-order-4 {
    order: 4;
  }

  .flex-order-5 {
    order: 5;
  }

  .flex-order-6 {
    order: 6;
  }

  // WIDTHS
  /* purgecss ignore */
  .w-half {
    width: 50%;
  }

  /* purgecss ignore */
  .w-one-third {
    width: 33.33333%;
  }

  /* purgecss ignore */
  .w-two-thirds {
    width: 66.66667%;
  }

  /* purgecss ignore */
  .w-one-quarter {
    width: 25%;
  }

  /* purgecss ignore */
  .w-three-quarters {
    width: 75%;
  }

  /* purgecss ignore */
  .w-one-fifth {
    width: 20%;
  }

  /* purgecss ignore */
  .w-two-fifths {
    width: 40%;
  }

  /* purgecss ignore */
  .w-three-fifths {
    width: 60%;
  }

  /* purgecss ignore */
  .w-four-fifths {
    width: 80%;
  }
}

/** HACKS and WORKAROUNDS **/
/* purgecss ignore */
.pr-0 {
  padding-right: 0 !important;
}

/* purgecss ignore */
@media (min-width: $breakpoint--md) {
  /* purgecss ignore */
  .md--pr-4 {
    padding-right: 1rem !important;
  }
}

/* purgecss ignore */
@media (max-width: $breakpoint--sm--max) {
  /* purgecss ignore */
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

/* Misc styles for correcting errant layout behaviours */
/* purgecss ignore */
.float-left	{
  float: left;
}

/* purgecss ignore */
.ml-7 {
  margin-left: 1.75rem;
}

/* purgecss ignore */
.-ml-2 {
  margin-left: -.5rem;
}

/* purgecss ignore */
.-mr-2 {
  margin-right: -.5rem;
}
