// import base styles
/* SLIDEOUT NAVIGATION
-------------------------------------------------- */

/*

  DOCUMENTATION
  --------------------------------------------------




  SAMPLE MARKUP:
  --------------------------------------------------



  VARIABLES:
  --------------------------------------------------
*/
$screen-sm-max: 979px;
$screen-md-min: 980px;
$unit-accent: #585858;
$unit-primary: #f86808;
$unit-secondary: #00457f;
$iconFontFamily: 'fontawesome';
$sans-font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, 'Helvetica Neue', sans-serif;
$ubc-blue: rgb(0, 33, 69);
$slidenav_icon: '';
$icon-font-family: 'inherit';

// body,
// #wrapper {
//   background-color: white;
// }
//
// /* Revert the CLF body padding to accomodate our wrapper (needed for the offside nav) */
// @media screen and (max-width: $screen-sm-max) {
//   // remove default clf body padding
//   body {
//     padding: 0
//   }
// }
// @media screen and (max-width: $screen-sm-max) {
//   // add default back to the container wrappers
//   .container {
//     padding-left: 20px !important;
//     padding-right: 20px !important;
//   }
// }
// @media screen and (min-width: $screen-md-min) {
//   .container {
//     padding-left: 15px;
//     padding-right: 15px;
//   }
// }
//
// .ubc7-unit-menu .container {
//   position: relative;
// }
//
// .handle {
//   height: 40px;
//   line-height: 40px;
//   font-weight: normal !important;
//   font-family: $sans-font-family;
//   text-decoration: none;
//   text-transform: uppercase;
//
// }
// .ubc7-unit-menu .handle {
//   right: 15px;
//   display: inline-block !important;
//   float: right;
// }
//
// // adjust the mobile clf nav trigger */
// #ubc7-unit .navbar .btn-navbar {
//   text-shadow: none;
//   text-indent: -400%;
//   overflow: hidden;
//   //background-color: $unit-secondary;
//   &:hover,
//   &.fs-navigation-open {
//     background-color: $unit-accent;
//   }
// }
//
//
// /*! formstone v0.5.14 [navigation.css] 2015-05-20 | MIT License | formstone.it */
// .fs-navigation.fs-navigation-enabled {
//   margin: 0;
// }
// .fs-navigation,
// .fs-navigation:after,
// .fs-navigation:before,
// .fs-navigation *,
// .fs-navigation *:after,
// .fs-navigation *:before {
//   box-sizing: border-box;
//   -webkit-transition: none;
//           transition: none;
//   -webkit-user-select: none !important;
//      -moz-user-select: none !important;
//       -ms-user-select: none !important;
//           user-select: none !important;
// }
// .fs-navigation-toggle-nav.fs-navigation-enabled {
//   background: #ffffff;
//   border: 1px solid #cccccc;
//   border-width: 0 1px 1px;
//   border-radius: 0 0 3px 3px;
//   display: none;
// }
// .fs-navigation-toggle-nav.fs-navigation-open {
//   display: block;
// }
// .fs-navigation-toggle-handle.fs-navigation-enabled {
//   width: 100%;
//   background: #ffffff;
//   border: 1px solid #cccccc;
//   border-radius: 3px;
//   color: #111111;
//   cursor: pointer;
//   display: block;
//   font-size: 14px;
//   height: 40px;
//   line-height: 40px;
//   margin: 0;
//   padding: 0 45px 0 15px;
//   position: relative;
//   -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;
// }
// .fs-navigation-toggle-handle.fs-navigation-open {
//   border-radius: 3px 3px 0 0;
// }
// .fs-navigation-push-nav.fs-navigation-enabled,
// .fs-navigation-reveal-nav.fs-navigation-enabled,
// .fs-navigation-overlay-nav.fs-navigation-enabled {
//   width: 270px;
//   height: 100%;
//   height: -webkit-calc(100% + 60px);
//   height: calc(100% + 60px);
//   position: fixed;
//   top: 0;
//   background: #ffffff;
//   display: block;
//   overflow: auto;
//   visibility: hidden;
// }
// .fs-navigation-reveal-nav.fs-navigation-animated {
//   -webkit-transition: visibility 0.001s linear 0.2s;
//           transition: visibility 0.001s linear 0.2s;
// }
// .fs-navigation-push-nav.fs-navigation-animated,
// .fs-navigation-overlay-nav.fs-navigation-animated {
//   -webkit-transition: -webkit-transform 0.2s ease, visibility 0.001s linear 0.2s;
//           transition: transform 0.2s ease, visibility 0.001s linear 0.2s;
// }
// .fs-navigation-push-nav.fs-navigation-enabled,
// .fs-navigation-reveal-nav.fs-navigation-enabled {
//   z-index: 0;
// }
// .fs-navigation-push-left-nav.fs-navigation-enabled,
// .fs-navigation-reveal-left-nav.fs-navigation-enabled,
// .fs-navigation-overlay-left-nav.fs-navigation-enabled {
//   left: 0;
// }
// .fs-navigation-push-right-nav.fs-navigation-enabled,
// .fs-navigation-reveal-right-nav.fs-navigation-enabled,
// .fs-navigation-overlay-right-nav.fs-navigation-enabled {
//   right: 0;
// }
// .fs-navigation-push-left-nav.fs-navigation-enabled,
// .fs-navigation-overlay-left-nav.fs-navigation-enabled {
//   -webkit-transform: translate3D(-270px, 0, 0);
//       -ms-transform: translate3D(-270px, 0, 0);
//           transform: translate3D(-270px, 0, 0);
// }
// .fs-navigation-push-right-nav.fs-navigation-enabled,
// .fs-navigation-overlay-right-nav.fs-navigation-enabled {
//   -webkit-transform: translate3D(270px, 0, 0);
//       -ms-transform: translate3D(270px, 0, 0);
//           transform: translate3D(270px, 0, 0);
// }
// .fs-navigation-overlay-nav.fs-navigation-enabled {
//   z-index: 2;
// }
// .fs-navigation-overlay-left-nav.fs-navigation-enabled {
//   box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
// }
// .fs-navigation-overlay-right-nav.fs-navigation-enabled {
//   box-shadow: -2px 0 2px rgba(0, 0, 0, 0.15);
// }
// .fs-navigation-reveal-nav.fs-navigation-open {
//   visibility: visible;
//   -webkit-transition: visibility 0.001s ease;
//           transition: visibility 0.001s ease;
// }
// .fs-navigation-push-nav.fs-navigation-open,
// .fs-navigation-overlay-nav.fs-navigation-open {
//   -webkit-transform: translate3D(0, 0, 0);
//       -ms-transform: translate3D(0, 0, 0);
//           transform: translate3D(0, 0, 0);
//   -webkit-transition: -webkit-transform 0.2s ease, visibility 0.001s ease;
//           transition: transform 0.2s ease, visibility 0.001s ease;
//   visibility: visible;
// }
// .fs-navigation-push-handle.fs-navigation-enabled,
// .fs-navigation-overlay-handle.fs-navigation-enabled {
//   //padding: 10px 40px 10px 15px;
//   //background: #ffffff;
//   //color: #111111;
//   cursor: pointer;
//   display: block;
//   //font-size: 14px;
//   margin: 0;
//   //padding: 0 45px 0 15px;
//   position: relative;
//   -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;
// }
// .fs-navigation-overlay-content:before {
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1;
//   background: #ffffff;
//   background: rgba(255, 255, 255, 0.75);
//   content: '';
//   display: block;
//   opacity: 0;
//   -webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
//           transition: opacity 0.2s ease, visibility 0.2s ease;
//   visibility: hidden;
// }
// .fs-navigation-overlay-content.fs-navigation-open:before {
//   opacity: 1;
//   visibility: visible;
// }
// .fs-navigation-reveal-content.fs-navigation-enabled,
// .fs-navigation-push-content.fs-navigation-enabled {
//   position: relative;
//   z-index: 1;
//   display: block;
//   overflow: hidden;
//   -webkit-transform: translate3D(0, 0, 0);
//       -ms-transform: translate3D(0, 0, 0);
//           transform: translate3D(0, 0, 0);
// }
// .fs-navigation-reveal-content.fs-navigation-animated,
// .fs-navigation-push-content.fs-navigation-animated {
//   -webkit-transition: -webkit-transform 0.2s ease;
//           transition: transform 0.2s ease;
// }
// .fs-navigation-reveal-left-content.fs-navigation-enabled,
// .fs-navigation-push-left-content.fs-navigation-enabled {
//   box-shadow: -2px 0 2px rgba(0, 0, 0, 0.15);
// }
// .fs-navigation-reveal-right-content.fs-navigation-enabled,
// .fs-navigation-push-right-content.fs-navigation-enabled {
//   box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
// }
// .fs-navigation-reveal-left-content.fs-navigation-open,
// .fs-navigation-push-left-content.fs-navigation-open {
//   -webkit-transform: translate3D(270px, 0, 0);
//       -ms-transform: translate3D(270px, 0, 0);
//           transform: translate3D(270px, 0, 0);
// }
// .fs-navigation-reveal-right-content.fs-navigation-open,
// .fs-navigation-push-right-content.fs-navigation-open {
//   -webkit-transform: translate3D(-270px, 0, 0);
//       -ms-transform: translate3D(-270px, 0, 0);
//           transform: translate3D(-270px, 0, 0);
// }
// .fs-navigation-handle.fs-navigation-enabled {
//   position: relative;
// }
// .fs-navigation-handle.fs-navigation-enabled:after {
//   //height: 3px;
//   //width: 15px;
//   position: absolute;
//   top: 0;
//   right: 15px;
//   bottom: 0;
//   //background: #cccccc;
//   //box-shadow: 0 5px 0 #cccccc, 0 -5px 0 #cccccc;
//   //content: '';
//   display: block;
//   margin: auto 0;
// }
// .fs-navigation-handle.fs-navigation-open:after {
//   width: 15px;
//   height: 15px;
//   background: transparent;
//   border: none;
//   box-shadow: none;
//   color: #cccccc;
//   content: "\00d7";
//   font-size: 22px;
//   font-weight: 700;
//   line-height: 13px;
//   text-align: center;
// }
// .fs-navigation-lock {
//   overflow: hidden !important;
// }
//
//
//
//
// .fs-navigation-handle.fs-navigation-open:after {
//   text-indent: 0 !important;
// }
//
// .sidebar .fs-navigation-overlay-handle.fs-navigation-enabled,
// .sidebar .fs-navigation-push-handle.fs-navigation-enabled {
//   padding: 3px 24px 2px 24px;
// }
//
// @media (max-width: $screen-sm-max) {
//   .mobilenav-triggered .navbar.quicklinksnav {
//     z-index: -1;
//   }
// }
//
// .fs-navigation-overlay-content:before {
//   z-index: 10000;
// }
// .fs-navigation-overlay-nav.fs-navigation-enabled {
//   z-index: 10001;
// }
//
// .fs-navigation-handle.fs-navigation-enabled {
//   background-color: $unit-secondary;
//   color: white;
//   &:after {
//     background: #fff;
//     box-shadow: 0 5px 0 #fff, 0 -5px 0 #fff;
//   }
//   &:hover {
//     background-color: $unit-primary;
//     color: #fff;
//     text-decoration: none;
//   }
//   &:hover:after {
//     background: #fff;
//     box-shadow: 0 5px 0 #fff, 0 -5px 0 #fff
//   }
//   &.fs-navigation-open {
//     background-color: $unit-secondary;
//     color: #fff;
//     &:hover {
//       background-color: $unit-primary;
//     }
//   }
//   &.fs-navigation-open:after {
//     box-shadow:none;
//     color: #fff;
//     background: transparent;
//   }
// }
//
//
// // Allow the nav area to scroll when open
// .fs-navigation-element.fs-navigation-open {
//   height: 100% !important;
//   overflow: hidden scroll;
// }
//
//
// /*
// .fs-navigation-overlay-nav.fs-navigation-enabled,
// .fs-navigation-push-nav.fs-navigation-enabled,
// .fs-navigation-reveal-nav.fs-navigation-enabled {
//   background-color: #e1f3f9
// }
// */
//
//
// // Allow triggered dropdowns to work in sidenav
// .fs-navigation-element {
//   .btn-group {
//     display: block;
//   }
//   .btn-group>.btn:first-child {
//     text-align: left;
//     float: none;
//     width: 100%;
//     white-space: normal;
//     padding-right: 40px;
//     box-sizing: border-box;
//   }
//   button.btn.dropdown-toggle {
//     z-index: 2;
//     float: none;
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 100%;
//   }
//   .dropdown-menu>li>a {
//     white-space: normal;
//   }
//   .open>.dropdown-menu {
//     position: relative;;
//     width: 100%;
//     box-shadow: none;
//     z-index: 3;
//     float: none;
//   }
// }
//
//
// #ubc7-unit-menu {
//   height: 40px;
//   .container {
//     position: relative;
//   }
//   .navhandle {
//     position: absolute;
//     display: inline-block;
//     right: 0;
//     height: 40px;
//     box-sizing: border-box;
//     text-decoration: none;
//     padding-top: .6em;
//     background-color: #5c5c5c;
//     &:hover {
//       background-color: $unit-primary;
//     }
//   }
// }
// .fs-navigation-push-nav.fs-navigation-enabled,
// .fs-navigation-reveal-nav.fs-navigation-enabled,
// .fs-navigation-overlay-nav.fs-navigation-enabled {
//   background-color: #5c5c5c;
// }
// #ubc7-unit .fs-navigation-handle.fs-navigation-enabled {
//   &:after {
//     background: $ubc-blue;
//     box-shadow: 0 5px 0 $ubc-blue, 0 -5px 0 $ubc-blue;
//   }
//   &:hover:after {
//     background: #fff;
//     box-shadow: 0 5px 0 #fff, 0 -5px 0 #fff;
//   }
//   &.fs-navigation-open {
//     &:after {
//       background: transparent;
//       box-shadow: 0 5px 0 transparent, 0 -5px 0 transparent;
//       padding-top: 2px;
//     }
//
//   }
// }

//  VARIABLES:
//  --------------------------------------------------
$color__background: #686868;
$color__unit-primary: #f86808;
$color__font-default: #fff;
$color__font-dropdown: #222;
$color__border: #414141;

$size__font-default: 16px;
$size__padding-default: 18px;

@mixin default-menu-close() {
  background-color: $color__background;
  border-top: 1px solid $color__border;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: $color__font-default;
  padding: $size__padding-default;
  display: block;
  font-family: $sans-font-family;
  position: relative;
  text-transform: uppercase;
  text-align: right;
  width: 100%;
}
@mixin default-menu-link() {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: $color__border;
  box-shadow: none;
  box-sizing: border-box;
  padding: $size__padding-default;
  padding-right: 0;
  text-decoration: none;
  text-transform: uppercase;
}
//  --------------------------------------------------

#nav-panel--primary {
  background-color: $color__background;
}
.push-nav--inner {
  color: $color__font-default;
  font-size: $size__font-default;
  background-color: $color__background;
}
.sidebar,
.sidebar a,
.sidebar .dropdown-menu a {
  color: $color__font-default;
}
.sidebar {
  .menu__close {
    @include default-menu-close();
    &:hover {
      background-color: darken($color__background, 10%);
    }
    &:focus {
      background-color: darken($color__background, 15%);
    }
  }
  a {
    @include default-menu-link();
    &:hover {
      color: $color__font-default;
      border-color: $color__border;
    }
  }
  .nav>li>a:focus,
  .nav>li>a:hover,
  .btn-group:hover>.btn,
  .btn-group>a:focus {
    background-color: darken($color__background, 10%);
  }
  .btn-group {
    width: 100%;
    .dropdown-toggle {
      &:hover:after,
      &:focus:after {
        color: $color__font-default;
      }
      z-index: 2;
      float: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 55px;
      box-shadow: none;
      span {
        &:hover,
        &::after {
          transform: rotate(90deg);
        }
        transition: all .3s ease;
      }
    }
    .dropdown-menu {
      border: none;
      width: 100%;
      li {
        border-bottom: none;
      }
      a {
        background-color: lighten($color__background, 10%);
        text-transform: none;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    > a {
      width: 100%;
      z-index: 1;
      font-size: $size__font-default;
    }
    > .btn {
      background-color: $color__background;
      border-left: none;
      border-right: none;
      border-bottom: none;
      border-color: $color__border;
      line-height: 18px;
      box-shadow: none !important;
      background-image: none !important;
      text-align: left;
    }
    &:hover>.dropdown-toggle{
      background-color: darken($color__background, 15%);
    }
    &.open {
      span {
        transform: rotate(90deg);
        transition: all .3s ease;
      }
      .btn.dropdown-toggle {
        background-color: darken($color__background, 10%);
        border-color: darken($color__background, 10%);
        color: $color__font-dropdown;
      }
      > .dropdown-menu {
        display: block;
        position: relative;
      }
    }
  }
  button:focus {
    outline: 0;
  }
}
