doctype html
html.no-js(lang="en")
  head
    != partial("_shared/head")
  
  if clfwidthfull
    body.full-width.make-nice
      if slideinprimarynav
        div#wrapper
          != partial("_shared/clf-header")
            div#ubc7-unit-menu.navbar.expand.visible-md-block.visible-lg-block(role="navigation")
              != partial("_shared/unit-nav--primary-slidein")
            != yield
            if footernav
              div#ubc7-unit-alternate-navigation.navbar.expand.visible-phone(role="navigation")
                != partial("_shared/unit-nav--primary")
            != partial("_shared/clf-footer")
        != partial("_shared/unit-nav--slidein")
        != partial("_shared/scripts")
      else
        != partial("_shared/clf-header")
          div#ubc7-unit-menu.navbar.expand(role="navigation")
            != partial("_shared/unit-nav--primary")
          != yield
          if footernav
            div#ubc7-unit-alternate-navigation.navbar.expand.visible-phone(role="navigation")
              != partial("_shared/unit-nav--primary")
          != partial("_shared/clf-footer")
        != partial("_shared/scripts")
      
  if clfwidthfluid
    body.full-width.full-width-left.make-nice
      if slideinprimarynav
        div#wrapper
          != partial("_shared/clf-header")
            div#ubc7-unit-menu.navbar.expand.visible-md-block.visible-lg-block(role="navigation")
              != partial("_shared/unit-nav--primary-slidein")
            != yield
            if footernav
              div#ubc7-unit-alternate-navigation.navbar.expand.visible-phone(role="navigation")
                != partial("_shared/unit-nav--primary")
            != partial("_shared/clf-footer")
        != partial("_shared/unit-nav--slidein")
        != partial("_shared/scripts")
      else
        != partial("_shared/clf-header")
          div#ubc7-unit-menu.navbar.expand(role="navigation")
            != partial("_shared/unit-nav--primary")
          != yield
          if footernav
            div#ubc7-unit-alternate-navigation.navbar.expand.visible-phone(role="navigation")
              != partial("_shared/unit-nav--primary")
          != partial("_shared/clf-footer")
        != partial("_shared/scripts")
      
  if clfwidthfixed
    body.make-nice
      if slideinprimarynav
        div.container
          != partial("_shared/clf-header")
          div#ubc7-unit-menu.navbar.expand.visible-md-block.visible-lg-block(role="navigation")
            != partial("_shared/unit-nav--primary-slidein")
          != yield
          if footernav
            div#ubc7-unit-alternate-navigation.navbar.expand.visible-phone(role="navigation")
              != partial("_shared/unit-nav--primary")
          != partial("_shared/clf-footer")
        != partial("_shared/scripts")
      else
        div.container
          != partial("_shared/clf-header")
            div#ubc7-unit-menu.navbar.expand(role="navigation")
              != partial("_shared/unit-nav--primary")
            != yield
            if footernav
              div#ubc7-unit-alternate-navigation.navbar.expand.visible-phone(role="navigation")
                != partial("_shared/unit-nav--primary")
            != partial("_shared/clf-footer")
        != partial("_shared/scripts")
