!= partial("_components/featured/unit-featured-image--story")
main.non-clf
  div.container
    div.row
      div.col-md-8.vert-padding-2-2
        p.text--lead Dr. Joan Bottorff admits she has a case of sitting disease, and if you’re a student or work at a desk in a 9-5 job, chances are you have this, too.
        hr
        p Bottorff, a professor at the School of Nursing at UBC Okanagan, spends most of her time at work sitting. Even though she exercises every morning, she thinks UBC’s work climate needs to change. “There is research to show that we need to start changing the environment so that people are encouraged to be active throughout the day.”
        p “Even though there are yoga classes and there is a gym on campus, these don’t integrate well into my faculty day, because I don’t have time during the day to get away to the gym,” she added.
        p Bottorff, who is also the Director for the Institute of Healthy Living and Chronic Disease Prevention, is involved in research focused on cancer prevention. Bottorff and her team have designed smoking cessation interventions for new fathers and young men. She has also worked with community partners to develop a new program to prevent cancer by promoting physical activity and healthy eating in male-dominated workplaces.
        figure
          img(src="img/prototype/demo-huge1.jpg")
          figcaption Dr. Joan Bottorff admits she has a case of sitting disease
        
        p Bottorff takes a holistic approach to defining wellbeing, and sees it as the integration of physical health, mental health, having strong social connections, and having a positive attitude towards life. She believes that supporting wellbeing on campus would have benefits for everyone, including faculty.
        p “There are huge pressures for faculty to make significant achievements, not only in their teaching, but also in their research and service obligations,” she said. Finding ways to integrate physical activity into everyone’s workday is just one way to help reduce stress and promote wellbeing.
        p One way UBC can do this is by providing stand-up desks and walking treadmills equipped with headsets. This way, even when faculty members have teleconference meetings or o ce work, they could integrate exercise into their day. Students who spend most of their study time sitting in front of a computer could also benefit from this kind of physical activity. “For example, in some airports, they have exercise bikes that actually are used to charge your devices while you are using them,” said Bottor .
        p “I think by changing our environment, we can enable people to be more active and at the same time promote wellbeing.”
        
        p.text--note Note: Dr. Joan Bottorff is a Professor and Chair in Health Promotion and Cancer Prevention at UBCO and one of Canada’s leading scientists in health behaviour.
        
        hr
        p.text--lead.text--center We're always on the lookout for stories of how wellbeing has benefited you or your community.
        p.text--center
          a.unit-btn.btn--lg(href="#") Submit your story
        
        hr
        div.tags__container.clearfix
          p.tags__label.display--inline-block Categories:
          ul.tags.clearfix.display--inline-block
            li
              a.unit-btn--theme-five-dark(href="#") Theme tag
            li
              a.unit-btn--theme-one-dark(href="#") Theme tag
            li
              a.tag(href="#") Theme tag
        div.row
          div.col-sm-4.previous
            p
              a.unit-btn.icon--left(href="#") Previous Story
          div.col-sm-4.back
            p
              a.unit-btn(href="#") Read Other Stories
          div.col-sm-4.next
            p
              a.unit-btn(href="#") Next Story
