main.non-clf.vert-padding-3-3
  div.container
    h1.h5 IN ACTION
    h2.h1 Wellbeing in Action
    
    != partial("_components/forms/unit-form-filters")     
          
    h3 Stories: All
    div.row.equalize
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-4.col-md-3.col-xs-6
        != partial("_components/teasers/unit-teaser-w-image")
