main.non-clf.vert-padding-3-3
  div.container
    h1.h5 IN ACTION
    h2.h1 Wellbeing in Action
    
    != partial("_components/forms/unit-form-filters")     
          
    h3 Stories: All
    div.row.equalize
      for announcement in public.announcements._data
        div.col-sm-4.col-md-3.col-xs-6
          a.teaser.teaser__w-image(href="announcement.html")
            article.teaser-announcement
              figure.teaser--image
                img(src="img/prototype/#{announcement.image}" alt="#{announcement.title}" title="")
              div.teaser--content
                h5= announcement.title
                p= announcement.teaser
                p
                  button.unit-btn--plain Read More  
