main.non-clf.vert-content-space-2-2.container
  h1 Website Styles. 
    span #{ unitname }
  hr
  h3 Colours
  h5 UBC Colours
  div.clearfix
    div.color-swatch(style="background-color: #002145; color: white;") #002145
      br
      | UBC Blue
      br 
      | (ubc-blue)
    div.color-swatch(style="background-color: #0055B7; color: white;") #0055B7
      br 
      | UBC: Accent 1
      br 
      | (ubc-accent-1)
    div.color-swatch(style="background-color: #00A7E1; color: black;") #00A7E1
      br 
      | UBC: Accent 2
      br 
      | (ubc-accent-2)
    div.color-swatch(style="background-color: #40B4E5; color: black;") #40B4E5
      br 
      | UBC: Accent 3
      br 
      | (ubc-accent-3)
    div.color-swatch(style="background-color: #6EC4E8; color: black;") #6EC4E8
      br 
      | UBC: Accent 4
      br 
      | (ubc-accent-4)
    div.color-swatch(style="background-color: #97D4E9; color: black;") #97D4E9
      br 
      | UBC: Accent 5
      br 
      | (ubc-accent-5)
  h5 #{ unitname } Colours
  div.clearfix
    div.color-swatch(style="background-color: #007296; color: #fff;") #007296
      br
      | Unit Colour
      br
      | (unit-primary)
    div.color-swatch(style="background-color: #00a8e1; color: #000;") #00a8e1
      br
      | Unit Colour
      br
      | (unit-primary-light)
    div.color-swatch(style="background-color: #40b4e5; color: #000;") #40b4e5
      br
      | Unit Colour
      br
      | (unit-primary-lighter)
    div.color-swatch(style="background-color: #000; color: #fff;") #000
      br
      | Unit Accent Dark Colour
      br
      | (unit-accent-dark)
      br
      | [text]
    div.color-swatch(style="background-color: #585858; color: #fff;") #585858
      br
      | Unit Accent Colour
      br
      | (unit-accent)
      br
      | [text]
    div.color-swatch(style="background-color: #f7f8fa; color: #000;") #f7f8fa
      br
      | Unit Accent Light Colour
      br
      | (unit-accent-light) 
  h5 Alert Colours
  div.clearfix
    div.color-swatch(style="background-color: #f39c12; color: white;") #f39c12
      br
      | 243 156 18
      br
      | warning
      br
      | (unit-warning)
    div.color-swatch(style="background-color: #e74c3c; color: white;") #e74c3c
      br
      | 231 76 60
      br
      | danger
      br
      | (unit-danger)
    div.color-swatch(style="background-color: #e74c3c; color: white;") #e74c3c
      br
      | 231 76 60
      br
      | error
      br
      | (unit-error)
    div.color-swatch(style="background-color: #18bc9c; color: white;") #18bc9c
      br
      | 24 188 156
      br
      | success
      br
      | (unit-success)
    div.color-swatch(style="background-color: #3498db; color: white;") #3498db
      br
      | 52 152 219
      br
      | info
      br
      | (unit-info)
    div.color-swatch(style="background-color: #3498db; color: white;") #3498db
      br
      | 52 152 219
      br
      | status
      br
      | (unit-status)
  hr
  h3 Breadcrumbs
  nav.clearfix
    ul.breadcrumb.vert-content-space-3-1
      li
        a(href="#") Home
      li
        a(href="#") News + Events
      li.active Current Page Title
  hr
  h3 Text
  h1 Heading 1 Title.
  small Whitney SS, Book, 48px, line-height: 56px, #002145, letter-spacing: 1px
  h2 Some Heading 2 Title.
  small Whitney SS, Semibold, 30px, line-height: 40px, #002145, letter-spacing: 1px
  h3 Now, Heading 3 Text.
  small Whitney SS, Book, 30px, line-height: 40px, #002145, letter-spacing: 1px
  h4 And Heading 4 Text
  small Whitney SS, Semibold, 20px, line-height: 24px, uppercase, #002145, letter-spacing: 2px
  h5 Some Heading 5 Text
  small Whitney SS, Semibold, 15px, line-height: 24px, uppercase, #007296, letter-spacing: 2px
  h6 Finally, Heading 6 Text
  small Whitney SS, Semibold, 15px, line-height: 24px, #007296, letter-spacing: 1px
  p
  h5 Lead Text
  p.text--lead IC-Impacts is an India-Canada alliance helping to secure a safer and greener future. IC-Impacts is an India-Canada alliance helping to secure a safer and greener future.
  small TEXT: Whitney SS, Book, 24px, line-height: 36px, #585858
  p
  h5 Paragraph Text
  p Now, to any one not fully acquainted with the ways of the leviathans, it might seem an absurdly hopeless task thus to seek out one solitary creature in the unhooped oceans of this planet. But not so did it seem to Ahab, 
    a(href="#") who knew the sets of all tides and currents; and thereby calculating the driftings
    |  of the sperm whale's food; and, also, calling to mind the regular, ascertained seasons for hunting him in particular latitudes; could arrive at reasonable surmises, almost approaching to certainties, concerning the timeliest day to be upon this or that ground in search of his prey.</p>
  p So assured, indeed, is the fact concerning the periodicalness of the sperm whale's resorting to given waters, 
    a(href="//") link to an external page / file
    |  that many hunters believe that, could he be closely observed and studied throughout the world; were the logs for one voyage of the entire whale fleet carefully collated, then the migrations of the sperm whale would be found to correspond in invariability to those of the herring-shoals or the flights of swallows. On this hint, attempts have been made to construct elaborate migratory charts of the sperm whale.*
  small TEXT: Whitney SS, Regular, 15px, line-height: 24px, #000
  br
  small LINK: #007296; HOVER: #000, underline
  p
  
  h5 Small Text
  p.text--small UBC researchers are working with communities around the world to find solutions where they’re needed most. A recognized leader in making medical discoveries available to the developing world.
  small Whitney SS, Regular, 14px, line-height: 22px, #000
  p
  hr
  h5 Responsive Tables
  div.table-responsive
    != partial("_components/tables/unit-table")
  hr
  h5 Blockquote
  != partial("_components/blockquotes/unit-blockquote")
  small PARAGRAPH: Whitney SS, 18px, line-height: 30px, #858585
  br
  small CITE: Whitney SS, 15px, Italic, line-height: 21px, right aligned, #000
  hr
  h5 Image with Caption
  != partial("_components/images/unit-image-w-caption")
  small FIGCAPTION: Whitney SS, Italic, 12px, line-height: 18px, #858585
  
  
  hr
  h3 Buttons
  div.row
    div.col-md-4
      h5 Buttons (system use only)
      p
        a.btn.btn-default(href="#") Default Button 
      p
        a.btn.btn-primary(href="#") Primary Button
      p
        a.btn.btn-secondary(href="#") Secondary Button
      p
        a.btn.btn-info(href="#") Info Button
      p
        a.btn.btn-success(href="#") Success Button
      p
        a.btn.btn-warning(href="#") Warning Button
      p
        a.btn.btn-danger(href="#") Danger Button
      p 
        a.btn.btn-link(href="#") Link Button
    div.col-md-4
      h5 Buttons (Custom)
      p
        a.unit-btn.unit-btn--primary(href="#") Unit Button
      p 
        a.unit-btn.unit-btn--reverse(href="#") Unit Button - Reverse
      p
        a.unit-btn.unit-btn--primary.unit-btn--bold(href="#") Unit Button - Alt 
      p 
        a.unit-btn--plain(href="#") Unit Plain Button
      p
        a.unit-btn.unit-btn--theme-one(href="#") Unit Theme One
      p 
        a.unit-btn.unit-btn--theme-one-dark(href="#") Unit Theme One Dark
      p
        a.unit-btn.unit-btn--theme-two(href="#") Unit Theme Two
      p 
        a.unit-btn.unit-btn--theme-two-dark(href="#") 
          strong Unit Theme Two Dark
      p
        a.unit-btn.unit-btn--theme-three(href="#") Unit Theme Three
      p 
        a.unit-btn.unit-btn--theme-three-dark(href="#") Unit Theme Three Dark
      p
        a.unit-btn.unit-btn--theme-four(href="#") Unit Theme Four
      p 
        a.unit-btn.unit-btn--theme-four-dark(href="#") Unit Theme Four Dark
      p
        a.unit-btn.unit-btn--theme-five(href="#") Unit Theme Five
      p 
        a.unit-btn.unit-btn--theme-five-dark(href="#") Unit Theme Five Dark
        br
    div.col-md-4
      h5 Button Sizes
      p
        a.unit-btn.unit-btn--primary.btn--lg(href="#") Unit Primary Button - Large
      p
        a.unit-btn.unit-btn--primary(href="#") Unit Primary Button - Default
      p 
        a.unit-btn.unit-btn--primary.btn--sm(href="#") Unit Primary Button - Small
      p 
        a.unit-btn.unit-btn--primary.btn--xs(href="#") Unit Primary Button - Mini
      p
        a.unit-btn.unit-btn--primary.btn--block(href="#") Unit Primary Button - Full Width
  
  hr
  h3 Misc.
  div.row
    div.col-md-6
      h5 Accordions
      != partial("_components/accordions/unit-accordion")
      != partial("_components/accordions/unit-accordion")
      != partial("_components/accordions/unit-accordion")
    div.col-md-6
      h5 Tags
      ul.tags.clearfix
        li.active
          a.tag(href="#") News Item
        li 
          a.tag(href="#") News Item 2
        li 
          a.tag(href="#") ...
      ul.tags.clearfix
        li.active
          a.tag--alt(href="#") Event Listing Item
        li 
          a.tag--alt(href="#") Event Listing Item 2
        li
          a.tag--alt(href="#") ...
      ul.tags.clearfix
        li.active
          a.tag--reversed(href="#") Research Area
        li 
          a.tag--reversed(href="#") Research Area 2
        li
          a.tag--reversed(href="#") ...
      ul.tags.clearfix
        li.active
          a.unit-btn--theme-five-dark(href="#") Theme tag
        li 
          a.unit-btn--theme-one(href="#") Theme tag
        li
          a.unit-btn--theme-three-dark(href="#") Theme tag
  
  hr.vert-margin-2-0
  h3 Share Buttons
  div.row
    div.col-md-6.col-md-offset-3
      ul.share-buttons
        li
          a(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwellbeing.ubc.ca&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;")
            i.fa.fa-facebook-square.fa-3x(aria-hidden="true")
            span.sr-only Share on Facebook
        li
          a(href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fwellbeing.ubc.ca&text=:%20https%3A%2F%2Fwellbeing.ubc.ca" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;")
            i.fa.fa-twitter-square.fa-3x(aria-hidden="true")
            span.sr-only Tweet
        li
          a(href="https://plus.google.com/share?url=https%3A%2F%2Fwellbeing.ubc.ca" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;")
            i.fa.fa-google-plus-square.fa-3x(aria-hidden="true")
            span.sr-only Share on Google+
        li
          a(href="mailto:?subject=&body=:%20https%3A%2F%2Fwellbeing.ubc.ca" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;")
            i.fa.fa-envelope-square.fa-3x(aria-hidden="true")
            span.sr-only Send email
  
  hr.vert-margin-2-0
  h3 Image Styles
  div.row.equalize.duotone-boxes
    div.col-md-4.col-xs-6.unit-theme-none
      div(style="padding:2em")
       | UBC Wellbeing is currently focused on five priority areas. Across our campuses, departments, units and faculties, we are collaborating to address challenges and enact meaningful change in each of these areas.
    div.col-md-4.col-xs-6.text--center
      figure.zoomimage--duotone.unit-theme-one
        img(src="img/prototype/demo-normal1.jpg")
        div.duotone-boxes__title Built and Natural Environments
    div.col-md-4.col-xs-6.text--center
      figure.zoomimage--duotone.unit-theme-two
        img(src="img/prototype/demo-normal2.jpg")
        div.duotone-boxes__title Food and Nutrition
    div.col-md-4.col-xs-6.text--center
      figure.zoomimage--duotone.unit-theme-three
        img(src="img/prototype/demo-normal6.jpg")
        div.duotone-boxes__title Inclusion and Connection
    div.col-md-4.col-xs-6.text--center
      figure.zoomimage--duotone.unit-theme-four
        img(src="img/prototype/demo-normal7.jpg")
        div.duotone-boxes__title Increasing Physical Activity and Reducing Sedentary Behaviour
    div.col-md-4.col-xs-6.text--center
      figure.zoomimage--duotone.unit-theme-five
        img(src="img/prototype/demo-normal3.jpg")
        div.duotone-boxes__title Mental Health and Resiliency
  
  hr        
  h3 Sidenav
  div.row
    div.col-sm-10.col-sm-offset-1
      != partial("_components/navigation/unit-sidenav")
  
  
  
  hr.vert-margin-2-0
  h3 System Alert Messages
  != partial("_components/alerts/unit-alert--status")
  != partial("_components/alerts/unit-alert--warning")
  != partial("_components/alerts/unit-alert--danger")
  != partial("_components/alerts/unit-alert--error")
  != partial("_components/alerts/unit-alert--info")
  != partial("_components/alerts/unit-alert--success")
  
  hr
  h3 Forms
  != partial("_components/forms/unit-form-elements")
  
  hr
  h3 Featured Image

!= partial("_components/featured/unit-featured-image")
