main.non-clf.vert-padding-3-3
  div.container
    div.row
      div.col-md-8
        p.h5 January 17, 2017
        h1 Food, The Future, And You
        hr
        p.h6 Vancouver campus | Ponderossa Ballroom<br />9:00am–2:00pm
        p.text--lead <em>Food, the Future, and You</em>, presented by the <a href="#">UBC Centre for Sustainable Food Systems</a>, is a food and sustainability symposium that brings together students, faculty, and staff for a dialogue about what it takes to create and manage a just and sustainable food system. Join us to celebrate the involvement of UBC students with food sustainability research, education, and community engagement.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p
          a.unit-btn.btn--lg(href="#") Register Now
          
        hr
        p.text--lead.text--center Have an event related to wellbeing?
        p.text--center
          a.unit-btn(href="#") submit an event
        hr
        
        div.tags__container.clearfix
          p.tags__label.display--inline-block Topics:
          ul.tags.clearfix.display--inline-block
            li
              a.unit-btn--theme-five-dark(href="#") Theme tag
            li
              a.unit-btn--theme-one-dark(href="#") Theme tag
            li
              a.tag(href="#") Theme tag
            
        p
          a.unit-btn(href="events") View All Events
          
      div.col-sm-4
        div.supporting-content
          p.event__time 10:00am &ndash; 6:00pm
          p.event__location Vancouver Campus<br />West Mall<br />Vanouver, BC, Canada<br />V6T 1Z4<br />
            a(href="#") View Map 
              span.fa.fa-external-link
