!= partial("_components/featured/unit-featured-image--events")
main.non-clf.unit-logo-texture--right.bg--light.vert-padding-0-2
  div.container
    div.row
      div.col-md-8.vert-padding-2-2.bg--unit-theme-none
        p.text--lead Some inspirational messaging about events that will compel people to want to learn more.
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

section.non-clf.vert-padding-1-3
  div.container
    != partial("_components/forms/unit-form-events")     
    div.row.equalize
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
      div.col-sm-4.col-xs-6
        != partial("_components/teasers/unit-teaser--event")
    hr
    p.text--lead.text--center Have an event related to wellbeing?
    p.text--center
      a.unit-btn(href="#") submit an event
    hr
      
!= partial("_components/_custom-content/unit-footer")
