!= partial("_components/featured/unit-featured-image")
main.non-clf
  div.container
    div.row
      div.col-md-8.col-md-offset-2.vert-padding-2-2
        p.text--lead At UBC, wellbeing is a deeply&ndash;held value. A priority that helps guide our daily interactions, decisions, policy planning and program development. An essential building block to achieving our full potential in teaching, learning, research and engagement.
        hr
        p UBC Wellbeing is a cross-campus effort to create a cultural shift that makes the University a better place to live, work and learn through a systems-wide approach to embedding wellbeing across our campuses.
        p We all have a hand in shaping campus environments that support health and wellbeing. By championing wellbeing for all of our communities, together we can create happier, healthier, more sustainable communities at UBC and beyond. 
  
section.unit-logo-texture.bg--light.non-clf.vert-padding-2-2.expand
  div.container
    h2.h3 Wellbeing Priorities
    div.row.duotone-boxes
      div.col-md-4.col-sm-6
        div.equalized_cta.unit-theme-none(style="padding:2em")
         | UBC Wellbeing is currently focused on five priority areas. Across our campuses, departments, units and faculties, we are collaborating to address challenges and enact meaningful change in each of these areas.
      div.col-md-4.col-sm-6.text--center
        figure.equalized_cta.zoomimage--duotone.unit-theme-one
          img(src="img/prototype/demo-normal1.jpg")
          figcaption.duotone-boxes__title Built and Natural Environments
      div.col-md-4.col-sm-6.text--center
        figure.equalized_cta.zoomimage--duotone.unit-theme-two
          img(src="img/prototype/demo-normal2.jpg")
          figcaption.duotone-boxes__title Food and Nutrition
      div.col-md-4.col-sm-6.text--center
        figure.equalized_cta.zoomimage--duotone.unit-theme-three
          img(src="img/prototype/demo-normal6.jpg")
          figcaption.duotone-boxes__title Inclusion and Connection
      div.col-md-4.col-sm-6.text--center
        figure.equalized_cta.zoomimage--duotone.unit-theme-four
          img(src="img/prototype/demo-normal7.jpg")
          figcaption.duotone-boxes__title Increasing Physical Activity and Reducing Sedentary Behaviour
      div.col-md-4.col-sm-6.text--center
        figure.equalized_cta.zoomimage--duotone.unit-theme-five
          img(src="img/prototype/demo-normal3.jpg")
          figcaption.duotone-boxes__title Mental Health and Resiliency
          
section.non-clf.vert-padding-2-2
  div.container
    h3 Wellbeing in Action
    div.row
      div.col-sm-3
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-3
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-3
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-3
        != partial("_components/teasers/unit-teaser-w-image")
    p
      a.unit-btn.unit-btn--primary(href="#") READ OTHER STORIES
