main.non-clf.container
  h1 Welcome to #{ unitname }
  div.list-group
    div.heading-area
      h4.list-group-item-heading Initial prototype pages
      p.list-group-item-text a work in progress&hellip;
    div.list-group-contents
      a(href="components.html")
        span.fa.fa-check-square-o
        |  x.x Components Page
      a(href="home.html")
        span.fa.fa-check-square-o
        |  0.0 Home Page [type: Home Page]
      a(href="pillars.html")
        span.fa.fa-check-square-o
        |  1.x Pillar Page [type: Pillar Page]
      a(href="in-action.html")
        span.fa.fa-check-square-o
        |  2.0 In Action Page [type: Basic Page + List]
      a(href="story.html")
        span.fa.fa-check-square-o
        |  2.x Story Page [type: Announcement Page]
      a(href="events.html")
        span.fa.fa-check-square-o
        |  3.0 Events [type: Basic Page + List]
      a(href="event.html")
        span.fa.fa-check-square-o
        |  3.x Event [type: Event Page]
      a(href="tools.html")
        span.fa.fa-check-square-o
        |  4.0 Tools [type: Basic Page]
      a(href="workshops.html")
        span.fa.fa-check-square-o
        |  4.x Workshops [type: Basic Page + List]
      a(href="workshop.html")
        span.fa.fa-check-square-o
        |  4.x.x Workshop [type: Resource Page]
      a(href="contact.html")
        span.fa.fa-check-square-o
        |  7.0 Contact & Support [type: Basic Page]
      a(href="forms.html") 
        span.fa.fa-check-square-o
        |  2.x, 3.x Contact Form [type: Webform Page]
      
