main.non-clf.container
  h1 Welcome to #{ unitname }
  div.list-group
    div.heading-area
      h4.list-group-item-heading Initial prototype pages
      p.list-group-item-text a work in progress&hellip;
    div.list-group-contents
      a(href="components.html")
        span.fa.fa-check-square-o
        |  x.x Components Page
      a(href="home.html")
        span.fa.fa-check-square-o
        |  0.0 Home Page [type: Home Page]
      a(href="landing.html")
        span.fa.fa-check-square-o
        |  x.0 Landing / Top Tier Page [type: Landing Page]
      a(href="announcements.html")
        span.fa.fa-check-square-o
        |  x.x Teaser / Listing Page [type: Basic Page + Announcement List]
      a(href="announcement.html")
        span.fa.fa-check-square-o
        |  x.x.x Announcement Page [type: Announcement Page]
      a(href="events.html")
        span.fa.fa-check-square-o
        |  x.x Event Listing Page [type: Basic Page + Event List]
      a(href="event.html")
        span.fa.fa-check-square-o
        |  x.x.x Event [type: Event Page]
      a(href="page.html")
        span.fa.fa-check-square-o
        |  x.x Basic Page [type: Basic Page]
      a(href="profiles.html")
        span.fa.fa-square-o
        |  x.x Profile Listing Page [type: Basic Page + Profile List]
      a(href="profile.html")
        span.fa.fa-square-o
        |  x.x.x Profile [type: Profile Page]
      a(href="resources.html")
        span.fa.fa-check-square-o
        |  x.x Resources Listing Page [type: Basic Page + Resource List]
      a(href="resource.html")
        span.fa.fa-check-square-o
        |  x.x.x Resource [type: Resource Page]
      a(href="contact.html")
        span.fa.fa-check-square-o
        |  x.0 Contact &amp; Support [type: Basic Page]
      a(href="form.html") 
        span.fa.fa-check-square-o
        |  x.x Form [type: Webform Page]
      
