!= partial("_components/featured/unit-featured-image--pillars")
main.non-clf.unit-logo-texture--large.bg--light.vert-padding-0-2.page-theme--unit-theme-three
  div.container
    div.row
      div.col-md-8.col-md-offset-4.vert-padding-2-2.bg--unit-theme-three.opening
        p.text--lead At UBC, wellbeing is a deeply&ndash;held value. A priority that helps guide our daily interactions, decisions, policy planning and program development. An essential building block to achieving our full potential in teaching, learning, research and engagement.
        hr
        p UBC Wellbeing is a cross-campus effort to create a cultural shift that makes the University a better place to live, work and learn through a systems-wide approach to embedding wellbeing across our campuses.
        p We all have a hand in shaping campus environments that support health and wellbeing. By championing wellbeing for all of our communities, together we can create happier, healthier, more sustainable communities at UBC and beyond. 
  
  div.container.vert-padding-2-0
    div.row
      div.col-sm-6
        h2.h3 Frameworks and Strategies
        article
          figure
            img(src="/img/prototype/demo-med1.jpg")
          h4.h5 Framework for a nutritionally sound campus
          p A food and nutrition framework was developed to explore ways to make nutritious food more accessible and available to the UBC community and help achieve our vision for a nutritionally sound campus.
          p 
            a.unit-btn.unit-btn--theme-three-dark(href="#") Download Framework
            
      div.col-sm-6
        h2.h3 Learn More
        article
          figure
            img(src="/img/prototype/demo-med2.jpg")
          p For more information on food and nutrition on our campuses visit:
          ul
            li 
              a(href="#") UBC Food Services
            li 
              a(href="#") AMS Food and Drink
            li 
              a(href="#") Centre for Sustainable Food Systems at UBC Farm
          
      
          
section.non-clf.vert-padding-2-2.page-theme--unit-theme-three
  div.container
    h3 Examples and Research
    div.row
      div.col-sm-3
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-3
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-3
        != partial("_components/teasers/unit-teaser-w-image")
      div.col-sm-3
        != partial("_components/teasers/unit-teaser-w-image")
    p
      a.unit-btn.unit-btn--theme-three-dark(href="#") READ OTHER STORIES
      
!= partial("_components/_custom-content/unit-footer")
