main.non-clf.container
  div.row.vert-padding-3-3
    div.col-md-3
      != partial("_components/navigation/unit-subnav-collapsing")
      != partial("_components/navigation/unit-sidenav")
    div.col-sm-8.col-md-6
      h1.h5 CONTACT &amp; SUPPORT
      h2.h1 Embedding Wellbeing on our Campuses
      p.text--lead To be successful, wellbeing must be embedded across the institution, contributing to a cultural shift that makes UBC a better place to live, work and learn.
      hr
      p The UBC Wellbeing Steering Committee, made up of senior leadership from both campuses guides this collective action and coordination through a Strategic Support Team. This team of sta  from key supporting units works collaboratively with faculties and departments to integrate wellbeing into their practices, policies and unit cultures. These supporting units that are championing wellbeing include:
      ul
        li 
          a(href="#") Human Resources
        li 
          a(href="#") UBC Wellbeing
        li 
          a(href="#") Campus + Community Planning
        li 
          a(href="#") Student Wellbeing Promotions
        li 
          a(href="#") Athletics and Recreation
        li 
          a(href="#") Student Housing and Hospitality Services
        li 
          a(href="#") Equity and Inclusion
        li 
          a(href="#") UBC Sustainability Initiative
        li 
          a(href="#") VP Students  
      
      p At all levels, the conversation around wellbeing at UBC centers on exploring the question: <em>How can we as UBC campus communities better promote the health, wellbeing, and sustainability of our people and places?</em>
          
          
    div.col-sm-4.col-md-3
      figure
        img(src="img/prototype/demo-huge1.jpg" alt="" class="")
      div.supporting-content
        h3 Become a wellbeing champion!
        p We all have a role to play in shaping environments that support health and wellbeing. If you would like more information on opportunities to be a wellbeing champion, please let us know!
        h4 FACULTY, STAFF &amp; POSTDOCTORAL WELLBEING
        p Miranda Massie (UBC-V) <br />
          a(href="#") miranda.massie@ubc.ca 
        p Tracey Hawthorn (UBC-O) <br />
          a(href="#") tracey.hawthorn@ubc.ca
          
        h4 UNDERGRAD &amp; GRAD STUDENT WELLBEING
        p Patty Hambler <br />
          a(href="#") patty.hambler@ubc.ca
          
        h4 COMMUNITY MEMBER WELLBEING
        p Carole Jolly <br />
          a(href="#") carole.jolly@ubc.ca
          
        h4 STRATEGIC SUPPORT FOR WELLBEING
        p Matt Dolf <br />
          a(href="#") matt.dolf@ubc.ca

