!= partial("_components/featured/unit-featured-image--tools")
main.non-clf.unit-logo-texture--right.bg--light
  div.container
    div.row
      div.col-md-8.vert-padding-2-2.bg--unit-theme-none
        p.text--lead Some lead text irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        hr
        h3 Glossary
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h4 Glossary Term
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .
        h4 Glossary Term
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        h4 Glossary Term
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
        
      section.non-clf.vert-padding-2-0.col-md-4
        div.row
          div.text--center.vert-padding-0-2.col-md-12.col-xs-4
            figure.equalized_cta.zoomimage--duotone.unit-theme-one
              img(src="img/prototype/demo-med2.jpg")
              figcaption.duotone-boxes__title Communications
          div.text--center.vert-padding-0-2.col-md-12.col-xs-4
            figure.equalized_cta.zoomimage--duotone.unit-theme-two
              img(src="img/prototype/demo-med1.jpg")
              figcaption.duotone-boxes__title Teaching and Learning Support
          div.text--center.vert-padding-0-2.col-md-12.col-xs-4
            figure.equalized_cta.zoomimage--duotone.unit-theme-three
              img(src="img/prototype/demo-med2.jpg") 
              figcaption.duotone-boxes__title Workshops 

!= partial("_components/_custom-content/unit-footer--alt")
