!= partial("_components/featured/unit-featured-image--workshops")
main.non-clf.unit-logo-texture--right.bg--light.vert-padding-0-2
  div.container
    div.row
      div.col-md-8.vert-padding-2-2.bg--unit-theme-none
        p.text--lead Some inspirational messaging about workshops that will compel people to click on the workshop links.
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

section.non-clf.vert-padding-1-3
  div.container
    != partial("_components/forms/unit-form-workshops")     
    div.row.equalize
      for resource in public.resources._data
        div.col-sm-4.col-xs-6
          a.teaser(href="resource.html")
            article.teaser-resource
              h3.h4= resource.title
              p.teaser-workshop__time
                span.fa.fa-clock-o
                | &nbsp; #{resource.time}
              p.text--note= resource.tags
              p= resource.teaser
              p
                button.unit-btn--plain Workshop Details
