main.non-clf.vert-padding-3-3
  div.container
    div.row
      div.col-md-8
        h1 Understanding your employee and family assistance program
        hr
        p.text--lead Learn about free short&ndash;term councelling and work, health, life services available free to UBC staff, faculty and other dependants.
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p
          a.unit-btn.btn--lg(href="#") Join our waitlist
                  
        div.tags__container.clearfix
          p.tags__label.display--inline-block Topics:
          ul.tags.clearfix.display--inline-block
            li
              a.tag(href="#") staff
            li
              a.tag(href="#") faculty
            
        p
          a.unit-btn(href="events") View All Workshops
          
      div.col-sm-4
        div.supporting-content
          p.event__time 45mins
          h3.h6 Contact
          p To book this workshop, please do something and then contact:<br />
            a(href="#") joe.smith@ubc.ca 
      
!= partial("_components/_custom-content/unit-footer")
