// -------------------------
// Accordions
// -------------------------

/// Accordions
.accordion,
.accordion-formatted {
  @apply .mb-2;
}

.accordion__tab,
.accordion-tab {
  @apply .relative .py-4 .pl-4 .pr-12 .uppercase;
  transition: background-color .125s ease, color .125s ease;
  border: 1px solid $ubc-blue;
  background-color: $unit-grey-lighter-alt;
  cursor: pointer;
  overflow: hidden;
  color: $ubc-blue;
}

.accordion__tab:focus,
.accordion-tab:focus {
  outline: 0;
}

.accordion__tab::after,
.accordion-tab::after {
  @apply .absolute .p-4;
  top: 0;
  right: 1rem;
  height: 100%;
}

.accordion__tab span,
.accordion-tab span{
  color: $white;
}

.accordion__content,
.accordion-content {
  @apply .px-4 .py-6;
  border: 0;
  background-color: $white;
}

.accordion__content > :first-child,
.accordion-content > :first-child {
  margin-top: 0;
}

.accordion__content > :last-child,
.accordion-content > :last-child {
  margin-bottom: 0;
}

.accordion.accordion--closed .accordion__tab,
.accordion.accordion-closed .accordion-tab {
  background-color: $ubc-blue;
  color: $white;
}

.accordion.accordion--closed .accordion__tab:hover,
.accordion.accordion-closed .accordion-tab:hover {
  background-color: $unit-blue-dark;
  color: $white;
}

.accordion .accordion__tab::after,
.accordion .accordion-tab::after,
.tabcordion__heading.is-active::after {
  background-image: url('../img/svg/accordion-close.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
}

.accordion.accordion--closed .accordion__tab::after,
.accordion.accordion-closed .accordion-tab::after,
.tabcordion__heading::after {
  background-image: url('../img/svg/accordion-open.svg');
}

.js .accordion--closed .accordion__content,
.js .accordion-closed .accordion-content {
  display: none;
}
