// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
// BUTTONS
.unit-button {
  display: inline-block;
  padding-top: .5rem;
  padding-right: 2rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.5rem;
}

.unit-button--white {
  border: 1px solid $unit-grey;
  background-color: $white;
  color: $unit-grey;
}

.unit-button--white:hover {
  background-color: $unit-grey;
  text-decoration: none;
  color: $white;
}

.unit-button--grey {
  border: 1px solid $unit-grey;
  background-color: $unit-grey;
  color: $white;
}

.unit-button--grey:hover {
  background-color: darken($unit-grey, 10%);
  text-decoration: none;
  color: $white;
}

.unit-button--blue {
  border: 1px solid $unit-blue;
  background-color: $unit-blue;
  color: $white;
}

.unit-button--blue:hover {
  background-color: darken($unit-blue, 10%);
  text-decoration: none;
  color: $white;
}

.unit-button--green {
  border: 1px solid $unit-green;
  background-color: $unit-green;
  color: $white;
}

.unit-button--green:hover {
  border-color: darken($unit-green, 10%);
  background-color: darken($unit-green, 10%);
  text-decoration: none;
  color: $white;
}

.unit-button--transparent {
  border: 1px solid $white;
  color: $white;
}

.unit-button--transparent:hover {
  background-color: $button-tranparent-hover-bg-colour;
  text-decoration: none;
  color: $white;
}

.unit-button--alt {
  display: inline-block;
  padding: .5rem;
  line-height: 1rem;
}

.unit-button--block {
  display: block;
  width: 100%;
  text-align: center;
}

.unit-button--two-line {
  border-bottom: 2px solid darken($unit-blue, 30%);
  border-width: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: 400;
}

.unit-button--two-line span {
  display: block;
  text-align: center;
  line-height: 1;
  font-weight: 600;
}

.unit-button--two-line svg {
  top: 3px;
  transition: transform .125s ease;
  margin-top: -.5rem;
}

.unit-button--two-line:hover svg {
  transform: translateX(.125rem);
}
