// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------
// CARDS

.card--default {
  display: flex;
  flex-direction: column;
}

.card__image {
  border-top: 3px solid $ubc-blue;
  overflow: hidden;
}

.card__image img {
  display: block;
  transition: transform .3s ease-out;
}

.card--default:hover .card__image img {
  transform: scale(1.1);
}

.card__heading {
  @apply .m-0 .py-2 .px-4 .border-0 .text-white .bg-ubc-blue .relative .font-normal;
}

.card__heading:after {
  display: block;
  position: absolute;
  bottom: -.75rem;
  left: .75rem;
  border-top: .75rem solid $ubc-blue;
  border-right: .75rem solid transparent;
  border-left: .75rem solid transparent;
  width: 0;
  height: 0;
  content: '';
}

.card__content {
  flex-grow: 1;
  background-color: $unit-grey-lighter;
  padding: 1rem;
}

.card__content :first-child {
  margin-top: 1rem;
}

.card__footer {
  background-color: $unit-grey-lighter;
  padding: 1rem;
  text-align: right;
}

// Adjustments for when the whole card is a link
a.card--default,
a.card--default:hover {
  text-decoration: none !important;
}
a.card--default h3,
a.card--default:hover h3 {
  color: $white;
}

a.card--default p,
a.card--default:hover p {
  color: $text-color;
}

a.card--default:hover .card__footer .unit-button--blue {
  background-color: darken($unit-blue, 10%);
}
