// -----------------------------------------------------------------------------
// This file contains all styles related to the supporting component.
// -----------------------------------------------------------------------------
// Supporting

.supporting {
  margin-bottom: 1.5rem;
}

.supporting__content {
  @apply .text-sm;
  border-width: 0 1px 1px 1px;
  border-color: lighten($unit-grey-light, 20%);
  padding: 1rem;
}

.supporting__content > :first-child {
  margin-top: 0;
}

.supporting__content table a {
  text-decoration: underline;
  color: $ubc-blue;
}

.supporting__content table a:hover {
  color: $unit-grey;
}

.supporting__image {
  @apply .block;
}

.supporting__bg-image {
  @apply .block .absolute .h-full .w-full .pin-t .pin-l;
  z-index: -1;
  object-fit: cover;
  object-position: center top;
}

.supporting__list {
  @apply .list-reset .mb-0 .-mx-4;
}

.supporting__list li {
  @apply .p-4 .border-b .relative;
  border-color: lighten($unit-grey, 30%);
}

.supporting__list--alt {
  margin-top: -1rem !important;
  margin-bottom: -1rem;
}

.supporting__list--alt a {
  @apply .leading-tight;
  color: $unit-grey-darker;
}

.supporting__list--alt li {
  @apply .py-2 .flex;
}

.supporting__list--alt li:last-child {
  @apply .border-b-0;
}

.supporting__list--alt span:first-child {
  @apply .flex-grow .self-center .pr-4;
}

.supporting__list--alt span:last-child {
  @apply .flex-none .self-center .text-right .text-ubc-blue .font-semibold;
}

.supporting__list--top-align span:first-child,
.supporting__list--top-align span:last-child {
  @apply .self-auto;
}

.supporting__list svg {
  @apply .h-6 .w-6 .text-ubc-blue .absolute;
  top: calc(50% - .75rem);
  left: 1rem;
}

.supporting .form-item {
  margin-bottom: .75rem !important;
}
