// -----------------------------------------------------------------------------
// This file contains all styles related to the testimonial component.
// -----------------------------------------------------------------------------
// TESTIMONIALS
.testimonial {
  margin-bottom: 1.5rem;
}

.testimonial__image {
  display: block;
}

.testimonial__caption {
  @apply .text-white .top-1 .pin-x .text-left w-full .h-full .text-base;
}

.testimonial__caption-container {
  @apply .p-4 .ml-auto .w-full .relative .bg-unit-grey-darker;
}

.testimonial__title {
  @apply .text-lg .uppercase .text-white .leading-normal .mt-0;
}

.gradient-image-overlay {
  position: relative;
  margin-top: -6rem;
  background: $gradient-image-overlay-bottom;
  height: 6rem;
}

@media (min-width: $breakpoint--md) {

  .testimonial__caption {
    @apply .absolute .flex .justify-end;
  }

  .testimonial__caption-container {
    @apply .max-w-sm .self-center .bg-transparent;
  }

  .gradient-image-overlay {
    position: absolute;
    margin-top: 0;
    background: $gradient-image-overlay-right;
    width: 70%;
    height: 100%;
  }
}

@media (min-width: $breakpoint--xl) {

  .testimonial__caption-container {
    @apply .max-w-md;
  }
}
