/* LINK LISTS
-------------------------------------------------- */

/* 

  CUSTOM STYLES 
  --------------------------------------------------
  
 
          
  SAMPLE MARKUP:
  --------------------------------------------------
  
    <div class="link-list link-list__two-column">
      <div class="row">
        <div class="col-xs-6">
          <div class="link-list--content">
            <h3>Popular Services</h3>
            <ul>
              <li><a href="#">Adobe Acrobat Pro DC</a></li>
              <li><a href="#">Adobe Create Cloud Suite</a></li>
              <li><a href="#">Microsoft Office</a></li>
              <li><a href="#">Microsoft Office 365</a></li>
              <li><a href="#">Microsoft Vista</a></li>
              <li><a href="#">Microsoft Windows 10</a></li>
              <li><a href="#">Sophos</a></li>
              <li><a href="#">Microsoft Office 365</a></li>
              <li><a href="#">Microsoft Vista</a></li>
              <li><a href="#">Microsoft Windows 10</a></li>
              <li><a href="#">Sophos</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="link-list--content">
            <h3>I want to …</h3>
            <table class="link-list--table">
              <tbody>
                <tr>
                  <td>Jun 20</td>
                  <td> <a href="#">ANSYS Training</a></td>
                  <td>Vendor</td></tr>
                <tr>
                  <td>Jul 30</td>
                  <td><a href="#">Privacy Matters Info Session</a></td>
                  <td>UBCIT</td></tr>
                <tr>
                  <td>Aug 1</td>
                  <td><a href="#">Solidworks Training for Students</a></td>
                  <td>EUS</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  
  VARIABLES:
  --------------------------------------------------
  

*/


.link-list {
  text-transform: none;
  ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
  }
  li > a {
    display: block;
    padding: 8px 4px;
    border-bottom: 1px solid @unit-accent-light;
    border-top: 1px solid @unit-accent-light;
    margin-top: -1px;
  }
}
.link-list__two-column li {
  width: 50%;
  float: left;
}
.link-list--table {
  margin-bottom: 0;
  width: 100%;
  font-size: 1em;
  tr {
    border-bottom: 1px solid @unit-accent-light;
    border-top: 1px solid @unit-accent-light;
    margin-top: -1px;
    &:nth-of-type(even),
    &:hover {
      background-color: inherit;
    }
  }
  td {
    padding: 9px 5px;
    &:first-child {
      min-width: 4em;
    }
    &:last-child {
      text-align: right;
    }
  }
}
@media screen and (max-width: @screen-xs-max) {
  .link-list__two-column li {
    width: 100%;
    float: none;
  }
}