div.link-list
  div.link-list--content
    h3 Upcoming Events
    table.link-list--table
      tbody
        tr
          td Jun 20
          td 
            a(href="#") ANSYS Training
          td Vendor
        tr
          td Jul 30
          td
            a(href="#") Privacy Matters Info Session
          td UBCIT
        tr
          td Aug 1
          td
            a(href="#") Solidworks Training for Students
          td EUS
    p.text-right
        a.btn.btn-plain.btn-sm(href="#") More Events
          
  