div.link-list
  div.link-list--content
    h3 Recent News
    ul.clearfix
      li
        a(href="#") SASI RFP Shortlisted Vendors
      li
        a(href="#") New Research Data Management Guidelines
      li
        a(href="#") Security Alert - Wordpress
    p.text-right
      a.btn.btn-plain.btn-sm(href="#") More News