div.footer-helpdesk
  h3 IT@APSC Help Desk
  p IT@APSC supports most of the information technology services in the Faculty. Want more information about how we can help? Then visit our <a href="#">What We Support</a> section.
  div.row.footer-helpdesk--row
    div.col-sm-2
      strong Web Form:
    div.col-sm-4
      p
        a(href="#") APSC IT HelpForm (recommended)
        br 
        | ECE user can also email <a href="mailto:IT@ece.ubc.ca">IT@ece.ubc.ca</a>
    
    div.col-sm-2
      strong Self Service
    div.col-sm-4
      p
        a(href="#") Self Service Portal (Staff & Faculty only)
        br
        | ServiceNow Portal Login
  
  div.row.footer-helpdesk--row
    div.col-sm-2
      strong Phone:
    div.col-sm-10
      a(href="#") UBCIT Helpdesk
      div.row
        div.col-sm-4
          p UBCIT@APSC
            br
            | 604-827-5151
            br
            | M-F 8:30 am - 4:30 pm
        
        div.col-sm-4
          p UBCIT Service Centre
            br
            | 604-827-4357
            br
            | M-F 8:00 am - 5:00 pm
          
  div.row.footer-helpdesk--row
    div.col-sm-2
      strong Walk-in:
    div.col-sm-10
      a(href="#") General Hours from M-F 8:30 am – 4:30 pm (Vancouver Campus) 
      div.row
        div.col-sm-4
          p APSC
            br
            | CEME1057
            br
            | Address Information
        
        div.col-sm-4
          p ECE
            br
            | MCLD105
            br
            | Address Information
        div.col-sm-4
          p NURSING
            br
            | Koerner Pavilion Rm
            br
            | Address Information
           
        
        