section.non-clf.vert-padding-2-2.expand
  div.container
    div.row
      div.col-sm-3.col-sm-offset-2.col-xs-6.col-xs-offset-3
        object(type="image/svg+xml" data="img/wellbeing-logo.svg")
      div.col-sm-5.vert-padding-3-2.col-xs-10.col-xs-offset-1
        p We all have a hand in shaping campus environments that support health and wellbeing. By championing wellbeing for all of our communities, together we can create happier, healthier, more sustainable communities at UBC and beyond.
