/* CALLOUTS
-------------------------------------------------- */

/*

  SAMPLE MARKUP:
  --------------------------------------------------
  
<section class="bg-light-blue non-clf screened">
  <div class="screen-top from-white"><div class="triangle-up-left"></div></div>
  <div class="screen-bottom to-white"><div class="triangle-down-right"></div></div>
  <article class="container color-space-padding callout">
   <div class="inner-content">
     <h3>This is the title of a callout</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
     <p><a href="#" class="btn btn-unit">Read More</a></p>
   </div>
  </article>
</section>
  
  
  CUSTOM CALLOUT CLASSES:
  --------------------------------------------------
  .from-white
  .from-medium-blue
  .from-dark-blue
  .from-light-blue
  .to-white
  .to-medium-blue
  .to-dark-blue
  .to-light-blue
  .bg-dark-blue
  .bg-light-blue
  .bg-medium-blue
  
  VARIABLES:
  --------------------------------------------------
  
  
  
*/
  
.bg-dark-blue .callout,
.bg-medium-blue .callout {
  color: white;
  h2, h3, h4, h5, h6, p {
    color: white;
  }
}
.callout .inner-content > :last-child {
  margin-bottom: 0;
  padding-bottom: 1px;
}
  
