/** @define custom.theme */

/*
* This file contains all styles related to the custom theme.
*/

/* text and links on coloured backgrounds */
.bg-dark,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark a:not(.unit-button),
.bg-dark.text-white a:hover:not(.unit-button),
.ubc-card.bg-dark,
.widget-card.bg-unit-primary,
.widget-color-box.bg-unit-primary,
.widget-color-box.bg-ubc-blue,
.widget-color-box.bg-ubc-blue-sea,
.widget-color-box.bg-ubc-blue-cobalt {
  color: #fff;
}

.bg-dark a:not(.unit-button),
.ubc-card.bg-dark a:not(.unit-button),
.widget-card.bg-unit-primary a:not(.unit-button),
.widget-color-box.bg-unit-primary a:not(.unit-button),
.widget-color-box.bg-ubc-blue a:not(.unit-button),
.widget-color-box.bg-ubc-blue-sea a:not(.unit-button),
.widget-color-box.bg-ubc-blue-cobalt a:not(.unit-button)  {
  @apply text-ubc-blue-polar;
}

.bg-dark a:not(.unit-button):hover,
.ubc-card.bg-dark a:not(.unit-button):hover,
.widget-card.bg-unit-primary a:not(.unit-button):hover,
.widget-color-box.bg-unit-primary a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-sea a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-cobalt a:not(.unit-button):hover {
  @apply text-ubc-blue-cornflower;
}

.bg-dark .unit-button--light,
.ubc-card.bg-dark .unit-button--light,
.widget-card.bg-unit-primary .unit-button--light,
.widget-color-box.bg-unit-primary .unit-button--light,
.widget-color-box.bg-ubc-blue .unit-button--light,
.widget-color-box.bg-ubc-blue-sea .unit-button--light,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--light {
  @apply text-ubc-blue-cobalt;
}

.bg-dark .unit-button--dark,
.ubc-card.bg-dark .unit-button--dark,
.widget-card.bg-unit-primary .unit-button--dark,
.widget-color-box.bg-unit-primary .unit-button--dark,
.widget-color-box.bg-ubc-blue .unit-button--dark,
.widget-color-box.bg-ubc-blue-sea .unit-button--dark,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--dark {
  @apply border-ubc-blue-polar;
}

.bg-dark .unit-button--simple,
.bg-dark .unit-button--simple:hover,
.bg-dark.group:hover .unit-button--simple,
.ubc-card.bg-dark .unit-button--simple,
.ubc-card.bg-dark .unit-button--simple:hover,
.ubc-card.bg-dark.group:hover .unit-button--simple,
.widget-card.bg-unit-primary .unit-button--simple,
.widget-card.bg-unit-primary .unit-button--simple:hover,
.widget-card.bg-unit-primary.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue .unit-button--simple,
.widget-card.bg-ubc-blue .unit-button--simple:hover,
.widget-card.bg-ubc-blue.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue-sea .unit-button--simple,
.widget-card.bg-ubc-blue-sea .unit-button--simple:hover,
.widget-card.bg-ubc-blue-sea.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple:hover,
.widget-card.bg-ubc-blue-cobalt.group:hover .unit-button--simple,
.widget-color-box.bg-unit-primary .unit-button--simple,
.widget-color-box.bg-unit-primary .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue .unit-button--simple,
.widget-color-box.bg-ubc-blue .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple:hover {
  color: #fff;
}

.bg-dark .unit-button--simple::after,
.bg-dark .unit-button--simple:hover::after,
.bg-dark.group:hover .unit-button--simple::after,
.ubc-card.bg-dark .unit-button--simple::after,
.ubc-card.bg-dark .unit-button--simple:hover::after,
.ubc-card.bg-dark.group:hover .unit-button--simple::after,
.widget-card.bg-unit-primary .unit-button--simple::after,
.widget-card.bg-unit-primary .unit-button--simple:hover::after,
.widget-card.bg-unit-primary.group:hover .unit-button--simple::after,
.widget-card.bg-ubc-blue .unit-button--simple::after,
.widget-card.bg-ubc-blue .unit-button--simple:hover::after,
.widget-card.bg-ubc-blue.group:hover .unit-button--simple::after,
.widget-card.bg-ubc-blue-sea .unit-button--simple::after,
.widget-card.bg-ubc-blue-sea .unit-button--simple:hover::after,
.widget-card.bg-ubc-blue-sea.group:hover .unit-button--simple::after,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple::after,
.widget-card.bg-ubc-blue-sea-cobalt .unit-button--simple:hover::after,
.widget-card.bg-ubc-blue-sea-cobalt.group:hover .unit-button--simple::after,
.widget-color-box.bg-unit-primary .unit-button--simple::after,
.widget-color-box.bg-unit-primary .unit-button--simple:hover::after,
.widget-color-box.bg-ubc-blue .unit-button--simple::after,
.widget-color-box.bg-ubc-blue .unit-button--simple:hover::after,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple::after,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple:hover::after,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple::after,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple:hover::after {
  background-image: url(../img/svg/icon-caret--white.svg);
}

/* light cards */
.ubc-card.bg-light,
.ubc-card.bg-light a:hover:not(.unit-button) {
  color: var(--text-color);
}

.ubc-card.bg-light a:not(.unit-button)  {
  color: var(--default-color-link);
}

.ubc-card.bg-light a:not(.unit-button):hover {
  color: var(--default-color-link-hover);
}

.ubc-card.bg-light .unit-button--light {
  @apply text-black;
}

.ubc-card.bg-light .unit-button--dark {
  @apply border-white;
}

.ubc-card.bg-light .unit-button--simple {
  color: var(--default-color-link);
}

.ubc-card.bg-light .unit-button--simple:hover,
.ubc-card.bg-light.group:hover .unit-button--simple {
  color: var(--default-color-link-hover);
}

.ubc-card.bg-light .unit-button--simple::after,
.ubc-card.bg-light .unit-button--simple:hover::after,
.ubc-card.bg-light.group:hover .unit-button--simple::after {
  background-image: url(../img/svg/icon-caret--ubc-blue.svg);
}


.keyline-bottom::after {
  @apply absolute block bg-white h-[1px] w-[40%] left-[30%] bottom-[-5px] opacity-50;
  content: '';
}
