/** @define Drupal Theme */

/*
* This file contains all styles used to modify Drupal makrup to match the theme.
*/

/* drupal media */
figure.align-center,
figure.align-left,
figure.align-right,
figure.img-and-caption {
	display: table;
}

figure.align-center figcaption,
figure.align-left figcaption,
figure.align-right figcaption,
figure.img-and-caption figcaption {
	display: table-caption;
	caption-side: bottom;
}

.media--type-image {
	margin-top: calc(var(--leading) * var(--base-font-size));
}

figure .media--type-image img {
	width: 100%;
}

.align-left.media--type-image,
figure.align-left {
	float: left;
	margin-right: calc(var(--leading) * var(--base-font-size));
	margin-bottom: calc(var(--leading) * var(--base-font-size));
}

.align-right.media--type-image,
figure.align-right {
	float: right;
	margin-bottom: calc(var(--leading) * var(--base-font-size));
	margin-left: calc(var(--leading) * var(--base-font-size));
}

.align-left.media--type-image,
.align-right.media--type-image {
	display: inline-block;
}

.align-center.media--type-image img,
figure.align-center {
	margin-right: auto;
	margin-left: auto;
}

figure.align-center > article,
figure.align-center > div {
	display: block;
	max-width: 100%;
}




/* paragraphs */
.paragraph--type--text__inner > :first-child,
.paragraph--type--text > div > div > :first-child {
	@apply mt-0;
}

.paragraph.bg-ubc-blue {
	color: #fff;
}

.paragraph.bg-ubc-blue a {
	color: $ubc-blue-polar;
}

.paragraph.bg-ubc-blue a:hover {
	color: $ubc-blue-cornflower;
}

.paragraph.bg-ubc-blue .unit-button--light {
	color: $ubc-blue-cobalt;
}

.paragraph.bg-ubc-blue .unit-button--dark {
	border-color: $ubc-blue-polar;
}

.paragraph.bg-ubc-blue .unit-button--light:hover,
.paragraph.bg-ubc-blue .unit-button--dark:hover {
	color: #fff;
}

.paragraph.bg-ubc-blue .unit-button--simple::after {
	content: url('../img/svg/icon-arrow--polar.svg');
}

.paragraph.bg-ubc-blue .unit-button--simple:hover::after {
	content: url('../img/svg/icon-arrow--cornflower.svg');
}

/* views pager */

/* Pager */
.bg-caret--blue,
.pager__item--next a,
.pager__item--previous a {
	overflow: hidden;
	text-indent: -200em;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23002145' d='M65.67 36.36L34.32 5 20.68 18.64 52 50 20.68 81.35 34.32 95l45-45z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 1em 1em;
}

.pager__item--previous a {
	transform: rotate(180deg);
}

.bg-caret--white,
.pager__item--next a:hover,
.pager__item--previous a:hover {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23fff' d='M65.67 36.36L34.32 5 20.68 18.64 52 50 20.68 81.35 34.32 95l45-45z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 1em 1em;
}

/* node unpublished styles */
.node--unpublished .unpublished {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 0;
	overflow: visible;
	color: #d8d8d8;
	font-weight: bold;
	font-size: 5em;
	font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	word-wrap: break-word;
}

/* jquery datepicker */
.ui-datepicker {
	font-size: 75%;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	color: #fff;
	background: $ubc-blue-cobalt;
	border: 1px solid $ubc-blue;
}

/* webform */
.webform-submission-form legend {
	padding-bottom: 0;
	font-size: .875em;
	border-bottom: none;
	border-bottom: .25rem solid $ubc-blue-neptune;
}

.webform-submission-form .fieldset-legend.form-required {
	color: inherit;
	font-weight: inherit;
}

.webform-submission-form .fieldset-legend.form-required::after {
	color: $input-required-color;
	font-weight: 600;
	content: ' *';
}

.webform-type-checkboxes > legend {
	@apply text-ubc-blue;
	text-transform: none;
	border-bottom: none;
}

.webform-submission-form .form-actions {
	margin-top: 3rem;
}

fieldset.webform-type-checkboxes,
fieldset.webform-type-radios {
	box-shadow: none;
}

.webform-submission-form .fieldset-wrapper {
	padding: 2rem;
}

fieldset fieldset {
	margin-top: 3rem !important;
	margin-bottom: 0 !important;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	box-shadow: none;
}

fieldset fieldset legend {
	text-transform: none;
	border-bottom-width: .125rem;
}

.webform-submission-form .webform-type-radios .fieldset-wrapper,
.webform-submission-form .webform-type-checkboxes .fieldset-wrapper {
	padding: 0;
}

.webform-submission-form .fieldset-wrapper .form-item.form-radio,
.webform-submission-form .fieldset-wrapper .form-item.form-checkbox {
	margin-top: 0;
}

.webform-submission-form .webform-type-radios > legend,
.webform-submission-form .webform-type-checkboxes > legend {
	border-bottom: none;
}

.text-count-message,
.description {
	@apply text-sm text-grey-700;
}

@media (min-width: 400px) {
	.webform-options-display-two-columns,
	.webform-options-display-three-columns {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0;
		-moz-column-count: initial;
		-webkit-column-count: initial;
		column-count: initial;
	}
	.webform-options-display-two-columns div.form-item {
		width: 50%;
	}
	.webform-options-display-three-columns div.form-item {
		width: calc(100% / 3);
	}

}

/* misc */
.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

/* jquery date picker picks up default table styles */
.ui-datepicker-calendar thead,
.ui-datepicker-calendar tr {
	@apply border-0;
}

.ui-datepicker-calendar th {
	@apply normal-case text-grey-900;
}

/* quickedit divs (gah!) */
[data-quickedit-field-id] {
	display: inline;
}

/* Drupal inline images */
.node__content .field--name-field-media-image img {
	margin-top: calc(var(--leading) * 1rem);
}

/* Drupal messages */
.message p:first-of-type {
	margin-top: 0;
}
.message p {
	margin-top: .75rem;
}
