div#ubc7-global-menu.collapse.expand
  div#ubc7-search.expand
    div#ubc7-search-box
      form.form-search(method="get" action="https://www.ubc.ca/search/refine/" role="search")
        input.input-xlarge.search-query(type="text" name="q" placeholder="Search #{ unitname }")
        input(type="hidden" name="label" value="Search UBC")
        input(type="hidden" name="site" value="*.ubc.ca")
        button.btn(type="submit") Search
  
  div#ubc7-global-header.expand

header#ubc7-header.row-fluid.expand(role="banner")
  div.span1
    div#ubc7-logo
      a(href="http://www.ubc.ca") The University of British Columbia
  div#ubc7-wordmark-block.span9
    div#ubc7-wordmark
      a(href="https://www.ubc.ca") The University of British Columbia
      if showcampus
        case campus
          when "Vancouver Campus"
            span#ubc7-vancouver-campus.ubc7-campus= campus
          when "Okanagan Campus"
            span#ubc7-okanagan-campus.ubc7-campus= campus
    div#ubc7-global-utility
      button(type="button" data-toggle="collapse" data-target="#ubc7-global-menu")
        span UBC Search
      noscript
        a#ubc7-global-utility-no-script(href="http://www.ubc.ca/") UBC Search

div#ubc7-unit.row-fluid.expand
  div.span12
    div.navbar
      a.btn.btn-navbar(data-toggle="collapse" data-target="#ubc7-unit-navigation")
        span.icon-bar
        span.icon-bar
        span.icon-bar 