div#ubc7-search-box
  form.form-search(method="get" action="https://www.ubc.ca/search/refine/" role="search")
    input.input-xlarge.search-query(type="text" name="q" placeholder="Search #{ unitname }")
    input(type="hidden" name="label" value="Search UBC")
    input(type="hidden" name="site" value="*.ubc.ca")
    button.btn(type="submit") Search
