if iesupport
  <!-- [if lte IE 9]>
  <html lang="en" class="no-js oldie">
  <![endif] -->
  <!-- [if gt IE 9]><!-->
  <html lang="en" class="no-js">
  <!--<![endif]-->
else
  <html lang="en" class="no-js">