section#sidebar-quicklinks.sidebar(data-navigation-handle=".navhandle-quicklinks" data-navigation-content="#wrapper")
  h4.handle.navhandle-quicklinks CLOSE
  
  h3 Quicklinks
  nav
    ul.nav.quicklinks
      li
        a(href="#") Forms
      li
        a(href="#") Policies
      li
        a(href="#") Announcements
      li
        a(href="#") FAQ
      li
        a(href="#") Number Generators
      li
        a(href="#") Contact Us
