script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="https://cdn.ubc.ca/clf/7.0.4/js/ubc-clf.min.js")
script(src="js/min/unit-custom-min.js")
script(src="js/libs/formstone/core.js")
script(src="js/libs/formstone/mediaquery.js")
if slideinprimarynav
  script(src="js/libs/formstone/navigation.js")
script(src="js/libs/formstone/equalize.js")
script(src="js/libs/formstone/swap.js")
script(src="js/libs/formstone/checkbox.js")
script(src="js/libs/formstone/dropdown.js")
script(src="js/libs/bootstrap/alert.js")
//script(src="js/libs/flexslider/jquery.flexslider-min.js")
//script(src="js/libs/wow/wow.min.js")
if iesupport
  <!--[if lte IE 9]>
  script(src="js/libs/ie9support/matchMedia-ie9.js")
  <![endif]-->
if slideinprimarynav
  script(type='text/javascript').
    $(".sidebar").navigation({'type':'push','gravity':'right','maxWidth':'10000px'});
    //new WOW().init();
  
