div.navbar-inner.expand
  div.container
    div#ubc7-unit-navigation.nav-collapse.collapse
      h2.element-invisible Main menu    
      ul#main-menu.nav
        li.active
          a.active(href="home.html") Home
        
        li.dropdown
          div.btn-group
            a.btn(href="landing.html") Landing Page
            button.btn.dropdown-toggle(data-toggle="dropdown")
              span.ubc7-arrow.blue.down-arrow
            ul.dropdown-menu
              li
                a(href="#") Subnav item
              li
                a(href="#") etc &hellip;
                  
        li
          a(href="page.html") Basic Page
            
                  
        li.dropdown
          div.btn-group
            a.btn(href="events.html") Events
            button.btn.dropdown-toggle(data-toggle="dropdown")
              span.ubc7-arrow.blue.down-arrow
            ul.dropdown-menu
              li
                a(href="#") Subnav item
              li
                a(href="#") etc &hellip;
    
        li.dropdown
          div.btn-group
            a.btn(href="announcements.html") Announcements
            button.btn.dropdown-toggle(data-toggle="dropdown")
              span.ubc7-arrow.blue.down-arrow
            ul.dropdown-menu
              li
                a(href="#") Subnav item
              li
                a(href="#") etc &hellip; 
                  
        li.dropdown
          div.btn-group
            a.btn(href="resources.html") Resources
            button.btn.dropdown-toggle(data-toggle="dropdown")
              span.ubc7-arrow.blue.down-arrow
            ul.dropdown-menu
              li
                a(href="#") Subnav item
              li
                a(href="#") etc &hellip;
        li
          a(href="contact.html") Contact &amp; Support
            
