div.navbar-inner.expand
  div.container
    div#ubc7-unit-navigation.nav-collapse.collapse
      h2.element-invisible Main menu    
      ul#main-menu.nav
        li.active
          a.active(href="home.html") Home
        
        li.dropdown
          div.btn-group
            a.btn(href="pillars.html") Wellbeing Priorities
            button.btn.dropdown-toggle(data-toggle="dropdown")
              span.ubc7-arrow.blue.down-arrow
            ul.dropdown-menu
              li
                a(href="#") Subnav item
              li
                a(href="#") etc &hellip;
                  
        li
          a(href="in-action.html") In Action
            
                  
        li.dropdown
          div.btn-group
            a.btn(href="events.html") Events
            button.btn.dropdown-toggle(data-toggle="dropdown")
              span.ubc7-arrow.blue.down-arrow
            ul.dropdown-menu
              li
                a(href="#") Subnav item
              li
                a(href="#") etc &hellip;
    
        li.dropdown
          div.btn-group
            a.btn(href="#") Tools
            button.btn.dropdown-toggle(data-toggle="dropdown")
              span.ubc7-arrow.blue.down-arrow
            ul.dropdown-menu
              li
                a(href="workshops.html") Workshops
              li
                a(href="#") etc &hellip; 
                  
        li.dropdown
          div.btn-group
            a.btn(href="#") Okanagan Charter
            button.btn.dropdown-toggle(data-toggle="dropdown")
              span.ubc7-arrow.blue.down-arrow
            ul.dropdown-menu
              li
                a(href="#") Subnav item
              li
                a(href="#") etc &hellip;
        li
          a(href="contact.html") Contact & Support
            
