div.navbar-inner.expand
  div#ubc7-unit-navigation.nav-collapse.collapse
    ul.nav
      li
        a(href="/") Home
      li
        a(href="#") First Link
      li
        a(href="#") Second Link
      li
        a(href="#") Third Link
      li.dropdown
        div.btn-group
          a.btn(href="http://www.ubc.ca/") Dropdown
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.ubc7-arrow.blue.down-arrow
          ul.dropdown-menu
            li
              a(href="#") Action
            li
              a(href="#") Another action
            li
              a(href="#") Something else
            li.nav-header Navigation header
            li
              a(href="#") Separated link
            li
              a(href="#") One more separated link
