div.navbar-inner.expand
  div.unit-navigation-header
    a.collapsed(data-toggle="collapse" data-target="#unit-navigation" aria-expanded="false") Centre for Business Law 
      span
  div#unit-navigation.nav-collapse.collapse
    ul.nav
      li.dropdown.active-trail
        div.btn-group
          a.btn(href="#") What We Do
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.ubc7-arrow.blue.down-arrow
          ul.dropdown-menu
            li
              a(href="#") Subnav item
            li
              a(href="#") etc &hellip;
      
      li.dropdown
        div.btn-group
          a.btn(href="#") Who We Are
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.ubc7-arrow.blue.down-arrow
          ul.dropdown-menu
            li
              a(href="#") Subnav item
            li
              a(href="#") etc &hellip;
                
      li
        div.btn-group
          a.btn(href="#") Support the Centre
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.ubc7-arrow.blue.down-arrow
          ul.dropdown-menu
            li
              a(href="#") Subnav item
            li
              a(href="#") etc &hellip;
                
      li.dropdown
        div.btn-group
          a.btn(href="#") Event Calendar
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.ubc7-arrow.blue.down-arrow
          ul.dropdown-menu
            li
              a(href="#") Subnav item
            li
              a(href="#") etc &hellip;
  
      li
        div.btn-group
          a.btn(href="#") News &amp; Announcements
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.ubc7-arrow.blue.down-arrow
          ul.dropdown-menu
            li
              a(href="#") Subnav item
            li
              a(href="#") etc &hellip;
      li
        div.btn-group
          a.btn(href="#") Contact Us
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.ubc7-arrow.blue.down-arrow
          ul.dropdown-menu
            li
              a(href="#") Subnav item
            li
              a(href="#") etc &hellip;
        