// import base styles
@import "_cards.less";

.card__header {
  border-bottom: 1px solid @unit-light-grey;
  padding-bottom: .5em;
  margin-bottom: .75em;
  padding-top: 1.5em;
}
.card__footer {
  border-top: 1px solid @unit-light-grey;
  padding-top: .5em;
  margin-top: .75em;
  font-size: .875em;
  padding-bottom: 1.5em;
}
.card__header,
.card-event__content,
.card__footer {
  > :last-child {
    margin-bottom: 0;
  }
} 

.card--xs-text-left img,
.card--xs-text-right img {
  max-width: 33.33333%;
}
@media screen and (min-width: @screen-sm-min) {
  .card--xs-text-left img,
  .card--xs-text-right img,
  .card--xs-text-right .card-profile__image-area img,
  .card--xs-text-left .card-profile__image-area img {
    max-width: 150px;
  }
  .card--xs-text-left .card__content,
  .card--xs-text-right .card__content,
  .card--xs-text-right .card-profile__content,
  .card--xs-text-left .card-profile__content {
    float: none;
    margin-left: 175px;
  }
  .card--xs-text-left, 
  .card--xs-text-right {
    margin-bottom: 0;
  }
}
.card-profile__email {
  margin-right: 3em;
}
@media screen and (max-width: @screen-sm-max) {
  .card-profile__email {
    display: block;
    margin-right: 0;
    a {
      display: inline;
    }
  }
}
.card-event {
  border-top: 1px solid @unit-light-grey;
  border-bottom: 1px solid @unit-light-grey;
  margin-top: -1px;
  padding: 0 1.5em;
  &:nth-child(2n+1) {
    background-color: @unit-lightest-grey;
  }
}
.card-event__title {
  color: @unit-secondary !important;
  font-size: 1.25em !important;
  line-height: 1em !important;
  margin-top: 0;
  a {
    text-decoration: none;
    color: @unit-secondary !important;
    &:hover {
      color: @unit-primary !important;
    }
  }
}
.card-event__header p {
  font-size: .875em;
}

.card-event__date,
.card-event__location {
  color: @unit-accent;
}
.card-event__date {
  margin-right: 1em;
  &:after {
    content: '|';
    padding-left: 1em;
  }
}
.card-event__alt-registration {
  display: inline-block;
  padding-left: 3em;
}
// CTA CARDS
.card-cta {
  background-color: @unit-primary-light;
  border-left: 1em solid @unit-primary-lighter;
  border-top: 1em solid @unit-primary-lighter;
  padding: 1em;
  margin-bottom: 1.5em;
}
.card-cta h3 {
  margin-top: 0;
  margin-bottom: .25em;
  font-size: 1.25em !important;
  color: ubc-blue;
  > a {
    text-decoration: none;
  }
}
.card-cta__footer {
  text-align: right;
  padding-top: 1em;
  p {
    margin-bottom: 0;
  }
}