article.card.card-cta
  div.card-cta__content
    h3.card-cta__title 
      a(href='#') Some Title
    p A description of the event that has about three lines of detail and is truncated.
  div.card-cta__footer
    p
      a.btn.btn-unit.btn-unit-alt.btn-xs(href="#") more      