article.card.card--sm-text-right.clearfix
  div.card__image-area
    img(src="img/prototype/demo-huge1.jpg" alt="" class="")
  div.card__content
    h2.card__title Multiline Formal Space Under Construction
    p Do you need <strong>free</strong> Microsoft applications such as Visual Studio, Microsoft Windows 10, Visio or free Azure credits? All faculty and registered students in Applied Science are able to access Dreamspark to get these and other Microsoft applications at no charge.
    p
      a.btn.btn-unit.btn-sm(href="#") Learn More
          
      