article.card.card--xs-text-right.clearfix
  div.card__image-area.card__image-area--screened.card__image-area--rounded
    img(src="img/prototype/demo-normal1.jpg" alt="" class="")
    h3.card__title--overimage Multiline Formal Space Under Construction
    div.card__subtitle--overimage Renovation, In Progress
  div.card__content
    p 
      | Do you need <strong>free</strong> Microsoft applications such as Visual Studio, Microsoft Windows 10, Visio or free Azure credits? All faculty and registered students in Applied Science are able to access Dreamspark to get these and other Microsoft applications at no charge.
    p
      a.btn.btn-unit.btn-sm(href="#") Learn More
          
      