article.card.card-profile.card--xs-text-right.clearfix
  div.card__image-area.card-profile__image-area
    img.img--circle-grey(src="img/prototype/demo-tinyer1.jpg" alt="")
  div.card__content.card-profile__content
    h2.card-profile__title Firstname Lastname
    h3.card-profile__subtitle Position Goes Here <br />Second Line of text
    
    p
      span.card-profile__email 
        strong Email: 
        a.card-profile__email(href="#") Firstname.Lastname@ubc.ca
      strong Telephone:  
      | 604.222.2222
    p
      strong Research Interests:
      | <br />International Environmental Law<br />
      | Biodiversity Law<br />
      | Law and Sustainability
      