article.card.card-event.clearfix
  div.card__header.card-event__header
    h2.card-event__title 
      a(href='#') Event Title
    p
      span.card-event__date September 15, 2016
      span.card-event__location Vancouver, BC
  div.card__content.card-event__content
    p A description of the event that has about three lines of detail and is truncated, followed by elipsis. A description of the event that has about three lines of detail and is truncated, followed by ellipsis. A description of the event that has about three lines of detail and is truncated, followed by elipsis. A description of the event that has about &hellip;
  div.card__footer
    p
      a.btn.btn-plain(href="#") register
      span.card-event__alt-registration Alternatively, you can register 
        a(href="#") by email
      