table
  thead
    tr
      th Table heading
      th Table heading
      th Table heading
      th Table heading
      th Table heading
      th Table heading
  tbody
    tr
      td Table cell
      td Table cell
      td Table cell
      td Table cell
      td Table cell
      td Table cell
    tr
      td Table cell
      td Table cell
      td Table cell
      td Table cell
      td Table cell
      td Table cell
    tr
      td Table cell
      td Table cell
      td Table cell
      td Table cell
      td Table cell
      td Table cell