table
  thead
    tr
      th Name
      th Vendor
      th Eligibility
      th Category
      th Cost
      th 
  tbody
    tr
      td Acrobat Pro DC
      td Adobe
      td Staff, Faculty
      td Office Applications
      td $240/year
      td 
        a.icon.icon-plus(href="#acrobat" aria-expanded="false" role="tab" data-toggle="collapse")
    tr
      td ANSYS (Suite)
      td ANSYS
      td Faculty
      td 3D & CAD
      td $50
      td 
        a.icon.icon-plus(href="#ansys" aria-expanded="false" role="tab" data-toggle="collapse")
    tr
      td ArcGIS
      td ArcGIS
      td Staff, Faculty, Students
      td 3D & CAD
      td 
      td 
        a.icon.icon-plus(href="#arcgis" aria-expanded="false" role="tab" data-toggle="collapse") 

<!--        
div.table-styled
  div.thead-styled
    div.tr-styled.row
      div.th-styled Name
      div.th-styled Vendor
      div.th-styled Eligibility
      div.th-styled Category
      div.th-styled Cost
      div.th-styled 
  div.tbody-styled
    div.tr-styled.row
      div.td-styled Acrobat Pro DC
      div.td-styled Adobe
      div.td-styled Staff, Faculty
      div.td-styled Office Applications
      div.td-styled $240/year
      div.td-styled 
        a.icon.icon-plus(href="#acrobat" aria-expanded="false" role="tab" data-toggle="collapse")
      div#acrobat.catalog-details Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
    div.tr-styled.row
      div.td-styled ANSYS (Suite)
      div.td-styled ANSYS
      div.td-styled Faculty
      div.td-styled 3D & CAD
      div.td-styled $50
      div.td-styled 
        a.icon.icon-plus(href="#ansys" aria-expanded="false" role="tab" data-toggle="collapse")
      div#ansys.catalog-details Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    div.tr-styled.row
      div.td-styled ArcGIS
      div.td-styled ArcGIS
      div.td-styled Staff, Faculty, Students
      div.td-styled 3D & CAD
      div.td-styled 
      div.td-styled 
        a.icon.icon-plus(href="#arcgis" aria-expanded="false" role="tab" data-toggle="collapse")
      div#arcgis.catalog-details Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
