/** @define accordion */

/*
* This file contains all styles related to the accordion component.
*/

.accordion__trigger {
  @apply relative w-full py-4 pr-12 mt-2 overflow-hidden text-left border-b text-ubc-blue border-grey-300;
  background-image: url(../img/svg/icon-plus--ubc-blue.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 1rem 1rem;
}

.accordion__trigger:hover {
  @apply border-b cursor-pointer border-unit-secondary;
}

.accordion__trigger.is-open {
  @apply font-semibold border-b border-unit-primary;
  background-image: url(../img/svg/icon-minus--ubc-blue.svg);
}

.accordion__trigger h3 {
  @apply mb-0 text-2xl pr-[2em];
  margin-top: calc(var(--leading) * 1.25rem);
  letter-spacing: 0.025em;
  font-family: var(--text-font-stack);
  font-weight: 400;
  line-height: 1.4;
}

.widget-accordion h3 {
  @apply mt-0 text-base;
}

/* responsive text style - disabled by default */
/*
@media (min-width: 1720px) {

  .widget-accordion h3 {
    @apply text-2xl;
  }
}
*/

/* summary element */
summary {
  @apply font-semibold mt-leading;
  list-style-image: url(../img/svg/icon-plus--ubc-blue.svg);
}

summary:focus {
  list-style-image: url(../img/svg/icon-minus--ubc-blue.svg);
}

summary::-webkit-details-marker {
  color: transparent;
  background: url(../img/svg/icon-plus--ubc-blue.svg);
}

summary:focus::-webkit-details-marker {
  background: url(../img/svg/icon-minus--ubc-blue.svg);
}
