/** @define badge */

/*
* This file contains all styles related to the badge component.
*/

.badge,
.badge--ubcv {
	@apply inline-block mr-4 text-xs bg-ubc-blue-cornflower text-ubc-blue;
	padding: .5em .5em .25em;
	line-height: 1;
}

.badge--ubco {
	@apply inline-block mr-4 text-xs text-white bg-ubc-blue-sea;
	padding: .5em .5em .25em;
	line-height: 1;
}

@media (min-width: $breakpoint--xxl) {

	.badge,
	.badge--ubcv,
	.badge--ubco {
		@apply mt-2 text-sm;
	}

}
