/** @define button */

/*
* This file contains all styles related to the button component.
*/

/* variables in file */
$gradient-black-transparent: rgba(0, 0, 0, 0);
$gradient-black-translucent: rgba(0, 0, 0, .2);
$gradient-black-opaque: rgba(0, 0, 0, 1);
$button-text: $ubc-blue;
$button-bg: $white;
$button-border: $ubc-blue;
$button-text--hover: $white;
$button-bg--hover: $ubc-blue;
$button-border--hover: $ubc-blue;
$button-text--active: $white;
$button-bg--active: $ubc-blue-sea;
$button-border--active: $ubc-blue;
$button-light-bg: $white;
$button-light-border: $ubc-blue-cobalt;
$button-light-text: $ubc-blue-cobalt;
$button-light-bg--hover: $ubc-blue-cobalt;
$button-light-border--hover: $ubc-blue-cobalt;
$button-light-text--hover: $white;
$button-light-bg--active: $ubc-blue-cobalt;
$button-light-border--active: $ubc-blue-cobalt;
$button-light-text--active: $white;
$button-dark-bg: $ubc-blue;
$button-dark-border: $ubc-blue;
$button-dark-text: $white;
$button-dark-bg--hover: $white;
$button-dark-border--hover: $ubc-blue;
$button-dark-text--hover: $ubc-blue;
$button-dark-bg--active: rgba(0, 33, 69, .2);
$button-dark-border--active: $ubc-blue;
$button-dark-text--active: $ubc-blue;
$button-transparent-bg: transparent;
$button-transparent-border: $white;
$button-transparent-text: $white;
$button-transparent-bg--hover: rgba(255, 255, 255, .2);
$button-transparent-border--hover: $white;
$button-transparent-text--hover: $white;
$button-transparent-bg--active: transparent;
$button-transparent-border--active: $white;
$button-transparent-text--active: $white;

/* flex button */
.unit-button {
	@apply inline-flex no-underline uppercase border;
	padding: .75em 2em .5em;
	color: $button-text;
	background-color: $button-bg;
	border-color: $button-border;
	cursor: pointer;
}

.unit-button:hover {
	@apply no-underline shadow-md;
	color: $button-text--hover;
	background-color: $button-bg--hover;
	border-color: $button-border--hover;
}

.unit-button:active {
	@apply no-underline shadow-md;
	color: $button-text--active;
	background-color: $button-bg--active;
	border-color: $button-border--active;
}

.unit-button--block {
	display: block;
	width: 100%;
	text-align: center;
}

/* Gradient buttons */
/*
.unit-button--light-gradient {
	background: linear-gradient(to bottom, $gradient-black-transparent 60%, $gradient-black-translucent 100%);
}

.unit-button--dark-gradient {
	background: linear-gradient(to bottom, $gradient-black-transparent 2%, $gradient-black-opaque 100%);
}
*/

/* button colour variations */
.unit-button--light {
	color: $button-light-text;
	background-color: $button-light-bg;
	border-color: $button-light-border;
}

.unit-button--light:hover {
	color: $button-light-text--hover;
	background-color: $button-light-bg--hover;
	border-color: $button-light-border--hover;
}

.unit-button--light:active {
	color: $button-light-text--active;
	background-color: $button-light-bg--active;
	border-color: $button-light-border--active;
	box-shadow: inset 0 0 1em $ubc-blue-sea;
}

/*
.unit-button--mid {
	color: $button-mid-text;
	background-color: $button-mid-bg;
	border-color: $button-mid-border;
}

.unit-button--mid:hover {
	color: $button-mid-text--hover;
	background-color: $button-mid-bg--hover;
	border-color: $button-mid-border--hover;
}
*/

.unit-button--dark {
	color: $button-dark-text;
	background-color: $button-dark-bg;
	border-color: $button-dark-border;
}

.unit-button--dark:hover {
	color: $button-dark-text--hover;
	background-color: $button-dark-bg--hover;
	border-color: $button-dark-border--hover;
}

.unit-button--dark:active {
	color: $button-dark-text--active;
	background-color: $button-dark-bg--active;
	border-color: $button-dark-border--active;
}

.unit-button--transparent {
	color: $button-transparent-text;
	background-color: $button-transparent-bg;
	border-color: $button-transparent-border;
}

.unit-button--transparent:hover {
	color: $button-transparent-text--hover;
	background-color: $button-transparent-bg--hover;
	border-color: $button-transparent-border--hover;
}

.unit-button--transparent:active {
	color: $button-transparent-text--active;
	background-color: $button-transparent-bg--active;
	border-color: $button-transparent-border--active;
}

/* button icons */
.unit-button__icon {
	@apply self-center flex-none;
	width: 1em;
	height: 1em;
	transition: transform .125s ease-in-out;
	stroke-width: 4;
	margin-top: -.25em;
}

.cta-button .unit-button__icon {
	margin-left: .5em;
}

.group:hover .unit-button__icon,
.cta-button:hover .unit-button__icon,
.unit-button:hover .unit-button__icon {
	transform: translateX(4px);
}

/* button icons & separators */
.unit-button--has-icon-left,
.unit-button--has-icon-right {
	position: relative;
}

.unit-button--has-separator-left::after,
.unit-button--has-separator-right::after {
	position: absolute;
	top: 25%;
	display: block;
	width: 1px;
	height: 50%;
	content: '';
}

.unit-button--has-icon-left.unit-button--has-separator-left::after {
	left: 3.75em;
}

.unit-button--has-icon-right.unit-button--has-separator-right::after {
	right: 3.75em;
}

.unit-button--light.unit-button--has-separator-left::after,
.unit-button--light.unit-button--has-separator-right::after {
	background-color: $ubc-blue-cobalt;
}

.unit-button--mid.unit-button--has-separator-left::after,
.unit-button--mid.unit-button--has-separator-right::after,
.unit-button--dark.unit-button--has-separator-left::after,
.unit-button--dark.unit-button--has-separator-right::after {
	background-color: $white;
}

.unit-button--light.unit-button--has-separator-left:hover::after,
.unit-button--light.unit-button--has-separator-right:hover::after,
.unit-button--mid.unit-button--has-separator-left:hover::after,
.unit-button--mid.unit-button--has-separator-right:hover::after,
.unit-button--dark.unit-button--has-separator-left:hover::after,
.unit-button--dark.unit-button--has-separator-right:hover::after {
	background-color: $white;
}

.unit-button--has-icon-left .unit-button__icon {
	margin-right: 1em;
}

.unit-button--has-icon-right .unit-button__icon {
	margin-left: 1em;
}

.unit-button--plain.unit-button--has-icon-left .unit-button__icon,
.unit-button--simple.unit-button--has-icon-left .unit-button__icon {
	margin-right: .5em;
}

.unit-button--plain.unit-button--has-icon-right .unit-button__icon,
.unit-button--simple.unit-button--has-icon-right .unit-button__icon {
	@apply ml-2;
	margin-left: .5em;
}

.unit-button--has-icon-left.unit-button--has-separator-left .unit-button__icon {
	margin-right: 2.5em;
}

.unit-button--has-icon-right.unit-button--has-separator-right .unit-button__icon {
	margin-left: 2.5em;
}

.unit-button--light.unit-button--has-icon-left:hover .unit-button__icon,
.unit-button--light.unit-button--has-icon-right:hover .unit-button__icon,
.unit-button--dark.unit-button--has-icon-left:hover .unit-button__icon,
.unit-button--dark.unit-button--has-icon-right:hover .unit-button__icon {
	@apply text-white;
}

.unit-button--animate-icon:hover .unit-button__icon {
	transform: translateX(4px);
	transition: transform .125s ease-in-out;
}

.unit-button--simple {
	@apply py-0 pl-0 border-0;
	color: $default-link-color;
}

.unit-button--simple:hover {
	color: $default-link-color-hover;
	text-decoration: underline;
	background: transparent;
	box-shadow: none;
}

.share-button:hover .share-links {
	display: block;
}

.share-links {
	padding-top: 1rem;
}

.share-buttons {
	@apply relative;
}

.share-buttons::before {
	@apply absolute block;
	content: '';
	left: 1rem;
	top: -1rem;
	width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid $ubc-blue;
}
