/** @define button */

/*
* This file contains all styles related to the button component.
*/

.unit-button {
  @apply inline-flex text-center no-underline border px-[2em] py-[.65em] cursor-pointer;
  color: var(--button-text);
  background-color: var(--button-bg);
  border-color: var(--button-border);
  transition: all 0.125s ease-out;
}

.unit-button:hover,
.unit-button:active,
.group:hover .unit-button {
  @apply no-underline shadow-md;
  color: var(--button-text--hover);
  background-color: var(--button-bg--hover);
  border-color: var(--button-border--hover);
}

.unit-button--block {
  @apply block w-full text-center;
}

.unit-button--light {
  color: var(--button-light-text);
  background-color: var(--button-light-bg);
  border-color: var(--button-light-border);
}

.unit-button--light:hover,
.unit-button--light:active,
.group:hover .unit-button--light {
  color: var(--button-light-text--hover);
  background-color: var(--button-light-bg--hover);
  border-color: var(--button-light-border--hover);
}

.unit-button--dark {
  color: var(--button-dark-text);
  background-color: var(--button-dark-bg);
  border-color: var(--button-dark-border);
}

.unit-button--dark:hover,
.unit-button--dark:active,
.group:hover .unit-button--dark {
  color: var(--button-dark-text--hover);
  background-color: var(--button-dark-bg--hover);
  border-color: var(--button-dark-border--hover);
}

.unit-button--transparent {
  color: var(--button-transparent-text);
  background-color: var(--button-transparent-bg);
  border-color: var(--button-transparent-border);
}

.unit-button--transparent:hover,
.unit-button--transparent:active,
.group:hover .unit-button--transparent{
  color: var(--button-transparent-text--hover);
  background-color: var(--button-transparent-bg--hover);
  border-color: var(--button-transparent-border--hover);
}

.unit-button--simple {
  @apply relative py-0 pl-0 overflow-hidden tracking-wider border-0 bg-transparent pr-[1.5em];
  color: var(--default-link-color);
}

.unit-button--simple::before {
  @apply absolute top-0 right-0 w-[1.5em] h-full;
  content: "";
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: transform;
  transform: translate3d(0, 0, 0);
  background-image: url(../img/svg/icon-caret--ubc-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em 1.5em;
}

.unit-button--simple:hover,
.group:hover .unit-button--simple {
  @apply no-underline bg-transparent;
  color: var(--default-link-color-hover);
  box-shadow: none;
}

.unit-button--simple:hover::after,
.unit-button--simple:focus::after,
.unit-button--simple:active::after {
  transform: translate3d(0, 0, 0);
}

.unit-button--simple:hover::before,
.unit-button--simple:focus::before,
.unit-button--simple:active::before,
.group:hover .unit-button--simple::before,
.group:focus .unit-button--simple::before,
.group:active .unit-button--simple::before {
  transform: translate3d(4px, 0, 0);
}

.unit-button-icon {
  top: 0.5em;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  transform: translateY(0.2em);
}

.unit-button--capped {
  @apply flex pl-0 -mt-[1px] transition-all bg-transparent border-y border-x-0 border-unit-primary relative text-left pl-[1em];
  background-position: right 2em center;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  color: var(--default-color-link);
}

.unit-button--capped:hover,
.group:hover .unit-button--capped {
  @apply z-10 transition-all shadow-none border-y border-x-0;
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  background-image: url(../img/svg/icon-caret--ubc-blue.svg);
  background-position: right 1em center;
  background-size: 2em;
  color: var(--default-color-link-hover);
}

.unit-button--capped:active {
  @apply border-y border-x-0 border-unit-primary;
  color: var(--default-color-link-active);
}
