/** @define card */

/*
* This file contains all styles related to the card component.
*/
.ubc-card--vert {
    @apply flex flex-col;
}

/* revert styles from ubc_ckeditor_widgets */
.widget-card--horizontal .ubc-card--horiz {
    grid-template-areas: initial;
}

.widget-card--horizontal .first-image,
.widget-card--horizontal .ubc-card__content_wrapper {
    grid-area: initial;
}

.ubc-card--horiz,
.widget-card--horizontal .ubc-card--horiz {
    @apply grid grid-cols-12;
    container-type: inline-size;
    container-name: horizontalcard;
}

.ubc-card--horiz-rev,
.widget-card--horizontal .ubc-card--horiz-rev {
    @apply grid grid-cols-12;
    container-type: inline-size;
    container-name: horizontalcardrev;
}

.ubc-card--horiz .ubc-card__media,
.ubc-card--horiz-rev .ubc-card__media,
.ubc-card--horiz .ubc-card__content_wrapper,
.ubc-card--horiz-rev .ubc-card__content_wrapper,
.widget-card--horizontal .ubc-card--horiz .ubc-card__media,
.widget-card--horizontal .ubc-card--horiz-rev .ubc-card__media,
.widget-card--horizontal .ubc-card--horiz .ubc-card__content_wrapper,
.widget-card--horizontal .ubc-card--horiz-rev .ubc-card__content_wrapper  {
    @apply col-span-full;
}

/* horizontalcard larger than 30rem wide (480px) */
@container horizontalcard (min-width: 30rem) {

    .ubc-card--horiz .ubc-card__media,
    .widget-card--horizontal .ubc-card--horiz .ubc-card__media {
        @apply col-span-3 col-start-1 row-start-1;
    }

    .ubc-card--horiz .ubc-card__content_wrapper,
    .widget-card--horizontal .ubc-card--horiz .ubc-card__content_wrapper {
        @apply !col-span-9 col-start-4 row-start-1;
    }

}

/* horizontalcardrev larger than 30rem wide (480px) */
@container horizontalcardrev (min-width: 30rem) {

    .ubc-card--horiz-rev .ubc-card__media,
    .widget-card--horizontal .ubc-card--horiz-rev .ubc-card__media {
        @apply col-span-3 col-start-10 row-start-1;
    }

    .ubc-card--horiz-rev .ubc-card__content_wrapper,
    .widget-card--horizontal .ubc-card--horiz-rev .ubc-card__content_wrapper {
        @apply !col-span-9 col-start-1 row-start-1;
    }

}

/* hide figure if no image */
.ubc-card.image-empty figure {
    display: none;
}
