/** @define chosen */

/*
* This file contains all styles related to the Chosen library - it isn't needed if the chosen library is not included.
*/

/* chosen styles */
.chosen-container {
  font-size: inherit;
}

.chosen-container a {
  @apply no-underline !text-ubc-blue-cobalt;
}

.form-select a.chosen-single,
.form-select .chosen-choices {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0.5rem 1rem;
  color: var(--input-select-text);
  border: 2px solid var(--input-select-border) !important;
  border-radius: var(--input-border-radius);
  background-color: var(--input-select-bg);
  background-image: url(../img/svg/icon-select-down--grey.svg);
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
  line-height: 1.625;
  appearance: none;
}

.form-select .chosen-container-active a.chosen-single {
  background-image: url(../img/svg/icon-select-up--grey.svg);
}

.chosen-container .chosen-drop {
  @apply border border-t-0 shadow-lg border-ubc-blue-neptune;
}

.chosen-container-single .chosen-search input[type="text"] {
  background-image: none;
}

.chosen-choices .chosen-search-input {
  width: 100%;
}

.chosen-choices .chosen-search-input:focus {
  outline: none;
  box-shadow: none !important;
}

.chosen-container .chosen-results {
  color: var(--grey-900);
}

.chosen-container .chosen-results li {
  @apply text-base;

  padding: 0.75rem 0.5rem;
}

.chosen-container .chosen-results li.highlighted {
  background-color: var(--ubc-blue-cobalt);
  background-image: none;
}

.chosen-container-single .chosen-drop {
  border-radius: 0 0 0 0;
}
