/** @define link */

/*
* This file contains all styles related to link styling
*/

/* Links with external link icons */

/* Style external links added via wysiwyg */
.text-formatted a[href^="http"]:not([href*="apsc.ubc.ca"])::after,
a.unit-button[href^="http"]:not([href*="apsc.ubc.ca"])::after,
.update-teasers a[href^="http"]:not([href*="apsc.ubc.ca"])::after,
.link-external::after {
	position: relative;
	top: 0;
	display: inline-block;
	width: .875em;
	height: 1em;
	margin-left: .25em;
	content: url('../img/svg/icon-link-ext.svg');
}

/* adjust unit button links with external sources */
a.unit-button[href^="http"]:not([href*="apsc.ubc.ca"])::after {
	width: 1em;
	margin-left: .5em;
}

a.unit-button--light[href^="http"]:hover:not([href*="apsc.ubc.ca"])::after,
a.unit-button--dark[href^="http"]:not([href*="apsc.ubc.ca"])::after {
	content: url('../img/svg/icon-link-ext--white.svg');
}

a.external-icon-removed::after {
	display: none !important;
}
