/** @define masthead */

/*
* This file contains all styles related to the masthead component.
*/

.masthead__page-title {
	margin-bottom: 1.5em;
	color: $white;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
}

.masthead__page-title--alt {
	margin-bottom: 0;
	color: $white;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
}

.masthead__action {
	@apply pb-4 mt-2 ml-2 text-right;
}

@media (min-width: $breakpoint--md) {

	.masthead__action {
		@apply text-left;
	}

}

@media (min-width: $breakpoint--lg) {

	.masthead__action {
		@apply py-4 pl-8 text-right border-t border-r border-white;
		margin-top: -3rem;
	}

}

@media (min-width: $breakpoint--xxl) {

	.masthead__action {
		margin-top: -3.25rem;
	}

}

.decoration-startline::before {
	position: absolute;
	width: 3em;
	height: 3.25em;
	margin: -1.25em 0 0 -1em;
	border-top: 1px solid $white;
	border-left: 1px solid $white;
	content: '';
}

.decoration-endline::after {
	position: absolute;
	height: 2em;
	margin: .825em 0 0;
	border-top: 1px solid $white;
	border-right: 1px solid $white;
	content: '';
}

.decoration-endline--small::after {
	width: 10%;
}

.decoration-endline--large::after {
	width: 40%;
}
