/** @define message */

/*
* This file contains all styles related to the message component.
*/

.message {
  @apply relative flex flex-col px-12 py-4 pl-4 my-6 shadow-lg;
}

.message--error {
  background-color: rgba(var(--error), 1)
}

.message--status {
  background-color: rgba(var(--status), 1)
}

.message--success {
  background-color: rgba(var(--success), 1)
}

.message--warning {
  background-color: rgba(var(--warning), 1)
}

.message__close {
  @apply absolute top-0 right-0 px-4 py-3 leading-none;
}

.message__close:hover {
  @apply text-black no-underline bg-white/50;
}

.message__icon {
  @apply flex-none inline-block w-8 h-8 mx-auto mb-4 text-ubc-blue;
}

.messages + .messages {
  @apply mt-leading;
}
.messages__list {
  @apply p-0 m-0 list-none;
}
.messages__item + .messages__item {
  @apply mt-3;
}

@media (min-width: 768px) {
  .message {
    @apply flex-row items-center;
  }

  .message__icon {
    @apply mb-0 ml-0 mr-4;
  }
}

.message p:first-of-type {
  @apply mt-0;
}
.message p {
  @apply mt-3;
}

