/** @define message */

/*
* This file contains all styles related to the message component.
*/

.message {
  @apply relative flex flex-col px-12 py-4 pl-4 my-6 shadow-lg;
}

.message--success {
  background-color: $success;
}

.message--warning {
  background-color: $warning;
}

.message--error {
  background-color: $error;
}

.message--status {
  background-color: $status;
}

.message__close {
  @apply absolute top-0 right-0 px-4 py-3 leading-none;
}

.message__close:hover {
  @apply text-black no-underline;

  background-color: rgba(255, 255, 255, 0.5);
}

.message__icon {
  @apply flex-none inline-block w-8 h-8 mx-auto mb-4 text-ubc-blue;
}

@media (min-width: $breakpoint--sm) {
  .message {
    @apply flex-row items-center;
  }

  .message__icon {
    @apply mb-0 ml-0 mr-4;
  }
}

@media (min-width: $breakpoint--xl) {

  .message {
    @apply py-8 pl-8;
  }

  .message__icon {
    @apply w-16 h-16 mr-8;
  }
}
