/** @define message */

/*
* This file contains all styles related to the message component.
*/

.message {
  @apply relative flex flex-col px-12 py-4 pl-4 my-6 shadow-lg;
}

.message--error {
  background-color: rgb(var(--error))
}

.message--status {
  background-color: rgb(var(--status))
}

.message--success {
  background-color: rgb(var(--success))
}

.message--warning {
  background-color: rgb(var(--warning))
}

.message__close {
  @apply absolute top-0 right-0 px-4 py-3 leading-none;
}

.message__close:hover {
  @apply text-black no-underline bg-white/50;
}

.message__icon {
  @apply flex-none inline-block w-8 h-8 mx-auto mb-4 text-ubc-blue;
}

@media (min-width: 768px) {
  .message {
    @apply flex-row items-center;
  }

  .message__icon {
    @apply mb-0 ml-0 mr-4;
  }
}

@media (min-width: 1720px) {

  .message {
    @apply py-8 pl-8;
  }

  .message__icon {
    @apply w-16 h-16 mr-8;
  }
}
