/** @define meta */

/*
* This file contains all styles related to the meta component.
*/

.meta {

	/* apply .25rem left padding and then move it .25rem left so that we can remove spaces that occur due to sub-pixel rounding when viewport is resized */
	@apply relative inline-block pt-2 pb-1 pl-2 pr-4 -ml-2 text-sm bg-grey-100;
}

.meta__bg::after {
	@apply absolute block h-full bg-grey-100;
	top: 0;
	width: 50vw;
	transform: translateX(-50vw);
	content: '';
}

.meta--blue,
.meta--blue::after {
	@apply text-white bg-ubc-blue-sea;
}
