/** @define navigation */

/*
* This file contains all styles related to the navigation component.
*/

.piped {
  @apply relative inline-block pr-4;
}

.piped::after {
  @apply absolute top-0 right-[.25rem] block;
  content: "/";
  line-height: 1.5;
}

.crumb {
  margin-right: 0.5em;
  padding-right: 2em;
  background-image: url("../img/svg/icon-angle--ubc-blue.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.5em 1.5em;
}

/* subnavigation */
.subnav__links {
  @apply pl-0;
}

.navlink--secondary {
  @apply relative block py-2 px-[14px] pr-10 overflow-hidden no-underline text-ubc-blue border-b !border-ubc-blue-cornflower;
}

.navlink--secondary::after {
  @apply absolute top-0 right-0 block w-10 h-full bg-transparent;
  content: "";
  background-image: url(../img/svg/icon-caret--ubc-blue.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.25rem;
}

.navlink--secondary:hover,
.navlink--secondary.menu-item--active-trail:not(.is-active):hover {
  @apply text-white no-underline bg-unit-primary;
}

.navlink--secondary:hover::after {
  @apply bg-unit-accent;
  background-image: url(../img/svg/icon-caret--white.svg);
}

.navlink--secondary.is-active {
  @apply font-semibold text-white no-underline bg-unit-primary;
}

.navlink--secondary.is-active::after {
  @apply bg-unit-accent;
  background-image: url(../img/svg/icon-caret--white.svg);
}

.navlink--secondary.menu-item--active-trail:not(.is-active) {
  @apply font-semibold bg-transparent;
}

.navlink--secondary.menu-item--active-trail:not(.is-active)::after {
  @apply bg-transparent;
  background-image: url(../img/svg/icon-caret--ubc-blue.svg);
}

.navlink--secondary.menu-item--active-trail:not(.is-active):hover::after {
  @apply bg-unit-accent;
  background-image: url(../img/svg/icon-caret--white.svg);
}

.subnav--nested .navlink--secondary {
  @apply block pl-[1.75rem] font-normal;

  font-size: 0.875rem;
}

.subnav--nested .subnav--nested .navlink--secondary {
  @apply pl-[2.625rem];
}

/* ensure collapsed nav is visible on large screens */
[data-screen=lg] .subnav.widget-accordion .subnav__links[hidden] {
  display: block !important;
}

/* vue subanv */
.nav--split {
  @apply flex;
}

.nav--split > .navlink--secondary::after {
  @apply hidden;
}

.nav--split .disclose__trigger {
  @apply flex-1;
}

.nav--split .js-reveal__trigger {
  @apply flex-none inline-flex w-[40px] text-ubc-blue bg-transparent place-content-center place-items-center border-b !border-ubc-blue-cornflower;
}

.nav--split .js-reveal__trigger svg {
  @apply mt-0 ml-0;
}

.nav--split:hover .js-reveal__trigger,
.nav--split > .is-active + .js-reveal__trigger {
  @apply text-white bg-unit-accent;
}

.menu-item--active-trail > .disclose > .nav--split > a {
  @apply font-semibold text-white no-underline bg-unit-primary;
}

.menu-item--active-trail > .disclose > .nav--split > button {
  @apply text-white bg-unit-accent;
}

/* Pager */
.pager__items {
    display: flex;
    list-style-type: none;
    max-width: 28rem;
    padding-left:0
}

.pager__item {
    border-color: transparent;
    border-width: 1px;
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function:cubic-bezier(.4, 0, .2, 1)
}

.pager__item:hover {
    background-color: rgba(var(--white), 1);
    border-color:rgba(var(--ubc-blue), 1)
}

.pager__item a,
.pager__item--mini.pager__item--current {
    display: block;
    padding:.5rem 1rem
}

.pager__item a, .pager__item a:hover,
.pager__item--mini.pager__item--current {
    color: rgba(var(--ubc-blue), 1);
    text-decoration-line:none
}

.pager__item.pager__item--ellipsis,
.pager__item.pager__item--ellipsis:hover {
    border-width: 0;
    color: rgba(var(--ubc-blue), 1);
    display: block;
    padding: .5rem .75rem;
    text-decoration-line:none
}

.pager__item.is-active,
.pager__item.pager__item--active,
.pager__item.pager__item--active:hover,
.pager__item.pager__item--current,
.pager__item.pager__item--current:hover {
    background-color: rgba(var(--ubc-blue), 1);
    color: rgba(var(--white), 1)
}

.bg-dark .pager__item.is-active a:hover:not(.unit-button),
.bg-dark .pager__item.pager__item--active:hover a:hover:not(.unit-button),
.bg-dark .pager__item.pager__item--current a:hover:not(.unit-button),
.bg-dark .pager__item.pager__item--current:hover a:hover:not(.unit-button),
.bg-dark.pager__item.pager__item--active a:hover:not(.unit-button) {
    color:#fff
}

.pager__item.is-active a,
.pager__item.is-active a:hover,
.pager__item.pager__item--active a,
.pager__item.pager__item--active a:hover,
.pager__item.pager__item--current a,
.pager__item.pager__item--current a:hover {
    color: rgba(var(--white), 1)
}

.bg-dark .pager__item.is-active a a:hover:not(.unit-button),
.bg-dark .pager__item.is-active a:hover a:hover:not(.unit-button),
.bg-dark .pager__item.pager__item--active a:hover a:hover:not(.unit-button),
.bg-dark .pager__item.pager__item--current a a:hover:not(.unit-button),
.bg-dark .pager__item.pager__item--current a:hover a:hover:not(.unit-button),
.bg-dark .pager__item.pager__item--active a a:hover:not(.unit-button) {
    color:#fff
}

.pager__item--first a,
.pager__item--last a,
.pager__item--next a,
.pager__item--previous a {
    display: block;
    height: 100%;
    width:2.5rem
}

.pager__item--first a,
.pager__item--previous a {
    transform:rotate(180deg)
}

.bg-caret--blue,
.pager__item--next a,
.pager__item--next:hover a,
.pager__item--previous a,
.pager__item--previous:hover a {
    background-image: url(../img/svg/icon-caret--ubc-blue.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    overflow: hidden;
    text-indent:-200em
}

.pager__item--first a,
.pager__item--first:hover a,
.pager__item--last a,
.pager__item--last:hover a {
    background-image: url(../img/svg/icon-double-caret--ubc-blue.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    overflow: hidden;
    text-indent:-200em
}

.bg-caret--white {
    background-image: url(../img/svg/icon-caret--white.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    overflow: hidden;
    text-indent:-200em
}
