/** @define tabcordion */

/*
* This file contains all styles related to the tabcordion component.
*/

.tabcordion__links {
  display: none;
  padding-left: 0;
  list-style: none;
}

.tabcordion__tab {
  @apply flex-1;
}

.tabcordion__tab:hover {
  text-decoration: none;
}

.tabcordion__tab button {
  @apply relative block w-full h-full py-4 overflow-hidden text-center border-b text-ubc-blue border-grey-300 ;
  line-height: 1.5rem;
}

.tabcordion__tab button:hover {
  @apply border-b border-unit-secondary;
}

.tabcordion__tab.is-active button,
.tabcordion__tab button.active {
  @apply font-semibold border-b text-ubc-blue-sea border-unit-primary;
}

/* mobile triggers */
.tabcordion__heading {
  @apply relative block w-full py-4 pr-12 mt-2 overflow-hidden uppercase border-b cursor-pointer text-ubc-blue border-grey-300;
  background-image: url(../img/svg/icon-plus--ubc-blue.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 1rem 1rem;
}

.tabcordion__heading:hover {
  @apply border-b border-unit-secondary;
}

.tabcordion__heading.active,
.tabcordion__heading.is-active,
.tabcordion__heading[aria-expanded="true"] {
  @apply font-semibold border-b border-unit-primary;
  background-image: url(../img/svg/icon-minus--ubc-blue.svg);
}

/* styles for only tabs */
.tabs-only .tabcordion__links {
  @apply flex justify-between list-none;
}

.tabs-only .tabcordion__heading,
.tabs-only .tabcordion__heading.active,
.tabs-only .tabcordion__heading.is-active {
  display: none;
}

@media (min-width: 980px) {

  .tab-pane.show .tabcordion__content {
    @apply !block opacity-100;
  }

  .tabcordion__links {
    @apply flex justify-between list-none;
  }

  .tabcordion__heading,
  .tabcordion__heading.active,
  .tabcordion__heading.is-active {
    display: none !important;
  }
}

/* tabcordion content */
.tabcordion__content {
  @apply pb-6;
}

@media (max-width: 979px) {

  .tabcordion__content.show,
  .tab-content > .tab-pane {
    @apply !block opacity-100;
  }
}
