/** @define tag */

/*
* This file contains all styles related to the tag component.
*/
.tag {
  @apply mr-4 text-xs text-white no-underline rounded;

  padding: 0.35em 0.75em 0.25em;
  background-color: rgba(0, 33, 69, 1);
}

.tag::before {
  content: "# ";
  font-size: 1.25em;
  line-height: 0;
}

.tag a,
.tag a:hover {
  @apply text-white no-underline;
}
