/** @define throbber */

/*
* This file contains all styles related to the throbber component.
*/

/* ajax styles for Drupal
* replace the default Drupal ajax throbber because it's ugly
*/

/* Throbber / ajax loading animation */
.ajax-progress,
.ajax-progress--throbber,
.ajax-progress-throbber,
.ajax-progress--fullscreen,
.ajax-progress-fullscreen {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-indent: -9999em;
  opacity: 1;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(var(--white), 0.5);
}

.ajax-progress--throbber::after,
.ajax-progress--fullscreen::after,
.ajax-progress-throbber::after,
.ajax-progress-fullscreen::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  margin: auto;
  content: "";
  text-indent: -9999em;
  background-image: url(../img/svg/icon-throbber.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4rem 4rem;
}
