/** @define full-bleed */

/* allow content in container to have full bleed */

/* NOTE: does not work within grid layout. */
.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50vw);
}
