/** @define skip-link */

/* accessibly hidden links and content */
.element-invisible,
.skip-link:link,
.skip-link:visited,
.skip-link:hover,
.visually-hidden {
  position: absolute;
  top: auto;
  left: -300%;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
