/** @define svg */

/* create responsive classes for modifying the stroke in svgs */

@responsive {

	.stroke-noscale {
		vector-effect: non-scaling-stroke;
	}

	.stroke-w-0,
	.stroke-none {
		stroke-width: 0;
	}

	.stroke-w-1 {
		stroke-width: 1;
	}

	.stroke-w-2 {
		stroke-width: 2;
	}

	.stroke-w-3 {
		stroke-width: 3;
	}

	.stroke-w-4 {
		stroke-width: 4;
	}

	.stroke-w-6 {
		stroke-width: 6;
	}

	.stroke-w-3-4 {
		stroke-width: .75;
	}

	.stroke-w-1-2 {
		stroke-width: .5;
	}

	.stroke-w-1-4 {
		stroke-width: .25;
	}

}
