/** @define truncate */

/* truncate multiline text (line-clamp detemines number of lines to show):
* we need to turn off autoprefixer for the block of css as it automatically strips the -webkit-box-orient property
*/

.truncate {

  /* autoprefixer: off */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.truncate-2 {

  /* autoprefixer: off */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.truncate-3 {

  /* autoprefixer: off */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
