/** @define ubc-gradient */

/* gradients */
.bg-gradient {
	background: linear-gradient(227deg, $ubc-blue-cobalt 2.5%, $ubc-blue-sea 33%, $ubc-blue 80%);
}

.bg-gradient--unit {
	background: linear-gradient(227deg, var(--color-grad--light) 2.5%, var(--color-grad--mid) 33%, var(--color-grad--dark) 80%);
}

.bg-gradient--screen,
.bg-gradient--screen--unit {
	position: relative;
}

.bg-gradient--screen::after,
.bg-gradient--screen--unit::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(227deg, $ubc-blue-cobalt 2.5%, $ubc-blue-sea 33%, $ubc-blue 80%);
	opacity: .6;
	content: '';
}

.bg-gradient--screen--unit::after {
	background: linear-gradient(227deg, var(--color-grad--light) 2.5%, var(--color-grad--mid) 33%, var(--color-grad--dark) 80%);
}
