<div class="accordion accordion--closed">
  <div class="accordion__tab" tabindex="0">Accordion Title</div>
  <div class="accordion__content clearfix" style="display: none;">
    <p>Dr. Simon Albon completed a bachelor of science in chemistry, master of science in chemistry, and faculty certificate in higher education at UBC. He recently completed a PhD in curriculum studies in the Faculty of Education at UBC. Dr. Albon is a senior instructor in the Faculty and a proud member of UBC’s Quarter Century Club.</p></div>
</div>
