<nav class="nav-breadcrumbs text-xs">
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
  <a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Parent Page</a>
  <a href="#" class="text-ubc-blue no-underline">Current Page</a>
</nav>
