<p class="bg-ubc-blue inline-block p-8">
  <a href="#" class="unit-button unit-button--transparent">Unit button: transparent</a>
  <button class="unit-button unit-button--transparent">Unit button: transparent</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--white">Unit button: white</a>
  <button class="unit-button unit-button--white">Unit button: white</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--grey">Unit button: grey</a>
  <button class="unit-button unit-button--grey">Unit button: grey</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--red">Unit button: red</a>
  <button class="unit-button unit-button--red">Unit button: red</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--blue">Unit button: blue</a>
  <button class="unit-button unit-button--blue">Unit button: blue</button>
</p>
