<p class="bg-ubc-blue inline-block p-8">
  <a href="#" class="unit-button unit-button--transparent">Unit button: transparent</a>
  <button class="unit-button unit-button--transparent">Unit button: transparent</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--white">Unit button: white</a>
  <button class="unit-button unit-button--white">Unit button: white</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--grey">Unit button: grey</a>
  <button class="unit-button unit-button--grey">Unit button: grey</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--blue">Unit button: blue</a>
  <button class="unit-button unit-button--blue">Unit button: blue</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--green">Unit button: green</a>
  <button class="unit-button unit-button--green">Unit button: green</button>
</p>
<p>
  <a href="#" class="unit-button unit-button--green text-sm unit-button--block">Unit button: green, small text, full-width</a>
</p>
<p>
  <a href="#" class="unit-button unit-button--blue text-sm unit-button--two-line">Unit button<span>Two Line</span></a>
</p>
