<div class="md--flex pt-8">
  <div class="md--flex-1 md--mx-4 my-4 card--home card--bg-color-red relative">
    <div class="flex items-center card__background-image--red h-64">
      <h3 class="text-white text-center uppercase font-light m-0 flex-1 text-4xl md--text-3xl lg--text-4xl">Discover</h3>
    </div>
    <div class="card__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <p class="card__morelink"><a href="#" class="unit-button unit-button--red">Read More</a></p>
  </div>
  <div class="md--flex-1 md--mx-4 my-4 card--home card--bg-color-grey relative">
    <div class="flex items-center card__background-image--grey h-64">
      <h3 class="text-white text-center uppercase font-light m-0 flex-1 text-4xl md--text-3xl lg--text-4xl">Learn</h3>
    </div>
    <div class="card__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <p class="card__morelink"><a href="#" class="unit-button unit-button--grey">Read More</a></p>
  </div>
  <div class="md--flex-1 md--mx-4 my-4 card--home card--bg-color-blue relative">
    <div class="flex items-center card__background-image--blue h-64">
      <h3 class="text-white text-center uppercase font-light m-0 flex-1 text-4xl md--text-3xl lg--text-4xl">Collaborate</h3>
    </div>
    <div class="card__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <p class="card__morelink"><a href="#" class="unit-button unit-button--blue">Read More</a></p>
  </div>
</div>
