<div class="flex card--featured flex-col-reverse md--flex-row md--card--imagefirst w-full relative">
  <div class="card__image h-64 md--h-auto md--w-half bg-cover bg-center overflow-hidden md--flex-order-1" style="background-image: url('img/prototype/landing_page_supporting_content.jpg')">
  </div>
  <div class="card__content p-8 pt-0 md--pt-8 md--pb-16 md--w-half gradient--text-overlay text-white md--flex-order-2">
    <h3 class="text-white uppercase heading-five">Building your career?</h3>
    <p>SBQMI offers a range of services and programs for students which could help you to develop your career, including:</p>
    <ul>
      <li><a href="#" class="text-white underline">Internships</a></li>
      <li><a href="#" class="text-white underline">Job Shadowing</a></li>
    </ul>
  </div>
  <p class="card__morelink absolute pin-b pin-r"><a href="#" class="unit-button unit-button--red">Read More</a></p>
</div>
