<h4>No Image</h4>

<div class="card--default w-full">
  <div class="card__content border-b border-unit-red p-6 md--p-4">
    <h3 class="text-unit-red border-t-2 border-l-8 m-0 py-2 px-4 -mx-6 border-unit-red md--border-0 md--text-white heading-five md--bg-unit-red md--p-4 md---mx-4 md--font-normal">Condensed Matter Physics<br />More text on second line.</h3>
    <div class="border-l-8 py-2 px-4 -mx-6 border-unit-red text-ubc-blue md--border-0 md--bg-unit-grey md--text-white md---mx-4 uppercase inline-block"><span class="font-bold pr-4">41</span> Martober</div>
    <p><strong>Speaker:</strong> Josephine Smith</p>
    <p class="text--hug"><strong>Time:</strong> TBC</p>
    <p class="text--hug"><strong>Location:</strong> TBC</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p><a href="#" class="link--more uppercase">Get Event Details</a></p>
  </div>
  <ul class="list-reset mt-0 inline-flex flex-row-reverse w-full">
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Tag Test 1</li>
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Tag Test 2</li>
  <ul>
</div>

<h4>Image on Left</h4>

<div class="card--default w-full">
  <div class="flex flex-col md--flex-row md--card--imagefirst">
    <div class="card__image h-48 border-t border-unit-red md--border-0 md--h-auto md--w-one-third bg-cover bg-center md---mx-0 overflow-hidden" style="background-image: url('img/demo/3.jpg')">
    </div>
    <div class="card__content border-b border-unit-red ml-6 pb-4 md--w-two-thirds">
      <h3 class="text-unit-red border-t-2 border-l-8 m-0 py-2 px-4 -ml-6 border-unit-red md--border-0 md--text-white heading-five md--bg-unit-red md--p-4 md---mx-0 md--font-normal ">Condensed Matter Physics<br />More text on second line.</h3>
      <div class="border-l-8 py-2 px-4 -mx-6 border-unit-red text-ubc-blue md--border-0 md--bg-unit-grey md--text-white md---mx-0 uppercase inline-block"><span class="font-bold pr-4">41</span> Martober</div>
      <p><strong>Speaker:</strong> Josephine Smith</p>
      <p class="text--hug"><strong>Time:</strong> TBC</p>
      <p class="text--hug"><strong>Location:</strong> TBC</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p><a href="#" class="link--more uppercase">Get Event Details</a></p>
    </div>
  </div>
  <ul class="list-reset mt-0 inline-flex flex-row-reverse w-full">
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Tag Test 1</li>
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Tag Test 2</li>
  <ul>
</div>

