<div class="md--flex pt-8">
  <div class="md--flex-1 md--mx-4 my-4 card--home card--bg-color-red relative">
    <div class="flex items-center card__background-image--red h-64">
      <h3 class="text-white text-center uppercase font-light m-0 flex-1 text-4xl md--text-3xl lg--text-4xl">Discover</h3>
    </div>
    <div class="card__content">
      <p>Read about our research areas, latest research projects and publications, and researcher profiles.</p>
    </div>
    <p class="card__morelink"><a href="#" class="unit-button unit-button--red">Read More</a></p>
  </div>
  <div class="md--flex-1 md--mx-4 my-4 card--home card--bg-color-grey relative">
    <div class="flex items-center card__background-image--grey h-64">
      <h3 class="text-white text-center uppercase font-light m-0 flex-1 text-4xl md--text-3xl lg--text-4xl">Learn</h3>
    </div>
    <div class="card__content">
      <p>Our student programs provide opportunities to learn from experts and acquire meaningful research experience.</p>
    </div>
    <p class="card__morelink"><a href="#" class="unit-button unit-button--grey">Read More</a></p>
  </div>
  <div class="md--flex-1 md--mx-4 my-4 card--home card--bg-color-blue relative">
    <div class="flex items-center card__background-image--blue h-64">
      <h3 class="text-white text-center uppercase font-light m-0 flex-1 text-4xl md--text-3xl lg--text-4xl">Collaborate</h3>
    </div>
    <div class="card__content">
      <p>Find out more about our visitor’s program, and current partners & supporters, and how to collaborate with us.</p>
    </div>
    <p class="card__morelink"><a href="#" class="unit-button unit-button--blue">Read More</a></p>
  </div>
</div>
