<div class="flex card--featured flex-col-reverse md--flex-row md--card--imagesecond w-full relative">
  <div class="card__image h-64 md--h-auto md--w-half bg-cover bg-center overflow-hidden md--flex-order-2" style="background-image: url('img/prototype/homepage_feature_content_image.jpg')">
  </div>
  <div class="card__content p-8 pt-0 md--pt-8 md--pb-16 md--w-half gradient--text-overlay text-white md--flex-order-1">
    <h3 class="title--featured heading-five text-center border-t border-unit-grey md--inline-block px-4 py-2 mt-0 -mx-8  md--pl-8"><span>New Research Prize</span></h3>
    <h3 class="text-white uppercase heading-five">Condensed Matter Physics</h3>
    <p>Professor Rob Kiefl has been awarded the 2017 Yamazaki Prize by the International Society for mSR Spectroscopy (ISMS).</p>
  </div>
  <p class="card__morelink absolute pin-b pin-r"><a href="#" class="unit-button unit-button--red">Read More</a></p>
</div>
