<div class="flex flex-wrap">

  <div class="w-1/2 md--w-1/4 lg--w-1/5 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/demo/profile1.jpg" />
      </div>
      <div class="card-small__heading card-small__heading--alternate pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white heading-five font-normal z-10 mt-0 relative">Andrea Damascelli</h3>
      </div>
      <div class="card-small__content--dark px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext text-center flex items-center h-full w-full justify-center -mt-4"><button class="unit-button unit-button--transparent rounded-full normal-case text-xs">View Profile</button></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30 md--hidden"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-6 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

  <div class="w-1/2 md--w-1/4 lg--w-1/5 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/demo/profile2.jpg" />
      </div>
      <div class="card-small__heading card-small__heading--alternate pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white heading-five font-normal z-10 mt-0 relative">Andrea Damascelli</h3>
      </div>
      <div class="card-small__content--dark px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext text-center flex items-center h-full w-full justify-center -mt-4"><button class="unit-button unit-button--transparent rounded-full normal-case text-xs">View Profile</button></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30 md--hidden"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-6 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

  <div class="w-1/2 md--w-1/4 lg--w-1/5 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/demo/profile3.jpg" />
      </div>
      <div class="card-small__heading card-small__heading--alternate pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white heading-five font-normal z-10 mt-0 relative">Andrea Damascelli</h3>
      </div>
      <div class="card-small__content--dark px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext text-center flex items-center h-full w-full justify-center -mt-4"><button class="unit-button unit-button--transparent rounded-full normal-case text-xs">View Profile</button></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30 md--hidden"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-6 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

  <div class="w-1/2 md--w-1/4 lg--w-1/5 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/demo/profile4.jpg" />
      </div>
      <div class="card-small__heading card-small__heading--alternate pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white heading-five font-normal z-10 mt-0 relative">Andrea Damascelli</h3>
      </div>
      <div class="card-small__content--dark px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext text-center flex items-center h-full w-full justify-center -mt-4"><button class="unit-button unit-button--transparent rounded-full normal-case text-xs">View Profile</button></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30 md--hidden"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-6 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

  <div class="w-1/2 md--w-1/4 lg--w-1/5 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/demo/profile2.jpg" />
      </div>
      <div class="card-small__heading card-small__heading--alternate pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white heading-five font-normal z-10 mt-0 relative">Andrea Damascelli</h3>
      </div>
      <div class="card-small__content--dark px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext text-center flex items-center h-full w-full justify-center -mt-4"><button class="unit-button unit-button--transparent rounded-full normal-case text-xs">View Profile</button></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30 md--hidden"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-6 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

  <div class="w-1/2 md--w-1/4 lg--w-1/5 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/demo/profile3.jpg" />
      </div>
      <div class="card-small__heading card-small__heading--alternate pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white heading-five font-normal z-10 mt-0 relative">Andrea Damascelli</h3>
      </div>
      <div class="card-small__content--dark px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext text-center flex items-center h-full w-full justify-center -mt-4"><button class="unit-button unit-button--transparent rounded-full normal-case text-xs">View Profile</button></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30 md--hidden"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-6 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

  <div class="w-1/2 md--w-1/4 lg--w-1/5 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/demo/profile4.jpg" />
      </div>
      <div class="card-small__heading card-small__heading--alternate pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white heading-five font-normal z-10 mt-0 relative">Andrea Damascelli</h3>
      </div>
      <div class="card-small__content--dark px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext text-center flex items-center h-full w-full justify-center -mt-4"><button class="unit-button unit-button--transparent rounded-full normal-case text-xs">View Profile</button></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30 md--hidden"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-6 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

</div>
