<h4>Image on Right</h4>

<div class="flex card--featured flex-col-reverse md--flex-row md--card--imagesecond w-full relative">
  <div class="card__image h-64 md--h-auto md--w-1/2 bg-cover bg-center overflow-hidden md--flex-order-2" style="background-image: url('images/demo/3.jpg')">
  </div>
  <div class="card__content p-8 pt-0 md--pt-8 md--pb-16 md--w-1/2 gradient--text-overlay text-white md--flex-order-1">
    <h3 class="title--featured heading-five text-center border-t border-unit-grey md--inline-block px-4 py-2 mt-0 -mx-8  md--pl-8"><span>Some Feature Title</span></h3>
    <h3 class="text-white uppercase heading-five">Condensed Matter Physics</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <p class="card__morelink absolute pin-b pin-r"><a href="#" class="unit-button unit-button--red">Read More</a></p>
</div>

<h4>Image on Left</h4>

<div class="flex card--featured flex-col-reverse md--flex-row md--card--imagefirst w-full relative">
  <div class="card__image h-64 md--h-auto md--w-1/2 bg-cover bg-center overflow-hidden" style="background-image: url('images/demo/3.jpg')">
  </div>
  <div class="card__content p-8 pt-0 md--pt-8 md--pb-16 md--w-1/2 gradient--text-overlay text-white">
    <h3 class="title--featured heading-five text-center border-t border-unit-grey md--inline-block px-4 py-2 mt-0 -mx-8  md--pl-8"><span>Some Feature Title</span></h3>
    <h3 class="text-white uppercase heading-five">Condensed Matter Physics</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <p class="card__morelink absolute pin-b pin-r"><a href="#" class="unit-button unit-button--red">Read More</a></p>
</div>

<h4>Smaller Image on Left</h4>

<div class="flex card--featured flex-col-reverse md--flex-row md--card--imagefirst w-full relative">
  <div class="card__image h-64 md--h-auto md--w-1/3 bg-cover bg-center overflow-hidden" style="background-image: url('images/demo/3.jpg')">
  </div>
  <div class="card__content p-8 pt-0 md--pt-8 md--pb-16 md--w-2/3 gradient--text-overlay text-white">
    <h3 class="title--featured heading-five text-center border-t border-unit-grey md--inline-block px-4 py-2 mt-0 -mx-8  md--pl-8"><span>Some Feature Title</span></h3>
    <h3 class="text-white uppercase heading-five">Condensed Matter Physics</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <p class="card__morelink absolute pin-b pin-r"><a href="#" class="unit-button unit-button--red">Read More</a></p>
</div>

<h4>Smaller Image on Right</h4>

<div class="flex card--featured flex-col-reverse md--flex-row md--card--imagesecond w-full relative">
  <div class="card__image h-64 md--h-auto md--w-1/3 bg-cover bg-center overflow-hidden md--flex-order-2" style="background-image: url('images/demo/3.jpg')">
  </div>
  <div class="card__content p-8 pt-0 md--pt-8 md--pb-16 md--w-2/3 gradient--text-overlay text-white md--flex-order-1">
    <h3 class="title--featured heading-five text-center border-t border-unit-grey md--inline-block px-4 py-2 mt-0 -mx-8  md--pl-8"><span>Some Feature Title</span></h3>
    <h3 class="text-white uppercase heading-five">Condensed Matter Physics</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <p class="card__morelink absolute pin-b pin-r"><a href="#" class="unit-button unit-button--red">Read More</a></p>
</div>
