<div class="lg--flex">

  <div class="lg--flex-1 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/prototype/landing3.jpg" />
      </div>
      <div class="card-small__heading pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white uppercase heading-five z-10 mt-0 relative">Profiles </h3>
      </div>
      <div class="card-small__content px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext"><p>Find profiles of current students and alumni.</p></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-12 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

  <div class="lg--flex-1 p-4">
    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/prototype/landing1.jpg" />
      </div>
      <div class="card-small__heading pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white uppercase heading-five z-10 mt-0 relative">QuEST Fellowship</h3>
      </div>
      <div class="card-small__content px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext"><p>Learn about our QuEST program.</p></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-12 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

  <div class="lg--flex-1 p-4">

    <div class="card-small w-full relative overflow-hidden">
      <div class="card-small__image image-overlay">
        <img class="block" src="img/prototype/landing2.jpg" />
      </div>
      <div class="card-small__heading pin-b pin-l relative w-full hover--pin-t z-20">
        <h3 class="text-white uppercase heading-five z-10 mt-0 relative">Careers </h3>
      </div>
      <div class="card-small__content px-4 text-white absolute pin z-10 h-full">
        <div class="card-small__reveal movetext"><p>Explore our career development support</p></div>
      </div>
      <p class="card__morelink absolute pin-b pin-r z-30"><button class="unit-button--alt unit-button--red leading-none"><svg role="presentation" class="svg-icon inline-block h-12 w-12 chevron-icon rotate-270"><use xlink:href="#icon-chevron"/></svg></button>
      </p>
    </div>
  </div>

</div>
