<div class="card--default w-full">
  <div class="card__content border-b border-unit-red p-6 md--p-4">
    <h3 class="text-unit-red border-t-2 border-l-8 m-0 py-2 px-4 -mx-6 border-unit-red md--border-0 md--text-white heading-five md--bg-unit-red md--p-4 md---mx-4 md--font-normal">Combined dynamic Electron Microscope and optical microscope: An ideal tool to study optical properties of quantum materials</h3>
    <div class="border-l-8 py-2 px-4 -mx-6 border-unit-red text-ubc-blue md--border-0 md--bg-unit-grey md--text-white md---mx-4 uppercase inline-block"><span class="font-bold pr-4">27</span> September</div>
    <p><strong>Speaker:</strong> Samuel Sonderegger, Ph.D., Attolight AG, Lausanne, Switzerland</p>
    <p class="text--hug"><strong>Time:</strong> 2:oopm</p>
    <p class="text--hug"><strong>Location:</strong> AMPEL 311</p>
    <p>Spectroscopic information may be acquired using an electron beam in a modern electron microscope (EM), exploiting the cathodoluminescence (CL) signal. CL ofers sever&hellip;</p>
    <p><a href="#" class="link--more uppercase">Get Event Details</a></p>
  </div>
  <ul class="list-reset mt-0 inline-flex flex-row-reverse w-full">
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Tag Test 1</li>
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Tag Test 2</li>
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Tag Test 3</li>
  <ul>
</div>


<div class="card--default w-full">
  <div class="flex flex-col md--flex-row md--card--imagefirst">
    <div class="card__image h-48 border-t border-unit-red md--border-0 md--h-auto md--w-one-third bg-cover bg-center md---mx-0 overflow-hidden" style="background-image: url('img/prototype/landing_page_image1.jpg')">
    </div>
    <div class="card__content border-b border-unit-red ml-6 pb-4 md--w-two-thirds">
      <h3 class="text-unit-red border-t-2 border-l-8 m-0 py-2 px-4 -ml-6 border-unit-red md--border-0 md--text-white heading-five md--bg-unit-red md--p-4 md---mx-0 md--font-normal ">Exact zero modes in frustrated spin chains</h3>
      <div class="border-l-8 py-2 px-4 -mx-6 border-unit-red text-ubc-blue md--border-0 md--bg-unit-grey md--text-white md---mx-0 uppercase inline-block"><span class="font-bold pr-4">05</span> October</div>
      <p><strong>Speaker:</strong> Natalia Chepiga, University of California at Irvine</p>
      <p class="text--hug"><strong>Time:</strong> 2:00pm – 3:00pm</p>
      <p class="text--hug"><strong>Location:</strong> AMPEL 311</p>
      <p>We will show that the efective coupling between the&hellip;</p>
    <p><a href="#" class="link--more uppercase">Get Event Details</a></p>
    </div>
  </div>
  <ul class="list-reset mt-0 inline-flex flex-row-reverse w-full">
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Modes</li>
    <li class="py-2 px-4 ml-2 mb-2 bg-unit-accent text-ubc-blue text-xs">Condensed Metal Seminars</li>
  <ul>
</div>

