<div class="flex flex-wrap pt-8 text-center">
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-green text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS GREEN<br />#78be20</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-green-dark text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS DARK GREEN<br />#5c9219</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-green-light text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS LIGHT GREEN<br />#86d424</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-blue text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS BLUE<br />#00b5e2</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-blue-dark text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS DARK BLUE<br />#00566e</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-blue-light text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS LIGHT BLUE<br />#00c9fc</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-ubc-blue text-white h-32 w-32 shadow-md p-2 border-4 border-white">UBC BLUE<br />#002145</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-grey text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS GREY<br />#7d868c</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-grey-dark text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS DARK GREY<br />#444d54</div>
  </div>
    <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-grey-darker text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS DARKER GREY<br />#2f353a</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-grey-light text-white h-32 w-32 shadow-md p-2 border-4 border-white">CBS LIGHT GREY<br />#6e777e</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-grey-lighter text-black h-32 w-32 shadow-md p-2 border-4 border-white">CBS LIGHTER GREY<br />#e7e8ea</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-grey-light-alt text-black h-32 w-32 shadow-md p-2 border-4 border-white">CBS LIGHT GREY ALT<br />#e4e5e6</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="bg-unit-grey-lighter-alt text-black h-32 w-32 shadow-md p-2 border-4 border-white">CBS LIGHTER GREY ALT<br />#f0f1f2</div>
  </div>
  <div class="w-half md--w-one-fifth pb-4">
    <div class="text-white h-32 w-32 shadow-md p-2 border-4 border-white" style="background-color:#2f353a;">TEXT COLOR<br />#2f353a</div>
  </div>
</div>

