<div class="md--flex md--flex-wrap pt-8 text-center">
  <div class="md--w-1/5 pb-4">
    <div class="bg-unit-red text-white h-32 w-32 shadow-md p-2 border-4 border-white">SQBMI RED<br />#b22029</div>
  </div>
  <div class="md--w-1/5 pb-4">
    <div class="bg-ubc-blue text-white h-32 w-32 shadow-md p-2 border-4 border-white">UBC BLUE<br />#002145</div>
  </div>
  <div class="md--w-1/5 pb-4">
    <div class="bg-unit-grey text-white h-32 w-32 shadow-md p-2 border-4 border-white">SQBMI GREY<br />#7d868c</div>
  </div>
  <div class="md--w-1/5 pb-4">
    <div class="bg-unit-grey-dark text-white h-32 w-32 shadow-md p-2 border-4 border-white">SQBMI DARK GREY<br />#5b6267</div>
  </div>
  <div class="md--w-1/5 pb-4">
    <div class="bg-unit-grey-light text-accent-dark h-32 w-32 shadow-md p-2 border-4 border-white">SQBMI LIGHT GREY<br />#d6d6d8</div>
  </div>
  <div class="md--w-1/5 pb-4">
    <div class="bg-unit-accent text-white h-32 w-32 shadow-md p-2 border-4 border-white">SQBMI ACCENT<br />#90c9cb</div>
  </div>
  <div class="md--w-1/5 pb-4">
    <div class="bg-unit-accent-dark text-white h-32 w-32 shadow-md p-2 border-4 border-white">SQBMI ACCENT DARK<br />#454545</div>
  </div>
</div>

