<h4>Unit Colours</h4>
<div class="flex flex-wrap pt-8 text-center">
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-unit-primary">PRIMARY<br />#002145<br /><span class="font-mono">unit-primary</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-unit-secondary">SECONDAR<br />#f5ce3e<br /><span class="font-mono">unit-secondary</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-unit-tertiary">TERTIARY<br />#fbebb1<br /><span class="font-mono">unit-secondary</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-unit-accent">ACCENT<br />#fdf5d8<br /><span class="font-mono">unit-accent</span></div>
	</div>
</div>
<h4>UBC Colours</h4>
<div class="flex flex-wrap pt-8 text-center">
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-blue">UBC
			BLUE<br />#002145<br /><span class="font-mono">ubc-blue</span></div>
	</div>
</div>
<div class="flex flex-wrap pt-8 text-center">
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-grey-1">UBC
			GRAY: 1<br />#2f5d7c<br /><span class="font-mono">ubc-grey-1</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-grey-2">UBC
			GRAY: 2<br />#5e869f<br /><span class="font-mono">ubc-grey-2</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-grey-3">UBC
			GRAY: 3<br />#98b2c3<br /><span class="font-mono">ubc-grey-3</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-grey-4">
		UBC GRAY: 4<br />#c3d0db<br /><span class="font-mono">ubc-grey-4</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-grey-5">UBC
			GRAY: 5<br />#d5dee4<br /><span class="font-mono">ubc-grey-5</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-ubc-grey-6">UBC
			GRAY: 6<br />#eaeef1<br /><span class="font-mono">ubc-grey-6</span></div>
	</div>
</div>
<h4>Utility Colours</h4>
<div class="flex flex-wrap pt-8 text-center">
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-grey-50">GRAY: 50<br />#fafafa<br /><span class="font-mono">grey-50</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-grey-100">GREY:
			100<br />#f5f5f5<br /><span class="font-mono">grey-100</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
    	<div class="h-full p-2 text-black border-4 border-white shadow-md bg-grey-200">GREY: 200<br />#eeeeee<br /><span class="font-mono">grey-200</span></div>
  	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-grey-300">GREY:
			300<br />#e0e0e0<br /><span class="font-mono">grey-300</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
    	<div class="h-full p-2 text-black border-4 border-white shadow-md bg-grey-400">GREY: 400<br />#bdbdbd<br /><span class="font-mono">grey-400</span></div>
  	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-grey-500">GREY:
			500<br />#9e9e9e<br /><span class="font-mono">grey-500</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
    	<div class="h-full p-2 text-white border-4 border-white shadow-md bg-grey-600">GREY: 600<br />#757575<br /><span class="font-mono">grey-600</span> </div>
  	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-grey-700">GREY:
			700<br />#616161<br /><span class="font-mono">grey-700</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
    	<div class="h-full p-2 text-white border-4 border-white shadow-md bg-grey-800">GREY: 800<br />#424242<br /><span class="font-mono">grey-800</span></div>
  	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-grey-900">GREY:
			900<br />#212121<br /><span class="font-mono">grey-900</span></div>
	</div>
</div>
<div class="flex flex-wrap pt-8 text-center">
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-black">TEXT
			COLOR (UBC BLACK)<br />#222222<br /><span class="font-mono">ubc-black</span></div>
	</div>
</div>
<div class="flex flex-wrap pt-8 text-center">
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-warning-red">UBC
			ALERT<br />#83261e<br /><span class="font-mono">warning-red</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md message--warning">UBC
			WARNING<br />#f8e605<br /><span class="font-mono">message--warning</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-success-green">UBC
			SUCCESS<br />#006f4c<br /><span class="font-mono">success-green</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md message--status">UBC
			MESSAGE<br />#40b4e5<br /><span class="font-mono">message--status</span></div>
	</div>
</div>
<div class="flex flex-wrap pt-8 text-center">
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-ubc-black">TEXT
			COLOR (UBC BLACK)<br />#222222<br /><span class="font-mono">ubc-black</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black bg-white border-4 border-white shadow-md">WHITE<br />#ffffff<br /><span class="font-mono">white</span></div>
	</div>
</div>
<h4>CESD Colours</h4>
<div class="flex flex-wrap pt-8 text-center">
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-cesd-blue-dark">CESD
			BLUE: DARK<br />#0680a6<br /><span class="font-mono">cesd-blue-dark</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-cesd-blue-mid">CESD
			BLUE: MID<br />#00a7e1<br /><span class="font-mono">cesd-blue-mid</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-cesd-blue-light">CESD
			BLUE: LIGHT<br />#6ec4e8<br /><span class="font-mono">cesd-blue-light</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-cesd-blue-lightest">CESD
			BLUE: LIGHTEST<br />#c5e7f5<br /><span class="font-mono">cesd-blue-lightest</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-white border-4 border-white shadow-md bg-cesd-green-dark">CESD
			GREEN: DARK<br />#fdf5d8<br /><span class="font-mono">cesd-green-dark</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-cesd-green-mid">CESD
			GREEN: MID<br />#84b507<br /><span class="font-mono">cesd-green-mid</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-cesd-green-light">CESD
			GREEN: LIGHT<br />#b5d26a<br /><span class="font-mono">cesd-green-light</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-cesd-green-lightest">CESD
			GREEN: LIGHTEST<br />#e1edc3<br /><span class="font-mono">cesd-green-lightest</span></div>
	</div>
	<div class="w-full p-4 sm--w-1/3 md--w-1/6 xxl--w-1/12">
		<div class="h-full p-2 text-black border-4 border-white shadow-md bg-cesd-stone">CESD
			STONE<br />#ece6d9<br /><span class="font-mono">cesd-stone</span></div>
	</div>
</div>
<p class="text-grey-500">Note that primary, secondary and accent colours are set using CSS variables, which is not supported in IE 11 or earlier: [<a href="https://caniuse.com/css-variables">https://caniuse.com/css-variables</a>]</p>
