<div class="flex flex-wrap pt-8 text-center">
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-unit-primary xl--h-48 xl--w-48">PRIMARY</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-unit-secondary xl--h-48 xl--w-48">SECONDARY</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-unit-accent xl--h-48 xl--w-48">ACCENT</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-ubc-blue xl--h-48 xl--w-48">UBC
			BLUE<br />#002145</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-ubc-blue-sea xl--h-48 xl--w-48">UBC
			BLUE: Sea<br />#003a79</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-ubc-blue-cobalt xl--h-48 xl--w-48">UBC
			BLUE: Cobalt<br />#0055b7</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-ubc-blue-neptune xl--h-48 xl--w-48">UBC
			BLUE: Neptune<br />#40b4e5</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-ubc-blue-cornflower xl--h-48 xl--w-48">
			UBC BLUE: Cornflower<br />#97d4e9</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-ubc-blue-polar xl--h-48 xl--w-48">UBC
			BLUE: Polar<br />#e1f3f9</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-grey-50 xl--h-48 xl--w-48">GREY:
			50<br />#fafafa</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-grey-100 xl--h-48 xl--w-48">GREY:
			100<br />#f5f5f5</div>
	</div>
	{# <div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
    <div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-grey-200 xl--h-48 xl--w-48">GREY: 200<br />#eee</div>
  </div> #}
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-grey-300 xl--h-48 xl--w-48">GREY:
			300<br />#e0e0e0</div>
	</div>
	{# <div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
    <div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md bg-grey-400 xl--h-48 xl--w-48">GREY: 400<br />#bdbdbd</div>
  </div> #}
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-grey-500 xl--h-48 xl--w-48">GREY:
			500<br />#9e9e9e</div>
	</div>
	{# <div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
    <div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-grey-600 xl--h-48 xl--w-48">GREY: 600<br />#757575</div>
  </div> #}
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-grey-700 xl--h-48 xl--w-48">GREY:
			700<br />#616161</div>
	</div>
	{# <div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
    <div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-grey-800 xl--h-48 xl--w-48">GREY: 800<br />#424242</div>
  </div> #}
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-grey-900 xl--h-48 xl--w-48">GREY:
			900<br />#212121</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-white border-4 border-white shadow-md bg-grey-900 xl--h-48 xl--w-48">TEXT
			COLOR<br />#212121</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md message--error xl--h-48 xl--w-48">UBC
			ALERT<br />#ff7c7c</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md message--warning xl--h-48 xl--w-48">UBC
			WARNING<br />#f8e605</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md message--success xl--h-48 xl--w-48">UBC
			SUCCESS<br />#57edae</div>
	</div>
	<div class="w-32 h-32 m-4 xl--h-48 xl--w-48">
		<div class="w-32 h-32 p-2 text-black border-4 border-white shadow-md message--status xl--h-48 xl--w-48">UBC
			MESSAGE<br />#40b4e5</div>
	</div>
</div>
<p class="text-grey-500">Note that primary, secondary and accent colours are set using CSS variables, which is not supported in IE 11 or earlier: [<a href="https://caniuse.com/css-variables">https://caniuse.com/css-variables</a>]</p>
