<article class="bg-white shadow ubc-card ubc-card--horiz--equal-rev hover--shadow-lg group">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/headshot.jpg" height="355" width="355" loading="lazy" />
  </div>
  <div class="px-6 py-12 ubc-card__content md--self-center first-child--mt-0">
    <h3 class="font-semibold h4"><a href="#" class="no-underline link-expand text-ubc-blue">Susan Anderson</a></h3>
    <p class="mt-0">Department of Mechanical Engineering</p>
    <p>Mechanics of functional materials, such as gecko-inspired adhesives, high toughness elastomers, hydrogels, and nanostructured metal alloys. And some more text to make the line length different.</p>
    <p class="text-center">
      <span class="unit-button unit-button--dark group-hover--text-ubc-blue group-hover--bg-white">Check it out</span>
    </p>
  </div>
</article>
