<ul class="md--flex md--flex-wrap md---mx-6">
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--2.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--3.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--4.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--5.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--6.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--7.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--8.twig" %}
  </v>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--9.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--10.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--11.twig" %}
  </li>
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--cards/component--card--vertical--12.twig" %}
  </li>
</ul>

<h3>Cards: vertical samples</h3>
<ul class="md--flex md--flex-wrap md---mx-6">
  <li class="my-6 md--w-1/3 md--px-6">
    <article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
      <div class="ubc-card__media img-cover">
        <img alt="some alternate text" src="img/demo/post1.jpg" height="500" width="800" loading="lazy" />
      </div>
      <div class="pb-10 ubc-card__content">
        <h3 class="mt-0 font-normal h4"><a href="#" class="no-underline link-expand text-ubc-blue">New director of Bradshaw Research Initiative in Minerals and Mining announced</a></h3>
        <p>July 29, 2020</p>
      </div>
    </article>
  </li>
</ul>

<h4 class="font-mono text-grey-500">Card Code</h4>
<script type="text/plain" class="language-markup">
<article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/post1.jpg" height="500" width="800" loading="lazy" />
  </div>
  <div class="pb-10 ubc-card__content">
    <h3 class="mt-0 font-normal h4"><a href="#" class="no-underline link-expand text-ubc-blue">New director of Bradshaw Research Initiative in Minerals and Mining announced</a></h3>
    <p>July 29, 2020</p>
  </div>
</article>
</script>

<ul class="md--flex md--flex-wrap md---mx-6">
  <li class="my-6 md--w-1/3 md--px-6">
    <article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
      <div class="ubc-card__media img-cover">
        <img alt="some alternate text" src="img/demo/btn3.jpg" height="315" width="799" loading="lazy" />
      </div>
      <div class="pb-10 ubc-card__content">
        <h3 class="mt-0 text-2xl font-bold leading-tight"><a href="#" class="no-underline link-expand text-ubc-blue">From sci-fi to computer engineering</a></h3>
        <p class="mt-4 text-lg text-ubc-blue">Emma Stanley</p>
        <p class="mt-0 text-sm font-light text-ubc-blue">MASc 2020<br />Chemical and Biological Engineering</p>
        <p>"I consider the world around me on a daily basis and find that there are so many aspects that I believe can be imporoved upon or solved with new technology developments."</p>
      </div>
    </article>
  </li>
</ul>

<h4 class="font-mono text-grey-500">Card Code</h4>
<script type="text/plain" class="language-markup">
<article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/btn3.jpg" height="315" width="799" loading="lazy" />
  </div>
  <div class="pb-10 ubc-card__content">
    <h3 class="mt-0 text-2xl font-bold leading-tight"><a href="#" class="no-underline link-expand text-ubc-blue">From sci-fi to computer engineering</a></h3>
    <p class="mt-4 text-lg text-ubc-blue">Emma Stanley</p>
    <p class="mt-0 text-sm font-light text-ubc-blue">MASc 2020<br />Chemical and Biological Engineering</p>
    <p>"I consider the world around me on a daily basis and find that there are so many aspects that I believe can be imporoved upon or solved with new technology developments."</p>
  </div>
</article>
</script>

<ul class="md--flex md--flex-wrap md---mx-6">
  <li class="my-6 md--w-1/3 md--px-6">
    <article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
      <div class="ubc-card__media img-cover">
        <img alt="some alternate text" src="img/demo/headshot.jpg" height="335" width="335" loading="lazy" />
      </div>
      <div class="pb-10 ubc-card__content">
        <h3 class="mt-0 text-2xl font-bold leading-none"><a href="#" class="no-underline link-expand text-ubc-blue">Donald Johnson</a></h3>
        <p class="mt-3 text-sm text-ubc-blue">BASc Mechanical Engineering</p>
      </div>
    </article>
  </li>
</ul>

<h4 class="font-mono text-grey-500">Card Code</h4>
<script type="text/plain" class="language-markup">
<article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/headshot.jpg" height="335" width="335" loading="lazy" />
  </div>
  <div class="pb-10 ubc-card__content">
    <h3 class="mt-0 text-2xl font-bold leading-none"><a href="#" class="no-underline link-expand text-ubc-blue">Donald Johnson</a></h3>
    <p class="mt-3 text-sm text-ubc-blue">BASc Mechanical Engineering</p>
  </div>
</article>
</script>

<ul class="md--flex md--flex-wrap md---mx-6">
  <li class="my-6 md--w-1/3 md--px-6">
    <article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
      <div class="ubc-card__media img-cover">
        <img alt="some alternate text" src="img/demo/post4.jpg" height="500" width="800" loading="lazy" />
      </div>
      <div class="pb-10 ubc-card__content">
        <div class="text-2xl text-ubc-blue">BSN 1969</div>
        <h3 class="mt-0 text-2xl font-bold leading-tight"><a href="#" class="no-underline link-expand text-ubc-blue">From the first moon landing to the first smartphones: 50 years later</a></h3>
      </div>
    </article>
  </li>
</ul>

<h4 class="font-mono text-grey-500">Card Code</h4>
<script type="text/plain" class="language-markup">
<article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/post4.jpg" height="500" width="800" loading="lazy" />
  </div>
  <div class="pb-10 ubc-card__content">
    <div class="text-2xl text-ubc-blue">BSN 1969</div>
    <h3 class="mt-0 text-2xl font-bold leading-tight"><a href="#" class="no-underline link-expand text-ubc-blue">From the first moon landing to the first smartphones: 50 years later</a></h3>
  </div>
</article>
</script>
