<Message title="Message heading" classes="" svgicon="icon-alert">
	<p>Some unstyled message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Message heading" classes="message--error" svgicon="icon-alert">
	<p>Some alert message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Message heading" classes="message--warning" svgicon="icon-alert">
	<p>Some warning message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Message heading" classes="message--success" svgicon="icon-info">
	<p>Some success message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Message heading" classes="message--status" svgicon="icon-info">
	<p>Some status message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message classes="message--status" svgicon="icon-info">
	<p>Sample message without title. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Sample message with lots of text" classes="message--status" svgicon="icon-info">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#" class="">Occaecat cupidatat</a>.</p>

</Message>
