<article class="shadow bg-ubc-blue ubc-card ubc-card--vert hover--shadow-lg">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/headshot.jpg" height="355" width="355" loading="lazy" />
  </div>
  <div class="p-6 ubc-card__content md--self-center first-child--mt-0">
    <h3 class="font-semibold text-center h4"><a href="#" class="text-white no-underline link-expand">Architecture &amp; Landscape Architecture</a></h3>
  </div>
</article>
