<p class="text-center">
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue">
		<use xlink:href="#logo-ubc"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-search"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-neptune">
		<use xlink:href="#icon-menu"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cornflower">
		<use xlink:href="#icon-arrow"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-neptune">
		<use xlink:href="#icon-arrow-circle"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cornflower">
		<use xlink:href="#icon-caret"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue">
		<use xlink:href="#icon-plus"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-play"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-neptune">
		<use xlink:href="#icon-cart"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cornflower">
		<use xlink:href="#icon-home"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-neptune">
		<use xlink:href="#icon-phone"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cornflower">
		<use xlink:href="#icon-discussion"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue">
		<use xlink:href="#icon-pencil"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-user"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-neptune">
		<use xlink:href="#icon-twitter"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cornflower">
		<use xlink:href="#icon-facebook"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-neptune">
		<use xlink:href="#icon-linkedin"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cornflower">
		<use xlink:href="#icon-instagram"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue">
		<use xlink:href="#icon-youtube"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-vimeo"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-plus"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-minus"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-info"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-mail"></use>
	</svg>
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-cobalt">
		<use xlink:href="#icon-location"></use>
	</svg>
</p>
