<p class="p-8">
	<a href="#"
		class="py-3 mr-6 font-bold uppercase cta-button cta-button--underline cta-button--underline-neptune cta-button--underline-heavy text-ubc-blue hover--no-underline">Unit
		button <svg role="presentation"
			class="inline-block w-4 h-4 ml-2 -mt-1 unit-button__icon text-ubc-blue-neptune stroke-w-4"
			viewBox="0 0 64 64">
			<title>Arrow in Circle</title>
			<desc>An arrow indicating direction.</desc>
			<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10"
				stroke-linejoin="round" stroke-linecap="round"></circle>
			<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M14.002 32.002h35M36 21l13 11-13 11"
				stroke-linejoin="round" stroke-linecap="round"></path>
		</svg></a> <span class="mr-6 text-sm text-grey-400">[a element]</span>
	<button class="py-3 mr-6 font-bold uppercase cta-button cta-button--underline text-ubc-blue">Unit button <svg
			role="presentation"
			class="inline-block w-4 h-4 ml-2 -mt-1 unit-button__icon text-ubc-blue-neptune stroke-w-4"
			viewBox="0 0 64 64">
			<title>Arrow in Circle</title>
			<desc>An arrow indicating direction.</desc>
			<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10"
				stroke-linejoin="round" stroke-linecap="round"></circle>
			<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M14.002 32.002h35M36 21l13 11-13 11"
				stroke-linejoin="round" stroke-linecap="round"></path>
		</svg>
	</button> <span class="text-sm text-grey-400">[button element]</span>
</p>
<p class="p-8 bg-ubc-blue-cobalt">
	<a href="#"
		class="unit-button unit-button--has-icon-right unit-button--transparent unit-button--animate-icon">Unit
		button: transparent <svg role="presentation"
			class="unit-button__icon"
			viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></a> <span class="ml-6 text-sm text-white">[a element]</span>
</p>
<p class="p-8 bg-ubc-blue-cobalt">
	<button
		class="unit-button unit-button--has-icon-right unit-button--transparent unit-button--animate-icon">Unit
		button: transparent <svg role="presentation"
			class="unit-button__icon"
			viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></button> <span class="ml-6 text-sm text-white">[button element]</span>
</p>

<p>
	<a href="#" class="unit-button unit-button--has-icon-right unit-button--animate-icon unit-button--dark">Unit button: dark
		<svg role="presentation" class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg>
	</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button unit-button--has-icon-right unit-button--has-separator-right unit-button--light">Unit button: light <svg role="presentation"
			class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-mail"></use>
		</svg>
	</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
	<button class="unit-button unit-button--has-icon-left unit-button--has-separator-left unit-button--animate-icon unit-button--dark"><svg role="presentation"
			class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-mail"></use>
		</svg> Unit button: dark
	</button>
	<span class="ml-6 text-sm text-grey-400">[button element]</span>
</p>

<p>
	<a href="#"
		class="unit-button unit-button--has-icon-right unit-button--animate-icon unit-button--light">Unit
		button: light <svg role="presentation"
			class="unit-button__icon"
			viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></a> <span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button
		class="unit-button unit-button--has-icon-right unit-button--animate-icon unit-button--light">Unit
		button: light <svg role="presentation"
			class="unit-button__icon"
			viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></button> <span class="ml-6 text-sm text-grey-400">[button element]</span>
</p>
<p>
	<a href="#"
		class="unit-button unit-button--has-icon-right unit-button--animate-icon unit-button--plain">Unit
		button: plain <svg role="presentation"
			class="unit-button__icon"
			viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></a> <span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button
		class="unit-button unit-button--has-icon-right unit-button--animate-icon unit-button--plain">Unit
		button: plain <svg role="presentation"
			class="unit-button__icon"
			viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></button> <span class="ml-6 text-sm text-grey-400">[button element]</span>
</p>
<p>
	<a href="#"
		class="unit-button unit-button--light unit-button--light-gradient">Unit
		button: light gradient</a> <span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button
		class="unit-button unit-button--dark unit-button--dark-gradient">Unit
		button: dark gradient</button> <span class="mx-6 text-sm text-grey-400">[button element]</span>

	<button
		class="unit-button unit-button--light unit-button--light-gradient">Unit
		button: light gradient</button>

	<button
		class="unit-button unit-button--dark unit-button--dark-gradient">Unit
		button: dark gradient</button>
</p>
<p>
	<a href="#"
		class="unit-button unit-button--has-icon-right unit-button--has-separator-right unit-button--animate-icon unit-button--dark">Unit
		button: dark <svg role="presentation"
			class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></a> <span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button
		class="unit-button unit-button--has-icon-right unit-button--animate-icon unit-button--dark">Unit
		button: dark <svg role="presentation"
			class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></button> <span class="mx-6 text-sm text-grey-400">[button element]</span>
</p>
<p>
	<a href="#"
		class="unit-button unit-button--dark unit-button--dark-gradient unit-button--has-icon-right unit-button--animate-icon">Unit
		button: gradient dark <svg role="presentation"
			class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></a> <span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button
		class="unit-button unit-button--dark unit-button--dark-gradient unit-button--has-icon-right unit-button--animate-icon">Unit
		button: gradient dark <svg role="presentation"
			class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></button> <span class="mx-6 text-sm text-grey-400">[button element]</span>
</p>
<p>
	<a href="#"
		class="unit-button unit-button--simple unit-button--has-icon-right unit-button--animate-icon">Unit
		button: simple <svg role="presentation"
			class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></a> <span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button
		class="unit-button unit-button--simple unit-button--has-icon-right unit-button--animate-icon">Unit
		button: simple <svg role="presentation"
			class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></button> <span class="mx-6 text-sm text-grey-400">[button element]</span>
</p>
<p>
	<a href="#" class="text-sm unit-button unit-button--dark unit-button--block">Unit button: small text,
		full-width</a>
</p>

<p>
	<a href="#" class="text-xl unit-button unit-button--dark unit-button--block">Unit button: xl text,
		full-width</a>
</p>
	<p>
		<a href="https://apple.ca" class="text-sm unit-button unit-button--light" rel="no-follow">An external link button with the external icon</a>
	</p>
