<article class="ubc-card ubc-card--horiz-media bg-white">
  <div class="ubc-card__media">
    <a href="#">
      <img class="object-cover" alt="some alternate text" src="img/demo/headshot.jpg" height="355" width="355" loading="lazy" />
    </a>
  </div>
  <div class="ubc-card__content px-6 sm--px-16 py-12 self-center">
    <h3 class="font-semibold"><a href="#" class="text-unit-primary no-underline hover--text-unit-tertiary">John Miller</a></h3>
    <p class="mt-0">Professor</p>
    <ul class="my-4 border-b border-t border-grey-300 sm--flex">
      <li class="sm--flex-1 p-3">Phone: <a href="tel:604.555.2345">604 555 2345</li>
      <li class="sm--flex-1 p-3">Email: <a class="" href="mailto:john.miller@ubc.ca">john.miller@ubc.ca</a></li>
    </ul>
    <p class="mt-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="text-right"><a href="#" class="unit-button unit-button--light text-sm">View profile</a></p>
  </div>
</article>
