<section class="">
  <h3 class="flex justify-between pt-4 pb-2 heading-sm">{{ unitName }} on Twitter <svg role="presentation" class="inline-block w-8 h-8 -mt-2 text-grey-500">
		<use xlink:href="#icon-twitter"></use>
	</svg></h3>
  <div class="border-l border-r" style="border-color:rgba(15,70,100,.12);">
  <a class="text-sm twitter-timeline" href="https://twitter.com/ubcappscience?ref_src=twsrc%5Etfw" data-height="600" data-chrome="noheader nofooter">Tweets by ubcappscience</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
</section>
