<ul id="my-slider">
  <li><img src="https://live.staticflickr.com/65535/50597755733_3cdaa2d920_k_d.jpg" /></li>
  <li><h1 class="text-center">Some text</li>
  <li><img src="https://live.staticflickr.com/65535/50597762528_787a6f2f88_k_d.jpg" /></li>
  <li><h1 class="text-center">Some more text</li>
</ul>
