<ul class="md--flex md--flex-wrap md---mx-6">
  <li class="my-6 md--w-1/2 md--px-6">
    {% include "component--card--image--1.twig" %}
  </li>
  <li class="my-6 md--w-1/2 md--px-6">
    <h4 class="font-mono text-grey-500">Card Code</h4>
    <script type="text/plain" class="language-markup">
      {% include "component--card--image--1.twig" %}
    </script>
  </li>
</ul>

<ul class="md--flex md--flex-wrap md---mx-6">
  <li class="my-6 md--w-1/2 md--px-6">
    {% include "component--card--image--2.twig" %}
  </li>
  <li class="my-6 md--w-1/2 md--px-6">
    <h4 class="font-mono text-grey-500">Card Code</h4>
    <script type="text/plain" class="language-markup">
      {% include "component--card--image--2.twig" %}
    </script>
  </li>
</ul>
