<article class="text-white ubc-card ubc-card--horiz bg-unit-primary bg-gradient--unit">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/2.jpg" height="1368" width="2048" loading="lazy" />
  </div>
  <div class="self-center px-6 py-12 ubc-card__content sm--px-16 first-child--mt-0">
    <p class="text-white">Duis aute irure dolor in reprehenderit in voluptate. Anon proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="text-sm"><b>Samantha Smith</b><br />Professor, Associate Dean, Research and International</p>
    <hr class="border-white" />
    <p><a href="#" class="text-sm unit-button unit-button--transparent link-expand">View profile</a></p>
  </div>
</article>
