<article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/post4.jpg" height="500" width="800" loading="lazy" />
  </div>
  <div class="pb-10 ubc-card__content">
    <div class="text-2xl text-ubc-blue">BSN 1969</div>
    <h3 class="mt-0 text-2xl font-bold leading-tight"><a href="#" class="no-underline link-expand text-ubc-blue">From the first moon landing to the first smartphones: 50 years later</a></h3>
  </div>
</article>
