<ul class="flex">
  <li class="p-2">
    <span class="tag">This is a tag</span>
  </li>
  <li class="p-2">
    <span class="tag tag--grey">This is a tag</span>
  </li>
  <li class="p-2">
    <span class="tag tag--white">This is a tag</span>
  </li>
  <li class="p-2">
    <span class="tag">This is a tag</span>
  </li>
</ul>

<h3>Badges</h3>
<ul class="flex">
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
		    <use xlink:href="#icon-share"></use>
	    </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-primary">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
		    <use xlink:href="#icon-share"></use>
	    </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-ubc-blue">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
		    <use xlink:href="#icon-discussion"></use>
	    </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-secondary">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-black">
		    <use xlink:href="#icon-phone"></use>
	    </svg>
    </span>
  </li>
</ul>
<p class="text-sm text-grey-500">Note that these icons are placeholders - the intended icons are the Priority icons as outlined in Figma, however, they are not available in svg format.</p>
