<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--1.twig" %}
  </li>
  <li class="my-6 md--w-2/3 md--px-6">
    <details>
      <summary class="font-mono">Card Code</summary>
      <script type="text/plain" class="language-markup">
        {% include "component--card--vertical--1.twig" %}
      </script>
    </details>
  </li>
</ul>

<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--2.twig" %}
  </li>
  <li class="my-6 md--w-2/3 md--px-6">
    <details>
      <summary class="font-mono">Card Code</summary>
      <script type="text/plain" class="language-markup">
        {% include "component--card--vertical--2.twig" %}
      </script>
    </details>
  </li>
</ul>

<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--3.twig" %}
  </li>
  <li class="my-6 md--w-2/3 md--px-6">
    <details>
      <summary class="font-mono">Card Code</summary>
      <script type="text/plain" class="language-markup">
        {% include "component--card--vertical--3.twig" %}
      </script>
    </details>
  </li>
</ul>

<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--4.twig" %}
  </li>
  <li class="my-6 md--w-2/3 md--px-6">
    <details>
      <summary class="font-mono">Card Code</summary>
      <script type="text/plain" class="language-markup">
        {% include "component--card--vertical--4.twig" %}
      </script>
    </details>
  </li>
</ul>

<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--5.twig" %}
  </li>
  <li class="my-6 md--w-2/3 md--px-6">
    <details>
      <summary class="font-mono">Card Code</summary>
      <script type="text/plain" class="language-markup">
        {% include "component--card--vertical--5.twig" %}
      </script>
    </details>
  </li>
</ul>

<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--6.twig" %}
  </li>
  <li class="my-6 md--w-2/3 md--px-6">
    <details>
      <summary class="font-mono">Card Code</summary>
      <script type="text/plain" class="language-markup">
        {% include "component--card--vertical--6.twig" %}
      </script>
    </details>
  </li>
</ul>
