<p>
	UBC Point Grey: <span class="inline-block py-1 px-2 bg-ubc-blue-cornflower text-ubc-blue text-xs">UBCV</span>
</p>
<p>
	UBC Okanagan: <span class="inline-block py-1 px-2 bg-ubc-blue-sea text-white text-xs">UBCO</span>
</p>
