<tiny-slider speed="200">
  <div class="relative carousel__cell img-cover bg-gradient--screen">
    <img src="img/demo/50597755733_3cdaa2d920_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
    <div class="absolute inset-0 z-40 flex flex-col justify-end px-24 py-24 text-white carousel__content">
      <h2 class="text-7xl">UBC Applied Science</h2>
      <p class="text-hug">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="carousel__cell">
    <img src="img/demo/50669032231_0ea66d58a2_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
  </div>
  <div class="carousel__cell img-cover">
    <img src="img/demo/50597762528_787a6f2f88_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
  </div>
  <div class="carousel__cell">
    <img src="img/demo/50668514703_da6755f226_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
  </div>
</tiny-slider>

<h4 class="font-mono text-grey-500">Carousel Code</h4>
<script type="text/plain" class="language-markup">
<tiny-slider speed="200">
  <div class="relative carousel__cell img-cover bg-gradient--screen">
    <img src="img/demo/50597755733_3cdaa2d920_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
    <div class="absolute inset-0 z-40 flex flex-col justify-end px-24 py-24 text-white carousel__content">
      <h2 class="text-7xl">UBC Applied Science</h2>
      <p class="text-hug">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="carousel__cell">
    <img src="img/demo/50669032231_0ea66d58a2_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
  </div>
  <div class="carousel__cell img-cover">
    <img src="img/demo/50597762528_787a6f2f88_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
  </div>
  <div class="carousel__cell">
    <img src="img/demo/50668514703_da6755f226_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
  </div>
</tiny-slider>
</script>
