<article class="relative text-right image-card group">
  <div class="absolute inset-0 image-card__media img-cover bg-gradient--screen">
    <img alt="some alternate text" src="img/demo/featurette1.jpg" height="800" width="1200" loading="lazy" />
  </div>
  <div class="relative p-12 text-white image-card__content first-child--mt-0">
    <h3>
      <a href="#" class="text-white no-underline link-expand">Experiential Learning</a>
    </h3>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="unit-button unit-button--transparent group-hover--bg-ubc-blue">Qui officia deserunt</p>
  </div>
</article>
