<section class="p-8 my-6 shadow-lg">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="p-8 my-6 shadow-lg bg-grey-300">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="p-8 my-6 shadow-lg bg-ubc-blue-polar">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing
		elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="p-8 my-6 shadow-lg gradient-bottom--grey-full">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="p-8 my-6 shadow-lg bg-ubc-blue-cobalt">
	<p class="text-white text-hug">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-ubc-blue-sea">
	<p class="text-white text-hug">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-ubc-blue">
	<p class="text-white text-hug">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-unit-primary">
	<p class="text-white text-hug">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-unit-secondary">
	<p class="text-black text-hug">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-unit-accent">
	<p class="text-white text-hug">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-gradient">
	<p class="text-white text-hug">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-gradient--unit">
	<p class="text-white text-hug">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>
