<div class="slideshow">
  <div class="relative carousel__cell bg-ubc-blue">
    <div class="container relative z-40 flex flex-col justify-end px-5 py-24 mx-auto text-white md--px-4 carousel__content">
      <h2 class="mt-64 text-white text-7xl">UBC Information Technology</h2>
      <p class="text-hug">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="relative carousel__cell img-cover bg-ubc-blue md--bg-gradient--screen ">
    <img src="img/demo/50597755733_3cdaa2d920_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
    <div class="container relative z-40 flex flex-col justify-end px-5 py-24 mx-auto text-white md--px-4 md--bg-none md--absolute md--inset-0 carousel__content">
      <h2 class="mt-0 text-white text-7xl">UBC Information Technology</h2>
      <p class="text-hug">Text with screen. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="relative carousel__cell img-cover bg-ubc-blue md--bg-none">
    <img src="img/demo/50669032231_0ea66d58a2_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
    <div class="container relative z-40 flex flex-col justify-end px-5 py-24 mx-auto text-white md--px-4 md--absolute md--inset-0 carousel__content">
      <h2 class="mt-0 text-white text-7xl">UBC IT</h2>
      <p class="text-hug">Text without screen</p>
    </div>
  </div>
  <div class="carousel__cell img-cover md--has-gradient-bottom--after bg-ubc-blue">
    <img src="img/demo/50597762528_787a6f2f88_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
     <div class="container relative z-40 flex flex-col justify-end px-5 py-24 mx-auto text-white md--px-4 md--bg-none md--absolute md--inset-0 carousel__content">
      <h2 class="mt-0 text-white text-7xl">UBC Information Technology</h2>
      <p class="text-hug">Text with bottom gradient</p>
    </div>
  </div>
  <div class="carousel__cell img-cover md--has-gradient-top--after bg-ubc-blue">
    <img src="img/demo/50668514703_da6755f226_k_d.jpg" height="1363" width="2048" alt="" loading="lazy">
    <div class="container relative z-40 flex flex-col justify-start px-5 py-24 mx-auto text-white md--px-4 md--bg-none md--absolute md--inset-0 carousel__content">
      <h2 class="mt-0 text-white text-7xl">UBC IT</h2>
      <p class="text-hug">Text with top gradient</p>
    </div>
  </div>
</div>

