<article class="shadow ubc-card ubc-card--vert hover--shadow-lg">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/headshot.jpg" height="335" width="335" loading="lazy" />
  </div>
  <div class="pb-10 ubc-card__content first-child--mt-0">
    <h3 class="text-2xl font-semibold leading-none"><a href="#" class="no-underline link-expand text-ubc-blue">Donald Johnson</a></h3>
    <p class="mt-3 text-sm text-ubc-blue">BASc Mechanical Engineering</p>
  </div>
</article>
