<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="w-full my-6 md--px-6">
    {% include "component--card--horizontal--1.twig" %}
  </li>
</ul>

<details>
  <summary class="font-mono">Card Code</summary>
  <script type="text/plain" class="language-markup">
    {% include "component--card--horizontal--1.twig" %}
  </script>
</details>

<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="w-full my-6 md--px-6">
    {% include "component--card--horizontal--2.twig" %}
  </li>
</ul>

<details>
  <summary class="font-mono">Card Code</summary>
  <script type="text/plain" class="language-markup">
    {% include "component--card--horizontal--2.twig" %}
  </script>
</details>


<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="w-full my-6 md--px-6 md--w-1/2">
    {% include "component--card--horizontal--3.twig" %}
  </li>
  <li class="w-full my-6 md--px-6 md--w-1/2">
    <details>
      <summary class="font-mono">Card Code</summary>
      <script type="text/plain" class="language-markup">
        {% include "component--card--horizontal--3.twig" %}
      </script>
    </details>
  </li>
</ul>

<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="w-full my-6 md--px-6 md--w-1/2">
    {% include "component--card--horizontal--4.twig" %}
  </li>
  <li class="w-full my-6 md--px-6 md--w-1/2">
    <details>
      <summary class="font-mono">Card Code</summary>
      <script type="text/plain" class="language-markup">
        {% include "component--card--horizontal--4.twig" %}
      </script>
    </details>
  </li>
</ul>

<ul class="md--flex md--flex-wrap md---mx-6 list-unstyled">
  <li class="w-full my-6 md--px-6">
    {% include "component--card--horizontal--5.twig" %}
  </li>
</ul>

<details>
  <summary class="font-mono">Card Code</summary>
  <script type="text/plain" class="language-markup">
    {% include "component--card--horizontal--5.twig" %}
  </script>
</details>


