<Message title="Message heading" classes="" svgicon="icon-alert">
	<p>Some unstyled message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Message heading" classes="message--error" svgicon="icon-alert">
	<p>Some alert message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Message heading" classes="message--warning" svgicon="icon-alert">
	<p>Some warning message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Message heading" classes="message--success" svgicon="icon-info">
	<p>Some success message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>

<Message title="Message heading" classes="message--status" svgicon="icon-info">
	<p>Some status message content. <a href="#" class="underline">Learn more</a>.</p>
</Message>
