<section class="my-6 p-8 shadow-lg">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="my-6 p-8 shadow-lg bg-grey-300">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="my-6 p-8 shadow-lg bg-ubc-blue-polar">
	<p class="text-hug text-ubc-blue-cobalt">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing
		elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="my-6 p-8 shadow-lg gradient-bottom--grey-full">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="my-6 p-8 shadow-lg bg-ubc-blue-cobalt">
	<p class="border-l-2 pl-6 border-white text-white text-hug font-semibold text-lg">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="my-6 p-8 shadow-lg bg-ubc-blue">
	<p class="border-l-2 pl-6 border-white text-white text-hug font-semibold text-lg">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>
