<article class="relative shadow ubc-card ubc-card--vert hover--shadow-lg bg-ubc-blue-polar bg-light">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/btn3.jpg" height="315" width="799" loading="lazy" />
  </div>
  <div class="flex flex-col self-center flex-1 h-full p-6">
		<div class="py-2 ubc-card__content first-child--mt-0">
			  <h3 class="text-2xl font-semibold leading-tight"><a href="#" class="no-underline link-expand text-ubc-blue">From sci-fi to computer engineering</a></h3>
        <p class="mt-4 text-lg text-ubc-blue">Emma Stanley</p>
        <p class="mt-0 text-sm font-light text-ubc-blue">MASc 2020<br />Chemical and Biological Engineering</p>
        <p>"I consider the world around me on a daily basis and find that there are so many aspects that I believe can be imporoved upon or solved with new technology developments."</p>
		</div>
		<div class="w-full mt-auto ubc-card__actions">
		</div>
	</div>
</article>
