<h4>Default button</h4>

<p>
	<a href="#" class="unit-button">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button">Unit button</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
	<input type="submit" value="Unit button" class="unit-button" />
	<span class="mx-6 text-sm text-grey-400">[input element]</span>
</p>

<h4>Dark button</h4>

<p>
	<a href="#" class="unit-button unit-button--dark">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button unit-button--dark">Unit button</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
	<input type="submit" value="Unit button" class="unit-button unit-button--dark" />
	<span class="mx-6 text-sm text-grey-400">[input element]</span>
</p>

<h4>Light button</h4>

<p>
	<a href="#" class="unit-button unit-button--light">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button unit-button--light">Unit button</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
	<input type="submit" value="Unit button" class="unit-button unit-button--light" />
	<span class="mx-6 text-sm text-grey-400">[input element]</span>
</p>

<h4>Transparent button</h4>

<p class="p-8 bg-ubc-blue">
	<a href="#" class="unit-button unit-button--transparent">Unit button</a>
	<span class="mx-6 text-sm text-white">[a element]</span>
	<button class="unit-button unit-button--transparent">Unit button</button>
	<span class="mx-6 text-sm text-white">[button element]</span>
	<input type="submit" value="Unit button" class="unit-button unit-button--transparent" />
	<span class="mx-6 text-sm text-white">[input element]</span>
</p>

<h4>Simple button</h4>

<p>
	<a href="#" class="unit-button unit-button--simple unit-button--has-icon-right unit-button--animate-icon">Unit button
		<svg role="presentation" class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-caret"></use>
		</svg>
	</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button unit-button--simple unit-button--has-icon-right unit-button--animate-icon">Unit button
		<svg role="presentation" class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-caret"></use>
		</svg>
	</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
</p>

<h4>Button sizes</h4>
<div class="lg--flex">
	<div class="flex-1">
		<p>
			<a href="#" class="text-xs unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size xs]</span>
		</p>
		<p>
			<a href="#" class="text-sm unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size sm]</span>
		</p>
		<p>
			<a href="#" class="unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size default]</span>
		</p>
		<p>
			<a href="#" class="text-lg unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size lg]</span>
		</p>
		<p>
			<a href="#" class="text-xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size xl]</span>
		</p>
		<p>
			<a href="#" class="text-2xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size 2xl]</span>
		</p>
	</div>
	<div class="flex-1">
		<p>
			<a href="#" class="text-3xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size 3xl]</span>
		</p>
		<p>
			<a href="#" class="text-4xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size 4xl]</span>
		</p>
		<p>
			<a href="#" class="text-5xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size 5xl]</span>
		</p>
	</div>
</div>

<h4>Button block</h4>
<p>
	<a href="#" class="text-xl unit-button unit-button--dark unit-button--block">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button block]</span>
</p>

<h4>Button with external link</h4>
<p>
	<a href="https://apple.ca" class="text-sm unit-button unit-button--light" rel="no-follow">An external link button with the external icon</a>
	<span class="mx-6 text-sm text-grey-400">[external link icon]</span>
</p>
