<div class="md--flex md--flex-wrap md---mx-6">
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--2.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--3.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--4.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--5.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--6.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--7.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--8.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--9.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--10.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--11.twig" %}
  </div>
  <div class="my-6 md--w-1/3 md--px-6">
    {% include "component--card--vertical--12.twig" %}
  </div>
</div>
