<ul class="flex list-unstyled">
  <li>
    <span class="tag">This is a tag</span>
  </li>
  <li>
    <span class="tag tag--grey">This is a tag</span>
  </li>
  <li>
    <span class="tag tag--white">This is a tag</span>
  </li>
  <li>
    <span class="tag">This is a tag</span>
  </li>
</ul>

<details>
  <summary class="font-mono">Sample Tag Code</summary>
  <script type="text/plain" class="language-markup">
    <span class="tag bg-unit-alt-accent bg-light">This is a tag</span>
  </script>
</details>

<h3>Badges</h3>
<ul class="flex list-unstyled">
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
		    <use xlink:href="#icon-share"></use>
	    </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-primary">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
		    <use xlink:href="#icon-share"></use>
	    </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-ubc-blue">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
		    <use xlink:href="#icon-discussion"></use>
	    </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-secondary">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-black">
		    <use xlink:href="#icon-phone"></use>
	    </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-primary">
      <span class="inline-block w-4 h-4 m-2 text-xs text-center text-white">47</span>
    </span>
  </li>
</ul>
<details>
  <summary class="font-mono">Sample Badge Code</summary>
  <script type="text/plain" class="language-markup">
    <span class="inline-flex rounded-full bg-unit-primary">
      <span class="inline-block w-4 h-4 m-2 text-xs text-center text-white">47</span>
    </span>
  </script>
</details>
<p class="text-sm text-grey-500">Note that these icons are placeholders.</p>
