<div class="message js-dismiss" role="status" aria-live="polite">
	<a class="message__close js-dismiss__trigger" data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="flex-none inline-block w-12 h-12 mr-4 xl--w-20 xl--h-20 text-ubc-blue xl--mr-8">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some unstyled message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--error js-dismiss" role="status" aria-live="polite">
	<a class="message__close js-dismiss__trigger" data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="flex-none inline-block w-12 h-12 mr-4 xl--w-20 xl--h-20 text-ubc-blue xl--mr-8">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some alert message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--warning js-dismiss" role="status" aria-live="polite">
	<a class="message__close js-dismiss__trigger" data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="flex-none inline-block w-12 h-12 mr-4 xl--w-20 xl--h-20 text-ubc-blue xl--mr-8">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some warning message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--success js-dismiss" role="status" aria-live="polite">
	<a class="message__close js-dismiss_trigger" data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="flex-none inline-block w-12 h-12 mr-4 xl--w-20 xl--h-20 text-ubc-blue xl--mr-8">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some success message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--status js-dismiss" role="status" aria-live="polite">
	<a class="message__close js-dismiss__trigger" data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="flex-none inline-block w-12 h-12 mr-4 xl--w-20 xl--h-20 text-ubc-blue xl--mr-8">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some general status message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--status js-dismiss" role="status" aria-live="polite">
	<a class="message__close js-dismiss__trigger" data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="flex-none inline-block w-12 h-12 mr-4 xl--w-20 xl--h-20 text-ubc-blue xl--mr-8">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some general status message content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
		velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
		qui officia deserunt mollit anim id est laborum. <a href="#" class="underline">Learn more</a>.</p>
</div>
