<article class="image-card">
  <div class="image-card__media">
    <img class="object-cover" alt="some alternate text" src="img/demo/featurette2.jpg" height="800" width="1200" loading="lazy" />
  </div>
  <div class="image-card__content">
    <h3 class="mt-0">Experiential Learning</h3>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class=""><a href="#" class="unit-button unit-button--simple unit-button--has-icon-right image-card__link link-expand">Read more <svg role="presentation" viewBox="0 0 64 64" class="unit-button__icon"><use xlink:href="#icon-caret"></use></svg></a></p>
  </div>
</article>
