<article class="relative h-full bg-white shadow ubc-card ubc-card--primary hover--cursor-pointer group isolate hover--shadow-lg bg-light ubc-card--horiz sm--flex sm--flex-row" data-component-id="ouc:card--primary">
	<figure class="mt-0 ubc-card__media img-cover overflow-hidden sm--max-w-[300px] sm--shrink-0">
		<img alt="some alternate text" src="img/demo/headshot.jpg" height="355" width="355" loading="lazy"/>
	</figure>
	<div class="flex flex-col self-center flex-1 h-full p-6 ubc-card__content_wrapper">
		<div class="py-2 ubc-card__content first-child--mt-0">
			<div class="text-sm text-grey-600">July 30, 2025</div>
			<h3 class="mt-0 text-2xl font-normal">
				<a href="/news/july-07-2025/sdfgsdf" class="no-underline hover--no-underline text-ubc-blue link-expand button-ripple" data-once="js-button-ripple">
					<span class="field field--name-title field--type-string field--label-hidden">From sci-fi to computer engineering</span>
				</a>
			</h3>
			<p class="mt-2">Mechanics of functional materials, such as gecko-inspired adhesives, high toughness elastomers, hydrogels, and nanostructured metal alloys.</p>
		</div>
		<div class="w-full mt-auto text-right ubc-card__actions">
			<p>
				<a class="unit-button unit-button--simple" href="/news/july-07-2025/sdfgsdf" data-component-id="ouc:button">
					Learn more
				</a>
			</p>
		</div>
	</div>
</article>
