<p class="text-center">
	<svg role="presentation" class="inline-block h-16 w-16 text-ubc-blue">
		<use xlink:href="#logo-ubc"></use>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-search" aria-describedby="description-icon-search"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-search">Search</title>
		<desc id="description-icon-search">A magnifying glass.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M38.192 38.191L50 50"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
		<circle cx="29" cy="29" r="13" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-menu" aria-describedby="description-icon-menu"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-neptune">
		<title id="title-icon-menu">Menu</title>
		<desc id="description-icon-menu">Three horizontal lines indicating a menu.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M14 18h36M14 32h36"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M14 46h36"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-arrow" aria-describedby="description-icon-arrow"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cornflower">
		<title id="title-icon-arrow">Arrow</title>
		<desc id="description-icon-arrow">An arrow indicating direction.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M14 31.998h36"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M28 18L14 32l14 14"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-arrow-circle" aria-describedby="description-icon-arrow-circle"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-neptune">
		<title id="title-icon-arrow-circle">Arrow in Circle</title>
		<desc id="description-icon-arrow-circle">An arrow indicating direction.</desc>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			d="M14.002 32.002h35M36 21l13 11-13 11" stroke-linejoin="round" stroke-linecap="round"
			class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-caret" aria-describedby="description-icon-caret"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cornflower">
		<title id="title-icon-caret">Caret</title>
		<desc id="description-icon-caret">An arrowhead indicating direction.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M26 20.006L40 32 26 44.006"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-plus" aria-describedby="description-icon-plus"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue">
		<title id="title-icon-plus">Plus</title>
		<desc id="description-icon-plus">A plus symbol indicating more or the ability to add.</desc>
		<path d="M53 29H35V11a3 3 0 0 0-6 0v18H11a3 3 0 0 0 0 6h18v18a3 3 0 0 0 6 0V35h18a3 3 0 0 0 0-6z" fill="none"
			stroke="currentColor" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"
			class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-play" aria-describedby="description-icon-play"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-play">Play</title>
		<desc id="description-icon-play">A media play button.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M24 18l24 14-24 14V18z"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-cart" aria-describedby="description-icon-cart"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-neptune">
		<title id="title-icon-cart">E-commerce Cart</title>
		<desc id="description-icon-cart">A shopping cart.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M62 22H16M2 6h10l10 40h32"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
		<circle cx="24" cy="54" r="4" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
		<circle cx="50" cy="54" r="4" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M59 30H26m30 8H28"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-home" aria-describedby="title-icon-home" role="presentation"
		class="inline-block h-16 w-16 text-ubc-blue-cornflower">
		<title id="title-icon-home">Home</title>
		<desc id="description-icon-home">A house in silhouette.</desc>
		<path
			d="M54 26.267l7.555 7.3a.25.25 0 0 1-.174.43H54V62H40V44H24v18H10V34H2.618a.25.25 0 0 1-.174-.43L32 5l13 12.567V12h9z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-phone" aria-describedby="description-icon-phone"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-neptune">
		<title id="title-icon-phone">Telephone</title>
		<desc id="description-icon-phone">An antique telephone.</desc>
		<path
			d="M58.9 47l-10.4-6.8a4.8 4.8 0 0 0-6.5 1.3c-2.4 2.9-5.3 7.7-16.2-3.2S19.6 24.4 22.5 22a4.8 4.8 0 0 0 1.3-6.5L17 5.1c-.9-1.3-2.1-3.4-4.9-3S2 6.6 2 15.6s7.1 20 16.8 29.7S39.5 62 48.4 62s13.2-8 13.5-10-1.7-4.1-3-5z"
			fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
			stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-discussion" aria-describedby="description-icon-discussion"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cornflower">
		<title id="title-icon-discussion">Chats</title>
		<desc id="description-icon-discussion">Two speech clouds.</desc>
		<path
			d="M49.6 28.5C56.8 30.1 62 35.4 62 41.6a12.4 12.4 0 0 1-5.1 9.7L60 59l-10.3-4.3a21 21 0 0 1-4.7.5c-8.2 0-15.1-4.7-16.7-10.9"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
			class="stroke-noscale"></path>
		<path
			d="M4 50l15.4-6.3a29.6 29.6 0 0 0 6.6.7c13.3 0 24-8.6 24-19.2S39.3 6 26 6 2 14.6 2 25.2C2 30.6 4.8 35.5 9.3 39z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
			class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-pencil" aria-describedby="description-icon-pencil"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue">
		<title id="title-icon-pencil">Pencil</title>
		<desc id="description-icon-pencil">A pencil indicating that this is editable.</desc>
		<path stroke-width="2" stroke-miterlimit="10" stroke="currentColor" fill="none"
			d="M55.737 16.309l3.674-3.67a5.675 5.675 0 1 0-8.025-8.025l-3.674 3.669" stroke-linejoin="round"
			stroke-linecap="round" class="stroke-noscale"></path>
		<path d="M17.337 54.667l38.4-38.358-8.025-8.026L9.307 46.642 2.926 61.049l14.411-6.382zm-8.03-8.025l8.03 8.025"
			stroke-width="2" stroke-miterlimit="10" stroke="currentColor" fill="none" stroke-linejoin="round"
			stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-user" aria-describedby="description-icon-user"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-user">User</title>
		<desc id="description-icon-user">A silhouette of a person.</desc>
		<path
			d="M46 26c0 6.1-3.4 11.5-7 14.8V44c0 2 1 5.1 11 7a15.5 15.5 0 0 1 12 11H2a13.4 13.4 0 0 1 11-11c10-1.8 12-5 12-7v-3.2c-3.6-3.3-7-8.6-7-14.8v-9.6C18 6 25.4 2 32 2s14 4 14 14.4z"
			fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
			stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-twitter" aria-describedby="description-icon-twitter"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-neptune">
		<title id="title-icon-twitter">Twitter</title>
		<desc id="description-icon-twitter">The logo for the Twitter social media service.</desc>
		<path
			d="M60.448 15.109a24.276 24.276 0 0 1-3.288.968.5.5 0 0 1-.451-.853 15.146 15.146 0 0 0 3.119-4.263.5.5 0 0 0-.677-.662 18.6 18.6 0 0 1-6.527 2.071 12.92 12.92 0 0 0-9-3.75A12.363 12.363 0 0 0 31.25 20.994a12.727 12.727 0 0 0 .281 2.719c-9.048-.274-19.61-4.647-25.781-12.249a.5.5 0 0 0-.83.073 12.475 12.475 0 0 0 2.956 14.79.5.5 0 0 1-.344.887 7.749 7.749 0 0 1-3.1-.8.5.5 0 0 0-.725.477 11.653 11.653 0 0 0 7.979 10.567.5.5 0 0 1-.09.964 12.567 12.567 0 0 1-2.834 0 .506.506 0 0 0-.536.635c.849 3.282 5.092 7.125 9.839 7.652a.5.5 0 0 1 .267.87 20.943 20.943 0 0 1-14 4.577.5.5 0 0 0-.255.942 37.29 37.29 0 0 0 17.33 4.266 34.5 34.5 0 0 0 34.687-36.182v-.469a21.11 21.11 0 0 0 4.934-4.839.5.5 0 0 0-.58-.765z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-facebook" aria-describedby="description-icon-facebook"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cornflower">
		<title id="title-icon-facebook">Facebook</title>
		<desc id="description-icon-facebook">The logo for the Facebook social media service.</desc>
		<path
			d="M39.312 13.437H47V2h-9.094C26.938 2.469 24.688 8.656 24.5 15.125v5.719H17V32h7.5v30h11.25V32h9.281l1.781-11.156H35.75v-3.469a3.714 3.714 0 0 1 3.562-3.938z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-linkedin" aria-describedby="description-icon-linkedin"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-neptune">
		<title id="title-icon-linkedin">Linkedin</title>
		<desc id="description-icon-linkedin">The logo for the LinkedIn social media service.</desc>
		<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			d="M3.078 22.331h12.188v36.844H3.078z" stroke-linejoin="round" class="stroke-noscale"></path>
		<path
			d="M46.719 21.112c-5.344 0-8.531 1.969-11.906 6.281v-5.062H22.625v36.844h12.281V39.206c0-4.219 2.156-8.344 7.031-8.344s7.781 4.125 7.781 8.25v20.063H62V38.269c0-14.532-9.844-17.157-15.281-17.157z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
		<path
			d="M9.219 4.425C5.188 4.425 2 7.331 2 10.894s3.188 6.469 7.219 6.469 7.219-2.906 7.219-6.469-3.188-6.469-7.219-6.469z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-instagram" aria-describedby="description-icon-instagram"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cornflower">
		<title id="title-icon-instagram">Instagram</title>
		<desc id="description-icon-instagram">The logo for the Instagram social media service.</desc>
		<path
			d="M44.122 2H19.87A17.875 17.875 0 0 0 2 19.835v24.2a17.875 17.875 0 0 0 17.87 17.834h24.252A17.875 17.875 0 0 0 62 44.034v-24.2A17.875 17.875 0 0 0 44.122 2zM55.96 44.034a11.825 11.825 0 0 1-11.838 11.812H19.87A11.825 11.825 0 0 1 8.032 44.034v-24.2A11.825 11.825 0 0 1 19.87 8.022h24.252A11.825 11.825 0 0 1 55.96 19.835zm0 0"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
		<path
			d="M32 16.45a15.484 15.484 0 1 0 15.514 15.484A15.519 15.519 0 0 0 32 16.45zm0 24.95a9.461 9.461 0 1 1 9.482-9.461A9.472 9.472 0 0 1 32 41.4zm19.263-24.834a3.719 3.719 0 1 1-3.719-3.711 3.714 3.714 0 0 1 3.719 3.711zm0 0"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
	<svg aria-labelledby="title-icon-youtube" aria-describedby="description-icon-youtube" viewBox="0 0 64 64"
		class="inline-block h-16 w-16 text-ubc-blue">
		<title id="title-icon-youtube">Youtube</title>
		<desc id="description-icon-youtube">The logo for the YouTube video sharing service.</desc>
		<path
			d="M49.539 12H14.461A12.4 12.4 0 0 0 2 24.327v17.346A12.4 12.4 0 0 0 14.461 54h35.078A12.4 12.4 0 0 0 62 41.673V24.327A12.4 12.4 0 0 0 49.539 12z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
		<path
			d="M41.111 33.844L24.7 41.585a.658.658 0 0 1-.938-.585V25.031a.659.659 0 0 1 .956-.581l16.407 8.225a.649.649 0 0 1-.014 1.169z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-vimeo" aria-describedby="description-icon-vimeo"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-vimeo">Vimeo</title>
		<desc id="description-icon-vimeo">The logo for the Vimeo video sharing service.</desc>
		<path
			d="M52.531 6.744c-7.594 0-13.594 4.969-16.219 14.25 2.813-1.312 7.875-2.063 8.344 2.625.375 4.688-6.656 16.687-9.75 16.687s-5.344-13.594-6.188-19.781C27.969 14.244 26.469 7.4 20.656 7.4 14.75 7.4 7.25 16.588 2 20.713l2.719 3.75s3.937-3.094 5.25-2.812c3.563.938 6.563 15.375 8.156 20.906s3.469 16.688 11.156 16.688C41.563 59.244 62 28.682 62 18.651c0-6.563-1.875-11.907-9.469-11.907z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-star" aria-describedby="description-icon-star"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-star">Star</title>
		<desc id="description-icon-star">An outline of a star.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			d="M32 47.2L13.5 61l7.1-22.2L2 25h23l7-22 7 22h23L43.4 38.8 50.5 61 32 47.2z" stroke-linejoin="round"
			stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-minus" aria-describedby="description-icon-minus"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-minus">Minus</title>
		<desc id="description-icon-minus">A minus sign.</desc>
		<path d="M53 34H11a3 3 0 0 1 0-6h42a3 3 0 0 1 0 6z" fill="none" stroke="currentColor" stroke-miterlimit="10"
			stroke-width="2" stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-alert" aria-describedby="description-icon-alert"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-alert">Urgent Message</title>
		<desc id="description-icon-alert">An exclamation mark in a speech bubble.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M2 8v40h18v11l12-11h30V8H2z"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
		<path d="M34 32a2 2 0 0 1-2 2 2.2 2.2 0 0 1-2-2l-1-15a2.8 2.8 0 0 1 3-3 2.7 2.7 0 0 1 3 3z" fill="none"
			stroke="currentColor" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"
			class="stroke-noscale"></path>
		<circle cx="32" cy="40" r="2" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-info" aria-describedby="description-icon-info"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-info">Information</title>
		<desc id="description-icon-info">The letter 'i' in a circle.</desc>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M28 26h4v22m-4 .008h8"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
		<circle cx="31" cy="19" r="2" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-mail" aria-describedby="description-icon-mail"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-mail">Mail</title>
		<desc id="description-icon-mail">An envelope.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
			d="M2 12l30 29 30-29M42 31.6L62 52M2 52l20-20.4" stroke-linejoin="round" stroke-linecap="round"
			class="stroke-noscale"></path>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M2 12h60v40H2z"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-location" aria-describedby="description-icon-location"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-location">Location Pin</title>
		<desc id="description-icon-location">A map location pin.</desc>
		<path stroke-width="2" stroke-miterlimit="10" stroke="currentColor" fill="none"
			d="M32 62c0-17.1 16.3-25.2 17.8-39.7A18 18 0 1 0 14 20a18.1 18.1 0 0 0 .2 2.2C15.7 36.8 32 44.9 32 62z"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></path>
		<circle stroke-width="2" stroke-miterlimit="10" stroke="currentColor" fill="none" r="6" cy="20" cx="32"
			stroke-linejoin="round" stroke-linecap="round" class="stroke-noscale"></circle>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-settings" aria-describedby="description-icon-settings"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-settings">Settings</title>
		<desc id="description-icon-settings">A single gear.</desc>
		<circle cx="32" cy="32" r="10" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
			stroke-width="2" stroke-linejoin="round" class="stroke-noscale"></circle>
		<path
			d="M61 27h-6.551a22.857 22.857 0 0 0-3.041-7.336l4.634-4.634a1 1 0 0 0 0-1.414l-5.657-5.658a1 1 0 0 0-1.414 0l-4.634 4.634A22.857 22.857 0 0 0 37 9.552V3a1 1 0 0 0-1-1h-8a1 1 0 0 0-1 1v6.552a22.857 22.857 0 0 0-7.336 3.041l-4.635-4.635a1 1 0 0 0-1.414 0l-5.657 5.657a1 1 0 0 0 0 1.414l4.634 4.634A22.857 22.857 0 0 0 9.552 27H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h6.552a22.856 22.856 0 0 0 3.041 7.336l-4.635 4.635a1 1 0 0 0 0 1.414l5.657 5.657a1 1 0 0 0 1.414 0l4.634-4.634A22.86 22.86 0 0 0 27 54.449V61a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-6.551a22.86 22.86 0 0 0 7.336-3.041l4.634 4.634a1 1 0 0 0 1.414 0l5.657-5.657a1 1 0 0 0 0-1.414l-4.634-4.634A22.856 22.856 0 0 0 54.449 37H61a1 1 0 0 0 1-1v-8a1 1 0 0 0-1-1z"
			fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-speech" aria-describedby="description-icon-speech"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-speech">Speech Bubble</title>
		<desc id="description-icon-speech">A speech bubble.</desc>
		<path d="M42 8H22a20 20 0 0 0 0 40h2v10l12-10h6a20 20 0 1 0 0-40z" fill="none" stroke="currentColor"
			stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"
			class="stroke-noscale"></path>
	</svg>
	<svg viewBox="0 0 64 64" aria-labelledby="title-icon-clock" aria-describedby="description-icon-clock"
		role="presentation" class="inline-block h-16 w-16 text-ubc-blue-cobalt">
		<title id="title-icon-clock">Time</title>
		<desc id="description-icon-clock">A clock.</desc>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
			stroke-width="2" stroke-linejoin="round" class="stroke-noscale"></circle>
		<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
			d="M32 10v23l13 7" stroke-linejoin="round" class="stroke-noscale"></path>
	</svg>
</p>
