<p class="text-center">(stroke width 2)
	<svg role="presentation" class="inline-block h-4 w-4 sm--h-8 sm--w-8 xl--h-24 xl--w-24 text-ubc-blue"
		viewBox="0 0 64 64">
		<title>Caret</title>
		<desc>An arrowhead indicating direction.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M26 20.006L40 32 26 44.006"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>
	(stroke width, responsive)
	<svg role="presentation"
		class="inline-block h-4 w-4 sm--h-8 sm--w-8 xl--h-24 xl--w-24 text-ubc-blue stroke-w-6 sm--stroke-w-3 xl--stroke-w-1"
		viewBox="0 0 64 64">
		<title>Caret</title>
		<desc>An arrowhead indicating direction.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M26 20.006L40 32 26 44.006"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>
	large
	<svg role="presentation" class="inline-block h-24 w-24 text-ubc-blue stroke-w-1" viewBox="0 0 64 64">
		<title>Caret</title>
		<desc>An arrowhead indicating direction.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M26 20.006L40 32 26 44.006"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>
	medium
	<svg role="presentation" class="inline-block h-8 w-8 text-ubc-blue stroke-w-3" viewBox="0 0 64 64">
		<title>Caret</title>
		<desc>An arrowhead indicating direction.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M26 20.006L40 32 26 44.006"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>
	small
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue stroke-w-6" viewBox="0 0 64 64">
		<title>Caret</title>
		<desc>An arrowhead indicating direction.</desc>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M26 20.006L40 32 26 44.006"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>
</p>
<p class="text-center">
	(stroke width 2)
	<svg role="presentation" class="inline-block h-4 w-4 sm--h-8 sm--w-8 xl--h-24 xl--w-24 text-ubc-blue"
		viewBox="0 0 64 64">
		<title>Arrow in Circle</title>
		<desc>An arrow indicating direction.</desc>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-linejoin="round"
			stroke-linecap="round"></circle>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M14.002 32.002h35M36 21l13 11-13 11"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>

	(stroke width, responsive)
	<svg role="presentation"
		class="inline-block h-4 w-4 sm--h-8 sm--w-8 xl--h-24 xl--w-24 text-ubc-blue stroke-w-6 sm--stroke-w-3 xl--stroke-w-1"
		viewBox="0 0 64 64">
		<title>Arrow in Circle</title>
		<desc>An arrow indicating direction.</desc>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-linejoin="round"
			stroke-linecap="round"></circle>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M14.002 32.002h35M36 21l13 11-13 11"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>

	large
	<svg role="presentation" class="inline-block h-24 w-24 text-ubc-blue stroke-w-1" viewBox="0 0 64 64">
		<title>Arrow in Circle</title>
		<desc>An arrow indicating direction.</desc>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-linejoin="round"
			stroke-linecap="round"></circle>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M14.002 32.002h35M36 21l13 11-13 11"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>

	medium
	<svg role="presentation" class="inline-block h-8 w-8 text-ubc-blue stroke-w-3" viewBox="0 0 64 64">
		<title>Arrow in Circle</title>
		<desc>An arrow indicating direction.</desc>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-linejoin="round"
			stroke-linecap="round"></circle>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M14.002 32.002h35M36 21l13 11-13 11"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>

	small
	<svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue stroke-w-6" viewBox="0 0 64 64">
		<title>Arrow in Circle</title>
		<desc>An arrow indicating direction.</desc>
		<circle cx="32" cy="32" r="30" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-linejoin="round"
			stroke-linecap="round"></circle>
		<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M14.002 32.002h35M36 21l13 11-13 11"
			stroke-linejoin="round" stroke-linecap="round"></path>
	</svg>

</p>
<p>
	test small
	<svg role="presentation" class="unit-button__icon inline-block h-4 w-4 text-ubc-blue-cobalt ml-2 -mt-1 stroke-w-1"
		viewBox="0 0 19 19">
		<use xlink:href="#icon-arrow-circle2"></use>
	</svg>

	test medium
	<svg role="presentation" class="unit-button__icon inline-block h-8 w-8 text-ubc-blue-cobalt ml-2 -mt-1 stroke-w-3-4"
		viewBox="0 0 19 19">
		<use xlink:href="#icon-arrow-circle2"></use>
	</svg>

	test large
	<svg role="presentation"
		class="unit-button__icon inline-block h-16 w-16 text-ubc-blue-cobalt ml-2 -mt-1 stroke-w-1-2"
		viewBox="0 0 19 19">
		<use xlink:href="#icon-arrow-circle2"></use>
	</svg>

	test large responsive
	<svg role="presentation"
		class="unit-button__icon inline-block h-16 w-16 text-ubc-blue-cobalt ml-2 -mt-1 stroke-w-1-2 md--stroke-w-2 lg--stroke-w-1-8"
		viewBox="0 0 19 19">
		<use xlink:href="#icon-arrow-circle2"></use>
	</svg>
</p>
