<h3>Default button</h3>

<p>
	<a href="#" class="unit-button">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button">Unit button</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
	<input type="submit" value="Unit button" class="unit-button" />
	<span class="mx-6 text-sm text-grey-400">[input element]</span>
</p>

<details>
  <summary class="font-mono">Default button Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button">Unit button</a>
  </script>
</details>

<h3>Dark button</h3>
<p>
	<a href="#" class="unit-button unit-button--dark">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button unit-button--dark">Unit button</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
	<input type="submit" value="Unit button" class="unit-button unit-button--dark" />
	<span class="mx-6 text-sm text-grey-400">[input element]</span>
</p>
<details>
  <summary class="font-mono">Dark button Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button unit-button--dark">Unit button</a>
  </script>
</details>

<h3>Light button</h3>

<p>
	<a href="#" class="unit-button unit-button--light">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button unit-button--light">Unit button</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
	<input type="submit" value="Unit button" class="unit-button unit-button--light" />
	<span class="mx-6 text-sm text-grey-400">[input element]</span>
</p>
<details>
  <summary class="font-mono">Light button Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button unit-button--light">Unit button</a>
  </script>
</details>

<h3>Transparent button</h3>

<p class="p-8 bg-ubc-blue">
	<a href="#" class="unit-button unit-button--transparent">Unit button</a>
	<span class="mx-6 text-sm text-white">[a element]</span>
	<button class="unit-button unit-button--transparent">Unit button</button>
	<span class="mx-6 text-sm text-white">[button element]</span>
	<input type="submit" value="Unit button" class="unit-button unit-button--transparent" />
	<span class="mx-6 text-sm text-white">[input element]</span>
</p>
<details>
  <summary class="font-mono">Transparent button Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button unit-button--transparent">Unit button</a>
  </script>
</details>

<h3>Simple button</h3>

<p>
	<a href="#" class="unit-button unit-button--simple unit-button--has-icon-right unit-button--animate-icon">Unit button
		<svg role="presentation" class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-caret"></use>
		</svg>
	</a>
	<span class="mx-6 text-sm text-grey-400">[a element]</span>
	<button class="unit-button unit-button--simple unit-button--has-icon-right unit-button--animate-icon">Unit button
		<svg role="presentation" class="unit-button__icon" viewBox="0 0 64 64">
			<use xlink:href="#icon-caret"></use>
		</svg>
	</button>
	<span class="mx-6 text-sm text-grey-400">[button element]</span>
</p>
<details>
  <summary class="font-mono">Simple button Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button unit-button--simple">Unit button</a>
  </script>
</details>

<h3>Button text sizes</h3>
<div class="lg--flex">
	<div class="flex-1">
		<p>
			<a href="#" class="text-xs unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size xs]</span>
		</p>
		<p>
			<a href="#" class="text-sm unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size sm]</span>
		</p>
		<p>
			<a href="#" class="unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size default]</span>
		</p>
		<p>
			<a href="#" class="text-lg unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size lg]</span>
		</p>
		<p>
			<a href="#" class="text-xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size xl]</span>
		</p>
		<p>
			<a href="#" class="text-2xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size 2xl]</span>
		</p>
	</div>
	<div class="flex-1">
		<p>
			<a href="#" class="text-3xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size 3xl]</span>
		</p>
		<p>
			<a href="#" class="text-4xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size 4xl]</span>
		</p>
		<p>
			<a href="#" class="text-5xl unit-button unit-button--dark">Unit button</a>
			<span class="mx-6 text-sm text-grey-400">[size 5xl]</span>
		</p>
	</div>
</div>
<details>
  <summary class="font-mono">Button text sizes Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="text-xs unit-button unit-button--dark">Unit button</a>
    <a href="#" class="text-sm unit-button unit-button--dark">Unit button</a>
    <a href="#" class="unit-button unit-button--dark">Unit button</a>
    <a href="#" class="text-lg unit-button unit-button--dark">Unit button</a>
    <a href="#" class="text-xl unit-button unit-button--dark">Unit button</a>
    <a href="#" class="text-2xl unit-button unit-button--dark">Unit button</a>
    <a href="#" class="text-3xl unit-button unit-button--dark">Unit button</a>
    <a href="#" class="text-4xl unit-button unit-button--dark">Unit button</a>
    <a href="#" class="text-5xl unit-button unit-button--dark">Unit button</a>
  </script>
</details>

<h3>Button block</h3>
<p>
	<a href="#" class="text-xl unit-button unit-button--dark unit-button--block">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button block]</span>
</p>
<details>
  <summary class="font-mono">Button block Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button unit-button--dark unit-button--block">Unit button</a>
  </script>
</details>

<h3>Button small variant</h3>
<p>
	<a href="#" class="unit-button unit-button--small">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button small]</span>
</p>
<details>
  <summary class="font-mono">Button small Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button unit-button--small">Unit button</a>
  </script>
</details>

<h3>Button disabled</h3>
<p>
	<a href="#" class="unit-button unit-button--disabled">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button disabled]</span>
	<a href="#" class="unit-button unit-button--dark unit-button--disabled">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button dark disabled]</span>
	<a href="#" class="unit-button unit-button--light unit-button--disabled">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button light disabled]</span>
</p>

<details>
  <summary class="font-mono">Button disabled Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button unit-button--disabled">Unit button</a>
	<a href="#" class="unit-button unit-button--dark unit-button--disabled">Unit button</a>
	<a href="#" class="unit-button unit-button--light unit-button--disabled">Unit button</a>
  </script>
</details>

<h3>Button destructive</h3>
<p>
	<a href="#" class="unit-button unit-button--destructive">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button destructive]</span>
	<a href="#" class="unit-button unit-button--dark unit-button--destructive">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button dark destructive]</span>
	<a href="#" class="unit-button unit-button--light unit-button--destructive">Unit button</a>
	<span class="mx-6 text-sm text-grey-400">[button light destructive]</span>
</p>
<details>
  <summary class="font-mono">Button destructive Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="#" class="unit-button unit-button--destructive">Unit button</a>
	<a href="#" class="unit-button unit-button--dark unit-button--destructive">Unit button</a>
	<a href="#" class="unit-button unit-button--light unit-button--destructive">Unit button</a>
  </script>
</details>

<h3>Button with external link</h3>
<p>
	<a href="https://apple.ca" class="text-sm unit-button unit-button--light link-external" rel="no-follow">An external link button with the external icon</a>
	<span class="mx-6 text-sm text-grey-400">[external link icon]</span>
</p>
<details>
  <summary class="font-mono">Button with external link Code</summary>
  <script type="text/plain" class="language-markup">
    <a href="https://apple.ca" class="text-sm unit-button unit-button--light link-external" rel="no-follow">An external link button with the external icon</a>
  </script>
</details>

<h3>Button lists</h3>
<ul class="button-list">
	<li>
		<a href="#">Study List Item</a>
	</li>
	<li>
		<a href="#">Study List Item</a>
	</li>
	<li>
		<a href="#">Study List Item</a>
	</li>
	<li>
		<a href="#">Study List Item</a>
	</li>
	<li>
		<a href="#">Study List Item</a>
	</li>
</ul>

<details>
  <summary class="font-mono">Button list code</summary>
  <script type="text/plain" class="language-markup">
    <ul class="button-list">
      <li>
        <a href="#">Study List Item</a>
      </li>
      <li>
        <a href="#">Study List Item</a>
      </li>
      <li>
        <a href="#">Study List Item</a>
      </li>
      <li>
        <a href="#">Study List Item</a>
      </li>
      <li>
        <a href="#">Study List Item</a>
      </li>
    </ul>
  </script>
</details>
