<section id="block-views-section-drawer-drawer-courses" class="block block-views block-even">
        <div class="content">
  <div class="view view-section-drawer view-id-section_drawer view-display-id-drawer_courses view-dom-id-2f525293b8f145827a097858898b5ff1">
            <div class="view-header">
      <h3 class="4682 heading-four">Available Sessions</h3>
<p class="triggers"><span id="openall" class="cstabs-processed"><i class="icon-plus-sign"></i> Open all</span> | <span id="closeall" class="cstabs-processed"><i class="icon-minus-sign"></i> Close all</span></p>
    </div>



      <div class="view-content">
          <div class="views-row panel large  first last odd panel-closed">

  <div>        <span><div class="panel-tab cstab-processed" tabindex="0">
<i class="icon-plus-sign"></i> <span class="date-display-single">May 14</span>-<span class="date-display-single">Jul 2, 2019</span> <span>|</span> Tue <span>|</span> 6:30pm-9:30pm <span>|</span> UBC Robson Square   <span>|</span> <span class="computed-price">$530.00</span></div>
<div class="panel-content" style="display: none;">
<p>
Format: In-Class<br>
Code: LC993S19A<br>
Offered: On Tue <br>
<span class="date-display-single">May 14</span>-<span class="date-display-single">Jul 2, 2019</span><br>

7 sessions<br>
From: 6:30pm-9:30pm<br>
 </p><div class="dropdown">Location: <span class="section-location">UBC Robson Square</span><span class="section-location-map">,  (<a class="dropdown-toggle" role="button" target="_blank" href="http://maps.google.com/?q=800 Robson Street, Vancouver, BC V6Z 3B7">See map <i class="icon-map-marker"></i></a>)<div class="dropdown-menu">800 Robson Street, Vancouver, BC V6Z 3B7</div></span></div>
<span class="drawer-instr" style="display: none;">Instructor: </span>
<p></p>
<hr>
<p class="fee-title"><strong>Fees / Tuition</strong></p>

<div class="view view-section-table view-id-section_table view-display-id-block view-dom-id-3ad2e2dfa9c2f39943f82b3f358196fc">


        <form name="srsCartForm" method="post" action="https://cart.continuingstudies.sauder.ubc.ca/aspnet/Course/Detail/index.aspx?code=LC993" id="srsCartForm_63532" class="LC993 srs-cart-form" data-course="LC993" data-section="63532"><input id="cart_form_target_63532" type="hidden" name="__EVENTTARGET" value="ctl00$pagebody$ctl00$ctl00$AddToCart"><input id="cart_form_arg_63532" type="hidden" name="__EVENTARGUMENT" value=""><input id="cart_form_viewstate_63532" class="viewstate" type="hidden" name="__VIEWSTATE" value="/wEPDwUKMTUzMzc3Njk5MA9kFgJmD2QWCAIKD2QWBAIBDxYCHglpbm5lcmh0bWxlZAIDDxYCHwBlZAILD2QWBGYPZBYCZg8PFgIeB1Zpc2libGVoZBYGZg8PFgIfAWhkZAIBDw8WAh8BaGRkAgIPDxYCHwFoZGQCAQ9kFgICAw9kFgJmD2QWAmYPZBYCZg9kFgJmD2QWAmYPZBYCAgMPZBYCZg9kFgJmD2QWAmYPZBYCAgEPZBYCZg9kFgJmDxYCHghkaXNhYmxlZGRkAg8PZBYCAgEPZBYCZg9kFgJmDw8WAh8BZ2QWAgICDw8WAh8BaGRkAhUPZBYCZg9kFgJmDxYCHgtfIUl0ZW1Db3VudGZkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYBBTRjdGwwMCRwYWdlYm9keSRjdGwwMCRjdGwwMCRjdGwwMCRjdGwwMCRjYnhQYXlEZXBvc2l0P7B6KpsrMPsaASCvO5YOAKqTw+w="><input id="cart_form_validation_63532" class="validation" type="hidden" name="__EVENTVALIDATION" value="/wEdAAYX+aNjqqlp9pwSk9j5YNonjinm+che4T+5zY2S8T0ZAQOvO3BH6ZymNp+yD5ea8GNNlLgAIqmB5fKyGDDYkfOaBuHPYKr1h71au3oD8EIGHldaHXTMgZ0nUNu5sre2TVN4t7c0AOrGG1qA6O5eYlyXS9dF7Q==">
      <div class="view-content">
      <table class="pickcourse views-table cols-4 table">
         <thead>
      <tr>
                  <th>
            Type          </th>
                  <th>
            Fee          </th>
                  <th>
            Tax          </th>
                  <th>
            Total          </th>
              </tr>
    </thead>
    <tbody>
          <tr class="odd views-row-first views-row-last">
                  <td>

<input type="radio" id="cc-63532" name="course-LC993" value="63532" class="form-radio" checked="checked">
<label class="radio inline form-type-radio" for="cc-63532"> Standard Course Fee </label>          </td>
                  <td>
            $530.00          </td>
                  <td>
            $26.50          </td>
                  <td>
            $556.50          </td>
              </tr>
      </tbody>
</table>
    </div>


        <input id="cart_form_feetype_63532" type="hidden" name="Feetype_Item_40085" value="63532"><div id="sponsorcodewrapper_63532" style="" class="sponsorcodewrapper">Coupon Code<br><span id="SponsorCode_63532"><input name="ctl00$pagebody$ctl00$ctl00$ctl00$ctl00$SponsorCode" type="text" id="ctl00_pagebody_ctl00_ctl00_ctl00_ctl00_SponsorCode" class="sponsorcodeid" onblur="validateSponsorCode(this, '63532', '530.00');"><i id="sponsor-check_63532"></i><i id="sponsor-val_63532"></i></span></div><p class="text-right"><input onclick="srs_login_doPostBack('LC993', '63532')" name="ctl00$pagebody$ctl00$ctl00$AddToCart" type="button" id="submittocart_63532" value="Add to Cart" class="button btn-small btn-primary addtocart"></p></form>



</div>
</div></span>  </div>    </div>
      </div>






</div>  </div>
</section>
