{% set contentTitle = "Invest in Your Future" %}
{% set contentContent = '<p>Vision, leadership, communication, problem solving - the importance of project management expertise in business today cannot be underestimated. Failure to deliver the desired outcome translates to lost time, wasted resources and missed opportunities. Business professionals with solid project management skills are sought after in virtually every industry and the UBC Certificate in Project Management is a resume asset that highlights your project management competency and opens doors.</p>
<p>The program curriculum is based on industry standards set by the Project Management Institute (PMI&reg;) and is taught by experienced business professionals. With its industry-driven curriculum and emphasis on actionable knowledge and practical skills, it elevates team participants to project managers with the capacity to lead a team and contribute to the bottom line.</p>
<div class="md--flex">
<div class="md--px-4"><p><img src="img/logo-project-management-institute.jpg" alt="PMI Logo" /></p></div>
<div class="md--px-4"><p><img src="img/logo-IIBA.jpg" alt="IIBA Logo" /></p></div>
</div>
<p class="text-xs">The PMI&reg; logo is a registered trademark owned by the Project Management Institute and IIBA&reg; logo is a registered trademark owned by International Institute of Business Analysis.</p>' %}
{% set secondaryTitle = "Apply your learning to:" %}
{% set secondaryContent = '<ul class="text-sm">
<li>Take a project from initiation through to planning, execution, controlling and closing.</li>
<li>Understand key project management concepts and terminology including industry standards set by the Project Management Institute (PMI) and the Project Management Body of Knowledge (PMBOK&reg;) guide.</li>
<li>Identify stakeholder requirements and manage expectations.</li>
<li>Manage competing demands for scope, time, cost, risk and quality while keeping a project on time and on budget.</li>
<li>Manage obstacles and challenges so as to keep projects on track.
Create a contingency plan to mediate project risk.</li>
<li>Manage project communications and documentation.</li>
<li>Lead a diverse and cross-functional project team and collaborate to achieve success.</li>
<li>Align project objectives to overall business goals and vision.</li>
<li>Use Microsoft Project&reg; to apply planning and controlling processes to your work.</li>
<li>Acquire Professional Development Units (PDUs) or Continuing Development Units (CDUs), which can be used towards Project Management Institute or International Institute of Business Analysis certifications.</li>
<li>Pursue the Project Management Professional (PMP&reg;) designation or other related industry professional certifications offered through the PMI&reg; or IIBA&reg;.</li>
</ul>
<p>UBC Sauder Continuing Business Studies is a Registered Education Provider of the PMI&reg; and an Endorsed Education Provider of the IIBA&reg;.</p>' %}

<div class="flex flex-wrap">
  <div class="w-full pt-4 md--pl-2 md--pt-0 md--pb-4 md--w-one-third">
   {% include "supporting-quicklook.twig" %}
  </div>
  <div class="w-full md--pr-2 md--w-two-thirds md--flex-order--1">
    <h3 class="heading-four text-ubc-blue">{{ contentTitle }}</h4>
    {{ contentContent }}
  </div>
  <div class="w-full mt-6">
    <h4 class="heading-block heading-block--white-on-grey">{{ secondaryTitle }}</h4>
    {{ secondaryContent }}
  </div>
</div>
