<div class="featured-content">
  <figure class="relative">
    <img class="block" src="img/feature-images/{{ pageFeatureImage }}" />
    <figcaption class="text-white top-1 pin-x text-left absolute px-0 w-full h-full flex items-end">
      <div class="texture--image-overlay"></div>
      <div class="p-8 pb-4 mr-auto max-w-md relative">
        <h1 class="text-xl md--text-4xl leading-normal heading-alternate">{{ pageFeatureTitle }}</h1>
      </div>
    </figcaption>
  </figure>
</div>
