<div class="featured-content">
  <figure class="relative image-overlay ">
    <img class="" src="images/demo/9.jpg" />
    <figcaption class="absolute text-white text-center pin-b pin-x">
      <div class="gradient--image-overlay"></div>
      <div class="pb-8 mx-auto max-w-sm relative">
        <h1 class="font-light text-5xl uppercase leading-normal">{{ pageTitle }}</h1>
        <p class="text-2xl text--hug font-light leading-normal">{{ pageTeaser }}</p>
        <p class="test">
          <a href="#test" class="anchor-link ">
            <svg role="presentation" class="inline-block h-16 w-16 rotate-90 text-white hover--text-unit-red">
              <use xlink:href="#icon-arrow"/>
            </svg>
          </a>
        </p>
      </div>
    </figcaption>
  </figure>
</div>
