<div class="featured-content">
  <figure class="relative">
    <img class="block" src="img/feature-images/feature-homepage.jpg" />
    <figcaption class="text-white top-1 pin-x text-left absolute px-0 w-full h-full flex items-end">
      <div class="texture--image-overlay texture--image-overlay--home"></div>
      <div class="p-8 pb-16 mr-auto max-w-md relative">
        <h1 class="text-xl md--text-4xl leading-normal heading-alternate">{{ pageFeatureTitle }}</h1>
        <p class="md--text-lg text-hug leading-normal">{{ pageFeatureTeaser }}</p>
      </div>
    </figcaption>
  </figure>
</div>
