<div class="featured-content">
  <div class="relative image-overlay">
    <img class="w-full" src="img/prototype/SBQMI_proto_BASIC_PAGE_image.jpg" />
    <div class="md--absolute text-white text-center px-4 md--px-0 md--pin-b md--pin-x">
      <div class="gradient--image-overlay"></div>
      <div class="pb-8 mx-auto max-w-md relative">
        <h1 class="font-light mt-0 text-2xl md--text-5xl leading-normal">QuEST FELLOWSHIP</h1>
      </div>
    </div>
  </div>
</div>
