
<div id="eventform" class="filter-collapse">
  <p class="filter-trigger p-4">
    <a class="form-submit unit-button block w-full text-center unit-button--grey relative md--hidden">Close Filters <svg role="presentation" class="svg-icon inline-block h-6 w-6 absolute pin-r close-icon mr-2"><use xlink:href="#icon-close"/></svg></a>
  </p>
  <h3 class="heading-five text-center uppercase hidden md--block pb-4">Filter Events</h3>
  <form action="" method="" accept-charset="UTF-8">
    <div class="views-exposed-form">
      <div class="views-exposed-widgets md--flex">

        <div id="edit-fid-wrapper" class="views-exposed-widget views-widget-filter-tid px-4 md--w-1/4">
          <label for="edit-fid" class="hidden">Dropdown Label</label>
          <div class="views-widget">
            <div class="form-item form-type-select min-w-full form-item-fid">
              <select id="edit-fid" name="fid" class="form-select min-w-full">
                <option value="All" selected="selected">Any</option>
                <option value="79">College for Interdisciplinary Studies</option>
                <option value="79">Faculty of Applied Science</option>
                <option value="79">Faculty of Arts</option>
                <option value="79">Faculty of Commerce and Business Administration</option>
                <option value="79">Faculty of Dentistry</option>
                <option value="79">Faculty of Education</option>
                <option value="79">Faculty of Forestry</option>
                <option value="79">Faculty of Land and Food Systems</option>
                <option value="79">Faculty of Law</option>
                <option value="79">Faculty of Medicine</option>
                <option value="79">Faculty of Pharmaceutical Sciences</option>
                <option value="79">Graduate and Postdoctoral Studies</option>
              </select>
            </div>
          </div>
        </div>

        <div id="edit-fid-wrapper" class="views-exposed-widget views-widget-filter-tid px-4 md--w-1/4">
          <label for="edit-fid" class="hidden">Dropdown Label</label>
          <div class="views-widget">
            <div class="form-item form-type-select min-w-full form-item-fid">
              <select id="edit-fid" name="fid" class="form-select min-w-full">
                <option value="All" selected="selected">Any</option>
                <option value="79">College for Interdisciplinary Studies</option>
                <option value="79">Faculty of Applied Science</option>
                <option value="79">Faculty of Arts</option>
                <option value="79">Faculty of Commerce and Business Administration</option>
                <option value="79">Faculty of Dentistry</option>
                <option value="79">Faculty of Education</option>
                <option value="79">Faculty of Forestry</option>
                <option value="79">Faculty of Land and Food Systems</option>
                <option value="79">Faculty of Law</option>
                <option value="79">Faculty of Medicine</option>
                <option value="79">Faculty of Pharmaceutical Sciences</option>
                <option value="79">Graduate and Postdoctoral Studies</option>
              </select>
            </div>
          </div>
        </div>

        <div id="edit-psq-wrapper" class="views-exposed-widget views-widget-filter-field_prog_search_data_value px-4 md--w-1/4">
          <label for="edit-psq" class="hidden">Text Inputs</label>
          <div class="views-widget">
            <div class="form-item form-type-textfield form-item-psq">
              <input id="edit-psq" type="text" name="psq" value="" size="30" maxlength="128" class="form-text min-w-full" placeholder="Enter your search terms...">
            </div>
          </div>
        </div>

        <div class="px-4 md--w-1/4">
          <input id="edit-submit-programs" type="submit" value="Search" class="form-submit unit-button block w-full text-center unit-button--blue">
        </div>

      </div>
    </div>
  </form>
</div>
