<form action="" method="" accept-charset="UTF-8">
	<div>
		<h3>Selects</h3>
		<div class="form-item-wrapper">
			<label for="edit-fid">Dropdown Label</label>
			<select id="edit-fid" name="fid" class="form-select">
				<option value="All" selected="selected">Any</option>
				<option value="79">College for Interdisciplinary Studies</option>
				<option value="79">Faculty of Applied Science</option>
				<option value="79">Faculty of Arts</option>
				<option value="79">Faculty of Commerce and Business Administration</option>
				<option value="79">Faculty of Dentistry</option>
				<option value="79">Faculty of Education</option>
				<option value="79">Faculty of Forestry</option>
				<option value="79">Faculty of Land and Food Systems</option>
				<option value="79">Faculty of Law</option>
				<option value="79">Faculty of Medicine</option>
				<option value="79">Faculty of Pharmaceutical Sciences</option>
				<option value="79">Graduate and Postdoctoral Studies</option>
			</select>
		</div>
		<h3>Text</h3>
		<div class="form-item-wrapper">
			<label for="edit-psq">Text Label</label>
			<input id="edit-psq" type="text" name="psq" value="" size="30" maxlength="128" class="form-text" placeholder="Placeholder text...">

		</div>
		<h3>Radios</h3>
		<div class="form-item-wrapper ">
			<label>Radio Inputs</label>
			<div class="form-radios">
				<div class="form-radio">
					<input id="typo2-1" type="radio" name="meta-type" value="everything" checked="checked">
					<label for="typo2-1">All</label>
				</div>

				<div class="form-radio">
					<input id="typo2-3" type="radio" name="meta-type" value="theme2">
					<label for="typo2-3">Themes</label>
				</div>

				<div class="form-radio">
					<input id="typo2-4" type="radio" name="meta-type" value="documentation2">
					<label for="typo2-4">Documentation</label>
				</div>

				<div class="form-radio">
					<input id="typo2-5" type="radio" name="meta-type" value="forum-issues2">
					<label for="typo2-5">Forums &amp; Issues </label>
				</div>

				<div class="form-radio">
					<input id="typo2-6" type="radio" name="meta-type" value="group2">
					<label for="typo2-6">Groups</label>
				</div>

				<div class="form-radio">
					<input id="typo2-2" type="radio" name="meta-type" value="module2" disabled="disabled">
					<label for="typo2-2">Disabled option</label>
				</div>
			</div>
		</div>

		<h3>Radios: inline [3]</h3>
		<div class="form-item-wrapper ">
			<label>Radio Inputs</label>
			<div class="form-radios form-group--inline-3">
				<div class="form-radio">
					<input type="radio" name="beta-type" id="example-1" value="example-something" checked="checked">
					<label for="example-1">All</label>
				</div>

				<div class="form-radio">
					<input id="example-3" type="radio" name="beta-type" value="theme">
					<label for="example-3">Themes</label>
				</div>

				<div class="form-radio">
					<input id="example-4" type="radio" name="beta-type" value="documentation">
					<label for="example-4">Documentation</label>
				</div>

				<div class="form-radio">
					<input id="example-5" type="radio" name="beta-type" value="forum-issues">
					<label for="example-5">Forums &amp; Issues </label>
				</div>

				<div class="form-radio">
					<input id="example-6" type="radio" name="beta-type" value="group">
					<label for="example-6">Groups</label>
				</div>

				<div class="form-radio">
					<input id="example-2" type="radio" name="beta-type" value="module" disabled="disabled">
					<label for="example-2">Disabled option</label>
				</div>
			</div>
		</div>
		<h3>Textarea</h3>
		<div class="form-item-wrapper">
			<label for="edit-submitted-row-message">Message <span class="form-required" title="This field is required.">*</span>
			</label>
			<textarea required="required" placeholder="Add your message..." id="edit-submitted-row-message" name="submitted[row][message]" cols="60" rows="5" class="form-textarea required"></textarea>
		</div>
		<h3>Checkboxes</h3>
		<div class="form-item-wrapper">
			<label for="edit-abd">Checkbox Inputs</label>
			<div class="form-checkbox">
				<input id="edit-1-customize-ckeditor" type="checkbox" name="1[customize ckeditor]" value="customize ckeditor" class="">
				<label for="edit-1-customize-ckeditor">Customize Display</label>
			</div>
			<div class="form-checkbox">
				<input id="edit-2-customize-ckeditor" type="checkbox" name="2[customize ckeditor]" value="customize ckeditor" class="">
				<label for="edit-2-customize-ckeditor">Customize appearance</label>
			</div>
			<div class="form-checkbox">
				<input id="edit-3-customize-ckeditor" type="checkbox" name="3[customize ckeditor]" value="customize ckeditor" checked="checked" disabled="disabled" class="">
				<label for="edit-3-customize-ckeditor">Disabled option</label>
			</div>
		</div>
		<h3>Checkboxes: inline [3]</h3>
		<div class="form-item-wrapper">
			<label>Checkbox Inputs</label>
			<div class="form-checkboxes form-group--inline-3">
				<div class="form-checkbox">
					<input id="edit-1-foo" type="checkbox" name="1[customize ckeditor]" value="customize ckeditor" class="">
					<label for="edit-1-foo">Customize Display</label>
				</div>
				<div class="form-checkbox">
					<input id="edit-2-foo" type="checkbox" name="2[customize ckeditor]" value="customize ckeditor" class="">
					<label for="edit-2-foo">Customize appearance</label>
				</div>
				<div class="form-checkbox">
					<input id="edit-3-foo" type="checkbox" name="3[customize ckeditor]" value="customize ckeditor" checked="checked" disabled="disabled" class="">
					<label for="edit-3-foo">Disabled option</label>
				</div>
			</div>
		</div>
		<h3>Submit buttons</h3>
		<div class="flex mt-4">
			<div class="">
				<input id="edit-submit-programs" type="submit" value="Filter" class="form-submit unit-button unit-button--light">
			</div>
			<div class="pl-4">
				<input value="Reset" type="Submit" name="" class="form-submit unit-button unit-button--dark">
			</div>
		</div>
		<h3>Fieldset + Legend</h3>
		<fieldset>
			<legend>Personalia</legend>
			<div class="form-item-wrapper">
				<label for="name-sample">Name</label>
				<input id="name-sample" type="text" name="name" value="" size="30" maxlength="128" class="form-text" placeholder="Jane Doe">
			</div>
			<div class="form-item-wrapper">
				<label for="email-sample">Email</label>
				<input id="email-sample" type="email" name="email" value="" size="30" maxlength="128" class="form-text" placeholder="jame.doe@ubc.ca">
			</div>
			<div class="form-item-wrapper">
				<label for="date-sample">Date of birth</label>
				<input id="date-sample" type="date" name="date" value="" size="30" maxlength="128" class="form-text" placeholder="October 1, 1999">
			</div>
		</fieldset>
	</div>
</form>
<p>[<a
		href="https://www.w3.org/TR/wai-aria-practices-1.1/#checkbox">https://www.w3.org/TR/wai-aria-practices-1.1/#checkbox</a>]
</p>
<p>[<a
		href="https://www.w3.org/TR/wai-aria-practices-1.1/#radiobutton">https://www.w3.org/TR/wai-aria-practices-1.1/#radiobutton</a>]
</p>
<p>[<a
		href="https://www.w3.org/TR/wai-aria-practices-1.1/#slider">https://www.w3.org/TR/wai-aria-practices-1.1/#slider</a>]
</p>
<p>[<a
		href="https://www.w3.org/TR/wai-aria-practices-1.1/#combobox">https://www.w3.org/TR/wai-aria-practices-1.1/#combobox</a>]
</p>
<p>[<a
		href="https://www.w3.org/TR/wai-aria-practices-1.1/#Listbox">https://www.w3.org/TR/wai-aria-practices-1.1/#Listbox</a>]
</p>
