<form action="" method="" accept-charset="UTF-8">
  <div>
    <div class="views-exposed-form">
      <div class="views-exposed-widgets clearfix">
        <div id="edit-fid-wrapper" class="views-exposed-widget views-widget-filter-tid">
          <label for="edit-fid">Dropdown Label</label>
          <div class="views-widget">
            <div class="form-item form-type-select form-item-fid">
              <select id="edit-fid" name="fid" class="form-select">
                <option value="All" selected="selected">Any</option>
                <option value="79">College for Interdisciplinary Studies</option>
                <option value="79">Faculty of Applied Science</option>
                <option value="79">Faculty of Arts</option>
                <option value="79">Faculty of Commerce and Business Administration</option>
                <option value="79">Faculty of Dentistry</option>
                <option value="79">Faculty of Education</option>
                <option value="79">Faculty of Forestry</option>
                <option value="79">Faculty of Land and Food Systems</option>
                <option value="79">Faculty of Law</option>
                <option value="79">Faculty of Medicine</option>
                <option value="79">Faculty of Pharmaceutical Sciences</option>
                <option value="79">Graduate and Postdoctoral Studies</option>
              </select>
            </div>
          </div>
          <div id="edit-psq-wrapper" class="views-exposed-widget views-widget-filter-field_prog_search_data_value">
            <label for="edit-psq">Text Inputs</label>
            <div class="views-widget">
              <div class="form-item form-type-textfield form-item-psq">
                <input id="edit-psq" type="text" name="psq" value="" size="30" maxlength="128" class="form-text" placeholder="Placeholder text...">
              </div>
            </div>
          </div>
          <div class="form-item form-type-radios form-item-meta-type">
            <label for="edit-meta-type">Radio Inputs</label>
            <div id="edit-meta-type" class="form-radios">
              <div class="form-item form-type-radio form-item-meta-type">
                <input id="edit-meta-type-" type="radio" name="meta_type" value="" checked="checked" class="form-radio"><label for="edit-meta-type-" class="option">All</label>
              </div>
              <div class="form-item form-type-radio form-item-meta-type">
                <input id="edit-meta-type-module" type="radio" name="meta_type" value="module" disabled="disabled" class="form-radio">
                <label for="edit-meta-type-module" class="option">Disabled option</label>
              </div>
              <div class="form-item form-type-radio form-item-meta-type">
                <input id="edit-meta-type-theme" type="radio" name="meta_type" value="theme" class="form-radio">
                <label for="edit-meta-type-theme" class="option">Themes</label>
              </div>
              <div class="form-item form-type-radio form-item-meta-type">
                <input id="edit-meta-type-documentation" type="radio" name="meta_type" value="documentation" class="form-radio">
                <label for="edit-meta-type-documentation" class="option">Documentation</label>
              </div>
              <div class="form-item form-type-radio form-item-meta-type">
                <input id="edit-meta-type-forum-issues" type="radio" name="meta_type" value="forum-issues" class="form-radio">
                <label for="edit-meta-type-forum-issues" class="option">Forums &amp; Issues </label>
              </div>
              <div class="form-item form-type-radio form-item-meta-type">
                <input id="edit-meta-type-group" type="radio" name="meta_type" value="group" class="form-radio">
                <label for="edit-meta-type-group" class="option">Groups</label>
              </div>
            </div>
          </div>
          <br />
          <div class="form-item webform-component webform-component-textarea component-textarea form-type-textarea webform-component--row--message">
            <label for="edit-submitted-row-message">Message <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea">
              <textarea required="required" placeholder="Add your message..." id="edit-submitted-row-message" name="submitted[row][message]" cols="60" rows="5" class="form-textarea required"></textarea>
              <div class="grippie"></div>
            </div>
          </div>

          <label for="edit-psq">Checkbox Inputs</label>
          <div class="form-item form-type-checkbox form-item-1-customize-ckeditor">
            <input id="edit-1-customize-ckeditor" type="checkbox" name="1[customize ckeditor]" value="customize ckeditor" class="rid-1 form-checkbox">
            <label for="edit-1-customize-ckeditor">Customize Display</label>
          </div>
          <div class="form-item form-type-checkbox form-item-2-customize-ckeditor">
            <input id="edit-2-customize-ckeditor" type="checkbox" name="2[customize ckeditor]" value="customize ckeditor" class="rid-2 form-checkbox">
            <label for="edit-2-customize-ckeditor">Customize appearance</label>
          </div>
          <div class="form-item form-type-checkbox form-item-3-customize-ckeditor">
            <input id="edit-3-customize-ckeditor" type="checkbox" name="3[customize ckeditor]" value="customize ckeditor" checked="checked" disabled="disabled" class="rid-3 form-checkbox real-checkbox">
            <label for="edit-3-customize-ckeditor">Disabled option</label>
          </div>
          <div class="row">
            <div class="">
              <input id="edit-submit-programs" type="submit" value="Filter" class="form-submit unit-button unit-button--blue">
            </div>
            <div class="">
              <input value="Reset" type="Submit" name="" onclick="jQuery(this.form).clearForm();jQuery(this.form).find('#edit-submit-programs').trigger('click');return false" class="form-submit unit-button unit-button--blue">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
