<div class="supporting">
  <h3 class="supporting__title heading-block heading-block--white-on-blue text-2xl">Get News &amp; Updates</h3>

  <form id="myForm" action="#" method="post" accept-charset="UTF-8" class="supporting__content">
    <p class="mb-6">Sign up to recieve emails to stay up-to-date on courses and programs.</p>
    <div class="form-item form-type-checkbox form-item-a-customize-ckeditor">
      <input id="edit-a-customize-ckeditor" type="checkbox" name="a[customize ckeditor]" value="customize ckeditor" class="rid-a form-checkbox">
      <label for="edit-a-customize-ckeditor">Agile, Lean and DevOps</label>
    </div>
    <div class="form-item form-type-checkbox form-item-b-customize-ckeditor">
      <input id="edit-b-customize-ckeditor" type="checkbox" name="b[customize ckeditor]" value="customize ckeditor" class="rid-bform-checkbox">
      <label for="edit-b-customize-ckeditor">Business Analysis</label>
    </div>
    <div class="form-item form-type-checkbox form-item-c-customize-ckeditor">
      <input id="edit-c-customize-ckeditor" type="checkbox" name="c[customize ckeditor]" value="customize ckeditor" class="rid-c form-checkbox">
      <label for="edit-c-customize-ckeditor">Project Management</label>
    </div>
    <div class="form-item form-type-checkbox form-item-d-customize-ckeditor">
      <input id="edit-d-customize-ckeditor" type="checkbox" name="d[customize ckeditor]" value="customize ckeditor" class="rid-d form-checkbox">
      <label for="edit-d-customize-ckeditor">Exam Prep (including PMP)</label>
    </div>
    <div id="edit-psq-wrapper" class="views-exposed-widget views-widget-filter-field_prog_search_data_value">
      <div class="views-widget">
        <div class="form-item form-type-textfield form-item-psq">
          <input id="edit-psq" type="text" name="psq" value="" size="30" maxlength="128" class="form-text" placeholder="First name">
        </div>
      </div>
    </div>
    <div id="edit-psq-wrapper" class="views-exposed-widget views-widget-filter-field_prog_search_data_value">
      <div class="views-widget">
        <div class="form-item form-type-textfield form-item-psq">
          <input id="edit-psq" type="text" name="psq" value="" size="30" maxlength="128" class="form-text" placeholder="Last name">
        </div>
      </div>
    </div>
    <div id="edit-psq-wrapper" class="views-exposed-widget views-widget-filter-field_prog_search_data_value">
      <div class="views-widget">
        <div class="form-item form-type-textfield form-item-psq">
          <input id="edit-psq" type="text" name="psq" value="" size="30" maxlength="128" class="form-text" placeholder="Email Address">
        </div>
      </div>
    </div>
    <p><a href="#" class="unit-button unit-button--blue text-sm uppercase block">Sign Up Now</a></p>
  </form>

</div>
