<p class="text-center">
    <svg role="presentation" class="inline-block h-12 w-12 text-unit-grey rotate-180">
      <use xlink:href="#icon-chevron"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-unit-red rotate-90">
      <use xlink:href="#icon-arrow"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-black">
      <use xlink:href="#icon-magnify"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-close"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-hamburger"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-unit-accent">
      <use xlink:href="#icon-phone"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-mail"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-twitter"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-linkedin"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-facebook"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-youtube"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-unit-accent">
      <use xlink:href="#icon-person"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-unit-accent">
      <use xlink:href="#icon-people"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-unit-accent">
      <use xlink:href="#icon-building"/>
    </svg>
  </p>
