<figure class="img-and-caption">
<div data-widget-image="img"><img alt="" title="" src="img/feature-images/feature-homepage.jpg" /></div>
<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
</figure>
