<figure role="group" class="align-right">
  <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
    <div class="field__item">
      <img src="img/demo/headshot.jpg" loading="lazy" height="335" width="335" alt="optimal workstation set-up . no keyboard tray" typeof="foaf:Image" loading="lazy">
    </div>
  </div>
  <figcaption>caption for right aligned image Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
</figure>
