<div class="sm--flex sm---mx-12">
  <div class="py-8 sm--flex-1 sm--px-12">
    <div class="">
      <img class="img-bordered" alt="some alternate text" src="img/demo/2.jpg" height="1368" width="2048" loading="lazy" />
    </div>
  </div>
  <div class="flex py-8 sm--flex-1 sm--px-12">
    <div style="width: 4rem;" class="self-center flex-no-grow">
      <img class="rounded-full" alt="some alternate text" src="img/demo/headshot.jpg" height="335" width="335" loading="lazy" />
    </div>
    <div class="self-center flex-1 pl-4">
      <h4 class="mt-0 text-base">John Miller</h4>
      <p class="mt-0">Professor</p>
    </div>
  </div>
</div>
