<figure class="img-and-caption">
	<div data-widget-image="img"><img alt="the homepage alternate text"
			src="img/demo/19936844258_3801dc17a2_k.jpg" loading="lazy" height="1363" width="2048" /></div>
	<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
</figure>
