<figure class="img-and-caption">
	<div data-widget-image="img"><img alt="" alt="the homepage alternate text"
			src="https://live.staticflickr.com/3776/19936844258_3801dc17a2_k.jpg" loading="lazy" /></div>
	<figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
</figure>
