<h4 class="mb-4">Standard Subnavigation</h4>
{% include "navigation--sub--1.twig" %}

<details>
  <summary class="font-mono">Subnav Code</summary>
  <script type="text/plain" class="language-markup">
    {% include "navigation--sub--1.twig" %}
  </script>
</details>

<h4 class="mb-4">Collapsed Subnavigation on mobile</h4>
{% include "navigation--sub--1.twig" %}

<details>
  <summary class="font-mono">Subnav Code</summary>
  <script type="text/plain" class="language-markup">
    {% include "navigation--sub--2.twig" %}
  </script>
</details>