<div class="item-list mt-16">
	<ul class="pager list-unstyled flex max-w-md">
		<li class="pager-current first text-center px-3 py-1 border border-ubc-blue-cornflower">1</li>
		<li class="pager-item text-center"><a
				class="block px-3 py-1  text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue border border-white hover--border-ubc-blue hover--no-underline"
				title="Go to page 2" href="/events?page=1">2</a></li>
		<li class="pager-item text-center"><a
				class="block px-3 py-1  text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue border border-white hover--border-ubc-blue hover--no-underline"
				title="Go to page 3" href="/events?page=2">3</a></li>
		<li class="pager-item text-center"><a
				class="block px-3 py-1  text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue border border-white hover--border-ubc-blue hover--no-underline"
				title="Go to page 4" href="/events?page=3">4</a></li>
		<li class="pager-item text-center"><a
				class="block px-3 py-1  text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue border border-white hover--border-ubc-blue hover--no-underline"
				title="Go to page 5" href="/events?page=4">5</a></li>
		<li class="pager-next text-center"><a
				class="block px-3 py-1  text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue border border-white hover--border-ubc-blue hover--no-underline"
				title="Go to next page" href="/events?page=1">next ›</a></li>
		<li class="pager-last last text-center"><a
				class="block px-3 py-1  text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue border border-white hover--border-ubc-blue hover--no-underline"
				title="Go to last page" href="/events?page=4">last »</a></li>
	</ul>
</div>
