<nav id="secondary-navigation" aria-labelledby="subnav-heading"
	class="subnav gradient-bottom--grey-full px-8 pt-2 pb-4">
	<h2 id="subnav-heading" class="subnav__heading text-xs font-normal text-ubc-blue-sea md--text-sm lg--text-base">
		{{ unitName }}</h2>
	<ul class="subnav__links">
		<li>
			<div class="nav--split js-reveal__parent"><a href="#" class="navlink--secondary has-children">How to
					Register</a><button class="js-reveal__trigger" aria-label="Dropdown toggle"><svg aria-hidden="true"
						class="inline-block h-4 w-4 -ml-2 -mt-1 text-ubc-blue hover--text-ubc-blue-cobalt fill-current stroke-none">
						<use xlink:href="#icon-plus"></use></svg></button></div>
			<ul class="js-reveal__target subnav--nested" hidden>
				<li><a href="#" class="navlink--secondary">Subnav Item One</a></li>
				<li>
					<div class="nav--split js-reveal__parent"><a href="#" class="navlink--secondary has-children">Subnav
							Item Two</a><button class="js-reveal__trigger" aria-label="Dropdown toggle"><svg
								aria-hidden="true"
								class="inline-block h-4 w-4 -ml-2 -mt-1 text-ubc-blue hover--text-ubc-blue-cobalt fill-current stroke-none">
								<use xlink:href="#icon-plus"></use></svg></button>
					</div>
					<ul class="js-reveal__target subnav--nested" hidden>
						<li><a href="#" class="navlink--secondary">Deeper Subnav Item First</a></li>
						<li><a href="#" class="navlink--secondary">Deeper Subnav Item Second</a></li>
					</ul>
				</li>
				<li><a href="#" class="navlink--secondary">Subnav Item Three</a></li>
			</ul>
		</li>
		<li>
			<div class="nav--split js-reveal__parent"><a href="#" class="navlink--secondary has-children">About Our
					Credentials</a><button class="js-reveal__trigger" aria-label="Dropdown toggle"><svg
						aria-hidden="true"
						class="inline-block h-4 w-4 -ml-2 -mt-1 text-ubc-blue hover--text-ubc-blue-cobalt fill-current stroke-none">
						<use xlink:href="#icon-plus"></use></svg></button></div>
			<ul class="js-reveal__target subnav--nested" hidden>
				<li><a href="#" class="navlink--secondary">Subnav Item One</a></li>
				<li><a href="#" class="navlink--secondary">Subnav Item Two</a></li>
				<li><a href="#" class="navlink--secondary">Subnav Item Three</a></li>
			</ul>
		</li>
		<li>
			<div class="nav--split js-reveal__parent"><a href="#" class="navlink--secondary has-children">Student
					Services</a><button class="js-reveal__trigger" aria-label="Dropdown toggle"><svg aria-hidden="true"
						class="inline-block h-4 w-4 -ml-2 -mt-1 text-ubc-blue hover--text-ubc-blue-cobalt fill-current stroke-none">
						<use xlink:href="#icon-plus"></use></svg></button></div>
			<ul class="js-reveal__target subnav--nested" hidden>
				<li><a href="#" class="navlink--secondary">Subnav Item One</a></li>
				<li><a href="#" class="navlink--secondary">Subnav Item Two</a></li>
				<li><a href="#" class="navlink--secondary">Subnav Item Three</a></li>
			</ul>
		</li>
		<li>
			<div class="nav--split js-reveal__parent"><a href="#" class="navlink--secondary has-children">About Online
					Learning</a><button class="js-reveal__trigger" aria-label="Dropdown toggle"><svg aria-hidden="true"
						class="inline-block h-4 w-4 -ml-2 -mt-1 text-ubc-blue hover--text-ubc-blue-cobalt fill-current stroke-none">
						<use xlink:href="#icon-plus"></use></svg></button></div>
			<ul class="js-reveal__target subnav--nested" hidden>
				<li><a href="#" class="navlink--secondary">Subnav Item One</a></li>
			</ul>
		</li>
		<li><a href="#" class="navlink--secondary">Services</a></li>
		<li><a href="#" class="navlink--secondary">Policies</a></li>
		<li><a href="#" class="navlink--secondary">Tuition Tax Receipts</a></li>
	</ul>
</nav>
