<div class="mt-16 item-list">
	<ul class="flex max-w-md pager__items js-pager__items list-unstyled">
		<li class="pager__item is-active">
			<a href="?search=&amp;audience=All&amp;organization=All&amp;date=now&amp;page=0" title="Current page" class="block px-4 py-2 text-white no-underline bg-unit-accent hover--text-white hover--no-underline">
				<span class="visually-hidden">Current page</span>1</a>
		</li>
		<li class="pager__item">
			<a href="?search=&amp;audience=All&amp;organization=All&amp;date=now&amp;page=1" title="Go to page 2" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue hover--no-underline">
				<span class="visually-hidden">Page</span>2</a>
		</li>
		<li class="pager__item">
			<a href="?search=&amp;audience=All&amp;organization=All&amp;date=now&amp;page=2" title="Go to page 3" class="block px-4 py-2 no-underline text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue hover--no-underline">
				<span class="visually-hidden">Page</span>3</a>
		</li>
		<li class="pager__item pager__item--next">
			<a href="?search=&amp;audience=All&amp;organization=All&amp;date=now&amp;page=1" title="Go to next page" rel="next" class="block px-2 py-2 no-underline text-ubc-blue-cobalt hover--text-white hover--bg-ubc-blue hover--no-underline">
				<span class="visually-hidden">Next page</span>
				<span aria-hidden="true">Next ›</span></a>
		</li>
		<li class="pager__item pager__item--last">
			<a href="?search=&amp;audience=All&amp;organization=All&amp;date=now&amp;page=2" title="Go to last page" class="hidden">
				<span class="visually-hidden">Last page</span>
				<span aria-hidden="true">Last »</span>
			</a>
		</li>
		</ul>
</div>



