<nav class="pt-4 text-sm nav-breadcrumbs" aria-label="Breadcrumb">
	<ol class="my-0 list-inline">
		<li>
			<a href="index.html" class="text-ubc-blue-cobalt crumb">Home</a>
		</li>
		<li>
			<a href="#" class="text-ubc-blue-cobalt crumb">Parent Page</a>
		</li>
		<li>
			<a href="#" class="no-underline text-ubc-blue crumb--active" aria-current="page">Current Page</a>
		</li>
	</ol>
</nav>
