<nav id="block-mainmenu--2" class="mt-0 contextual-region menu--main subnav widget-accordion" aria-labelledby="block-mainmenu--2-menu">
	<button class="js-reveal__trigger hidden--desktop" aria-expanded="false"><h2 class="pb-2 mt-0 text-xl tracking-wider uppercase subnav__heading text-unit-primary"><svg role="presentation" class="inline-block w-[1em] h-[1em] -mt-[.25em] text-unit-primary">
		<use xlink:href="#icon-menu"></use>
	</svg> About UBC Subnavigation</h2>
	</button>
	<h2 id="block-mainmenu--2-menu" class="px-4 py-2 mt-0 text-xl tracking-wider text-white uppercase subnav__heading bg-unit-primary hidden--mobile">About UBC</h2>
	<ul class="pl-0 my-0 list-none nav subnav__links js-reveal__target" hidden="">
		<li class="navbar-item item">
			<a href="#" title="" class="navbar-link navlink--secondary no-children">About UBC</a>
		</li>
		<li class="navbar-item menu-item--expanded dropdown menu-item--active-trail expanded">
			<div class="btn-group">
				<a href="#" class="navbar-item menu-item--expanded dropdown menu-item--active-trail expanded btn navlink--secondary is-active" aria-current="page">Staff Directory <code class="!text-ubc-black">[active]</code></a>
				<button class="hidden btn dropdown-toggle" data-bs-toggle="dropdown" aria-label="Show submenu">
					<span class="ubc7-arrow blue down-arrow" aria-hidden="true"></span>
				</button>
				<ul class="pl-0 my-0 list-none nav subnav__links js-reveal__target subnav--nested">
					<li class="navbar-item item">
						<a href="#" class="navbar-link navlink--secondary no-children">Team Profiles</a>
					</li>
					<li class="navbar-item item">
						<a href="#" class="navbar-link navlink--secondary no-children">Other subnav link</a>
					</li>
					<li class="navbar-item item">
						<a href="#" class="navbar-link navlink--secondary menu-item--collapsed collapsed">One more subnav link  <code>[collapsed]</code></a>
					</li>
					<li class="navbar-item item">
						<a href="#" class="navbar-link navlink--secondary no-children">Other subnav link</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="navbar-item item">
			<a href="#" class="navbar-link navlink--secondary no-children">Executive Biographies</a>
		</li>
		<li class="navbar-item item">
			<a href="#" class="navbar-link navlink--secondary menu-item--collapsed collapsed">Units in the Portfolio <code>[collapsed]</code></a>
		</li>
		<li class="navbar-item item">
			<a href="#" class="navbar-link navlink--secondary no-children">Associate Deans, Research</a>
		</li>
		<li class="navbar-item item">
			<a href="#" class="navbar-link navlink--secondary no-children">Strategic Plan</a>
		</li>
	</ul>
</nav>