<nav class="nav-breadcrumbs text-xs" aria-label="Breadcrumb">
	<ol class="list-inline my-0">
		<li>
			<a href="index.html" class="text-unit-grey no-underline hover--underline piped piped--grey">Home</a>
		</li>
		<li>
			<a href="#" class="text-unit-grey no-underline hover--underline piped piped--grey">Parent Page</a>
		</li>
		<li>
			<a href="#" class="text-ubc-blue no-underline" aria-current="page">Current Page</a>
		</li>
	</ol>
</nav>
