<div class="item-list">
  <ul class="pager">
    <li class="pager-current first">1</li>
    <li class="pager-item"><a title="Go to page 2" href="/events?page=1">2</a></li>
    <li class="pager-item"><a title="Go to page 3" href="/events?page=2">3</a></li>
    <li class="pager-item"><a title="Go to page 4" href="/events?page=3">4</a></li>
    <li class="pager-item"><a title="Go to page 5" href="/events?page=4">5</a></li>
    <li class="pager-next"><a title="Go to next page" href="/events?page=1">next ›</a></li>
    <li class="pager-last last"><a title="Go to last page" href="/events?page=4">last »</a></li>
  </ul>
</div>
