
<h3 class="bg-unit-red px-8 text-2xl text-white font-light md--bg-transparent md--text-unit-grey-dark md--font-bold uppercase md--text-4xl md--px-0 mt-0">Our Partners</h3>
<div class="flex flex-wrap">
  <div class="w-1/2 md--w-1/4 p-8 self-center">
    <img src="img/prototype/logo_bc.png" alt="Province of British Columbia" title ="Province of British Columbia" />
  </div>
  <div class="w-1/2 md--w-1/4 p-8 self-center">
    <img src="img/prototype/homepage_sponsor_logo_2.png" alt="Innovation.ca" title ="Innovation.ca" />
  </div>
  <div class="w-1/2 md--w-1/4 p-8 self-center">
    <div class="bg-unit-grey-light h-24"></div>
  </div>
  <div class="w-1/2 md--w-1/4 p-8 self-center">
    <div class="bg-unit-grey-light h-24"></div>
  </div>
  <div class="w-1/2 md--w-1/4 p-8 self-center">
    <div class="bg-unit-grey-light h-24"></div>
  </div>
  <div class="w-1/2 md--w-1/4 p-8 self-center">
    <div class="bg-unit-grey-light h-24"></div>
  </div>
</div>
