{% include "region--image--region--1.twig" %}

<div class="container px-5 mx-auto md--px-4">
  <details>
  	<summary class="font-mono">Region Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "region--image--region--1.twig" %}
		</script>
	</details>
</div>

{% include "region--image--region--2.twig" %}

<div class="container px-5 mx-auto md--px-4">
  <details>
  	<summary class="font-mono">Region Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "region--image--region--2.twig" %}
		</script>
	</details>
</div>
