<section class="py-organism-2 bg-ubc-blue-polar img-cover">
  <div class="container px-5 mx-auto md--px-4">
    <h2 class="pb-6 mt-0 px-18">Strategic initiatives</h2>
  </div>
  <img alt="alternate text" src="img/demo/19936844258_3801dc17a2_k.jpg" loading="lazy" height="1363" width="2048" class="" />
  <div class="container px-5 mx-auto md--px-4">
    <div class="relative container-sm p-18 bg-grey-100 -mt-18 first-child--mt-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="container-sm px-18">
      <p><a href="#" class="unit-button">labore et dolore</a></p>
    </div>
  </div>
</section>
