<section class="bg-ubc-grey-4 masthead-w-image-text">
  <div class="container px-5 mx-auto md--px-4">
    <div class="masthead-w-image-text__wrapper">
        <div class="masthead-w-image-text__content">
            <h1 class="">Health and wellbeing</h1>
            <p class="text-lead text-measure">Choose from dozens of part-time online and in-person professional and personal interest courses, programs and certificates. Most of our continuing studies courses are short-term so you can quickly gain skills, and still have time for work, and life with family and friends.</p>
        </div>
        <figure>
            <img alt="alternate text" src="img/demo/19936844258_3801dc17a2_k.jpg" loading="lazy" height="736" width="688" class="" />
            <figcaption>Name, Extended Learning course.</figcaption>
        </figure>
        <div class="hidden masthead-w-image-text__spacer">
        </div>
    </div>
  </div>
</section>