<p class="container px-5 mx-auto mb-4 text-sm text-grey-500 md--px-4" id="masthead">Note that the masthead regions utilize CSS container queries which may have support issues on older browsers [<a href="https://caniuse.com/css-container-queries">https://caniuse.com/css-container-queries</a>].</p>

<h3 class="container px-5 mx-auto mb-4 md--px-4">Text only masthead region</h3>
{% include "region--masthead--region--1.twig" %}
<div class="container px-5 mx-auto md--px-4">
  <details>
  	<summary class="font-mono">Region Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "region--masthead--region--1.twig" %}
		</script>
	</details>
</div>

<h3 class="container px-5 mx-auto mb-4 md--px-4">Homepage masthead region</h3>
{% include "region--masthead--region--2.twig" %}
<div class="container px-5 mx-auto md--px-4">
  <details>
  	<summary class="font-mono">Region Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "region--masthead--region--2.twig" %}
		</script>
	</details>
</div>

<h3 class="container px-5 mx-auto mb-4 md--px-4">Masthead image only region (UBC grey 5 variant, with caption)</h3>
{% include "region--masthead--region--3.twig" %}
<div class="container px-5 mx-auto md--px-4">
  <details>
  	<summary class="font-mono">Region Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "region--masthead--region--3.twig" %}
		</script>
	</details>
</div>

<h3 class="container px-5 mx-auto mb-4 md--px-4">Masthead image only region</h3>
{% include "region--masthead--region--4.twig" %}
<div class="container px-5 mx-auto md--px-4">
  <details>
  	<summary class="font-mono">Region Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "region--masthead--region--4.twig" %}
		</script>
	</details>
</div>

<h3 class="container px-5 mx-auto mb-4 md--px-4">Masthead with image and text region</h3>
{% include "region--masthead--region--5.twig" %}
<div class="container px-5 mx-auto md--px-4">
  <details>
  	<summary class="font-mono">Region Code</summary>
		<script type="text/plain" class="language-markup">
			{% include "region--masthead--region--5.twig" %}
		</script>
	</details>
</div>