{% include "region--image--region--1.twig" %}

<div class="container px-5 mx-auto md--px-4">
  <h4 class="font-mono text-grey-500">Region Code</h4>
  <script type="text/plain" class="language-markup">
    {% include "region--image--region--1.twig" %}
  </script>
</div>

{% include "region--image--region--2.twig" %}

<div class="container px-5 mx-auto md--px-4">
  <h4 class="font-mono text-grey-500">Region Code</h4>
  <script type="text/plain" class="language-markup">
    {% include "region--image--region--2.twig" %}
  </script>
</div>
