<section class="bg-white py-organism-2 bg-ubc-blue-polar img-cover">
  <div class="container px-5 mx-auto md--px-4">
    <h2 class="pb-6 mt-0 px-18">Research</h2>
    <img alt="alternate text" src="img/demo/featurette3.jpg" loading="lazy" height="801" width="1200" class="" />
    <div class="relative pt-12 container-sm px-18 first-child--mt-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum <a href="#">labore et dolore</a>.</p>
    </div>
  </div>
</section>
