<section class="bg-ubc-grey-4 masthead-w-image-text">
  <div class="container px-5 mx-auto md--px-4">
    <div class="masthead-w-image-text__wrapper">
        <div class="masthead-w-image-text__content">
          {% if mastheadTitle %}
            {{ mastheadTitle}}
          {% else %}
            <h1 class="">Training hub</h1>
            <p class="text-lead text-measure">Choose from dozens of part-time online and in-person professional and personal training courses and programs.</p>
          {% endif %}
        </div>
        <figure>
            {% if mastheadImage %}
              {{ mastheadImage}}
            {% else %}
              <img alt="alternate text" src="img/demo/19936844258_3801dc17a2_k.jpg" loading="lazy" height="736" width="688" class="" />
              <figcaption>Image credit or caption.</figcaption>
            {% endif %}
        </figure>
        <div class="hidden masthead-w-image-text__spacer">
        </div>
    </div>
  </div>
</section>