<section class="mb-8 bg-ubc-grey-5 border-unit-secondary border-b-[1rem] masthead-w-image">
  <div class="md--container md--mx-auto md--px-4">
    <figure class="relative">
      {% if mastheadImage %}
        {{ mastheadImage}}
      {% else %}
        <img alt="alternate text" src="img/demo/19936844258_3801dc17a2_k.jpg" loading="lazy" height="736" width="688" class="" />
        <figcaption>Image credit or caption.</figcaption>
      {% endif %}
    </figure>
</section>