<section id="block-views-exp-content-search-page-3" class="block block-views block-odd">
  <div class="content">
    <form action="/search" method="get" id="views-exposed-form-content-search-page-3" accept-charset="UTF-8">
      <div>
        <div id="cssearch" class="course-default alt allFilter">
          <h2>Search</h2>
          <div class="input-append bigsearch safari">
            <input class="span6 large form-text" placeholder="I am interested in..." type="text" id="edit-search-api-views-fulltext"
              name="search_api_views_fulltext" value="" size="30" maxlength="128">
            <button type="submit" id="edit-submit-indexed-courses-programs-search"
              name="" value="go" class="btn form-submit">
              <i class="icon-search"></i>
            </button>
          </div>
          <div class="panel-filters panel-open">
            <div class="panel-content" style="display:block;">
              <div class="searchchoice">Select to search: &nbsp;
                <div id="edit-type" class="form-radios">
                  <div class="form-item form-type-radio form-item-type">
                    <input type="radio" id="edit-type-1" name="type" value="1" checked="checked" class="form-radio">
                    <label class="option" for="edit-type-1">All </label>
                  </div>
                  <div class="form-item form-type-radio form-item-type">
                    <input type="radio" id="edit-type-2" name="type" value="2" class="form-radio"> <label class="option"
                      for="edit-type-2">Courses </label>
                  </div>
                  <div class="form-item form-type-radio form-item-type">
                    <input type="radio" id="edit-type-3" name="type" value="3" class="form-radio"> <label class="option"
                      for="edit-type-3">Programs </label>
                  </div>
                </div> &nbsp; <i class="icon-question-sign hastip cstooltips-processed" title=""></i></div>
              <div class="span12 filter-help show">Select either courses or programs above in order to filter your
                search.</div>
              <div class="filters row-fluid">
                <div id="edit-field-related-section-field-section-computed-location-wrapper" class="span4 hide">
                  <h4>Course Location</h4><div id="edit-search-api-aggregation-3-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-3" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-3-1">
                          <input type="checkbox" id="edit-search-api-aggregation-3-1" name="search_api_aggregation_3[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-3-1">UBC Point Grey </label>
                        </div>
                      </div>
                    </div>
                    <div id="edit-search-api-aggregation-4-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-4" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-4-1">
                          <input type="checkbox" id="edit-search-api-aggregation-4-1" name="search_api_aggregation_4[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-4-1">UBC Robson Square </label>
                        </div>
                      </div>
                    </div>
                    <div id="edit-search-api-aggregation-5-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-5" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-5-1">
                          <input type="checkbox" id="edit-search-api-aggregation-5-1" name="search_api_aggregation_5[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-5-1">Online
                          </label>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="edit-field-related-section-field-section-schedule-wrapper" class="span4 hide">
                  <h4>Course Schedule</h4> <div id="edit-search-api-aggregation-6-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-6" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-6-1">
                          <input type="checkbox" id="edit-search-api-aggregation-6-1" name="search_api_aggregation_6[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-6-1">Weekday
                            daytime </label>
                        </div>
                      </div>
                    </div>
                    <div id="edit-search-api-aggregation-7-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-7" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-7-1">
                          <input type="checkbox" id="edit-search-api-aggregation-7-1" name="search_api_aggregation_7[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-7-1">Weekday evening </label>
                        </div>
                      </div>
                    </div>
                    <div id="edit-search-api-aggregation-8-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-8" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-8-1">
                          <input type="checkbox" id="edit-search-api-aggregation-8-1" name="search_api_aggregation_8[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-8-1">Weekend
                          </label>

                        </div>
                      </div>
                    </div>
                </div>
                <div id="edit-field-related-section-field-section-computed-term-wrapper" class="span4 hide">
                  <h4>Course Season</h4>
<div id="edit-search-api-aggregation-9-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-9" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-9-1">
                          <input type="checkbox" id="edit-search-api-aggregation-9-1" name="search_api_aggregation_9[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-9-1">Fall (Sep-Dec) </label>
                        </div>
                      </div>
                    </div>
                    <div id="edit-search-api-aggregation-10-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-10" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-10-1">
                          <input type="checkbox" id="edit-search-api-aggregation-10-1" name="search_api_aggregation_10[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-10-1">Winter/Spring(Jan-May) </label>
                        </div>
                      </div>
                    </div>
                    <div id="edit-search-api-aggregation-11-wrapper" class="no-label">
                      <div id="edit-search-api-aggregation-11" class="form-checkboxes">
                        <div class="form-item form-type-checkbox form-item-search-api-aggregation-11-1">
                          <input type="checkbox" id="edit-search-api-aggregation-11-1" name="search_api_aggregation_11[1]"
                            value="1" class="form-checkbox" disabled="disabled"> <label class="option" for="edit-search-api-aggregation-11-1">Summer (Jun-Aug) </label>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="edit-field-program-type-wrapper" class="span4 hide">
                  <h4>Program Type </h4>
                  <div class="views-widget">
                    <div id="edit-field-program-type" class="form-checkboxes">
                      <div class="form-item form-type-checkbox form-item-field-program-type-1">
                        <input type="checkbox" id="edit-field-program-type-1" name="field_program_type[1]" value="1"
                          class="form-checkbox" disabled="disabled"> <label class="option" for="edit-field-program-type-1">Part-time
                        </label>
                      </div>
                      <div class="form-item form-type-checkbox form-item-field-program-type-2">
                        <input type="checkbox" id="edit-field-program-type-2" name="field_program_type[2]" value="2"
                          class="form-checkbox" disabled="disabled"> <label class="option" for="edit-field-program-type-2">Full-time
                        </label>
                      </div>
                      <div class="form-item form-type-checkbox form-item-field-program-type-3">
                        <input type="checkbox" id="edit-field-program-type-3" name="field_program_type[3]" value="3"
                          class="form-checkbox" disabled="disabled"> <label class="option" for="edit-field-program-type-3">Online
                        </label>
                      </div>
                    </div>
                  </div>
                </div> <!-- .span4 -->
                <div class="drawer-button span12"><button type="submit" name="" value="go" class="btn btn-small form-submit">Search</button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="views-exposed-widget views-widget-sort-by show">
          <div class="form-item form-type-select form-item-sort-by">
            <label for="edit-sort-by">Sort by </label>
            <div class="styled-select">
              <select id="edit-sort-by" name="sort_by" class="form-select csselect-processed">
                <option value="search_api_relevance" selected="selected">Relevance</option>
                <option value="title">Alphabetical</option>
              </select>
            </div>
          </div>
          <div class="sort-button"><button type="submit" name="" value="go" class="btn btn-small form-submit">Sort Results</button></div>
        </div>
      </div>
    </form>
  </div>
</section>
