<section id="block-system-main" class="block block-system block-even">
  <div class="content">
    <div class="view view-content-search view-id-content_search view-display-id-page_3 switchsearch view-dom-id-95e48d9c597a2a8e5313230bc21ededb">
      <div class="results">
        18 results </div>
      <div class="view-content">
        <section class="first odd">
          <h4>
            <a href="/courses/mcatr-test-preparation-critical-analysis-reasoning-skills/lc993">MCAT<sup>®</sup> Test
              Preparation - Critical Analysis and Reasoning Skills</a>
          </h4>
          <p><span class="course-code">LC993 |</span> Develop comprehension and critical thinking skills to read,
            understand and analyze complex passages from the social sciences and humanities.
            Through illustration, explanation and practice on real MCAT questions, our experienced instructors help you
            build analysis and reasoning skills for this section of the MCAT ... <a href="/courses/mcatr-test-preparation-critical-analysis-reasoning-skills/lc993"
              class="more-link">Learn More</a></p>
          <div class="panelgroup">
            <div class="panel panel-closed">
              <div class="panel-tab cstab-processed" tabindex="0"><i class="icon-plus-sign"></i> List of Sessions</div>
              <div class="panel-content" style="display: none; ">
                <div class="view view-individual-course view-id-individual_course view-display-id-block_5 view-dom-id-34ae306b1e13a4c41d6054665b577a91">
                  <div class="view-content">
                    <table class="views-table cols-7 table">
                      <thead>
                        <tr>
                          <th class="views-field views-field-path" scope="col">
                            Date </th>
                          <th class="views-field views-field-field-srs-section-num-sessions" scope="col">
                            Sessions </th>
                          <th scope="col">
                            Schedule </th>
                          <th scope="col">
                            Location </th>
                          <th scope="col">
                            Fee </th>
                          <th class="views-field views-field-views-conditional" scope="col">
                          </th>
                          <th scope="col">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd views-row-first views-row-last">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/mcatr-test-preparation-critical-analysis-reasoning-skills/lc993"><span
                                class="date-display-single">May 14</span>-<span class="date-display-single">Jul 2, 2019</span></a>
                          </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            7 </td>
                          <td>
                            Tue 6:30pm-9:30pm </td>
                          <td>
                            UBC Robson Square </td>
                          <td>
                            $530 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/mcatr-test-preparation-critical-analysis-reasoning-skills/lc993">MORE</a></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="even">
          <!--<span class="ribbon small "></span>-->

          <h4><a href="/courses/mcatr-test-preparation-biological-biochemical-foundations-living-systems/lc992">MCAT<sup>®</sup>
              Test Preparation - Biological and Biochemical Foundations of Living Systems</a></h4>
          <p><span class="course-code">LC992 |</span> Review the fundamental concepts of biology, biochemistry, organic
            chemistry, inorganic chemistry, and cellular and molecular biology taught in first-year university and
            college programs.
            Our experienced instructors ensure you understand all foundational aspects of this section of the MCAT exam
            using a learn and ... <a href="/courses/mcatr-test-preparation-biological-biochemical-foundations-living-systems/lc992"
              class="more-link">Learn More</a></p>
          <div class="panelgroup">
            <div class="panel panel-closed">
              <div class="panel-tab cstab-processed" tabindex="0"><i class="icon-plus-sign"></i> List of Sessions</div>
              <div class="panel-content" style="display: none; ">
                <div class="view view-individual-course view-id-individual_course view-display-id-block_5 view-dom-id-dde74cbdcf42a409eddeff5ae6c16b64">
                  <div class="view-content">
                    <table class="views-table cols-7 table">
                      <thead>
                        <tr>
                          <th class="views-field views-field-path" scope="col">
                            Date </th>
                          <th class="views-field views-field-field-srs-section-num-sessions" scope="col">
                            Sessions </th>
                          <th scope="col">
                            Schedule </th>
                          <th scope="col">
                            Location </th>
                          <th scope="col">
                            Fee </th>
                          <th class="views-field views-field-views-conditional" scope="col">
                          </th>
                          <th scope="col">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd views-row-first views-row-last">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/mcatr-test-preparation-biological-biochemical-foundations-living-systems/lc992"><span
                                class="date-display-single">May 1</span>-<span class="date-display-single">Jun 19, 2019</span></a>
                          </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            8 </td>
                          <td>
                            Wed 6:30pm-9:30pm </td>
                          <td>
                            UBC Robson Square </td>
                          <td>
                            $530 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/mcatr-test-preparation-biological-biochemical-foundations-living-systems/lc992">MORE</a></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>






                </div><!-- <div class="text-right"><a href="/courses/mcatr-test-preparation-biological-biochemical-foundations-living-systems/lc992" class="more-link">DETAILS</a></div> -->
              </div>
            </div>
          </div>
        </section>
        <section class="odd">
          <!--<span class="ribbon small "></span>-->

          <h4><a href="/courses/mcatr-test-preparation-psychological-social-biological-foundations-behavior/lc991">MCAT<sup>®</sup>
              Test Preparation - Psychological, Social, and Biological Foundations of Behavior</a></h4>

          <p><span class="course-code">LC991 |</span> Review the fundamental concepts of biology, psychology, and
            sociology taught in first-year university and college programs with our experienced instructors.
            Using a case study approach, flashcards, and practice on real MCAT questions, our experienced instructors
            ensure you understand all foundational aspects of this ... <a href="/courses/mcatr-test-preparation-psychological-social-biological-foundations-behavior/lc991"
              class="more-link">Learn More</a></p>
          <div class="panelgroup">
            <div class="panel panel-closed">
              <div class="panel-tab cstab-processed" tabindex="0"><i class="icon-plus-sign"></i> List of Sessions</div>
              <div class="panel-content" style="display: none; ">
                <div class="view view-individual-course view-id-individual_course view-display-id-block_5 view-dom-id-d81e167dfbb8dee9b3b23dcb616f8f82">



                  <div class="view-content">
                    <table class="views-table cols-7 table">
                      <thead>
                        <tr>
                          <th class="views-field views-field-path" scope="col">
                            Date </th>
                          <th class="views-field views-field-field-srs-section-num-sessions" scope="col">
                            Sessions </th>
                          <th scope="col">
                            Schedule </th>
                          <th scope="col">
                            Location </th>
                          <th scope="col">
                            Fee </th>
                          <th class="views-field views-field-views-conditional" scope="col">
                          </th>
                          <th scope="col">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd views-row-first views-row-last">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/mcatr-test-preparation-psychological-social-biological-foundations-behavior/lc991"><span
                                class="date-display-single">May 9</span>-<span class="date-display-single">Jun 27, 2019</span></a>
                          </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            8 </td>
                          <td>
                            Thu 6:30pm-9:30pm </td>
                          <td>
                            UBC Robson Square </td>
                          <td>
                            $530 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/mcatr-test-preparation-psychological-social-biological-foundations-behavior/lc991">MORE</a></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>






                </div><!-- <div class="text-right"><a href="/courses/mcatr-test-preparation-psychological-social-biological-foundations-behavior/lc991" class="more-link">DETAILS</a></div> -->
              </div>
            </div>
          </div>
        </section>
        <section class="even">
          <!--<span class="ribbon small "></span>-->

          <h4><a href="/courses/mcatr-test-preparation-chemical-physical-foundations-biological-systems/lc990">MCAT<sup>®</sup>
              Test Preparation - Chemical and Physical Foundations of Biological Systems</a></h4>

          <p><span class="course-code">LC990 |</span> Review the fundamental concepts of biology, biochemistry, general
            chemistry, organic chemistry, and physics taught in first year university and college programs.
            Using a learn and confirm approach, flashcards, and practice on real MCAT questions, our experienced
            instructors ensure you understand all foundational ... <a href="/courses/mcatr-test-preparation-chemical-physical-foundations-biological-systems/lc990"
              class="more-link">Learn More</a></p>
          <div class="panelgroup">
            <div class="panel panel-closed">
              <div class="panel-tab cstab-processed" tabindex="0"><i class="icon-plus-sign"></i> List of Sessions</div>
              <div class="panel-content" style="display: none; ">
                <div class="view view-individual-course view-id-individual_course view-display-id-block_5 view-dom-id-fece5dd209b6d5ef4874d85664ded461">



                  <div class="view-content">
                    <table class="views-table cols-7 table">
                      <thead>
                        <tr>
                          <th class="views-field views-field-path" scope="col">
                            Date </th>
                          <th class="views-field views-field-field-srs-section-num-sessions" scope="col">
                            Sessions </th>
                          <th scope="col">
                            Schedule </th>
                          <th scope="col">
                            Location </th>
                          <th scope="col">
                            Fee </th>
                          <th class="views-field views-field-views-conditional" scope="col">
                          </th>
                          <th scope="col">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd views-row-first views-row-last">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/mcatr-test-preparation-chemical-physical-foundations-biological-systems/lc990"><span
                                class="date-display-single">Apr 29</span>-<span class="date-display-single">Jun 24,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            8 </td>
                          <td>
                            Mon 6:30pm-9:30pm </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $590 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/mcatr-test-preparation-chemical-physical-foundations-biological-systems/lc990">MORE</a></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>






                </div><!-- <div class="text-right"><a href="/courses/mcatr-test-preparation-chemical-physical-foundations-biological-systems/lc990" class="more-link">DETAILS</a></div> -->
              </div>
            </div>
          </div>
        </section>
        <section class="odd">
          <!--<span class="ribbon small "></span>-->

          <h4><a href="/courses/lsatr-test-preparation/lc970">LSAT<sup>®</sup> Test Preparation</a></h4>

          <p><span class="course-code">LC970 |</span> Acquire the skills needed to excel&nbsp;on the LSAT from an
            experienced instructor and former lawyer. Develop highly effective time-management and test-taking
            strategies within a friendly, collegial and&nbsp;student-oriented environment.
            Course fee includes a custom-designed workbook, exclusive online ... <a href="/courses/lsatr-test-preparation/lc970"
              class="more-link">Learn More</a></p>
          <div class="panelgroup">
            <div class="panel panel-closed">
              <div class="panel-tab cstab-processed" tabindex="0"><i class="icon-plus-sign"></i> List of Sessions</div>
              <div class="panel-content" style="display: none; ">
                <div class="view view-individual-course view-id-individual_course view-display-id-block_5 view-dom-id-2cda40942167ccf8cc935489c51843ad">



                  <div class="view-content">
                    <table class="views-table cols-7 table">
                      <thead>
                        <tr>
                          <th class="views-field views-field-path" scope="col">
                            Date </th>
                          <th class="views-field views-field-field-srs-section-num-sessions" scope="col">
                            Sessions </th>
                          <th scope="col">
                            Schedule </th>
                          <th scope="col">
                            Location </th>
                          <th scope="col">
                            Fee </th>
                          <th class="views-field views-field-views-conditional" scope="col">
                          </th>
                          <th scope="col">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd views-row-first">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/lsatr-test-preparation/lc970"><span
                                class="date-display-single">Mar 30</span>-<span class="date-display-single">May 7, 2019</span></a>
                          </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            12 </td>
                          <td>
                            Tue Thu Sat - </td>
                          <td>
                            UBC Robson Square </td>
                          <td>
                            $1100 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/lsatr-test-preparation/lc970">MORE</a></span> </td>
                        </tr>
                        <tr class="even">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/lsatr-test-preparation/lc970"><span
                                class="date-display-single">May 11</span>-<span class="date-display-single">Jul 11,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            11 </td>
                          <td>
                            Tue Thu Sat - </td>
                          <td>
                            UBC Robson Square </td>
                          <td>
                            $1100 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/lsatr-test-preparation/lc970">MORE</a></span> </td>
                        </tr>
                        <tr class="odd views-row-last">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/lsatr-test-preparation/lc970"><span
                                class="date-display-single">Jul 20</span>-<span class="date-display-single">Aug 20,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            11 </td>
                          <td>
                            Tue Thu Sat </td>
                          <td>
                            UBC Robson Square </td>
                          <td>
                            $1100 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/lsatr-test-preparation/lc970">MORE</a></span> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>






                </div><!-- <div class="text-right"><a href="/courses/lsatr-test-preparation/lc970" class="more-link">DETAILS</a></div> -->
              </div>
            </div>
          </div>
        </section>
        <section class="even">
          <!--<span class="ribbon small "></span>-->

          <h4><a href="/courses/grer-test-preparation/lc960">GRE<sup>®</sup> Test Preparation</a></h4>

          <p><span class="course-code">LC960 |</span> The curriculum of our comprehensive, 27-hour GRE preparation
            course addresses each area of the GRE revised General Test. Learn valuable tips and strategies for
            maximizing your score under time constraints.

            Course fee&nbsp;includes&nbsp;a custom-designed workbook,&nbsp;exclusive online resources, Official GRE®
            ... <a href="/courses/grer-test-preparation/lc960" class="more-link">Learn More</a></p>
          <div class="panelgroup">
            <div class="panel panel-closed">
              <div class="panel-tab cstab-processed" tabindex="0"><i class="icon-plus-sign"></i> List of Sessions</div>
              <div class="panel-content" style="display: none; ">
                <div class="view view-individual-course view-id-individual_course view-display-id-block_5 view-dom-id-b659eb6369b9924c795c5c870d9d50d4">



                  <div class="view-content">
                    <table class="views-table cols-7 table">
                      <thead>
                        <tr>
                          <th class="views-field views-field-path" scope="col">
                            Date </th>
                          <th class="views-field views-field-field-srs-section-num-sessions" scope="col">
                            Sessions </th>
                          <th scope="col">
                            Schedule </th>
                          <th scope="col">
                            Location </th>
                          <th scope="col">
                            Fee </th>
                          <th class="views-field views-field-views-conditional" scope="col">
                          </th>
                          <th scope="col">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd views-row-first">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/grer-test-preparation/lc960"><span
                                class="date-display-single">Feb 25</span>-<span class="date-display-single">Mar 25,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            9 </td>
                          <td>
                            Mon Wed 6:30pm-9:30pm </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $960 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/grer-test-preparation/lc960">MORE</a></span> </td>
                        </tr>
                        <tr class="even">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/grer-test-preparation/lc960"><span
                                class="date-display-single">Apr 15</span>-<span class="date-display-single">May 15,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            9 </td>
                          <td>
                            Mon Wed 6:30pm-9:30pm </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $960 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/grer-test-preparation/lc960">MORE</a></span> </td>
                        </tr>
                        <tr class="odd">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/grer-test-preparation/lc960"><span
                                class="date-display-single">May 27</span>-<span class="date-display-single">Jun 24,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            9 </td>
                          <td>
                            Mon Wed 6:30 PM-9:30 PM </td>
                          <td>
                            UBC Robson Square </td>
                          <td>
                            $960 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/grer-test-preparation/lc960">MORE</a></span> </td>
                        </tr>
                        <tr class="even views-row-last">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/grer-test-preparation/lc960"><span
                                class="date-display-single">Jul 8</span>-<span class="date-display-single">Aug 7, 2019</span></a>
                          </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            9 </td>
                          <td>
                            Mon Wed 6:30 PM-9:30 PM </td>
                          <td>
                            UBC Robson Square </td>
                          <td>
                            $960 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/grer-test-preparation/lc960">MORE</a></span> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>






                </div><!-- <div class="text-right"><a href="/courses/grer-test-preparation/lc960" class="more-link">DETAILS</a></div> -->
              </div>
            </div>
          </div>
        </section>
        <section class="odd">
          <h4><a href="/programs/mcat-test-preparation">MCAT® Test Preparation</a></h4>

          <h5 class="field field-name-field-program-subtitle field-type-list-text field-label-hidden">
            Program </h5>

          <div class="field field-name-body field-type-text-with-summary field-label-hidden">
            Prepare to excel on your Medical College Admission Test (MCAT ® ) exam with our suite of four test
            preparation courses – and the only UBC MCAT test prep courses offered in Vancouver. Each course covers a
            different section of the exam, so you can choose the areas you need to focus on. The in-class experience
            and our... <a href="/programs/mcat-test-preparation" class="more-link"> LEARN MORE</a> </div>
        </section>
        <section class="even">
          <!--<span class="ribbon small "></span>-->

          <h4><a href="/courses/gmatr-test-preparation/lc950">GMAT<sup>®</sup> Test Preparation</a></h4>

          <p><span class="course-code">LC950 |</span> The comprehensive, 30-hour GMAT preparation course
            covers&nbsp;all areas of this challenging exam, including Integrated Reasoning. Reinforce your skills with
            practice on real GMAT questions and benefit from the tips and strategies offered by our
            experienced&nbsp;instructors.
            Course fee includes a custom-designed ... <a href="/courses/gmatr-test-preparation/lc950" class="more-link">Learn
              More</a></p>
          <div class="panelgroup">
            <div class="panel panel-closed">
              <div class="panel-tab cstab-processed" tabindex="0"><i class="icon-plus-sign"></i> List of Sessions</div>
              <div class="panel-content" style="display: none; ">
                <div class="view view-individual-course view-id-individual_course view-display-id-block_5 view-dom-id-b7c7dd0cedd84b2f9c258eb6ec8a2964">



                  <div class="view-content">
                    <table class="views-table cols-7 table">
                      <thead>
                        <tr>
                          <th class="views-field views-field-path" scope="col">
                            Date </th>
                          <th class="views-field views-field-field-srs-section-num-sessions" scope="col">
                            Sessions </th>
                          <th scope="col">
                            Schedule </th>
                          <th scope="col">
                            Location </th>
                          <th scope="col">
                            Fee </th>
                          <th class="views-field views-field-views-conditional" scope="col">
                          </th>
                          <th scope="col">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd views-row-first">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/gmatr-test-preparation/lc950"><span
                                class="date-display-single">Apr 2</span>-<span class="date-display-single">May 2, 2019</span></a>
                          </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            10 </td>
                          <td>
                            Tue Thu 6:30pm-9:30pm </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $1125 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/gmatr-test-preparation/lc950">MORE</a></span> </td>
                        </tr>
                        <tr class="even">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/gmatr-test-preparation/lc950"><span
                                class="date-display-single">May 14</span>-<span class="date-display-single">Jun 13,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            10 </td>
                          <td>
                            Tue Thu 6:30pm-9:30pm </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $1125 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/gmatr-test-preparation/lc950">MORE</a></span> </td>
                        </tr>
                        <tr class="odd">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/gmatr-test-preparation/lc950"><span
                                class="date-display-single">Jul 9</span>-<span class="date-display-single">Aug 8, 2019</span></a>
                          </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            10 </td>
                          <td>
                            Tue Thu 6:30 PM-9:30 PM </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $1125 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/gmatr-test-preparation/lc950">MORE</a></span> </td>
                        </tr>
                        <tr class="even">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/gmatr-test-preparation/lc950"><span
                                class="date-display-single">Sep 16</span>-<span class="date-display-single">Oct 21,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            10 </td>
                          <td>
                            Mon Wed 6:30 PM-9:30 PM </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $1125 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/gmatr-test-preparation/lc950">MORE</a></span> </td>
                        </tr>
                        <tr class="odd">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/gmatr-test-preparation/lc950"><span
                                class="date-display-single">Oct 8</span>-<span class="date-display-single">Nov 12, 2019</span></a>
                          </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            10 </td>
                          <td>
                            Tue Thu 6:30 PM-9:30 PM </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $1125 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/gmatr-test-preparation/lc950">MORE</a></span> </td>
                        </tr>
                        <tr class="even views-row-last">
                          <td class="views-field views-field-path">
                            <a href="https://continuingstudies.sauder.ubc.ca/courses/gmatr-test-preparation/lc950"><span
                                class="date-display-single">Nov 14</span>-<span class="date-display-single">Dec 17,
                                2019</span></a> </td>
                          <td class="views-field views-field-field-srs-section-num-sessions">
                            10 </td>
                          <td>
                            Tue Thu 6:30 PM-9:30 PM </td>
                          <td>
                            UBC Robson Square/Online </td>
                          <td>
                            $1125 </td>
                          <td class="views-field views-field-views-conditional">
                          </td>
                          <td class="more-link">
                            <span><a href="/courses/gmatr-test-preparation/lc950">MORE</a></span> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>






                </div><!-- <div class="text-right"><a href="/courses/gmatr-test-preparation/lc950" class="more-link">DETAILS</a></div> -->
              </div>
            </div>
          </div>
        </section>
        <section class="odd">
          <h4><a href="/programs/gmat-test-preparation">GMAT® Test Preparation</a></h4>

          <h5 class="field field-name-field-program-subtitle field-type-list-text field-label-hidden">
            Program </h5>

          <div class="field field-name-body field-type-text-with-summary field-label-hidden">
            Build Your Confidence. Improve Your Exam Score. A graduate degree in business administration is a gateway
            to opportunity. Make it through the MBA admissions process and you are on your way to broadening your
            knowledge, building a strong network, improving your financial circumstances and achieving your goals.
            Success... <a href="/programs/gmat-test-preparation" class="more-link"> LEARN MORE</a> </div>
        </section>
        <section class="last even">
          <h4><a href="/programs/gre-test-preparation">GRE® Test Preparation</a></h4>

          <h5 class="field field-name-field-program-subtitle field-type-list-text field-label-hidden">
            Program </h5>

          <div class="field field-name-body field-type-text-with-summary field-label-hidden">
            Study Smart and Improve the Competitiveness of your Score. Whether you are seeking a career change,
            increased earning power or the opportunity to distinguish yourself with an advanced degree, you already
            know that admission to graduate school is highly competitive. While admission committees consider a variety
            of... <a href="/programs/gre-test-preparation" class="more-link"> LEARN MORE</a> </div>
        </section>
      </div>

      <h2 class="element-invisible">Pages</h2>
      <div class="item-list">
        <ul class="pager">
          <li class="pager-current first">1</li>
          <li class="pager-item"><a title="Go to page 2" href="/search?search_api_views_fulltext=test&amp;type=1&amp;sort_by=search_api_relevance&amp;page=1">2</a></li>
          <li class="pager-next"><a title="Go to next page" href="/search?search_api_views_fulltext=test&amp;type=1&amp;sort_by=search_api_relevance&amp;page=1">next
              ›</a></li>
          <li class="pager-last last"><a title="Go to last page" href="/search?search_api_views_fulltext=test&amp;type=1&amp;sort_by=search_api_relevance&amp;page=1">last
              »</a></li>
        </ul>
      </div>




    </div>
  </div>
</section>
