<h4 class="text-unit-grey-light heading-five">Share with friends</h4>
<p class="text-hug">
  <svg role="presentation" class="inline-block h-8 w-8 text-unit-grey-light hover--text-ubc-blue">
    <use xlink:href="#icon-twitter"/>
  </svg>
  <svg role="presentation" class="inline-block h-8 w-8 text-unit-grey-light hover--text-ubc-blue">
    <use xlink:href="#icon-linkedin"/>
  </svg>
  <svg role="presentation" class="inline-block h-8 w-8 text-unit-grey-light hover--text-ubc-blue">
    <use xlink:href="#icon-facebook"/>
  </svg>
</p>
