<h2 class="text-unit-grey font-light border-b border-ubc-blue text-center heading-three">Unit Statistics</h2>
  <div class="md--flex pt-8 text-center">
    <div class="md--w-one-third mb-4 pb-6 md--pb-0 md--mb-0">
      <h3 class="text-ubc-blue font-light mt-6 ">May 2010</h3>
      <p class="text--hug text-unit-grey uppercase">Quantum matter institute established</p>
    </div>
    <div class="md--w-one-third mb-6 pb-6 border-b border-t border-unit-grey md--pb-0 md--mb-0 md--border-0">
      <h3 class="text-ubc-blue font-light mt-6">96</h3>
      <p class="text--hug text-unit-grey uppercase">Publications in 2016</p>
    </div>
    <div class="md--w-one-third mb-46 pb-6 md--pb-0 md--mb-0">
      <h3 class="text-ubc-blue font-light mt-6">20,000</h3>
      <p class="text--hug text-unit-grey uppercase">Square feet of lab space</p>
    </div>
  </div>
