<nav id="secondary-navigation" class="">
  <ul role="menu" class="list-reset border-t border-unit-grey">
    <li><a href="#" class="navlink--secondary has-children">Discover <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children">
        <li><a href="#" class="navlink--secondary">Atomic-level design of novel quantum materials <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Emergent electronic phenomena at interfaces <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Topologically protected quantum states <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Materials and structured for a better environment <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Hybrid photonic/electronic quantum information technologies <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Researchers <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Research Publications <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children active-trail">Learn <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary">QuEST Fellowship <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Careers <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Opportunities <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Outreach <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Student Profiles <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Alumni Profiles <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children">Collaborate <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary">Cooperative Research <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Partners <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Engage <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children">Capabilities <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary">Facilities <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children">News and Events <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary">News <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Events <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children">About Us <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary">Vision <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Strategic Focus <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Equity and Diversity <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">GREX <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Publications <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Faculty and Staff Directory <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary">Job Postings <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary">Contact <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
  </ul>
</nav>
