<section class="block-menu-block subnav--collapsing">
  <header>
    <h2 data-toggle="collapse" data-target=".subnav__links" aria-expanded="false" class="subnav__toggle collapsed">Continuing Business Studies <span class="md--hidden">Sub-Navigation</span><svg role="presentation" class="md--hidden subnav__menu-handle">
      <use xlink:href="#icon-menu"/>
    </svg></h2>
  </header>
  <nav id="secondary-navigation" class="subnav__links collapse">
    <ul role="menu" class="list-reset my-0">
      <li><a href="#" class="navlink--secondary has-children"><svg role="presentation" class="subnav-arrow">
        <use xlink:href="#icon-arrow-circle"/>
      </svg> How to Register</a>
        <ul class="list-reset bg-white children">
          <li><a href="#" class="navlink--secondary">Subnav Item One</a></li>
          <li><a href="#" class="navlink--secondary">Subnav Item Two</a></li>
          <li><a href="#" class="navlink--secondary">Subnav Item Three</a></li>
        </ul>
      </li>
      <li><a href="#" class="navlink--secondary has-children active-trail"><svg role="presentation" class="subnav-arrow">
        <use xlink:href="#icon-arrow-circle"/>
      </svg> About Our Credentials</a>
        <ul class="list-reset bg-white children" >
          <li><a href="#" class="navlink--secondary">Subnav Item One</a></li>
          <li><a href="#" class="navlink--secondary">Subnav Item Two</a></li>
          <li><a href="#" class="navlink--secondary">Subnav Item Three</a></li>
        </ul>
      </li>
      <li><a href="#" class="navlink--secondary has-children"><svg role="presentation" class="subnav-arrow">
        <use xlink:href="#icon-arrow-circle"/>
      </svg> Student Services</a>
        <ul class="list-reset bg-white children" >
          <li><a href="#" class="navlink--secondary">Subnav Item One</a></li>
          <li><a href="#" class="navlink--secondary">Subnav Item Two</a></li>
          <li><a href="#" class="navlink--secondary">Subnav Item Three</a></li>
        </ul>
      </li>
      <li><a href="#" class="navlink--secondary has-children"><svg role="presentation" class="subnav-arrow">
        <use xlink:href="#icon-arrow-circle"/>
      </svg> About Online Learning</a>
        <ul class="list-reset bg-white children" >
          <li><a href="#" class="navlink--secondary">Subnav Item One</a></li>
        </ul>
      </li>
      <li><a href="#" class="navlink--secondary has-children"><svg role="presentation" class="subnav-arrow">
        <use xlink:href="#icon-arrow-circle"/>
      </svg> Services</a></li>
      <li><a href="#" class="navlink--secondary has-children"><svg role="presentation" class="subnav-arrow">
        <use xlink:href="#icon-arrow-circle"/>
      </svg> Policies</a></li>
      <li><a href="#" class="navlink--secondary"><svg role="presentation" class="subnav-arrow">
        <use xlink:href="#icon-arrow-circle"/>
      </svg> Tuition Tax Receipts</a></li>
    </ul>
  </nav>
</section>
