<section class="block-menu-block subnav--collapsing">
  <header>
    <h2 data-toggle="collapse" data-target=".subnav__links" aria-expanded="false" class="subnav__toggle collapsed">Explore Our Programs <span class="md--hidden">Sub-Navigation</span><svg role="presentation" class="md--hidden subnav__menu-handle">
      <use xlink:href="#icon-menu"/>
    </svg></h2>
  </header>
  <nav id="secondary-navigation" class="subnav__links collapse">
    <ul role="menu" class="list-reset my-0">
      <li><a href="#" class="navlink--secondary--alt">Project Management - Part-time</a></li>
      <li><a href="#" class="navlink--secondary--alt">Agile Leadership</a></li>
      <li><a href="#" class="navlink--secondary--alt">Business Analysis Certificate</a></li>
      <li><a href="#" class="navlink--secondary--alt">Change Management</a></li>
      <li><a href="#" class="navlink--secondary--alt">PMP Exam Prep</a></li>
      <li><a href="#" class="navlink--secondary--alt">Project Management</a></li>
      <li><a href="#" class="navlink--secondary--alt">Project Management - 100% Online</a></li>
    </ul>
  </nav>
</section>
