<nav id="secondary-navigation" class="">
  <ul role="menu" class="list-reset border-t border-unit-grey">
    <li><a href="#" class="navlink--secondary has-children">Discover <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children">
        <li><a href="#" class="navlink--secondary-nested">Atomic-level design of novel quantum materials <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Emergent electronic phenomena at interfaces <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Topologically protected quantum states <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Materials and structured for a better environment <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Hybrid photonic/electronic quantum information technologies <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Researchers <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Research Publications <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children active-trail">Learn <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary-nested">QuEST Fellowship <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Careers <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Opportunities <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Outreach <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Student Profiles <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Alumni Profiles <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children">Collaborate <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary-nested">Cooperative Research <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Partners <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Engage <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children">Capabilities <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary-nested">Facilities <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children">News and Events <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary-nested">News <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Events <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary has-children">About Us <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a>
      <ul class="list-reset bg-white children" >
        <li><a href="#" class="navlink--secondary-nested">Vision <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Strategic Focus <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Equity and Diversity <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">GREX <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Publications <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Faculty and Staff Directory <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
        <li><a href="#" class="navlink--secondary-nested">Job Postings <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
      </ul>
    </li>
    <li><a href="#" class="navlink--secondary">Contact <svg role="presentation" class="svg-icon subnav-arrow"><use xlink:href="#icon-arrow"/></svg></a></li>
  </ul>
</nav>
