<div class="supporting">
  <h3 class="heading-block heading-block--white-on-blue text-2xl ">Upcoming Events &amp; Webinars</h3>
  <div class="supporting__content border-0 relative bg-ubc-blue--semi">
    <img class="supporting__bg-image" alt="" title="" src="img/demo/profile4.jpg" />
    <h4 class="text-white text-3xl leading-tight ">Change Management Webinar</h4>
    <p class="text-white mt-2 text-xl font-normal">Thursday, November 29<br />
      <span class="block text-base ">Location: Online</span></p>
    <p><a href="#" class="unit-button unit-button--blue text-sm normal-case block">Save my spot</a></p>
  </div>
</div>
