<div class="supporting">
  <h3 class="heading-block heading-block--white-on-blue text-2xl">Take a deep dive into UBC CBS</h3>
  <div class="supporting__content">
    <p><a href="#" class=""><img alt="" title="" src="img/calendar-cover.png" /></a></p>
    <p class="text-hug"><a href="#" class="unit-button unit-button--blue text-sm normal-case block">Download Brochure</a></p>
  </div>
</div>
