<div class="supporting">
  <h3 class="heading-block heading-block--white-on-green text-2xl uppercase font-semibold">Quick Look</h3>
  <div class="supporting__content border-0 pt-0 relative bg-unit-grey-lighter-alt">
    <ul class="supporting__list">
      <li>
        <svg role="presentation">
          <use xlink:href="#icon-program-cost"/>
        </svg> <span class="inline-block pl-8">Program Cost</span> <span class="inline-block text-right text-ubc-blue uppercase font-semibold float-right">$10,000</span></li>
      <li>
        <svg role="presentation">
          <use xlink:href="#icon-duration"/>
        </svg> <span class="inline-block pl-8">Duration</span> <span class="inline-block text-right text-ubc-blue uppercase font-semibold float-right">12 Months</span></li>
      <li>
        <svg role="presentation">
          <use xlink:href="#icon-format"/>
        </svg> <span class="inline-block pl-8">Format</span> <span class="inline-block text-right text-ubc-blue uppercase font-semibold float-right">In class</span></li>
      <li>
        <svg role="presentation">
          <use xlink:href="#icon-schedule"/>
        </svg> <span class="inline-block pl-8">Schedule</span> <span class="inline-block text-right text-ubc-blue uppercase font-semibold float-right">Part-time</span></li>
    </ul>
    <p class="leading-tight"><span class="text-unit-grey uppercase text-xs">NEXT START DATE</span><br />
    <span class="text-ubc-blue uppercase font-semibold text-xl">September 12, 2018</span></p>
    <p><a href="#" class="unit-button unit-button--blue text-sm uppercase block">Register Now</a></p>
  </div>
</div>

