<!-- <div class="supporting">
  <h3 class="heading-block heading-block--white-on-blue text-2xl">Upcoming Events &amp; Webinars</h3>
  <div class="supporting__content">
    <h4 class="heading-five text-unit-green">Information Sessions</h4>
    <p class="leading-tight text-hug"><strong>Wednesday, June 13</strong><br />
    Location: UBC Robson</p>
    <p class="mt-2"><a href="#" class="unit-button unit-button--blue text-sm normal-case block">Save My Spot</a></p>
    <h4 class="heading-five text-unit-green">Webinars</h4>
    <p class="leading-tight text-hug"><strong>Wednesday, April 18</strong><br />
    Location: Online</p>
    <p class="mt-2"><a href="#" class="unit-button unit-button--blue text-sm normal-case block">Save My Spot</a></p>
  </div>
</div> -->

<div class="supporting">
  <h3 class="heading-block heading-block--white-on-blue text-2xl">Upcoming Events &amp; Webinars</h3>
  <div class="supporting__content">
    <ul class="supporting__list supporting__list--alt supporting__list--top-align">
      <li>
        <span><a href="#">Project Management Webinar Session</a><a class="block underline font-bold" href="#">RSVP</a></span> <span class="font-bold">Apr. 5</span></li>
      <li>
        <span><a href="#">Project Management Information Session</a><a class="block underline font-bold" href="#">RSVP</a></span> <span class="font-bold">Jun. 10</span></li>
    </ul>
  </div>
</div>
