<div class="supporting">
  <h3 class="heading-block heading-block--white-on-blue text-2xl">Upcoming Program Start Dates</h3>
  <div class="supporting__content">
    <ul class="supporting__list supporting__list--alt">
      <li>
        <span><a href="#">Project Management Hybrid</a></span> <span>Jan. 5</span></li>
      <li>
        <span><a href="#">Project Management Online</a></span> <span>Jan. 17</span></li>
      <li>
        <span><a href="#">Business Analysis Online</a></span> <span>Feb. 2</span></li>
      <li>
        <span><a href="#">Change Management Blended</a></span> <span>Feb. 5</span></li>
      <li>
        <span><a href="#">Change Management Blended</a></span> <span>Mar. 23</span></li>
    </ul>
  </div>
</div>
