<div class="tabcordion">
  <ul class="tabcordion__links">
    <li class="is-active tabcordion__tab tabcordion__trigger" data-tab="overview"><button>Overview</button></li>
    <li class="tabcordion__tab tabcordion__trigger" data-tab="details"><button>Details</button></li>
    <li class="tabcordion__tab tabcordion__trigger" data-tab="curriculum"><button>Curriculum</button></li>
    <li class="tabcordion__tab tabcordion__trigger" data-tab="instructors"><button>Instructors</button></li>
    <li class="tabcordion__tab tabcordion__trigger" data-tab="requirements"><button>Requirements</button></li>
    <li class="tabcordion__tab tabcordion__trigger" data-tab="faq"><button>FAQ</button></li>
  </ul>

  <div class="tabcordion__content-wrapper">
    <a class="tabcordion__heading tabcordion__trigger is-active" data-tab="overview" href="#program-overview" id="program-overview">Overview</a>
    <div data-content="overview" class="tabcordion__content is-active">
      {% include "content-program-overview.twig" %}
    </div>

    <a class="tabcordion__heading tabcordion__trigger" data-tab="details" href="#program-details" id="program-details">Details</a>
    <div data-content="details" class="tabcordion__content">
      {% include "content-program-details.twig" %}
    </div>

    <a class="tabcordion__heading tabcordion__trigger" data-tab="curriculum" href="#program-curriculum" id="program-curriculum">Curriculum</a>
    <div data-content="curriculum" class="tabcordion__content">
      {% include "content-program-curriculum.twig" %}
    </div>

    <a class="tabcordion__heading tabcordion__trigger" data-tab="instructors" href="#program-instructors" id="program-instructors">Instructors</a>
    <div data-content="instructors" class="tabcordion__content">
      {% include "content-program-instructors.twig" %}
    </div>

    <a class="tabcordion__heading tabcordion__trigger" data-tab="requirements" href="#program-requirements" id="program-requirements">Requirements</a>
    <div data-content="requirements" class="tabcordion__content">
      {% include "content-program-requirements.twig" %}
    </div>

    <a class="tabcordion__heading tabcordion__trigger" data-tab="faq" href="#program-faq" id="program-faq">FAQ</a>
    <div data-content="faq" class="tabcordion__content">
      {% include "content-program-faq.twig" %}
    </div>

  </div>
</div>
