<div class="md--flex">
  <div class="md--flex-1 md--mr-4 pb-4">
    <h3 class="bg-ubc-blue px-8 text-2xl text-white  md--bg-transparent md--text-unit-grey-dark md--font-bold uppercase md--text-4xl  md--px-0 mt-0">Recent News</h3>
    <div class="bg-unit-grey-light md--bg-white md--shadow-inside p-8">
      <div class="pb-4 md--flex"><span class="date block md--w-one-third">13 OCT 2017 </span><a href="#" class="font-bold no-underline text-unit-grey-dark hover--text-ubc-blue md--w-two-thirds md--pl-2">Physicists Receive Over $6 Million from CFI for Research  </a></div>
      <div class="pb-4 md--flex"><span class="date block md--w-one-third">7 SEP 2017 </span><a href="#" class="font-bold no-underline text-unit-grey-dark hover--text-ubc-blue md--w-two-thirds md--pl-2">Sarah Burke Awarded $800,000 In Research Funding</a></div>
      <div class="pb-4 md--flex"><span class="date block md--w-one-third">26 MAY 2017 </span><a href="#" class="font-bold no-underline text-unit-grey-dark hover--text-ubc-blue md--w-two-thirds md--pl-2">Verna J Kirkness Scholars Hosted by Us</a></div>
      <a href="#" class="link--more">See All</a>
    </div>
  </div>
  <div class="md--flex-1 md--ml-4 pb-4">
    <h3 class="bg-ubc-blue px-8 text-2xl text-white  md--bg-transparent md--text-unit-grey-dark md--font-bold uppercase md--text-4xl  md--px-0 mt-0">Recent Events</h3>
    <div class="bg-unit-grey-light md--bg-white md--shadow-inside p-8">
      <div class="pb-4 md--flex"><span class="date block md--w-one-third">4 DEC 2017 </span><a href="#" class="font-bold no-underline text-unit-grey-dark hover--text-ubc-blue md--w-two-thirds md--pl-2">Electronic properties of strongly correlated materials, and their link to physical properties</a></div>
      <div class="pb-4 md--flex"><span class="date block md--w-one-third">30 NOV 2017 </span><a href="#" class="font-bold no-underline text-unit-grey-dark hover--text-ubc-blue md--w-two-thirds md--pl-2">Quantum supremacy: checking a quantum computer with a classical supercomputer</a></div>
      <div class="pb-4 md--flex"><span class="date block md--w-one-third">9 NOV 2017 </span><a href="#" class="font-bold no-underline text-unit-grey-dark hover--text-ubc-blue md--w-two-thirds md--pl-2">Computational phases of quantum matter</a></div>
      <a href="#" class="link--more">See All</a>
    </div>
  </div>
</div>
