<h3 id="typography-headings">Headings</h3>
<hr />

<h1>Heading 1 Style</h1>
<h2>Heading 2 Style</h2>
<h3>Heading 3 Style</h3>
<h4>Heading 4 Style</h4>
<h5>Heading 5 Style</h5>
<h6>Heading 6 Style</h6>

<h1>Heading 1 Style more text to show wrapping Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
<h2>Heading 2 Style more text to show wrapping  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
<h3>Heading 3 Style more text to show wrapping Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</h3>
<h4>Heading 4 Style more text to show wrapping Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
	ut aliquip ex ea commodo consequat.</h4>
<h5>Heading 5 Style more text to show wrapping Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
	dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
	mollit anim id est laborum.</h5>
<h6>Heading 6 Style more text to show wrapping Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
	dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
	mollit anim id est laborum.</h6>

<h3 id="typography-text" >Regular Text</h3>
<hr />
<div class="text-formatted">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
		aliqua. Ut enim ad minim veniam, quis <a href="#" class="">nostrud exercitation ullamco</a>
		laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. <a href="https://apple.ca" rel="no-follow" class="link-external">An external link with icon</a>
		cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p>Nostrud <strong>exercitation ullamco</strong> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
		in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
		non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<h3 id="typography-text-lead" >Lead Text</h3>
<hr />
<p class="text-lead">Lead text with <code>.text-lead</code> class, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
	ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
	pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
	laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h3 id="typography-text-sm" >Small Text</h3>
<hr />
<p class="text-small">Text wrapped with a <code>text-small</code> class applied, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</p>
<h3 id="typography-text-overline" >Overline Text</h3>
<hr />
<p class="text-overline">Text wrapped with a <code>text-overline</code> class applied, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</p>

<h3 id="typography-lists" >Lists</h3>
<hr />
<h4>Unordered List: default</h4>
<div class="text-formatted">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <ul>
    <li>list item</li>
    <li>list item
      <ul>
        <li>unordered list item</li>
        <li>unordered list item</li>
        <li>list item</li>
      </ul>
    </li>
    <li>list item</li>
    <li>list item
      <ol>
        <li>ordered list item</li>
        <li>ordered list item</li>
      </ol>
    </li>
    <li>list item</li>
  </ul>
</div>
<h4>Unordered List: inline</h4>
<ul class="list-inline">
  <li>more list items</li>
  <li>more list items</li>
  <li>more list items</li>
</ul>
<h4>Unordered List: bordered</h4>
<ul class="list-bordered">
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
</ul>
<h4>Unordered List: checked</h4>
<ul class="list-checked">
  <li>list item
    <ul>
      <li>list item</li>
    </ul>
  </li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
</ul>

<h4>Ordered List: default</h4>
<div class="text-formatted">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <ol>
    <li>list item</li>
    <li>list item
      <ul>
        <li>unordered list item</li>
        <li>unordered list item</li>
        <li>list item</li>
      </ul>
    </li>
    <li>list item</li>
    <li>list item
      <ol>
        <li>ordered list item</li>
        <li>ordered list item</li>
      </ol>
    </li>
    <li>list item</li>
    <li>list item</li>
  </ol>
</div>
<h4>Ordered List: inline</h4>
<ol class="list-inline">
  <li>more list items</li>
  <li>more list items</li>
  <li>more list items</li>
</ol>
<h4>Ordered List: bordered</h4>
<ol class="list-bordered">
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
</ol>
<h4>Ordered List: checked</h4>
<ol class="list-checked">
  <li>list item
    <ul>
      <li>list item</li>
    </ul>
  </li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
  <li>list item</li>
</ol>

<h3 id="typography-inline">Emphasis , Italic, Bold and Strong elements</h3>
<hr />
<p>Lorem ipsum <code>em</code> element <em>dolor sit amet, consectetur</em> adipisicing elit, sed do <code>i</code> element <i>eiusmod tempor
		incididunt ut</i> labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
	laboris nisi ut <code>b</code> element <b>aliquip ex ea commodo consequat</b>. Duis aute irure dolor in reprehenderit
	in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <code>strong</code> element <strong>Excepteur sint occaecat
		cupidatat</strong> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h3 id="typography-blockquote">Blockquote</h3>
<hr />
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis
	aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<blockquote>
	<p>Duis aute irure dolor in reprehenderit in voluptate. Anon proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis
	aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	<p class="text-cite">Samantha Smith, Professor, Associate Dean, Research and International</p>
</blockquote>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis
	aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h3 id="typography-hr" >Horizontal Rule</h3>
<hr />
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis
	aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<hr />
<p> This [above ^ ] is an horizontal rule</p>

<h3 id="typography-code" >Code, Pre, Kbd and Samp elements</h3>
<hr />
This is <code>text in a code element</code>.
<pre>This is some text inserted
into a pre element
and <code>some code text in a code element
with a line break</code> as well</pre>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id <kbd>text in kbd element</kbd>. Duis
	aute irure dolor in <samp>text in samp element</samp> velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h2 id="typography-weight">Type Weights</h2>
<hr />
<p class="text-grey-500"> Note that only the 400 and 600 weights are available via the UBC license</p>
<div class="md--flex md--flex-wrap">
	<div class="md--w-1/2">
		<p class="text-xs font-normal">Whitney 400 [regular, xs]</p>
		<p class="text-sm font-normal">Whitney 400 [regular, sm]</p>
		<p class="text-base font-normal">Whitney 400 [regular, base]</p>
		<p class="text-lg font-normal">Whitney 400 [regular, lg]</p>
		<p class="text-xl font-normal">Whitney 400 [regular, xl]</p>
		<p class="text-2xl font-normal">Whitney 400 [regular, 2xl]</p>
		<p class="text-3xl font-normal">Whitney 400 [regular, 3xl]</p>
		<p class="text-4xl font-normal">Whitney 400 [regular, 4xl]</p>
		<p class="text-5xl font-normal">Whitney 400 [regular, 5xl]</p>
	</div>
	<div class="md--w-1/2">
		<p class="text-xs font-semibold">Whitney 600 [semi-bold, xs]</p>
		<p class="text-sm font-semibold">Whitney 600 [semi-bold, sm]</p>
		<p class="text-base font-semibold">Whitney 600 [semi-bold, base]</p>
		<p class="text-lg font-semibold">Whitney 600 [semi-bold, lg]</p>
		<p class="text-xl font-semibold">Whitney 600 [semi-bold, xl]</p>
		<p class="text-2xl font-semibold">Whitney 600 [semi-bold, 2xl]</p>
		<p class="text-3xl font-semibold">Whitney 600 [semi-bold, 3xl]</p>
		<p class="text-4xl font-semibold">Whitney 600 [semi-bold, 4xl]</p>
		<p class="text-5xl font-semibold">Whitney 600 [semi-bold, 5xl]</p>
	</div>
</div>

<h2 id="typography-util">Type Utilities</h2>
<h3 id="typography-util-classes" >Heading Classes</h3>
<hr />
<h2 class="h1">H2 with a <code>.h1</code> class</h2>
<h1 class="h2">H1 with a <code>.h2</code> class</h1>
<h1 class="h3">H1 with a <code>.h3</code> class</h1>
<h1 class="h4">H1 with a <code>.h4</code> class</h1>
<h1 class="h5">H1 with a <code>.h5</code> class</h1>
<h1 class="h6">H1 with a <code>.h6</code> class</h1>

<h3 id="typography-util-hug" >Text Hug (remove top margin)</h3>
<hr />
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua.</p>
<p class="text-hug">A <code>p</code> tag with <code>.text-hug</code> class - Lorem ipsum dolor sit amet, consectetur adipisicing
	elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<h3 id="typography-util-truncation" >Text truncation</h3>
<hr />

<p class="line-clamp-1">Max 1 lines - With <code>.line-clamp-1</code> class Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
	ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
	fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</p>
<p class="line-clamp-2">Max 2 lines - With <code>.line-clamp-2</code> class Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
	ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
	fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</p>
<p class="line-clamp-3">Max 3 lines - With <code>.line-clamp-3</code> class Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#" class="">quis
		nostrud exercitation</a> ullamco laboris nisi ut aliquip ex</a> ea commodo consequat. Duis aute irure dolor in
	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia id est laborum.</p>

<h3 id="typography-util-length">Text length</h3>
<hr />
<p class="text-grey-500">These utilities constrain text width to facilitate optimal readability</p>
<p class="text-measure">A <code>p</code> element with <code>.text-measure</code> class, approx 60 characters, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
	ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
	fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</p>
<p class="text-measure-sm">A <code>p</code> element with <code>.text-measure-sm</code> class, approx 50 characters, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
	ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
	fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</p>
<p class="text-measure-lg">A <code>p</code> element with <code>.text-measure-lg</code> class, approx 70 characters, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#" class="">quis
		nostrud exercitation</a> ullamco laboris nisi ut aliquip ex</a> ea commodo consequat. Duis aute irure dolor in
	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia id est laborum.</p>
<h4 class="text-measure-sm">An <code>H4</code> element with <code>.text-measure-sm</code> class, approx 50 characters, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua.</h4>
