// TYPE


// FIX FOR FONT WEIGHT / FLEXSLIDER in WEBKIT
// Removed due to accessibility issues
//html{ -webkit-font-smoothing: antialiased; }
// Prevent font scaling in Landscape orientation on iOS
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  html { -webkit-text-size-adjust: 100%; }
}
/* Added to animated elements so that they don't change font-smoothing properties after animating  EDIT - nevermind, doesn't work.
.wow {
  backface-visibility: hidden;
}
*/

// SELECTION COLOURS
::selection {
  background: @unit-primary; /* WebKit/Blink */
  color: white;
}
::-moz-selection {
  background: @unit-primary; /* Gecko  */
  color: white;
}

/* CUSTOM FONTS */
// WebFonts
// --------------------------
.type-light(){
  font-family: @sans-font-family;
  font-weight: 200;
  font-style: normal; }
.type-book(){
  font-family: @sans-font-family;
  font-weight: 400;
  font-style: normal; }
.type-book-italic(){
	font-family: @sans-font-family;
	font-weight: 400;
	font-style: italic; }
.type-book-semibold() {
	font-family: @sans-font-family;
	font-weight: 600;
	font-style: normal; }
.type-heavy() {
	font-family: @sans-font-family;
	font-weight: 800;
	font-style: normal; }


// Add type styles to footer
/*#ubc7-unit-footer,
.ubc7-back-to-top {
  font-family: @sans-font-family !important;
}*/

// adjust standard font weights, sizes and colours
.text--light {
  font-weight: 200;
}
.text--regular {
  font-weight: 400;
}
.text--bold {
  font-weight: 600;
}
.text--heavy {
  font-weight: 800;
}


// ALTERNATE TYPE COLOURS
.text--ubc-blue {
  color: @ubc-blue;
}
.text--white {
  color: #fff;
}
.text--black {
  color: #000;
}
.text--primary {
  color: @unit-primary;
}
.text--secondary {
  color: @unit-secondary;
}
.text--tertiary {
  color: @unit-tertiary;
}
.text--accent {
  color: @unit-accent;
}
.text--accent-light {
  color: @unit-accent-light;
}
.text--lead {
  font-weight: @lead-text-font-weight;
  font-size: @lead-text-font-size;
  line-height: @lead-text-line-height;
  color: @lead-text-color;
}
.text--small {
  font-size: (@font-size-base * .875);
  line-height: (@base-line-height * 1.048);
}
.text--note {
  &:extend(.text--small);
  font-style: italic;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--left {
  text-align: left;
}
.text--uppercase {
  text-transform: uppercase !important;
}
.text--lowercase {
  text-transform: lowercase !important;
}
.text--normalcase {
  text-transform: none !important;
}

/* DEFAULT LINK STYLES */
a {
  color: @link-color;
  //text-decoration: none;

}
a:hover {
  color: @link-color-hover;
  text-decoration: underline;
}



/* DEFAULT TYPE STYLES */
h1,
.h1 {
  font-weight: @h1-font-weight;
  font-size: @h1-font-size;
  line-height: @h1-line-height;
  color: @h1-color;
  letter-spacing: 1px;
}
h2,
.h2 {
  font-weight: @h2-font-weight;
  font-size: @h2-font-size;
  line-height: @h2-line-height;
  color: @h2-color;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h3,
.h3 {
  font-weight: @h3-font-weight;
  font-size: @h3-font-size;
  line-height: @h3-line-height;
  color: @h3-color;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h4,
.h4 {
  font-weight: @h4-font-weight;
  font-size: @h4-font-size;
  line-height: @h4-line-height;
  color: @h4-color;
  letter-spacing: 1px;
}
h5,
.h5 {
  font-weight: @h5-font-weight;
  font-size: @h5-font-size;
  line-height: @h5-line-height;
  color: @h5-color;
  letter-spacing: 1px;
}
h6,
.h6 {
  font-weight: @h6-font-weight;
  font-size: @h6-font-size;
  line-height: @h6-line-height;
  color: @h6-color;
  letter-spacing: 1px;
}
hr {
  border-top-color: @horizontal-rule-color;
  border-width: 1px 0 0 0;
  border-style: solid;
  margin: 1.5em 0;
}
p {
  margin: 0 0 1.5em;
}


.media_embed {
  margin: 1.5em 0;
}

// adjust tpe sizes for smaller screens
@media screen and (max-width: @screen-sm-max ) {
  /* DEFAULT TYPE STYLES */
  h1,
  .h1 {
    font-size: (@h1-font-size * .75);
    line-height: (@h1-line-height * .75);
  }
  h2,
  .h2 {
    font-size: (@h2-font-size * .75);
    line-height: (@h2-line-height * .75);
  }
  h3,
  .h3 {
    font-size: (@h3-font-size * .75);
    line-height: (@h3-line-height * .75);
  }
  h4,
  .h4 {
    font-size: (@h4-font-size * .75);
    line-height: (@h4-line-height * .75);
  }
  h5,
  .h5 {
    font-size: (@h5-font-size * .75);
    line-height: (@h5-line-height * .75);
  }
  h6,
  .h6 {
    font-size: (@h6-font-size * .75);
    line-height: (@h6-line-height * .75);
  }
  p {
    font-size: (@font-size-base * .875);
  }
  .text--lead {
    font-size: (@lead-text-font-size * .75);
  }
  .text--small {
    font-size: (@font-size-base * .75);
  }
  .text--note {
    &:extend(.text--small);
    font-style: italic;
  }
}

footer h3,
footer h4 {
  font-family: @clf-font-family;
  font-weight: inherit;
  text-transform: none;
  letter-spacing: normal;
}

.page-header {
  padding-bottom: 16px;
  margin: 0;
  border-bottom: none;
}


ol, ul {
  margin-bottom: 1.5em;
}

.map--address {
  .text--small();
  padding-top: 2em;
}

