// import base styles
@import "_type.less";

.heading--alt-white {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 400 !important;
}
.heading--alt-light-blue {
  color: @unit-primary !important;
}
.opening .text--lead {
  color: #000;
}
.opening hr {
  border-top-color: #fff;
}