/* CONTENT-FIRST LAYOUTS - BORDER BOX
-------------------------------------------------- 

Using this file requires changing the default order of the CLF markup. That's a good thing. 
This assumes you'll eventually be using a 3 column setup within Drupal
See James for some pointers.

-------------------------------------------------- 
 main content = a, sidebar 1 = b, sidebar 2 = c

*/


// FIRST WE MUST FORCE NON-CLF AREAS TO USE BORDER-BOX - THESE AREAS REQUIRE THE .non-clf CLASS
.non-clf * {
  box-sizing: border-box;
}


/* 25% / 75% LAYOUT
  
 DESKTOP / TABLET LAYOUT PATTERN:
 --------------------------------------------------
         baaa
         baaa
         cccc
         
 MOBILE LAYOUT PATTERN:
 --------------------------------------------------
         aa
         aa
         bb
         cc
         
*/
@media screen and (min-width: @screen-sm-min) {
  .one-sidebar.sidebar-first .region-main,
  .one-sidebar-25-75 .region-main {
    width:70%;
    float: right;
    padding-left: 30px; }
  .one-sidebar.sidebar-first .region-sidebar-first,
  .one-sidebar-25-75 .region-sidebar-first {
    float: left;
    width:30%; }
  .one-sidebar-25-75 .region-sidebar-second { clear: both; }
}
@media screen and (min-width: @screen-md-min) {
  .one-sidebar.sidebar-first .region-main,
  .one-sidebar-25-75 .region-main {
    width:75%;  }
  .one-sidebar.sidebar-first .region-sidebar-first,
  .one-sidebar-25-75 .region-sidebar-first {
    width:25%; }
}
@media screen and (max-width: @screen-xs-max) {
  .one-sidebar.sidebar-first .region-sidebar-first,
  .one-sidebar-25-75 .region-sidebar-first {
    margin-top: 4em; }
}

/* 75% / 25% LAYOUT
  
 DESKTOP / TABLET LAYOUT PATTERN:
 --------------------------------------------------
         aaab
         aaab
         cccc
         
 MOBILE LAYOUT PATTERN:
 --------------------------------------------------
         aa
         aa
         bb
         cc
         
*/
/*
@media screen and (min-width: @screen-sm-min) {
  .one-sidebar-75-25 .region-main {
    width:70%;
    float: left;
    padding-left: 30px; }
  .one-sidebar-75-25 .region-sidebar-first {
    float: right;
    width:30%; }
  .one-sidebar-75-25 .region-sidebar-second { 
    clear: both; 
    margin-top: 4em;
  }
}
@media screen and (min-width: @screen-md-min) {
  .one-sidebar-75-25 .region-main {
    width:75%;  }
  .one-sidebar-75-25 .region-sidebar-first {
    width:25%; }
}
@media screen and (max-width: @screen-xs-max) {
  .one-sidebar-75-25 .region-sidebar-first,
  .one-sidebar-75-25 .region-sidebar-second {
    margin-top: 4em; }
}
*/
/* 38.2% / 61.8% LAYOUT - GOLDEN RATIO
  
 DESKTOP / TABLET LAYOUT PATTERN:
 --------------------------------------------------
         baa
         baa
         ccc
                  
 MOBILE LAYOUT PATTERN:
 --------------------------------------------------
         aa
         aa
         bb
         cc
         
*/
/*
@media screen and (min-width: @screen-sm-min) {
  .one-sidebar-golden-ratio .region-main {
    width: 61.8%;
    float: right; }
  .one-sidebar-golden-ratio .region-sidebar-first {
    float: left;
    width: 38.2%; }
  .one-sidebar-golden-ratio .region-sidebar-second { 
    clear: both; 
    margin-top: 4em;
  }
}
@media screen and (max-width: @screen-xs-max) {
  .one-sidebar-golden-ratio .region-sidebar-first,
  .one-sidebar-golden-ratio .region-sidebar-second {
    margin-top: 4em; }
}
*/
/* 25% / 50% / 25% LAYOUT
  
 DESKTOP LAYOUT PATTERN:
 --------------------------------------------------
         baac
         baac
         
 TABLET LAYOUT PATTERN:
 --------------------------------------------------
         aab
         aab
         ccc
         
 MOBILE LAYOUT PATTERN:
 --------------------------------------------------
         aa
         aa
         bb
         cc
         
*/
@media screen and (min-width: @screen-sm-min) {
  .two-sidebars .region-main,
  .two-sidebars-25-50-25 .region-main {
    width:65%;
    float: right; }
  .two-sidebars .region-sidebar-first,
  .two-sidebars-25-50-25 .region-sidebar-first {
    float: left;
    width:35%; }
  .two-sidebars .region-sidebar-second,
  .two-sidebars-25-50-25 .region-sidebar-second { 
    clear: both; 
    padding-top: 2em;
  }
}
@media screen and (min-width: @screen-md-min) {
  .two-sidebars .region-main,
  .two-sidebars-25-50-25 .region-main {
    float: left;
    width: 50%; 
    margin-left: 25%;
  }
  .two-sidebars .region-sidebar-first,
  .two-sidebars-25-50-25 .region-sidebar-first { 
    margin-left: -75%;
    width:25%;}
  .two-sidebars .region-sidebar-second,
  .two-sidebars-25-50-25 .region-sidebar-second {
    float: right;
    width:25%;
    padding-top: inherit;
    clear: none; }
}
@media screen and (max-width: @screen-xs-max) {
  .two-sidebars .region-sidebar-first,
  .two-sidebars .region-sidebar-second,
  .two-sidebars-25-50-25 .region-sidebar-first,
  .two-sidebars-25-50-25 .region-sidebar-second {
    margin-top: 4em; }
}
