<div id="block-hr-cwlinfo" class="block block-ubc-saml-auth10">
    <div aria-label="status-message" role="status" aria-live="polite" class="bg-ubc-blue-polar cwl-status">
        <div class="container px-4 py-2 mx-auto text-xs text-right">
            <p class="mt-0">Logged in as jotoole <span class="inline-block px-4">|</span>
            <a href="/user/logout">Logout</a>
            </p>
        </div>
    </div>
</div>