<div class="bg-unit-secondary text-ubc-blue">
	<div class="container px-4 pb-12 mx-auto unit-content" id="unit-footer">
		<div class="grid gap-x-8 gap-y-0 md--gap-y-8 md--grid-cols-12">
			<div class="pt-2 md--pt-0 md--col-span-4 md--col-start-9 md--row-start-1">
				<h3 class="hidden h5 md--block">Search UBC Extended Learning</h3>
				<form class="search-block-form" data-drupal-selector="search-block-form" action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
					<div class="flex">
						<input title="Enter the terms you wish to search for." placeholder="I am interested in..." class="flex-1 mt-4 form-search" data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128">
						<input class="mt-4 unit-button flex-no-grow button js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Search">
					</div>
				</form>
			</div>
			<div class="md--col-span-4 md--row-span-2 md--col-start-1 md--row-start-1">
				<h3 class="h5">Have questions or need help?</h3>
				<ul class="leading-loose md--mb-0 list-unstyled">
					<li>
						<a href="#" class="inline-block no-underline hover--underline">Where do you want to go?</a>
					</li>
					<li>
						<a href="#" class="inline-block no-underline hover--underline">Explore personal interests</a>
					</li>
					<li>
						<a href="#" class="inline-block no-underline hover--underline">Skills that grow with you</a>
					</li>
					<li>
						<a href="#" class="inline-block no-underline hover--underline">Thrive in the digital economy</a>
					</li>
				</ul>
			</div>
			<div class="md--col-span-4 md--row-span-2 md--col-start-5 md--row-start-1">
				<h3 class="h5">Follow UBC Extended Learning</h3>
				<ul id="unit-social-icons" class="mt-4 list-inline list-unstyled">
					<li class="pb-2 pr-2">
						<a href="https://www.facebook.com/UBCExtendedLearning" title="Find us on Facebook">
							<span class="visually-hidden">Find us on Facebook</span>
							<svg role="img" class="inline-block w-6 h-6 text-ubc-blue hover--text-ubc-blue-cobalt">
								<use xlink:href="#icon-facebook"></use>
							</svg>
						</a>
					</li>
					<li class="pb-2 pr-2">
						<a href="https://twitter.com/UBCExtended" title="Follow us on Twitter">
							<span class="visually-hidden">Follow us on Twitter</span>
							<svg role="img" class="inline-block w-6 h-6 text-ubc-blue hover--text-ubc-blue-cobalt">
								<use xlink:href="#icon-twitter"></use>
							</svg>
						</a>
					</li>
					<li class="pb-2 pr-2">
						<a href="https://www.youtube.com/c/UBCExtendedLearning" title="Watch us on Youtube">
							<span class="visually-hidden">Watch us on Youtube</span>
							<svg role="img" class="inline-block w-6 h-6 text-ubc-blue hover--text-ubc-blue-cobalt">
								<use xlink:href="#icon-youtube"></use>
							</svg>
						</a>
					</li>
					<li class="pb-2 pr-2">
						<a href="https://www.linkedin.com/company/ubc-extended-learning" title="Connect with us on Linkedin">
							<span class="visually-hidden">Connect with us on Linkedin</span>
							<svg role="img" class="inline-block w-6 h-6 text-ubc-blue hover--text-ubc-blue-cobalt">
								<use xlink:href="#icon-linkedin"></use>
							</svg>
						</a>
					</li>
					<li class="pb-2 pr-2">
						<a href="https://www.instagram.com/ubcextendedlearning" title="See us on Instagram">
							<span class="visually-hidden">See us on Instagram</span>
							<svg role="img" class="inline-block w-6 h-6 text-ubc-blue hover--text-ubc-blue-cobalt">
								<use xlink:href="#icon-instagram"></use>
							</svg>
						</a>
					</li>
				</ul>
				<p>UBC Vancouver is located on the traditional, ancestral and unceded territory of the xʷməθkʷəy̓əm (Musqueam).</p>
			</div>
			<div class="md--col-span-4 md--col-start-9 md--row-start-2 md--self-end">
				<p class="md--mt-0">
					<a href="#" class="inline-block no-underline hover--underline">Privacy policy</a>
				</p>
			</div>
		</div>
	</div>
</div>
