<section class="container px-4 pb-4 mx-auto unit-content">
	<div class="border-t border-ubc-blue">
		<h2 class="font-semibold normal-case heading-four text-ubc-blue">{{ unitName }}</h2>
		<p class="text-xs md--text-sm xl--text-base">600 - 6190 Agronomy Road<br />Vancouver, BC Canada<br />V6T
			1Z3<br />Tel 604 822 8111<br />
			Email <a href="mailto:hr.info@ubc.ca" title="Contact {{ unitName }} by email"
				class="text-ubc-blue-cobalt hover--text-ubc-blue-neptune">hr.info@ubc.ca</a></p>
	</div>
</section>
