<section class="bg-grey-50 border-t-2 border-grey-200 p-4  text-sm">
	<a href="#" title="The University of British Columbia" class="inline-block py-4"><span class="visually-hidden">The
			Uniiversity of British Columbia</span>
		<svg role="presentation" class="inline-block h-6 w-6 md--h-8 md--w-8 text-ubc-blue">
			<use xlink:href="#logo-ubc"></use>
		</svg>
	</a>
</section>
