<section class="unit-content container mx-auto p-4">
	<hr />
	<div>
		<h2 class="heading-four text-ubc-blue normal-case font-semibold">{{ unitName }}</h2>
		<p class="text-xs md--text-sm xl--text-base">600 - 6190 Agronomy Road<br />Vancouver, BC Canada<br />V6T
			1Z3<br />Tel 604 822 8111<br />
			Email <a href="mailto:hr.info@ubc.ca" title="Contact {{ unitName }} by email"
				class="text-ubc-blue-cobalt hover--text-ubc-blue-neptune">hr.info@ubc.ca</a></p>
	</div>
</section>
