<hr class="mt-0">
<div class="container px-4 pb-12 mx-auto unit-content" id="unit-footer">
	<div class="grid-container grid-container--footer">
		<div class="grid-area-a">
			<h2 class="font-semibold normal-case h4 text-ubc-blue">{{ unitName }}</h2>
			<p class="text-xs md--text-sm xl--text-base">
				6356 Agricultural Rd<br>
				<span>Vancouver, BC Canada
				<br>V6T 1Z2
				</span>
			</p>
		</div>
		<ul id="unit-social-icons" class="pt-8 my-0 grid-area-b list-inline list-unstyled md--text-right">
			<li class="pb-2 pr-2">
				<a href="https://www.facebook.com/ubcit" title="Find us on Facebook">
					<span class="visually-hidden">Find us on Facebook</span>
					<svg role="img" class="inline-block w-4 h-4 md--h-6 md--w-6 text-ubc-blue hover--text-ubc-blue-cobalt">
						<use xlink:href="#icon-facebook"></use>
					</svg>
				</a>
			</li>
			<li class="pb-2 pr-2">
				<a href="https://twitter.com/UBCIToutages" title="Follow us on Twitter">
					<span class="visually-hidden">Follow us on Twitter</span>
					<svg role="img" class="inline-block w-4 h-4 md--h-6 md--w-6 text-ubc-blue hover--text-ubc-blue-cobalt">
						<use xlink:href="#icon-twitter"></use>
					</svg>
				</a>
			</li>
			<li class="pb-2 pr-2">
				<a href="https://www.youtube.com/ubcitnews" title="Watch us on Youtube">
					<span class="visually-hidden">Watch us on Youtube</span>
					<svg role="img" class="inline-block w-4 h-4 md--h-6 md--w-6 text-ubc-blue hover--text-ubc-blue-cobalt">
						<use xlink:href="#icon-youtube"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</div>
