<header class="border-t-4 border-unit-red md--border-t md--border-b md--border-unit-grey-light page-header">
  <div class="md--flex md--items-center page-header__container">
    <a href="/" class="sbqmi-logo h-32 md--h-24 w-64 mx-auto md--flex-1 block border-b border-ubc-blue md--border-b-0"></a>
    <a href="https://ubc.ca" class="ubc-logo h-32 md--h-24 w-64 mx-auto block md--flex-1"></a>
    <nav id="primary-navigation" class="bg-unit-red pt-2 md--h-24 pb-2 flex justify-end relative md--flex-1 md--justify-start md--items-center">
      <a href="#" class="no-underline inline-block text-white border-r border-white my-2 pr-3 pl-6 uppercase">Contact</a>
      <button aria-haspopup="true" aria-expanded="false" class="inline-block text-white my-2 mr-4 pl-3 uppercase  primary-nav--trigger nav-trigger relative leading-none"> Menu <svg role="presentation" class="svg-icon inline-block h-8 w-8 stroke-white absolute pin-r hamburger-icon"><use xlink:href="#icon-hamburger"/></svg>
      </button>
      <ul id="main-menu" role="menu" class="list-reset absolute pin-t w-64 bg-unit-grey primary-nav--dropdown dropdown z-50" hidden>
        <li>
          <div class="block relative hover--bg-unit-red">
            <a href="/consectetuer-modo-refero-turpis" class="navlink--primary pr-8 block relative">Discover</a>
            <button role="presentation" aria-haspopup="true" aria-expanded="false" class="subnav-trigger"></button>
          </div>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary">Atomic-level design of novel quantum materials</a></li>
            <li><a href="#" class="navlink--primary">Emergent electronic phenomena at interfaces</a></li>
            <li><a href="#" class="navlink--primary">Topologically protected quantum states</a></li>
            <li><a href="#" class="navlink--primary">Materials and structured for a better environment</a></li>
            <li><a href="#" class="navlink--primary">Hybrid photonic/electronic quantum information technologies</a></li>
            <li><a href="#" class="navlink--primary">Researchers</a></li>
            <li><a href="#" class="navlink--primary">Research Publications</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">Learn</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary">QuEST Fellowship</a></li>
            <li><a href="#" class="navlink--primary">Careers</a></li>
            <li><a href="#" class="navlink--primary">Opportunities</a></li>
            <li><a href="#" class="navlink--primary">Outreach</a></li>
            <li><a href="#" class="navlink--primary">Student Profiles</a></li>
            <li><a href="#" class="navlink--primary">Alumni Profiles</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">Collaborate</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary">Cooperative Research</a></li>
            <li><a href="#" class="navlink--primary">Partners</a></li>
            <li><a href="#" class="navlink--primary">Engage</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">Capabilities</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary">Facilities</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">News and Events</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary">News</a></li>
            <li><a href="#" class="navlink--primary">Events</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">About Us</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary">Vision</a></li>
            <li><a href="#" class="navlink--primary">Strategic Focus</a></li>
            <li><a href="#" class="navlink--primary">Equity and Diversity</a></li>
            <li><a href="#" class="navlink--primary">GREX</a></li>
            <li><a href="#" class="navlink--primary">Publications</a></li>
            <li><a href="#" class="navlink--primary">Faculty and Staff Directory</a></li>
            <li><a href="#" class="navlink--primary">Job Postings</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary">Contact</a></li>
      </ul>

    </nav>
  </div>
</header>
