<header class="border-t-4 border-unit-red md--border-t md--border-b md--border-unit-grey-light page-header">
  <div class="md--flex md--items-center page-header__container">
    <a href="/" class="h-32 md--h-24 w-64 mx-auto md--flex-1 block border-b border-ubc-blue md--border-b-0"></a>
    <a href="https://ubc.ca" class="ubc-logo h-32 md--h-24 w-64 mx-auto block md--flex-1"></a>
    <nav id="primary-navigation" class="bg-unit-red pt-2 md--h-24 pb-2 flex justify-end relative md--flex-1 md--justify-start md--items-center">
      <a href="#" class="no-underline inline-block text-white border-r border-white my-2 pr-3 pl-6 uppercase">Contact</a>
      <button aria-haspopup="true" aria-expanded="false" class="inline-block text-white my-2 mr-4 pl-3 uppercase  primary-nav--trigger nav-trigger relative leading-none"> Menu <svg role="presentation" class="svg-icon inline-block h-8 w-8 stroke-white absolute pin-r hamburger-icon"><use xlink:href="#icon-hamburger"/></svg>
      </button>
      <ul role="menu" class="list-reset absolute pin-t w-64 bg-unit-grey primary-nav--dropdown dropdown z-50" hidden>
        <li><a href="#" class="navlink--primary nav-trigger">Discover</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary-nested">Atomic-level design of novel quantum materials</a></li>
            <li><a href="#" class="navlink--primary-nested">Emergent electronic phenomena at interfaces</a></li>
            <li><a href="#" class="navlink--primary-nested">Topologically protected quantum states</a></li>
            <li><a href="#" class="navlink--primary-nested">Materials and structured for a better environment</a></li>
            <li><a href="#" class="navlink--primary-nested">Hybrid photonic/electronic quantum information technologies</a></li>
            <li><a href="#" class="navlink--primary-nested">Researchers</a></li>
            <li><a href="#" class="navlink--primary-nested">Research Publications</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">Learn</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary-nested">QuEST Fellowship</a></li>
            <li><a href="#" class="navlink--primary-nested">Careers</a></li>
            <li><a href="#" class="navlink--primary-nested">Opportunities</a></li>
            <li><a href="#" class="navlink--primary-nested">Outreach</a></li>
            <li><a href="#" class="navlink--primary-nested">Student Profiles</a></li>
            <li><a href="#" class="navlink--primary-nested">Alumni Profiles</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">Collaborate</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary-nested">Cooperative Research</a></li>
            <li><a href="#" class="navlink--primary-nested">Partners</a></li>
            <li><a href="#" class="navlink--primary-nested">Engage</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">Capabilities</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary-nested">Facilities</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">News and Events</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary-nested">News</a></li>
            <li><a href="#" class="navlink--primary-nested">Events</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary nav-trigger">About Us</a>
          <ul class="list-reset bg-white dropdown" hidden>
            <li><a href="#" class="navlink--primary-nested">Vision</a></li>
            <li><a href="#" class="navlink--primary-nested">Strategic Focus</a></li>
            <li><a href="#" class="navlink--primary-nested">Equity and Diversity</a></li>
            <li><a href="#" class="navlink--primary-nested">GREX</a></li>
            <li><a href="#" class="navlink--primary-nested">Publications</a></li>
            <li><a href="#" class="navlink--primary-nested">Faculty and Staff Directory</a></li>
            <li><a href="#" class="navlink--primary-nested">Job Postings</a></li>
          </ul>
        </li>
        <li><a href="#" class="navlink--primary">Contact</a></li>
      </ul>

    </nav>
  </div>
</header>
