<li class="relative"><button class="login-links__link dropdown-toggle" data-toggle="dropdown">
  <svg role="presentation" class="login-links__svg rotate-90">
    <use xlink:href="#icon-arrow"/>
  </svg> Hi, Sophia</button>
  <ul class="dropdown-menu">
    <li><a href="#"><svg role="presentation" class="login-links__svg">
    <use xlink:href="#icon-user"/>
  </svg> My Account</a></li>
    <li><a href="#"><svg role="presentation" class="login-links__svg">
    <use xlink:href="#icon-schedule"/>
  </svg> My Courses</a></li>
    <li><a href="#"><svg role="presentation" class="login-links__svg">
    <use xlink:href="#icon-format"/>
  </svg> My Reports</a></li>
    <li><a href="#"><svg role="presentation" class="login-links__svg">
    <use xlink:href="#icon-messages"/>
  </svg> My Messages</a></li>
    <li><a rhref="#"><svg role="presentation" class="login-links__svg">
    <use xlink:href="#icon-edit"/>
  </svg> Edit Profile</a></li>
    <li><a href="#"><svg role="presentation" class="login-links__svg">
    <use xlink:href="#icon-cart"/>
  </svg> My Cart</a></li></ul>
</li>
<li><a href="#" class="login-links__link">
  <svg role="presentation" class="login-links__svg">
    <use xlink:href="#icon-arrow-circle"/>
  </svg> Logout</a>
</li>
