<nav id="ubc7-unit-menu" role="navigation" class="navbar expand">
  <div class="navbar-inner expand">
    <div class="container">
      <button style="float:right;margin-right:17px;" class="hamburger visible-md visible-lg drawer-toggle--primary">
        <span>toggle menu</span>
      </button>
    </div>
  </div>
</nav>
