<nav id="ubc7-unit-menu" class="navbar expand ubc-required" role="navigation">
  <div class="navbar-inner expand">
    {% if clfFull %}
    <div class="container">
    {% endif %}
      <div id="ubc7-unit-navigation" class="nav-collapse collapse">
        <ul id="menu-main-menu" class="nav">
          <li>
            <a href="#">Home</a>
          </li>
          <li id="menu-item-5605" class="dropdown">
            <div class="btn-group">
              <a class="btn" href="#">Stories</a>
              <button class="btn droptown-toggle" data-toggle="dropdown">
                <span class="ubc7-arrow blue down-arrow"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">About Something</a></li>
                <li><a href="#">Another Thing Here</a></li>
                <li><a href="#">Successes</a></li>
                <li><a href="#">Pushing the Limits</a></li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <div class="btn-group">
              <a class="btn" href="#">Resources</a>
              <button class="btn droptown-toggle" data-toggle="dropdown">
                <span class="ubc7-arrow blue down-arrow"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">This Resource</a></li>
                <li><a href="#">That Resource</a></li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <div class="btn-group">
              <a class="btn" href="#">News + Events</a>
              <button class="btn droptown-toggle" data-toggle="dropdown">
                <span class="ubc7-arrow blue down-arrow"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">News</a></li>
                <li><a href="#">Events</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
    {% if clfFull %}
    </div>
    {% endif %}
  </div>
</nav>
