<nav class="push-nav--inner sidebar">
   <button class="menu__close nav-toggle--primary">&times; CLOSE MENU</button>
   <ul id="main-menu" class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Find Parking</a></li>
      <li class="dropdown">
         <div class="btn-group">
            <a href="#" class="btn">Tickets and Towed Vehicles</a>
            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="ubc7-arrow white right-arrow"></span></button>
            <ul class="dropdown-menu">
               <li><a href="#">Pay a ticket</a></li>
               <li><a href="#">Dispute a ticket</a></li>
            </ul>
         </div>
      </li>
      <li><a href="#">Help &amp; Support</a></li>
      <li><a href="#">Permits &amp; rates</a></li>
      <li class="dropdown">
         <div class="btn-group">
            <a href="#" class="btn">About Us</a>
            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="ubc7-arrow white right-arrow"></span></button>
            <ul class="dropdown-menu">
               <li><a href="#">Parking Directory</a></li>
            </ul>
         </div>
      </li>
      <li><a href="#">FAQ</a></li>
   </ul>
</nav>
