<nav id="ubc7-unit-menu" role="navigation" class="navbar expand">
  <div class="container">
    <a class="drawer-toggle--primary drawer-toggle--hamburger" aria-label="Menu" aria-controls="navigation">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
</nav>
