<nav id="ubc7-unit-menu" class="navbar expand" role="navigation">
  <div class="nav-collapse collapse" id="ubc7-unit-navigation">
    <h2 class="element-invisible">Main menu</h2>
    <ul id="main-menu" class="nav">
      <li class="menu-6727 courses-programs dropdown">
        <div class="btn-group"><a href="/courses-programs" class="btn">Courses &amp; Programs</a><button class="btn dropdown-toggle"
            data-toggle="dropdown"><span class="ubc7-arrow blue down-arrow"></span></button>
          <ul class="dropdown-menu">
            <li class="menu-2575 browse-all"><a href="/browse-courses-programs">Browse All</a></li>
            <li class="menu-6729 search"><a href="/search">Search</a></li>
            <li class="menu-6655 online-offerings"><a href="/online">Online Offerings</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-1247 student-information dropdown">
        <div class="btn-group"><a href="/student-information" class="btn">Student Information</a><button class="btn dropdown-toggle"
            data-toggle="dropdown"><span class="ubc7-arrow blue down-arrow"></span></button>
          <ul class="dropdown-menu">
            <li class="menu-2655 how-to-register"><a href="/student-information/how-register">How to Register</a></li>
            <li class="menu-7753 about-our-credentials"><a href="/student-information/about-our-credentials">About Our
                Credentials</a></li>
            <li class="menu-3223 student-services"><a href="/about-us/student-services">Student Services</a></li>
            <li class="menu-3047 about-online-learning"><a href="/student-information/about-online-learning">About
                Online Learning</a></li>
            <li class="menu-2657 services"><a href="/student-information/services">Services</a></li>
            <li class="menu-2659 policies"><a href="/student-information/policies">Policies</a></li>
            <li class="menu-2741 tuition-tax-receipts"><a href="/student-information/tuition-tax-receipts">Tuition Tax
                Receipts</a></li>
            <li class="menu-2745 request-forms"><a href="/student-information/request-forms">Request Forms</a></li>
            <li class="menu-2933 frequently-asked-questions"><a href="/student-information/frequently-asked-questions">Frequently
                Asked Questions</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-1255 about-us dropdown">
        <div class="btn-group"><a href="/about-us" class="btn">About Us</a><button class="btn dropdown-toggle"
            data-toggle="dropdown"><span class="ubc7-arrow blue down-arrow"></span></button>
          <ul class="dropdown-menu">
            <li class="menu-5057 our-instructors"><a href="/about-us/our-instructors">Our Instructors</a></li>
            <li class="menu-2805 our-students"><a href="/about-us/our-students">Our Students</a></li>
            <li class="menu-2965 career-opportunities"><a href="/about-us/career-opportunities">Career Opportunities</a></li>
            <li class="menu-6361 news-and-press"><a href="/about-us/press">News and Press</a></li>
            <li class="menu-3219 about-vancouver-and-ubc"><a href="/about-us/about-vancouver-ubc">About Vancouver and
                UBC</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-2651 contact-us dropdown">
        <div class="btn-group"><a href="/contact-us" class="btn">Contact Us</a><button class="btn dropdown-toggle"
            data-toggle="dropdown"><span class="ubc7-arrow blue down-arrow"></span></button>
          <ul class="dropdown-menu">
            <li class="menu-2905 how-to-find-us"><a href="/contact-us/how-find-us">How to Find Us</a></li>
            <li class="menu-2775 subscribe"><a href="/contact-us/subscribe">Subscribe</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-445 search"><a href="/search">Search</a></li>
    </ul>
    <ul class="nav user-info">
      <li class="block"><a href="https://cart.continuingstudies.sauder.ubc.ca/aspnet/Cart/index.aspx" class="block"><svg role="presentation" class="inline-block h-4 w-4 text-white relative"><use xlink:href="#icon-cart"></use></svg> Cart</a></li>
    </ul>
  </div>
</nav>
