<div class="push-nav--inner">
  <button class="menu__close nav-toggle--primary">&times; Close Menu</button>
  <ul class="menu__items">
    <li class="menu__item">
      <a href="#" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Resources</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Resources</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Resources</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Resources</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Resources</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Resources</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Resources</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Resources</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
  </ul>
</div>
