<ul class="dbi-header__links">
  <li>
    <a href="#" class="dbi-link">Home</a>
  </li>
  <li>
    <a href="#" class="dbi-link">UBC Careers</a>
  </li>
  <li>
    <a href="#" class="dbi-link">New to UBC</a>
  </li>
  <li>
    <a href="#" class="dbi-link">Work/Life at UBC</a>
  </li>
  <li>
    <a href="#" class="dbi-link">Employee Resources</a>
  </li>
  <li>
    <a href="#" class="dbi-link--alt">Hiring + Managing</a>
  </li>
  <li>
    <a href="#" class="dbi-link--alt">About UBC HR</a>
  </li>
</ul>
