<nav id="block-kraken-main-menu" aria-labelledby="block-kraken-main-menu-menu" class="menu--main">
	<h2 id="block-kraken-main-menu-menu" class="visually-hidden">Main navigation</h2>
	<ul class="clearfix my-0 nav">
		<li class="navbar-item item">
			<a href="#" data-drupal-link-system-path="<front>" class="navbar-link is-active">Home</a>
		</li>
		<li class="navbar-item item">
			<a href="#" data-drupal-link-system-path="node/1" class="navbar-link">Test page</a>
		</li>
		<li class="navbar-item menu-item--expanded dropdown expanded">
			<div class="btn-group">
				<a href="#" class="navbar-item menu-item--expanded dropdown expanded btn" data-drupal-link-system-path="node/6">About</a>
				<button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-label="Show submenu" aria-expanded="false">
					<span class="ubc7-arrow blue down-arrow" aria-hidden="true"></span>
				</button>
				<ul class="clearfix my-0 nav dropdown-menu">
					<li class="navbar-item item">
						<a href="#" class="navbar-link" data-drupal-link-system-path="node/7">Our Team</a>
					</li>
					<li class="navbar-item item">
						<a href="#" class="navbar-link" data-drupal-link-system-path="node/4">Announcements + Updates</a>
					</li>
					<li class="navbar-item item">
						<a href="#" class="navbar-link" data-drupal-link-system-path="node/56">Contact Us</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</nav>
