<div>
	<form method="get" action="https://www.ubc.ca/search/refine/" role="search">
		<input type="text" name="q" placeholder="Search {{ unitName }}">
		<input type="hidden" name="label" value="{{ unitName }}" />
		<input type="hidden" name="site" value="{{ siteURL }}" />
		<button type="submit">Search</button>
	</form>
</div>
