<div id="ubc7-global-menu"class="collapse">
  <div id="ubc7-search" class="ubc-search">
    <div class="container">
      <form class="form-search" method="get" action="https://www.ubc.ca/search/refine/" role="search">
        <input type="text" name="q" placeholder="Search Continuing Business Studies" class="input-xlarge search-query">
        <input type="hidden" name="label" value="UBC Continuing Business Studies" />
        <input type="hidden" name="site" value="continuingstudies.sauder.ubc.ca" />
        <button type="submit" class="ubc-search-button">Search</button>
      </form>
    </div>
  </div>
  <div class="container px-0">
    <div id="ubc7-global-header" class="ubc-global-header">
        <!-- Global Utility Header from CDN -->
    </div>
  </div>
</div>
