/* ALPHA PAGER
-------------------------------------------------- */

/* 

  Styles for the Alpha pager rendered via views

  SAMPLE MARKUP:
  --------------------------------------------------
  
  <div class="item-list">
    <ul class="views-summary clearfix text-center center-block">
      <li>
        <a href="#">A</a></li>
      <li>
        <a href="#">B</a></li>
      <li>
      ... etc ...
    </ul>
  </div>

*/

ul.views-summary { 
  list-style: none;
  margin: 0; 
}
.views-summary li { 
  float: left; 
  padding-right: .5em; 
}
.views-summary a { 
  display: inline-block; 
}

