// import base styles
@import "_pager.less";

/* ALPHA PAGER
-------------------------------------------------- */

/* 

  Styles for the Views Load More ajax pager

  SAMPLE MARKUP:
  --------------------------------------------------
  
  <div class="item-list">
    <ul class="pager pager-load-more">
      <li>
        <a href="#">A</a></li>
      <li>
        <a href="#">B</a></li>
      <li>
      ... etc ...
    </ul>
  </div>

*/

ul.pager-load-more {
  border-top: 1px solid @vpriBlueLight;
  padding-top: 2em;
  text-align: left;
  .btn-unit.btn-unit-reverse {
    color: white !important;
    background-color: @unitAccent !important;
    border-color: @unitAccent !important;
    &:hover {
      color: @unitAccent !important;
      background-color: white !important;
      border-color: @unitAccent !important;
    }
  }
}

