nav.subnav.services
  div.vert-content-space-2-2
    div.subnav--header
      a.subnav--toggle.collapsed(data-toggle="collapse" data-target=".subnav-services--links" aria-expanded="false")
        | Select a service 
        span.icon-chevron-down
       
    div.subnav-services--links.collapse.navbar-collapse.services-tabs
      ul.clearfix
        li.active
          a.subnav--link(href="#accounts" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Accounts & Authentication 
        li
          a.subnav--link(href="#audio" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Audio Visual & Creative Services
        li
          a.subnav--link(href="#campus" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Campus & Faculty Systems
        li
          a.subnav--link(href="#computer" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Computer, Software & Print
        li
          a.subnav--link(href="#email" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Email, Voice & Internet
        li
          a.subnav--link(href="#research" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Research Services
        li
          a.subnav--link(href="#secure" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Secure Computing
        li
          a.subnav--link(href="#storage" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Storage & Server Hosting
        li
          a.subnav--link(href="#teaching" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Teaching & Learning Tools
        li
          a.subnav--link(href="#website" aria-controls="home" role="tab" data-toggle="tab")
            span.icon.icon-link
            |  Website Hosting & Emailing
          