div#accounts.row.active(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links")

div#audio.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content2")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links__alt-content2")

div#campus.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content3")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links__alt-content3")

div#computer.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links")

div#email.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content2")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links__alt-content2")

div#research.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content3")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links__alt-content3")
    
div#secure.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links")
    
div#storage.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content2")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links__alt-content2")
    
div#teaching.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content3")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links__alt-content3")
    
div#website.row(role="tabpanel")
  div.col-sm-8.col-md-9 
    != partial("unit-teaser-list__alt-content")
  div.col-sm-4.col-md-3 
    != partial("unit-action-links")