/* COLLAPSIBLE CTAS 
-------------------------------------------------- */

/* 
  
  DOCUMENTATION
  --------------------------------------------------
  data-cta-state="collapsed" - donotes the initial state along with the .accordion-closed class (which triggers the js toggle)
 
          
  SAMPLE MARKUP:
  --------------------------------------------------
  <div class="collapsible-ctas">
    <div class="collapsible-cta accordion-closed" data-cta-state="collapsed">
      <h2 class="content-trigger"><span>Find a course</span></h2>
      <div class="inner-content">
        <p>Study online at your own pace or in a classroom setting. Most programs require departmental approval before registering and many have pre-requisites.</p>
        <p><a href="private" class="btn btn-unit btn-unit-alt">get started</a></p>
      </div>
    </div>
    <div class="collapsible-cta accordion-closed" data-cta-state="collapsed">
      <h2 class="content-trigger"><span>Got a training question?</span></h2>
      <div class="inner-content">
        <p>Get answers to your training questions, including who can take courses, what happens if you transfer to a different department, and which departments are FMS certified.</p>
        <p><a href="private" class="btn btn-unit">find answers</a></p>
      </div>
    </div>
  </div>
  
  
  VARIABLES:
  --------------------------------------------------
  @sansFontFamily
  @unit-accent
  @unit-primary
  @unit-secondary
  @iconFontFamily

*/


.collapsible-cta {
  &[data-cta-state='collapsed'] {
    .inner-content {
      display: none;
    }
  }
  .content-trigger {
    padding: 40px 60px;
    &:hover {
      cursor: pointer;
    }
  }
  .inner-content {
    padding: 60px 60px 30px 60px;
  }
  h2 {
    margin: 0;
    font-weight: 400 !important;
    text-transform: uppercase;
    position: relative;
    span {
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
    &:after {
      position: absolute;
      content: '';
      bottom: -30px; // triangle height plus border width of header
      //right: 60px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 0 30px;
      z-index: 10;
      //border-color: #eee transparent transparent transparent;
    }
  }
}

.collapsible-ctas {
  border: 1px solid @ubc-blue;
  margin-bottom: 2em;
  .collapsible-cta:nth-child(4n+1) {
    background-color: lighten(@ubc-blue, 4%);
    .content-trigger {
      background-color: @ubc-blue;
    }
    h2:after {
      border-color: @ubc-blue transparent transparent transparent;
      left: 60px;
    }
  }
  .collapsible-cta {
    .content-trigger {
      transition: background-color .7s ease;
    }
    h2:after {
      transition: border-top-color .7s ease;
    }
  }
  .collapsible-cta:nth-child(4n+3) {
    background-color: lighten(@unit-primary, 4%);
    .content-trigger {
      background-color: @unit-primary;
    }
    h2:after {
      border-color: @unit-primary transparent transparent transparent;
      left: 60px;
    }
  }
  .collapsible-cta:nth-child(4n+1),
  .collapsible-cta:nth-child(4n+3) {
    color: white;
    h2 {
      color: white;
      span {
        border-bottom-color: fade(white, 80%);
      }
    }
    a {
      color: white;
      &:hover {
        color: fade(white, 70%);
      }
    }
    .btn:hover {
      color: white !important;
    }
  }
  .collapsible-cta:nth-child(4n+2),
  .collapsible-cta:nth-child(4n+4) {
    &.accordion-closed .content-trigger {
      background-color: #fff;
    }
    h2.content-trigger {
      text-align: right;
      span {
        border-bottom-color: fade(@ubc-blue, 80%);
      }
      &:after {
        border-color: #fff transparent transparent transparent;
        right: 60px;
      }
    }
    &.accordion-closed h2.content-trigger:after {
      border-color: #fff transparent transparent transparent;
    }
    &.accordion-closed h2.content-trigger:hover:after {
      border-color: #fafafa transparent transparent transparent;
    }
    &:hover .content-trigger,
    h2.content-trigger {
      background-color: #fafafa;
      &:after {
        border-color: #fafafa transparent transparent transparent;
      }
    }
    .btn-unit.btn-unit-alt {
      border-color: @unit-primary;
      color: @unit-primary;
      &:hover {
        background-color: @unit-primary;
        color: #fff;
      }
    }
  }
  .collapsible-cta.accordion-closed:last-child h2:after {
    display: none;
  }
}

