/** @define clf.drupal */

/*
* This file overrides some default CLF styles
*/
fieldset {
  @apply border-0;
}

fieldset fieldset {
  @apply px-0 pb-0 mt-0 shadow-none;
}

fieldset fieldset legend {
  @apply normal-case border-b-[.125rem] text-sm;
}

input[type="search"] {
  @apply box-border
}

.views-exposed-form {
  @apply mt-12;
}

.node--unpublished .unpublished {
  @apply absolute top-0 right-0 left-0 h-0 text-center uppercase break-words text-[#d8d8d8] text-[5em] leading-none font-bold overflow-visible;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
}

.node--unpublished .field__item {
  @apply relative;
}

#block-userlogin .item-list ul {
  @apply ml-0 list-none;
}

#block-userlogin .item-list li {
  @apply float-left mr-[.5em] text-sm;
}

#block-userlogin .item-list li + li {
  @apply float-right mr-0;
}

.description {
  @apply text-xs text-grey-500;
}

.masthead__img img {
  @apply object-cover w-full h-full;
}

/* for UBC Ckeditor Widgets styles - need to create a new branch before committing */
@media (min-width: 960px) {

  .flex-item,
  .flex-1 {
    -webkit-box-flex: 1;
    flex: 1;
  }

  .flex-2 {
    -webkit-box-flex: 2;
    flex: 2;
  }
}

.field--name-field-profile-office,
.field--name-field-event-map,
.img-and-caption {
  @apply my-6;

}

.pin {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.more-link a {
  @apply inline-flex px-6 py-3 text-xs no-underline bg-white border text-ubc-blue-cobalt border-ubc-blue-cobalt;
}

.more-link a:hover {
  @apply text-white no-underline shadow border-ubc-blue-cobalt bg-ubc-blue-cobalt;
}
