/** @define drupal.media */

/* drupal media */
figure img,
img[data-entity-type="file"] {
  @apply mt-0;
}

/* add margin to media without figure containers */
.image-inline:not(:where(figure .image-inline)),
.media--type-image:not(:where(figure .media--type-image)),
.media--type-remote-video:not(:where(figure .media--type-remote-video)) {
  @apply mt-leading;
}

/* make embedded video full width when not aligned */
figure:not(.align-left, .align-center, .align-right):has(.media--type-remote-video)  {
  width: 100%;
}

/* don't let floated images float on tiny screens */
figure.align-left,
figure.align-right,
img.align-left,
img.align-right,
.media.align-left,
.media.align-right {
  @apply float-none mx-auto mb-leading;
}

figure.align-left,
figure.align-right {
  @apply mt-leading;
}

img[data-entity-type="file"]:not(
  .align-left,
  .align-center,
  .align-right):not(:where(figure img)) {
  @apply mt-leading;
}

figure.align-center,
img.align-center {
  @apply mx-auto mt-leading;
}

.media.align-center {
  @apply table mx-auto;
}

@media screen and (min-width: 640px) {

  figure.align-left,
  img.align-left,
  .media.align-left {
    @apply float-left mr-leading;
  }

  figure.align-right,
  img.align-right,
  .media.align-right {
    @apply float-right ml-leading;
  }

  /* set a max width for floated items */
  .align-left,
  .align-right {
    @apply max-w-[50%];
  }

}

/* Remote video - play button over image thumbnail */
.media--type-remote-video.media--view-mode--featured-content {
  @apply my-0;
}

.media--type-remote-video {
  @apply relative;
}

.media--type-remote-video .field--name-thumbnail {
  @apply w-full cursor-pointer;
}

.media--type-remote-video .field--name-thumbnail img {
  @apply w-full;
}

.media--type-remote-video .field--name-thumbnail:after {
  @apply absolute top-0 left-0 w-full h-full;
  background-image: url("../img/svg/icon-play.svg");
  background-position: center;
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  content: '';
}

@media (min-width: 768px) {
  .media--type-remote-video .field--name-thumbnail:after {
    background-size: 7.5rem 7.5rem;
  }
}

/* File icons. */
.file {
  @apply inline-block pl-[1.5em] bg-no-repeat bg-[left_center];
  background-size: .875em .875em;
}

[dir="rtl"] .file {
  @apply inline-block min-h-[1em] pr-[1.5em] pl-[inherit] bg-right;
}

.file--general,
.file--application-octet-stream,
.file--application-x-executable {
  background-image: url(../img/svg/file-blank.svg);
}

.file--package-x-generic {
  background-image: url(../img/svg/file-zipped.svg);
}

.file--x-office-spreadsheet {
  background-image: url(../img/svg/file-excel.svg);
}

.file--x-office-document {
  background-image: url(../img/svg/file-word.svg);
}

.file--x-office-presentation {
  background-image: url(../img/svg/file-powerpoint.svg);
}

.file--text-x-script,
.file--text-html {
  background-image: url(../img/svg/file-code.svg);
}

.file--application-pdf {
  background-image: url(../img/svg/file-pdf.svg);
}

.file--audio {
  background-image: url(../img/svg/file-audio.svg);
}

.file--video {
  background-image: url(../img/svg/file-video.svg);
}

.file--text-plain,
.file--text {
  background-image: url(../img/svg/file-text.svg);
}

.file--image {
  background-image: url(../img/svg/file-image.svg);
}
