/** @define drupal.media */

/* image filters */
.img-greyscale {
  filter: grayscale(100%);
}

/* drupal media */
figure img,
img[data-entity-type="file"] {
  @apply mt-0;
}

/* add margin to images */
.image-inline:not(:where(figure .image-inline)) {
  @apply mt-leading;
}

/* don't let floated images float on tiny screens */
figure.align-left,
figure.align-right,
img.align-left,
img.align-right,
.media.align-left,
.media.align-right {
  @apply float-none mx-auto mb-leading;
}

figure.align-left,
figure.align-right {
  @apply mt-leading;
}

img[data-entity-type="file"]:not(
  .align-left,
  .align-center,
  .align-right):not(:where(figure img)) {
  @apply mt-leading;
}

figure.align-center,
img.align-center {
  @apply mx-auto mt-leading;
}

.media.align-center {
  @apply table mx-auto;
}

@media screen and (min-width: 640px) {

  figure.align-left,
  img.align-left,
  .media.align-left {
    @apply float-left mr-leading;
  }

  figure.align-right,
  img.align-right,
  .media.align-right {
    @apply float-right ml-leading;
  }

  /* set a max width for floated media items */
  [class^="widget-"].align-left,
  [class^="widget-"].align-right {
    @apply max-w-md;
  }

}

/* Remote video - play button over image thumbnail */
.media--type-remote-video.media--view-mode--featured-content {
  @apply my-0;
}

.media--type-remote-video {
  @apply relative;
}

.media--type-remote-video .field--name-thumbnail {
  @apply w-full cursor-pointer;
}

.media--type-remote-video .field--name-thumbnail img {
  @apply w-full;
}

.media--type-remote-video .field--name-thumbnail:after {
  @apply absolute top-0 left-0 w-full h-full;
  background-image: url("../img/svg/icon-play.svg");
  background-position: center;
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  content: '';
}

@media (min-width: 768px) {
  .media--type-remote-video .field--name-thumbnail:after {
    background-size: 7.5rem 7.5rem;
  }
}
