/** @define Drupal Theme */

/*
* This file contains all styles used to modify Drupal makrup to match the theme.
*/

/* js text counter */
.text-count-message {
  @apply text-xs text-grey-700;
}

/* jquery datepicker */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  @apply text-white border border-ubc-blue bg-ubc-blue-cobalt;
}

/* jquery date picker picks up default table styles */
.ui-datepicker {
  font-size: 75%;
}

.ui-datepicker-calendar thead,
.ui-datepicker-calendar tr {
  @apply border-0;
}

.ui-datepicker-calendar th {
  @apply normal-case text-grey-900;
}

/* quickedit divs (gah!) */
[data-quickedit-field-id] {
  @apply inline;
}

/* form elements inside tables */
.tableselect td input,
.tableselect-sort td input,
.tableselect td .form-item,
.tableselect-sort td .form-item  {
  @apply mt-0;
}

/* drag elements */
a.tabledrag-handle .handle {
  width: 14px;
  height: 14px;
  margin: 0 0.5em;
  padding: 0.42em 0.5em;
  background: url(../img/svg/icon-move.svg) no-repeat 6px 7px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.tableselect-sort td {
  @apply relative;
}

.tableselect-sort .tabledrag-changed {
  @apply absolute top-[.5em] left-0;
}
