/**
 * @file
 * Webform styles
 */
 .webform-actions {
  @apply mt-6;
}

.webform-submission-form legend {
  @apply pb-0 text-sm;
}

.webform-submission-form .field-prefix,
.webform-submission-form .field-suffix {
  @apply text-sm;
}

.webform-multiple-table .form-item,
.webform-mapping-table .form-item,
.webform-likert-table .form-item,
.webform-submission-form input.form-color {
  @apply mt-0;
}

/*
.webform-submission-form .fieldset-wrapper {
  @apply mt-[1em];
}
*/

.text-count-message,
.description {
  @apply text-xs text-grey-700;
}

.form--inline .form-item {
  @apply mt-0;
}

.webform-submission-form  input[type="submit"]:not(.webform-button--submit) {
  @apply inline-flex text-center no-underline uppercase border text-xs cursor-pointer pt-[.5em] px-[1em] pb-[.3em] text-white bg-ubc-blue border-transparent;
  transition: all 0.125s ease-out;
  line-height: 1.3;
}

.webform-submission-form  input[type="submit"]:not(.webform-button--submit):hover {
  @apply text-white no-underline border-transparent shadow-md bg-ubc-blue-sea;
}

input[name="autocomplete_table_add"],
input[name="custom_composite_table_add"] {
  @apply my-[.5em];
}

.tabledrag-toggle-weight {
  @apply text-xs;
}

@media (min-width: 400px) {

  .webform-options-display-two-columns,
  .webform-options-display-three-columns {
    @apply flex flex-wrap mt-0 columns-[initial];
  }

  .webform-options-display-two-columns div.form-item {
    @apply w-half;
  }

  .webform-options-display-three-columns div.form-item {
    @apply w-one-third;
  }
}

.webform-element-description {
  @apply my-2 text-xs text-grey-700;
}
