// import base styles
@import "_forms.less";

/* FORMS
-------------------------------------------------- */

/*

  SAMPLE MARKUP: (variable depending on how they are generated)
  --------------------------------------------------
  
  
  CUSTOM FORM CLASSES:
  --------------------------------------------------
  .condensed - add to form element to make label sizes smaller
  
  
  VARIABLES:
  --------------------------------------------------
  @baseFontSize - sets the font size of form elements
  @ubcBlue - sets the form label colours
  @unit-accent-light - add a border colour to views exposed widgets
  @inputBorderRadius - set the border radius for form elements
  @inputBorder - set the border colour for form elements
  @inputBorderFocus - set the border focus colour for form elements
  
  
*/

.views-exposed-widgets {
  border-bottom: none;
  border-top: none;
}

.views-exposed-form {
  padding: 1em 0;
  margin: 1.5em 0;
  border-bottom: 1px solid @unit-light-grey;
}

.views-exposed-form .input-append .form-item {
  display: inline-block;
}
.views-exposed-form .container-inline-date .date-padding {
  float: none;
}
input.form-submit {
  height: 40px;
}
.form-no-labels .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
@media screen and (min-width: @screen-lg-min) {
  .form-with-labels .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 43px;
  }
}

input[type=text] {
  box-shadow: none;
}
form .description {
  font-style: italic;
  color: @unit-text-light;
}

.bef-checkboxes label {
  display: none;
}

form label {
  font-size: inherit;
  margin: 20px 0 0 0;
  font-weight:inherit;
}

/* date with popup - hide the help text because I can't do it in preprocess or the UI (?!) */
.form-type-date-popup .help-block {
  position: absolute;
  left: -300%;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden
}


// adjust formstone form styles
// SELECT
.fs-dropdown-options button {
  border: none;
  border-bottom: 1px solid @unit-accent-light;
  &:last-child {
    border-bottom: none;
  }
}
.fs-dropdown-selected,
.fs-dropdown-open .fs-dropdown-selected, 
.fs-dropdown-focus .fs-dropdown-selected {
  &:extend(.non-clf input[type=text]);
}
input[type=text]:focus,
.fs-dropdown-open .fs-dropdown-selected, 
.fs-dropdown-focus .fs-dropdown-selected {
  &:extend(.non-clf input[type=text]:focus);
}

.fs-dropdown-item_selected {
  background-color: @unit-secondary;
  color: #fff;
}
.fs-dropdown-options button {
  border-bottom-color: @unit-tertiary;
}
.no-touch .fs-dropdown-item:hover, 
.no-touch .fs-dropdown-item_selected:hover {
  border-color: @unit-tertiary;
  background-color: @unit-primary;
  color: #fff;
}
// replace down triangle
.fs-dropdown-selected:after {
  content: '\f107';
  font-family: @icon-font-family;
  color: #fff;
  border-color: transparent;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  background-color: @unit-secondary;
  right: 0;
}
fs-dropdown-item:last-child {
  border-radius: 0;
}
.fs-scrollbar-content {
  border-style: solid;
  border-color: @unit-tertiary;
  border-width: 0 1px 1px 1px;
}
.input-append .btn.form-submit {
  margin-left: .5em;
}
.fs-dropdown {
  margin: 0;
}
.fs-dropdown-item {
  height: auto;
  padding: 10px 15px;
  line-height: 20px;
}
// CHECKBOX
.fs-checkbox-marker {
  border-color: @unit-secondary;
}

.non-clf .uneditable-input.input-lg, .non-clf input[type=number].input-lg, .non-clf input[type=search].input-lg, .non-clf input[type=date].input-lg, .non-clf input[type=time].input-lg, .non-clf input[type=datetime-local].input-lg, .non-clf input[type=month].input-lg, .non-clf input[type=text].input-lg, .non-clf input[type=password].input-lg, .non-clf input[type=datetime].input-lg, .non-clf input[type=week].input-lg, .non-clf input[type=email].input-lg, .non-clf input[type=url].input-lg, .non-clf input[type=tel].input-lg, .non-clf input[type=color].input-lg, .non-clf select.input-lg, .non-clf textarea.input-lg {
  &:extend(.input-lg);
}

// add padding equivalent to the label height
form .label-space {
  padding-top: 60px;
}

/* WEBFORMS */
// * add row styling to webform fieldsets so we can use columns
form[class^=webform] .fieldset-wrapper {
  .make-row();
}
form[class*=webform] legend {
  margin-bottom: 0;
  padding-top: 2em
}
// make collapsible fieldsets appear as accordions
form[class*=webform] fieldset.collapsible a {
  display: block;
  text-decoration: none;
  color: inherit;
}
form[class*=webform] fieldset.collapsible {
  margin-top: 48px;
}
form[class*=webform] fieldset.collapsible legend {
  &:extend(.accordion__tab);
  &:extend(.accordion .accordion__tab);
}
form[class*=webform] fieldset.collapsible.collapsed legend {
  &:extend(.accordion.accordion--closed .accordion__tab);
}
form[class*=webform] fieldset.collapsible.collapsed legend:hover {
  &:extend(.accordion.accordion--closed .accordion__tab:hover);
}
form[class*=webform] fieldset.collapsible legend:after {
  &:extend(.accordion__tab:after);
  &:extend(.accordion .accordion__tab:after);
}
form[class*=webform] fieldset.collapsible.collapsed legend:after {
  &:extend(.accordion.accordion--closed .accordion__tab:after);
}
html.js fieldset.collapsed .fieldset-legend a:after,
html.js fieldset.collapsible .fieldset-legend a:after {
  content: ' ';
}


.fs-checkbox-radio .fs-checkbox-flag {
  border: none;
  background: @unit-secondary;
}
.fs-checkbox-flag:before {
  border-color: @unit-secondary;
  border-width: 3px;
}
