form(action="" method="" accept-charset="UTF-8")
  div
    div.views-exposed-form
      div.views-exposed-widgets.clearfix
        div#edit-fid-wrapper.views-exposed-widget.views-widget-filter-tid
          label(for="edit-fid") Dropdown Label
          div.views-widget
            div.form-item.form-type-select.form-item-fid
              select#edit-fid.form-select(name="fid")
                option(value="All" selected="selected") Any
                option(value="79") College for Interdisciplinary Studies
                option(value="79") Faculty of Applied Science
                option(value="79") Faculty of Arts
                option(value="79") Faculty of Commerce and Business Administration
                option(value="79") Faculty of Dentistry
                option(value="79") Faculty of Education
                option(value="79") Faculty of Forestry
                option(value="79") Faculty of Land and Food Systems
                option(value="79") Faculty of Law
                option(value="79") Faculty of Medicine
                option(value="79") Faculty of Pharmaceutical Sciences
                option(value="79") Graduate and Postdoctoral Studies
          div#edit-psq-wrapper.views-exposed-widget.views-widget-filter-field_prog_search_data_value
            label(for="edit-psq") Text Inputs
            div.views-widget
              div.form-item.form-type-textfield.form-item-psq
                input#edit-psq.form-text(type="text" name="psq" value="" size="30" maxlength="128")
              div.form-item.form-type-radios.form-item-meta-type
            label(for="edit-meta-type") Radio Inputs
            div#edit-meta-type.form-radios
              div.form-item.form-type-radio.form-item-meta-type
                input#edit-meta-type-.form-radio(type="radio" name="meta_type" value="" checked="checked")
                label.option(for="edit-meta-type-") All
         
              div.form-item.form-type-radio.form-item-meta-type
                input#edit-meta-type-module.form-radio(type="radio" name="meta_type" value="module" disabled="disabled")  
                label.option(for="edit-meta-type-module") Disabled option
             
              div.form-item.form-type-radio.form-item-meta-type
                input#edit-meta-type-theme.form-radio(type="radio" name="meta_type" value="theme")
                label.option(for="edit-meta-type-theme") Themes
             
              div.form-item.form-type-radio.form-item-meta-type
                input#edit-meta-type-documentation.form-radio(type="radio" name="meta_type" value="documentation")  
                label.option(for="edit-meta-type-documentation") Documentation
             
              div.form-item.form-type-radio.form-item-meta-type
                input#edit-meta-type-forum-issues.form-radio(type="radio" name="meta_type" value="forum-issues")
                label.option(for="edit-meta-type-forum-issues") Forums &amp; Issues 
                
              div.form-item.form-type-radio.form-item-meta-type
                input#edit-meta-type-group.form-radio(type="radio" name="meta_type" value="group")
                label.option(for="edit-meta-type-group") Groups

          label(for="edit-psq") Checkbox Inputs
          div.form-item.form-type-checkbox.form-item-1-customize-ckeditor
            label(for="edit-1-customize-ckeditor") Customize Display
            input#edit-1-customize-ckeditor.rid-1.form-checkbox(type="checkbox" name="1[customize ckeditor]" value="customize ckeditor")
          div.form-item.form-type-checkbox.form-item-2-customize-ckeditor
            label(for="edit-2-customize-ckeditor") Customize appearance
            input#edit-2-customize-ckeditor.rid-2.form-checkbox(type="checkbox" name="2[customize ckeditor]" value="customize ckeditor")
          div.form-item.form-type-checkbox.form-item-3-customize-ckeditor
            label(for="edit-3-customize-ckeditor") Disabled option
            input#edit-3-customize-ckeditor.rid-3.form-checkbox.real-checkbox(type="checkbox" name="3[customize ckeditor]" value="customize ckeditor" checked="checked" disabled="disabled")
                   
          p
          div.row
            div.col-md-4
              input#edit-submit-programs.my-views-filter-submit.form-submit.btn.btn-unit.btn-unit-reverse.btn-block(type="submit" value="Filter")
            div.col-md-4
              input.form-submit.btn.btn-unit.ico-remove.form-reset.my-views-filter-reset.btn-block(value="Reset" type="Submit" name="" onclick="javascript:jQuery(this.form).clearForm();jQuery(this.form).find('#edit-submit-programs').trigger('click');return false;")
                    