form(action="" method="" accept-charset="UTF-8")
  div
    div.views-exposed-form
      h4 Filter Selection
      div.views-exposed-widgets.clearfix.row
        div.col-sm-6.col-md-3
          div.views-widget
            div.form-item.form-type-select.form-item-fid
              select#edit-fid.form-select(name="fid")
                option(value="All" selected="selected") By Category
                option(value="79") College for Interdisciplinary Studies
                option(value="79") Faculty of Applied Science
                option(value="79") Faculty of Arts
                option(value="79") Faculty of Commerce and Business Administration
                option(value="79") Faculty of Dentistry
                option(value="79") Faculty of Education
                option(value="79") Faculty of Forestry
                option(value="79") Faculty of Land and Food Systems
                option(value="79") Faculty of Law
                option(value="79") Faculty of Medicine
                option(value="79") Faculty of Pharmaceutical Sciences
                option(value="79") Graduate and Postdoctoral Studies
                  
        div.col-sm-6.col-md-3
          div.views-widget
            div.form-item.form-type-select.form-item-fid
              select#edit-fid.form-select(name="fid")
                option(value="All" selected="selected") By Vendor
                option(value="79") College for Interdisciplinary Studies
                option(value="79") Faculty of Applied Science
                option(value="79") Faculty of Arts
                option(value="79") Faculty of Commerce and Business Administration
                option(value="79") Faculty of Dentistry
                option(value="79") Faculty of Education
                option(value="79") Faculty of Forestry
                option(value="79") Faculty of Land and Food Systems
                option(value="79") Faculty of Law
                option(value="79") Faculty of Medicine
                option(value="79") Faculty of Pharmaceutical Sciences
                option(value="79") Graduate and Postdoctoral Studies
                  
        div.col-sm-6.col-md-3
          div.views-widget
            div.form-item.form-type-select.form-item-fid
              select#edit-fid.form-select(name="fid")
                option(value="All" selected="selected") By Eligibility
                option(value="79") College for Interdisciplinary Studies
                option(value="79") Faculty of Applied Science
                option(value="79") Faculty of Arts
                option(value="79") Faculty of Commerce and Business Administration
                option(value="79") Faculty of Dentistry
                option(value="79") Faculty of Education
                option(value="79") Faculty of Forestry
                option(value="79") Faculty of Land and Food Systems
                option(value="79") Faculty of Law
                option(value="79") Faculty of Medicine
                option(value="79") Faculty of Pharmaceutical Sciences
                option(value="79") Graduate and Postdoctoral Studies
      
      