/** @define clf.8.dark.mode */

/*
* This file contains all styles related to UBC Common Look and Feel, v.7.
*/

@media (prefers-color-scheme: dark) {

  body {
    color: #ccc !important;
    background-color: #222;
  }

  .tabcordion__tab button,
  .text-lead,
  .text-black,
  .card__title,
  .text-ubc-blue {
    color: #ccc !important;
  }

  .card__meta {
    color: #000 !important;
  }

  .ubc-card {
    border: 1px solid #ccc;
  }

  .bg-white {
    background-color: inherit;
  }
}
