/** @define clf.drupal */

/*
* This file overrides some default CLF styles
*/

@import "config/variables.config.css";

fieldset {
  border-width: 0;
}

fieldset fieldset {
  margin-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-shadow: none;
}

fieldset fieldset legend {
  text-transform: none;
  border-bottom-width: 0.125rem;
  font-size: 0.875em;
}

input[type="search"] {
  box-sizing: border-box;
}

/* default search page form */
/*
.search-form .form-submit {
  display: inline-flex;
  margin-top: 1rem;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  color: $white;
  border-width: 1px;
  border-color: $ubc-blue;
  background-color: $ubc-blue;
  font-size: 0.875rem;
}

.search-form .form-submit:hover {
  text-decoration: none;
  color: $white;
  border-color: $ubc-blue-sea;
  background-color: $ubc-blue-sea;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.search-form .search-help-link {
  display: inline-flex;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border-width: 1px;
  font-size: 0.75rem;
}

.search-form .search-help-link:hover {
  text-decoration: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
*/

.views-exposed-form {
  margin-top: 3rem;
}

.node--unpublished .unpublished {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: visible;
  height: 0;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #d8d8d8;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-size: 5em;
  font-weight: bold;
  line-height: 1;
}

.node--unpublished .field__item {
  position: relative;
}

#block-userlogin .item-list ul {
  margin-left: 0;
  list-style: none;
}

#block-userlogin .item-list li {
  float: left;
  margin-right: 0.5em;
  font-size: 0.875em;
}

#block-userlogin .item-list li + li {
  float: right;
  margin-right: 0;
}

.description {
  color: $grey-500;
  font-size: 0.75rem;
}

.image-style-thumbnail {
  border-radius: 50%;
}

.masthead__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* for UBC Ckeditor Widgets styles - need to create a new branch before committing */
@media (min-width: 960px) {

  .flex-item,
  .flex-1 {
    -webkit-box-flex: 1;
    flex: 1;
  }

  .flex-2 {
    -webkit-box-flex: 2;
    flex: 2;
  }
}

.field--name-field-profile-office,
.field--name-field-event-map,
.field--name-field-media-oembed-video,
.media-embed-letterbox,
.media--wrapper {
  position: relative;
  overflow: hidden;
  height: 0 !important;
  padding-bottom: 56.25%;
}

.field--name-field-profile-office iframe,
.field--name-field-event-map iframe,
.field--name-field-media-oembed-video iframe,
.media-embed-letterbox iframe,
.media--wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.field--name-field-profile-office,
.field--name-field-event-map,
.img-and-caption {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pin {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.more-link a {
  display: inline-flex;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.75em;
  padding-left: 1.5em;
  text-decoration: none;
  color: $ubc-blue-cobalt;
  border-width: 1px;
  border-color: $ubc-blue-cobalt;
  background-color: $white;
  font-size: 0.75rem;
}

.more-link a:hover {
  text-decoration: none;
  color: $white;
  border-color: $ubc-blue-cobalt;
  background-color: $ubc-blue-cobalt;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/*
.paragraph--type--feature-image img {
  width: 100%;
}

.feature--text-top-right .text-region {
  top: 0;
  right: 0;
  text-align: right;
}

.feature--text-bottom-right .text-region {
  right: 0;
  bottom: 0;
  text-align: right;
}

.feature--text-bottom-left .text-region {
  bottom: 0;
  left: 0;
}

.feature--text-top-left .text-region {
  top: 0;
  left: 0;
}

.feature--text-bottom-left .has-gradient::after,
.feature--text-bottom-right .has-gradient::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(0, 33, 69, 0) 45%, $ubc-blue);
}

.feature--text-top-left .has-gradient::after,
.feature--text-top-right .has-gradient::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, $ubc-blue 0, rgba(0, 33, 69, 0) 55%);
}
*/
