/** @define clf.drupal */

/*
* This file overrides some default CLF styles
*/

/* Add CSS variables (uses postcss-simple-vars) */
@import "config/variables.config.css";

fieldset {
	border-width: 0;
}

fieldset fieldset {
	margin-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	box-shadow: none;
}

fieldset fieldset legend {
	font-size: .875em;
	text-transform: none;
	border-bottom-width: .125rem;
}

input[type="search"] {
	box-sizing: border-box;
}

/* default search page form */
.search-form .form-submit {
	display: inline-flex;
	margin-top: 1rem;
	padding-top: .75rem;
	padding-right: 1.5rem;
	padding-bottom: .75rem;
	padding-left: 1.5rem;
	color: #fff;
	font-size: .875rem;
	background-color: #002145;
	border-color: #002145;
	border-width: 1px;
}

.search-form .form-submit:hover {
	color: #fff;
	text-decoration: none;
	background-color: #003a79;
	border-color: #003a79;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.search-form .search-help-link {
	display: inline-flex;
	margin-top: 1rem;
	padding: .75rem 1.5rem;
	font-size: .75rem;
	border-width: 1px;
}

.search-form .search-help-link:hover {
	text-decoration: none;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.node--unpublished .unpublished {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 0;
	overflow: visible;
	color: #d8d8d8;
	font-weight: bold;
	font-size: 5em;
	font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	word-wrap: break-word;
}

.node--unpublished .field__item {
	position: relative;
}

#block-userlogin .item-list ul {
	margin-left: 0;
	list-style: none;
}

#block-userlogin .item-list li {
	float: left;
	margin-right: .5em;
	font-size: .875em;
}

#block-userlogin .item-list li + li {
	float: right;
	margin-right: 0;
}

.description {
	color: #9e9e9e;
	font-size: .75rem;
}

.image-style-thumbnail {
	border-radius: 50%;
}

/* for UBC Ckeditor Widgets styles - need to create a new branch before committing */
@media (min-width: $breakpoint--md) {

	.flex-item,
	.flex-1 {
		-webkit-box-flex: 1;
		flex: 1;
	}

	.flex-2 {
		-webkit-box-flex: 2;
		flex: 2;
	}

}

.media-embed-letterbox {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.field--name-field-media-oembed-video,
.media-embed-letterbox,
.media--wrapper {
	position: relative;
	height: 0 !important;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.field--name-field-media-oembed-video iframe,
.media-embed-letterbox iframe,
.media--wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}


.more-link a {
	display: inline-flex;
	padding-top: .75rem;
	padding-right: 1.5rem;
	padding-bottom: .75rem;
	padding-left: 1.5rem;
	color: #0055b7;
	font-size: .75rem;
	background-color: #fff;
	border-color: #0055b7;
	border-width: 1px;
}

.more-link a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #0055b7;
	border-color: #0055b7;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}
