/** @define drupal.entity.moderation */

/*
* This file contains styles for the drupal content moderation form
*/
@import "config/variables.config.css";

.entity-moderation-form {
  position: relative;
  display: block;
  padding: 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 75%;
}

.entity-moderation-form__item {
  display: block;
  margin: 0 0.5rem;
}

.entity-moderation-form__item:last-child {
  margin-right: 0.5rem;
}

.entity-moderation-form__item .button {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5rem 1.25rem;
  text-align: center;
  color: #fff;
  border: 1px solid $ubc-blue;
  background-color: $ubc-blue;
}

.entity-moderation-form__item .button:hover {
  text-decoration: none;
  border: 1px solid #003a79;
  background-color: #003a79;
}

@media (min-width: 640px) {

  .entity-moderation-form {
    display: flex;
  }

  .entity-moderation-form__item {
    flex: 1 1 0%;
  }

  .entity-moderation-form__item:first-child,
  .entity-moderation-form__item:last-child {
    flex: none;
  }
}
