/**
 * @file
 * Styles for system messages
 */
@import url("config/variables.config.css");

.message {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem 3rem 1rem 3rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.message--success {
  background-color: $success;
}

.message--status {
  background-color: $status;
}

.message--warning {
  background-color: $warning;
}

.message--error {
  background-color: $error;
}

.message__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1rem 0.75rem 1rem;
  line-height: 1;
}

.message__close:hover {
  text-decoration: none;
  color: #000;
  background-color: rgb(255 255 255 / 50%);
}

.message__icon {
  display: inline-block;
  flex: none;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  color: $ubc-blue;
}

@media (min-width: 1720px:) {
  .message {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }

  .message__icon {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }
}
