/**
 * @file
 * Styles for the default drupal login
 */
.rounded {
  border-radius: 0.25rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.max-w-full {
  max-width: 100%;
}

.px-16 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 640px) {

  .sm--max-w-md {
    @apply max-w-[34rem]
  }
}

.tabs--primary {
  @apply text-sm;
}

.description {
  @apply py-[.5em] px-0;
}

.form-checkbox,
.form-radio {
  @apply flex-wrap;
}

.user-pass p {
  @apply mb-leading;
}

.user-register-form .form-submit,
.user-pass .form-submit,
.user-login-form .form-submit {
  @apply block w-full text-[1.125rem]
}

.form-managed-file .form-submit {
  @apply block py-3 px-6 text-center no-underline text-ubc-blue-cobalt border border-ubc-blue-cobalt bg-white;
}

.form-managed-file .form-submit:hover {
  @apply text-white bg-ubc-blue-cobalt border border-ubc-blue-cobalt;
}

body {
  @apply bg-ubc-blue;
}
