/** @define drupal.node.preview */

/*
* This styles the node preview form.
*/
@import "config/variables.config.css";

.node-preview-container {
  border-bottom: 1px #003a79 solid;
  background-color: rgba(255, 255, 255, 0.5);
}

.node-preview-backlink {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #003a79;
  border-radius: 0.25rem;
  background-color: rgba(0, 58, 121, 0.85);
}

.node-preview-backlink:hover {
  text-decoration: none;
  color: #fff;
  border-color: #002145;
  background-color: rgba(0, 33, 69, 0.85);
}

.node-preview-container select {
  min-width: 200px;
}
