/* PrismJS 1.22.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+twig+yaml&plugins=line-numbers+keep-markup+unescaped-markup+normalize-whitespace+toolbar+copy-to-clipboard */

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-wrap: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none;
	color: #ccc;
	background: none;
	text-shadow: none;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	line-height: 1.5;
}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;
	margin: 0.5em 0;
	padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	white-space: normal;
	border-radius: 0.3em;
}

code[class*="language-"] .tag {
	margin-right: 0;
	padding: 0;
	background-color: transparent;
}

code[class*="language-"] .tag::before {
	display: none;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	top: 0;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	user-select: none;
	letter-spacing: -1px;
	pointer-events: none;
	border-right: 1px solid #999;
	font-size: 100%;
}

.line-numbers-rows > span {
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	display: block;
	padding-right: 0.8em;
	content: counter(linenumber);
	text-align: right;
	color: #999;
}

/* Fallback, in case JS does not run, to ensure the code is at least visible */
[class*="lang-"] script[type="text/plain"],
[class*="language-"] script[type="text/plain"],
script[type="text/plain"][class*="lang-"],
script[type="text/plain"][class*="language-"] {
	display: block;
	overflow: auto;
	white-space: pre;
	font: 100% Consolas, Monaco, monospace;
}

div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: 0.3em;
	right: 0.2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar a {
	cursor: pointer;
}

div.code-toolbar > .toolbar button {
	overflow: visible;
	padding: 0; /* for button */
	user-select: none;
	color: inherit;
	border: 0;
	background: none;
	font: inherit;
	line-height: normal;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	padding: 0 0.5em;
	color: #bbb;
	border-radius: 0.5em;
	background: #f5f2f0;
	background: rgb(224 224 224 / 20%);
	box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%);
	font-size: 0.8em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
	text-decoration: none;
	color: inherit;
}
