/** @define styles */

/*
* This file is the main entry point for primary styles
*/

/* Add CSS variables (uses postcss-simple-vars) */
@import url("config/variables.config.css");

/* Add normalize and general base styles */
@import url("tailwindcss/base");
@import url("base/default.base.css");
@import url("base/typography.base.css");
@import url("base/form.base.css");
@import url("base/layout.base.css");
@import url("base/link.base.css");
@import url("base/list.base.css");
@import url("base/media.base.css");
@import url("base/table.base.css");
@import url("base/print.base.css");

/* Import any node assets */
@import url("../../node_modules/tiny-slider/dist/tiny-slider.css");

/* Add styles for specific components */
@import url("tailwindcss/components");
@import url("components/accordion.component.css");
@import url("components/button.component.css");
@import url("components/carousel.component.css");
@import url("components/chosen.component.css");
@import url("components/message.component.css");
@import url("components/navigation.component.css");
@import url("components/tabcordion.component.css");
@import url("components/tag.component.css");
@import url("components/throbber.component.css");
@import url("components/totop.component.css");

/* Add site specific styles */
@import url("theme/custom.theme.css");

/* Add site specific utilities */
@import url("utilities/animate.utility.css");
@import url("utilities/container.utility.css");
@import url("utilities/margin.utility.css");
@import url("utilities/min-height.utility.css");
@import url("utilities/skip-link.utility.css");
@import url("utilities/svg.utility.css");
/* @import "utilities/text-truncate.utility.css"; */
@import url("utilities/ubc-gradient.utility.css");
@import url("utilities/vue.utility.css");

/* Add utility classes last so that they take precedence */
@import url("tailwindcss/utilities");

:root {
  --color-primary: #002145 !important;
  --color-secondary: #f5ce3e !important;
  --color-tertiary: #fbebb1 !important;
  --color-accent: #fdf5d8 !important;
  --color-link: #0055b7;
  --color-link-hover: #002145;
  --color-link-active: #002145;
  --leading: 1.5;
  --base-font-size: 1rem;
  --text-font-stack: "Whitney SSm A", "Whitney SSm B", arial, sans-serif;
  --alternate-font-stack: var(--text-font-stack);
  --code-font-stack:  menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
}
#ubc7-unit { background-color: #002145 !important; }
