/** @define styles */

/*
* This file is the main entry point for primary styles
*/

/* Add CSS variables (uses postcss-simple-vars) */
@import "config/variables.config.css";

/* Add normalize and general base styles */
@import "tailwindcss/base";
@import "base/default.base.css";
@import "base/typography.base.css";
@import "base/form.base.css";
@import "base/layout.base.css";
@import "base/link.base.css";
@import "base/list.base.css";
@import "base/media.base.css";
@import "base/table.base.css";
@import "base/print.base.css";

/* Import any node assets */
@import "../../node_modules/vueperslides/dist/vueperslides.css";
@import "../../node_modules/tiny-slider/dist/tiny-slider.css";

/* Add styles for specific components */
@import "tailwindcss/components";
@import "components/accordion.component.css";
@import "components/badge.component.css";
@import "components/button.component.css";
@import "components/card.component.css";
@import "components/carousel.component.css";
@import "components/chosen.component.css";
@import "components/icon.component.css";
@import "components/link.component.css";
@import "components/masthead.component.css";
@import "components/message.component.css";
@import "components/meta.component.css";
@import "components/navigation.component.css";
@import "components/tag.component.css";
@import "components/tabcordion.component.css";
@import "components/totop.component.css";
@import "components/throbber.component.css";

/* Add site specific styles */
@import "theme/drupal.theme.css";
@import "theme/custom.theme.css";

/* Add site specific utilities */
@import "utilities/full-bleed.utility.css";
@import "utilities/margin.utility.css";
@import "utilities/rotate.utility.css";
@import "utilities/skip-link.utility.css";
@import "utilities/svg.utility.css";
@import "utilities/text-truncate.utility.css";
@import "utilities/ubc-gradient.utility.css";
@import "utilities/vue.utility.css";

/* Add utility classes last so that they take precedence */
@import "tailwindcss/utilities";

:root {
  --color-primary: #a6192e;
  --color-secondary: #e0e0e0;
  --color-accent: #00a7e1;
  --color-grad--dark: #a6192e;
  --color-grad--mid: #c8102e;
  --color-grad--light: #da291c;
  --leading: 1.625;
  --base-font-size: 1rem;
}

/*
{# APSC #}
--color-primary: #a6192e;
--color-secondary: #e0e0e0;
--color-accent: #003a79;
--color-grad--dark: #002145;
--color-grad--mid: #0055b7;
--color-grad--light: #00a7e1;
{# ENG #}
--color-primary: #a6192e;
--color-secondary: #e0e0e0;
--color-accent: #00a7e1;
--color-grad--dark: #a6192e;
--color-grad--mid: #c8102e;
--color-grad--light: #da291c;
{# Common #}
--leading: 1.625;
--base-font-size: 1rem;
*/

/* match container sizes to CLF7 */
@media (max-width: $breakpoint--clf7-md--max) {

	.container {
		width: 100%;
		max-width: 100%;
	}

}
