// BRANDING
@media (min-width: $breakpoint--md) {
  .sbqmi-texture {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../img/svg/texture-new-01-01.svg');
    background-repeat: no-repeat;
    background-size: 500px;
    width: 500px;
    height: 1000px;
    background-position-x: left;
    background-position-y: 4rem;
  }
}

.sbqmi-logo {
  background-image: url('../img/svg/logo-sbqmi2.svg');
  background-repeat: no-repeat;
  background-position: center center;
  //@apply .bg-white;
}

.ubc-logo {
  background-image: url('../img/svg/logo-ubc-short-01.svg');
  background-repeat: no-repeat;
  background-position: center center;
  @apply .bg-white;
}

.ubc-logo--footer {
  background-image: url('../img/svg/logo-ubc-long.svg');
  background-repeat: no-repeat;
  background-position: top center;
}

@media (min-width: $breakpoint--md) {
  .sbqmi-logo {
    &::after {
      @apply .absolute .block .bg-ubc-blue;
      top: 25%;
      right: 0;
      width: 1px;
      height: 50%;
      content: '';
    }
  }

  .sbqmi-logo,
  .ubc-logo {
    @apply .relative;
    background-size: 200px 200px;
  }

  .page-header {
    @apply .relative;

    &::before {
      @apply .bg-unit-red .block .absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      content: '';
    }
  }

  .page-header__container {
    @apply .mx-auto;
    max-width: 768px;
  }
}

@media (min-width: $breakpoint--lg) {
  .sbqmi-logo,
  .ubc-logo {
    background-size: 240px 240px;
  }

  .page-header__container {
    max-width: 992px;
  }
}

@media (min-width: $breakpoint--xl) {
  .page-header__container {
    max-width: 1200px;
  }
}

// IMAGE STYLES
.image-overlay {
  display: block;
  position: relative;
  background-color: $image-overlay-bg-colour;

  &::before {
    @apply .block .absolute .pin;
    background-color: $image-overlay-screen-colour;
    content: '';
  }
}

// GRADIENTS
.gradient--text-overlay {
  background: linear-gradient(to bottom, $gradient-grey-lighter-opaque 0%, $gradient-grey-opaque 100%);
}

.gradient--image-overlay {
  &::after {
    @apply .block .absolute .pin;
    background: linear-gradient(to bottom, $gradient-grey-transparent 0%, $gradient-grey-intermediate 40%, $gradient-grey-opaque 100%);
    content: '';
  }
}

.gradient--grey-to-transparent {
  background: linear-gradient(to bottom, $gradient-grey-transparent 0%, $gradient-grey-opaque 100%);
}

// page title with texture
.page-title {
  @apply .text-white .bg-unit-grey .p-4 .leading-tight .text-4xl .mt-0 .relative;

  &::before {
    @apply .absolute .pin .block .w-full .h-full;
    opacity: .2;
    background-image: url('../img/svg/texture-new-01-01.svg');
    background-repeat: no-repeat;
    background-size: 150px;
    content: '';
    background-position-x: left;
    background-position-y: -80px;
  }
}

@media (min-width: $breakpoint--md) {
  .page-title {
    @apply .bg-transparent .text-unit-red .text-center;
    margin-top: 3rem;
    line-height: 7.5rem;
    font-size: 6rem;

    &::before {
      display: none;
    }
  }
}

// SUPPORTING CONTENT
.supporting__heading {
  position: relative;

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: .5rem;
    content: '';
  }

  &::before {
    left: -2.5rem;
    background-color: $unit-grey-light;
    width: 1rem;
    height: 1.5rem;
  }

  &::after {
    left: -1.5rem;
    border-top: .75rem solid transparent;
    border-bottom: .75rem solid transparent;
    border-left: .75rem solid $unit-grey-light;
    width: 0;
    height: 0;
  }
}

@media (min-width: $breakpoint--md) {
  .supporting--red {
    .supporting__heading {
      &::before {
        background-color: $unit-red;
      }

      &::after {
        border-left-color: $unit-red;
      }
    }
  }

  .supporting--accent {
    .supporting__heading {
      &::before {
        background-color: $unit-accent;
      }

      &::after {
        border-left-color: $unit-accent;
      }
    }
  }
}

// 'FEATURED' TITLE TREATMENT
.title--featured {
  @apply .bg-white .text-unit-red .uppercase .text-center .relative;
}

@media (min-width: $breakpoint--md) {
  .title--featured {
    &::before,
    &::after {
      display: block;
      position: absolute;
      background-color: $page-title-bg-mobile;
      content: '';
    }

    &::after {
      top: 0;
      left: 0;
      width: calc(100% + .5em);
      height: calc(100% + .5em);
    }

    &::before {
      top: -.5em;
      left: 0;
      width: 100%;
      height: 100%;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }
}
