// -------------------------
// Accordions
// -------------------------


.accordion,
.accordion-formatted {
  @apply .mb-2;
  //margin-bottom: .5rem;
  //border: none;
}

.accordion__tab,
.accordion-tab {
  @apply .relative .py-4 .pl-4 .pr-12;
  overflow: hidden;
  cursor: pointer;
  transition: background-color .125s ease, color .125s ease;
  color: $accordion-trigger-open-text-color;
  background-color: $accordion-trigger-open-background-color;
  border: 1px solid $accordion-trigger-border-color;
  //margin-top: -1px;
  span {
    color: $accordion-trigger-closed-icon-color;
  }
  &:focus {
  outline: 0;
  }
  &:after {
    @apply .absolute .p-2;
    //position: absolute;
    //padding: .4rem;
    //font-size: 1.4rem;
    top: 0;
    right: 1rem;
    height: 100%;
  }
}
.accordion__content,
.accordion-content {
  @apply .pt-6 .px-6 .pb-12;
  background-color: #fff;
  border: none;
  //padding: 1.5rem 1.25rem;
  border-bottom: 1px solid $accordion-trigger-border-color;
  border-left: 1px solid $accordion-trigger-border-color;
  border-right: 1px solid $accordion-trigger-border-color;
  > :last-child {
    margin-bottom: 0;
  }
}


.accordion.accordion--closed .accordion__tab,
.accordion.accordion-closed .accordion-tab {
  color: $accordion-trigger-closed-text-color;
  background-color: $accordion-trigger-closed-background-color;
  &:hover {
    color: $accordion-trigger-hover-text-color;
    background-color: $accordion-trigger-hover-background-color;
  }
}

.accordion .accordion__tab:after,
.accordion .accordion-tab:after {
  // add 'angle-up' icon - see http://fontawesome.github.io/Font-Awesome/3.2.1/icons/ for alternates (click on icon to find unicode)
  //font-family: $icon-font-family;
  //content: $accordion-open-icon;
  content: '';
  background-image: url('../img/svg/close.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $accordion-trigger-open-icon-color;
  transform: rotate(90deg);
  transition: transform .125s ease;
}
.accordion.accordion--closed .accordion__tab:after,
.accordion.accordion-closed .accordion-tab:after {
  // add 'angle-down' icon - see http://fontawesome.github.io/Font-Awesome/3.2.1/icons/ for alternates (click on icon to find unicode)
  //content: $accordion-closed-icon;
  color: $accordion-trigger-closed-icon-color;
  transform: rotate(45deg);
}
.accordion.accordion--closed .accordion__tab:hover:after,
.accordion.accordion-closed .accordion-tab:hover:after {
  color: $accordion-trigger-hover-icon-color;
}

.js .accordion--closed .accordion__content,
.js .accordion-closed .accordion-content { display: none; }
