// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------
// CARDS

.card-small__heading {
  padding: .6rem 4.25rem .5rem 1rem;
  height: 4.25rem;

  &::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $unit-accent-dark;
    width: 100%;
    height: 4.25rem;
    content: '';
  }

  &::after {
    display: block;
    position: absolute;
    bottom: 4.25rem;
    left: 0;
    background: linear-gradient(to bottom, $gradient-grey-transparent 0%, $gradient-grey-opaque 100%);
    width: 100%;
    height: 2.5rem;
    content: '';
  }
}

.card-small__heading--alternate {
  &::after {
    display: none;
  }
}

.card-small__reveal {
  transition: opacity .15s ease-out, transform .15s ease-out, background-color .15s ease-out;
  opacity: 0;
}

.card-small__content,
.card-small__content--dark {
  transition: opacity .15s ease-out, background-color .15s ease-out;
}

.card-small {
  &:hover {
    .card-small__reveal {
      transform: translateY(1rem);
      transition: opacity .15s ease-out, transform .15s ease-out, background-color .15s ease-out;
      opacity: 1;
    }

    .card-small__content {
      opacity: 1;
      background-color: $gradient-grey-lighter-intermediate;
    }

    .card-small__content--dark {
      opacity: 1;
      background-color: $gradient-grey-intermediate-dark;
    }
  }
}


.card__image {
  position: relative;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, $gradient-grey-opaque 0%, $gradient-grey-transparent 30%);
    width: 100%;
    height: 100%;
    content: '';
  }
}

@media (min-width: $breakpoint--md) {
  .card__image {
    &::after {
      background: none;
    }
  }
}

.md--flex .card--home {

  &:nth-child(1) {
    @apply .border-b-4 .border-unit-red;
    background-color: $card-red-background-color;

    .flex {
      background-size: cover;
      background-image: url('../img/bg-card-texture_1.png');
    }

    .unit-button {
      border: 1px solid $unit-red;
      background-color: $unit-red;
      color: $white;

      &:hover {
        background-color: darken($unit-red, 10%);
        text-decoration: none;
      }
    }
  }
  &:nth-child(2) {
    @apply .border-b-4 .border-unit-grey;
    background-color: $card-grey-background-color;

    .flex {
      background-size: cover;
      background-image: url('../img/bg-card-texture_2.png');
    }

    .unit-button {
      border: 1px solid $unit-grey;
      background-color: $unit-grey;
      color: $white;

      &:hover {
        background-color: darken($unit-grey, 10%);
        text-decoration: none;
      }
    }
  }
  &:nth-child(3) {
    @apply .border-b-4 .border-ubc-blue;
    background-color: $card-blue-background-color;

    .flex {
      background-size: cover;
      background-image: url('../img/bg-card-texture_3.png');
    }

    .unit-button {
      border: 1px solid $ubc-blue;
      background-color: $ubc-blue;
      color: $white;

      &:hover {
        background-color: darken($ubc-blue, 10%);
        text-decoration: none;
      }
    }
  }
}

.card--home {
  .card__content {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
  }
}

.card__morelink {
  @apply .text-right .pin-b .pin-r .absolute;
}
