// -----------------------------------------------------------------------------
// This file contains all styles related to navigation.
// -----------------------------------------------------------------------------
// NAVIGATION
.primary-nav--trigger {
  padding-right: 2.5rem;
  &:hover {
    @apply .bg-ubc-blue;
  }
}

.hamburger-icon {
  top: -.5em;
}

.primary-nav--dropdown {
  margin-top: 50px !important;
}

@media (min-width: $breakpoint--md) {
  .primary-nav--dropdown {
    margin-top: 96px !important;
  }
}

// LINK STYLES
.navlink--primary,
.navlink--secondary {
  @apply .no-underline .block .px-4 .py-2 .border-b .text-sm .relative;

  &:hover {
    @apply .no-underline .bg-ubc-blue .text-white;
  }
}

.navlink--secondary {
  @apply .text-base .bg-white .text-unit-grey .border-unit-grey .pr-14;

  &:hover {

    &::after {
      color: $white;
    }
  }

  &.active-trail {
    +.children {
      display: block;
    }
  }

  .subnav-arrow {
    display: inline-block;
    position: absolute;
    top: .25rem;
    right: 1rem;
    transition: transform .125s ease;
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    .subnav-arrow {
      transform: translateX(.5rem);
    }
  }
}


ul {
  ul {
    .navlink--primary {
      @apply .no-underline .block .text-unit-grey .px-4 .py-2 .border-b .border-unit-grey .text-xs;

      &:hover {
        @apply .no-underline .text-white .border-ubc-blue .bg-ubc-blue;
      }

      &.active {
        @apply .border-ubc-blue .bg-ubc-blue .text-white;
      }
    }
    .navlink--secondary {
      @apply .block .relative .border-unit-grey .text-unit-grey .border-b .px-4 .py-2 .text-xs;

      &:hover {
        @apply .bg-unit-grey .border-unit-grey .text-white .no-underline;
      }

      &.active {
        @apply .border-ubc-blue .bg-ubc-blue;
      }
    }
  }
}

// HIDE / SHOW SUBNAV ITEMS
.children {
  display: none;
}

.navlink--primary {
  @apply .text-white .border-white;

  &.active {
    @apply .border-ubc-blue .bg-ubc-blue;
  }


}

.subnav-trigger {
  //padding-right: 4em;
  @apply .absolute .inline-block .h-full .pr-4 .pin-r .pin-t .z-10;
  width: 2.5em;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../img/svg/chevron-white-01.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    width: 2.5em;
    height: 100%;
    content: '';
    background-position-x: left;
    background-position-y: center;
  }

  &:hover::after {
    cursor: pointer;
  }

  &.active {
    &::after {
      transform: rotate(180deg);
      background-position-x: right;
    }
  }
}

// FOOTER LINKS
/* purgecss ignore */
.navlink--footer,
/* purgecss ignore */
.menu-block-1 a {
  @apply .text-unit-accent-dark .no-underline .block;
}

/* purgecss ignore */
.navlink--footer:hover,
/* purgecss ignore */
.menu-block-1 a:hover {
  @apply .underline;
}


// PIPED LINKS FOR FOOTER / BREADCRUMBS
.piped {
  position: relative;
  padding-right: 3em;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 1em;
    content: '|';
  }

  &--grey {
    &::after {
      color: $unit-grey;
    }
  }
}

.link--more {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  text-decoration: none;
  color: $unit-grey-dark;

  &:hover {
    color: $unit-red;

    &::after {
      color: $unit-grey-dark;
    }
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.25;
    width: 1.5rem;
    height: 1.5rem;
    color: $unit-red;
    content: '> >';
  }
}

// DRUPAL PAGER
.pager {
  @apply .flex .justify-center .mt-4;
  list-style: none;
  padding: 0;

  li {
    @apply .ml-0;
  }

  a {
    @apply .block .py-2 .px-4 .border .border-white .bg-unit-grey-light .text-unit-accent-dark .text-sm;

    &:hover {
      @apply .no-underline .bg-unit-grey-dark .text-white;
    }
  }

  .pager-current {
    @apply .block .py-2 .px-4 .border .border-white .bg-ubc-blue .font-bold .text-white .text-sm;
  }
}
