<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% include "../includes/head.twig" %}
</head>
<body>
  <div class="container">
    {% include "../includes/header--fixed-width.twig" %}
    {% include "../includes/menu--fixed-width.twig" %}
    {% block content %}{% endblock %}
    {% include "../includes/footer--fixed-width.twig" %}
  </div>
  {% include "../includes/scripts.twig" %}
</body>
</html>
