{# CONFIG #}
{% set unitName = "UBC Information Technology" %}
{% set siteURL = "it.ubc.ca" %}
{% set facultyName = "" %}
{% set campus = '' %}
{% set clfversion = 7 %}
{% set clf_sticky = TRUE %}

<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ title }} | {{ unitName }}</title>
	{% include "../includes/head.twig" %}
	{% block custom_css %}{% endblock %}
	<style>
		#ubc7-unit { background-color: var(--color-primary); }
	</style>
</head>

<body class="overflow-x-hidden layout--full-width js-bootstrap">
	<div id="main-content">
		{% if clfversion == 7 %}
			{% include "../includes/header--clf7.twig" %}
		{% else %}
			{% include "../includes/header.twig" %}
		{% endif %}
		{% block masthead %}{% endblock %}
		<main class="unit-content">
			<div class="container px-5 mx-auto md--px-4 md--grid md--gap-x-8 md--grid-cols-12">
				{% if showTitle %}
				<div class="md--col-span-full">
					<h1>{{ pageTitle }}</h1>
				</div>
				{% endif %}
				<div class="md--col-span-10 md--col-start-2 lg--col-span-8 lg--col-start-3">
					{% block content %}{% endblock %}
				</div>
			</div>
			{% block areab %}{% endblock %}
			{% block areac %}{% endblock %}
			{% block aread %}{% endblock %}
		</main>

		{% block prefooter %}{% endblock %}
		<footer>
			{% if clfversion == 7 %}
				{% include "../includes/footer--unit.twig" %}
				{% include "../includes/footer--clf7.twig" %}
			{% else %}
				{% include "../includes/footer--unit.twig" %}
				{% include "../includes/footer.twig" %}
			{% endif %}
		</footer>
		<div id="totop-mask"></div>
		<button id="totop" v-scroll-to="{ el: 'body'}"><span class="sr-only">to top</span>
<svg role="img" class="inline-block w-8 h-8 rotate-90 text-ubc-blue">
    <use xlink:href="#icon-arrow"></use>
  </svg></button>
	</div>
	{% include "../includes/svg.twig" %}
	{% include "../includes/scripts.twig" %}
	{% block custom_javascript %}{% endblock %}
</body>

</html>
