{# CONFIG #}
{% set unitName = "APSC / ENG" %}
{% set siteURL = "apsc.ubc.ca" %}
{% set facultyName = "" %}
{% set campus = 'vancouver' %}
{% set slideshow = FALSE %}
{% set clfversion = 7 %}
{% set clf_sticky = TRUE %}

<!doctype html>
<html class="overflow-x-hidden no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ title }} | {{ unitName }}</title>
	{% include "../includes/head.twig" %}
	{% block custom_css %}{% endblock %}
	<style>
		#ubc7-unit { background-color: var(--color-primary); }
	</style>
</head>

<body class="layout--full-width">
	<div id="main-content">
		{% if clfversion == 7 %}
			{% include "../includes/header--clf7.twig" %}
		{% else %}
			{% include "../includes/header.twig" %}
		{% endif %}
		{% block masthead %}{% endblock %}
		<main class="unit-content">
			<div class="container p-4 mx-auto">
				{% if showTitle %}
        	<h1>{{ pageTitle }}</h1>
				{% endif %}
				<div class="pb-4 grid-container grid-container--home">
					<div class="grid-area-a meta meta__bg meta--blue">
						{% block content %}{% endblock %}
					</div>
          <div class="grid-area-b">
					{% block areab %}{% endblock %}
          </div>
					<div class="grid-area-c">
						{% block areac %}{% endblock %}
					</div>
					<div class="grid-area-d md--flex md---mx-4 md--flex-wrap">
						{% block aread %}{% endblock %}
					</div>
          <div class="mt-8 grid-area-e">
						{% block areae %}{% endblock %}
					</div>
          <div class="grid-area-f md--flex md---mx-4">
						{% block areaf %}{% endblock %}
					</div>
				</div>
			</div>
		</main>
		{% block prefooter %}{% endblock %}
		<footer>
			{% if clfversion == 7 %}
				{% include "../includes/footer--unit.twig" %}
				{% include "../includes/footer--clf7.twig" %}
			{% else %}
				{% include "../includes/footer--unit.twig" %}
				{% include "../includes/footer.twig" %}
			{% endif %}
		</footer>
		<div id="totop-mask"></div>
		<button id="totop" v-scroll-to="{ el: 'body'}">to top</button>
	</div>
	{% include "../includes/svg.twig" %}
	{% include "../includes/scripts.twig" %}
	{% block custom_javascript %}{% endblock %}
</body>

</html>
