<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% include "../includes/head.twig" %}
    <link rel="stylesheet" href="css/navigation--push-nav.min.css">
</head>
<body class="full-width">
  <div id="pushed-content" class="nav-panel--push-left">
  {% include "../includes/header.twig" %}
  {% include "../includes/menu--off-canvas-nav-trigger.twig" %}
  {% block content %}{% endblock %}
  {% include "../includes/footer.twig" %}
  </div>
  <section id="nav-panel--primary" class="menu nav-panel--push-left">
    {% include "../includes/menu--off-canvas-nav.twig" %}
  </section>
  <div id="off-canvas-mask" class="nav-toggle--primary"></div>
  {% include "../includes/scripts.twig" %}
  {% include "../includes/scripts--off-canvas-nav.twig" %}
</body>
</html>
