// -----------------------------------------------------------------------------
// This file contains all default application-wide Sass and CSS3 variables.
// -----------------------------------------------------------------------------
/// Regular font family
//$text-font-stack: 'Open Sans',
//'Helvetica Neue Light',
//'Helvetica Neue',
//'Helvetica',
//'Arial',
//sans-serif !default;
$text-font-stack: 'Whitney SSm A',
'Whitney SSm B',
'Arial',
sans-serif !default;

// Serif font family
$serif-font-stack: 'Stag Web', serif;

// Code (monospace) font family
$code-font-stack: 'Courier New',
'DejaVu Sans Mono',
'Bitstream Vera Sans Mono',
'Monaco',
monospace !default;

// Type Variables
// From Typebase.scss v0.1.0 | https://github.com/devinhunt/typebase.css/blob/master/src/typebase.scss
$base-font-size: 16 !default; // as an integer. We convert the unit later. The default will result in 16px on desktop
$base-line-height: 1.5 !default; // as an integer. Defines how high the line height is as a multiple of font size.
$leading: $base-line-height * 1rem !default; // multiply the line height and add a unit. Defaults to rem.
$default-typeface: $text-font-stack !default;
$alternate-typeface: $serif-font-stack !default;

// TYPE SCALES:
// 1.067 Minor Second
// 1.125 Major Second
// 1.200 Minor Third
// 1.250 Major Third
// 1.333 Perfect Fourth
// 1.414 Augmented Fourth
// 1.500 Perfect Fifth
// 1.618 Golden Ratio
$scale: 1.2;

// TYPE WEIGHTS
$h1-weight: 400;
$h2-weight: 400;
$h3-weight: 700;
$h4-weight: 700;
$h5-weight: 700;
$h6-weight: 700;

// Preference is given to HSLA format
// Online color converter: https://www.w3schools.com/colors/colors_converter.asp
$white: #fff;
$black: #000;
$unit-green: #78be20;
$unit-green-light: lighten($unit-green, 10%);
$unit-green-dark: darken($unit-green, 10%);
$unit-blue: #00b5e2;
$unit-blue-light: lighten($unit-blue, 10%);
$unit-blue-dark: darken($unit-blue, 10%);
$ubc-blue: #002145;
$unit-grey-darker: #2f353a;
$unit-grey-dark: #444d54;
$unit-grey: #5b6770;
$unit-grey-light: #6e777e;
$unit-grey-lighter: #e7e8ea;
$unit-grey-lighter-alt: #f0f1f2;
$unit-grey-light-alt: #e4e5e6;
$form-required-color: #550000;

$semitrans-blue: rgba($ubc-blue, .85);
$semitrans-green: rgba($unit-green, .85);

$light-grey: #ccc;
/// Copy text color
$text-color: $unit-grey-darker !default;

$box-shadow-color: rgba(0, 0, 0, .2);
$box-shadow-color-light: rgba(0, 0, 0, .075);
$form-focus-color: rgba(82, 168, 236, .6);
$form-focus-border-color: rgba(82,168,236,0.8);
$image-overlay-bg-colour: rgba(69, 69, 69, 1);
$image-overlay-screen-colour: rgba(125, 134, 140, .2);
$page-title-bg-mobile: rgba(255, 255, 255, .5);
$button-tranparent-hover-bg-colour: rgba(255, 255, 255, .2);

// Gradient Colours
// GRADIENTS
$gradient-image-overlay-bottom: linear-gradient(to top, $unit-grey-darker 0%,rgba($unit-grey-darker, 0) 100%);
$gradient-image-overlay-right: linear-gradient(to left, $unit-grey-darker 0%, rgba($unit-grey-darker, 0) 100%);
$gradient-grey-transparent: rgba(69, 69, 69, 0);
$gradient-grey-intermediate: rgba(69, 69, 69, .6);
$gradient-grey-intermediate-dark: rgba(69, 69, 69, .8);
$gradient-grey-opaque: rgba(69, 69, 69, 1);
$gradient-grey-lighter-opaque: rgba(125, 134, 140, 1);
$gradient-grey-lighter-intermediate: rgba(125, 134, 140, .5);

// Card Background Colours
$card-red-background-color: #f4eeee;
$card-grey-background-color: #f5f5f6;
$card-blue-background-color: #ecedf0;

/// Breakpoints map
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 980px;
$breakpoint--xl: 1200px;

$breakpoint--xs--max: $breakpoint--sm - 1px;
$breakpoint--sm--max: $breakpoint--md - 1px;
$breakpoint--md--max: $breakpoint--lg - 1px;
$breakpoint--lg--max: $breakpoint--xl - 1px;


/// CSS Variables
/// Added here so we are able to use them throughout the cascade.
// https://github.com/sasstools/sass-lint/issues/877
// ugly hack to get around sass-lint not understanding css variables.

// :root {
//   #{--unit-red}: #b22029;
//   #{--ubc-blue}: #002145;
//   #{--unit-grey-dark}: #5b6267;
//   #{--unit-grey}: #7d868c;
//   #{--unit-grey-light}: #d6d6d8;
//   #{--unit-accentr}: #90c9cb;
//   #{--unit-accent-dark}: #454545;
// }
