/* FEATURED CONTENT
-------------------------------------------------- */

/* 

  Featured Content Utilizing Flexslider markup for ease of integration
  
  FLEXSLIDER DOCS: 
  --------------------------------------------------
  
    http://www.woothemes.com/flexslider/
  
  SLIDESHOW SAMPLE MARKUP:
  --------------------------------------------------
      
    <div id="my-carousel" class="flexslider featured-content" role="complementary" aria-label="promotions">
      <ul class="slides">
        <li>
          <a href="yourimagelink" title="your link title"><img src="img/slide3.jpg" alt="alternate text" /></a>
          <div class="flex-caption">
            <h4>It was in the midst of this repose.</h4>
            <p>
              <a href="yourlink" title="your link title">One of the cordon, whose post was near the after-hatches, whispered to his neighbor, a Cholo, the words above.</a>
            </p>
          </div>
        </li>
        <li>
          <a href="yourimagelink" title="your link title"><img src="img/slide1.jpg" alt="alternate text" /></a>
          <div class="flex-caption">
            <h4>Gilded velvets of butterflies</h4>
            <p>
              <a href="yourlink" title="your link title">Thus, then, the muffled rollings of a milky sea; the bleak rustlings of the festooned frosts of mountains.</a>
            </p>
          </div>
        </li>
      </ul>
    </div>
  
  
  SLIDESHOW JS - in custom.js
  --------------------------------------------------
  
    $('.flexslider').flexslider(); // selector may need to be more specific if more than one slideshow instance is on a page
  
  
  FEATURED CONTENT MARKUP (NO SLIDESHOW)
  --------------------------------------------------
  
    <div class="featured-content" role="complementary" aria-label="promotions">
      <ul class="slide">
        <li>
          <a href="yourimagelink" title="your link title"><img src="img/slide3.jpg" alt="alternate text" /></a>
          <div class="flex-caption">
            <h4>It was in the midst of this repose.</h4>
            <p>
              <a href="yourlink" title="your link title">One of the cordon, whose post was near the after-hatches, whispered to his neighbor, a Cholo, the words above.</a>
            </p>
          </div>
        </li>
      </ul>
    </div>
    
  
  VARIABLES
  --------------------------------------------------
  @unit-primary: used for the caption background colour [when 'dark' variant is used] and the pager dots
  
    
  ALTERNATE STYLES FOR FEATURED CONTENT
  --------------------------------------------------
  .narrow (usage class="featured-content narrow") - allows captions to flow more naturally on smaller view areas (when there is a sidebar for example)
  .right (usage class="flex-caption right") - move caption area to the right
  .dark (usage class="flex-caption dark") - set caption background to a darker colour
  
*/
  
.flexslider {
  border: none;
  border-radius: 0;
  margin: 0 0 40px;
  box-shadow: none;
}

/* FLEXSLIDER PAGING CONTROLS */
.flex-control-paging li a.flex-active { 
  background: @unit-primary; 
  //background: rgba(148, 62, 127,0.9); 
}

/* DEFAULT FEATURED CONTENT 
- used in slideshows and feature content areas */
.featured-content {
  .slide {
    margin: 0;
    list-style: none;
  }
  .container {
    //position: relative;
    margin: auto;
  }
  .flex-caption {
    position: absolute;
    bottom: 0;
    //left: 0;
    width: 100%;
    //max-width: 60%;
    //background-color: rgba(255,255,255,.9);
    padding: 5em 1.5em 1.5em;
    // adjust line height of title
    h2 {
      line-height: 1.1em;
      margin-top: .25em;
      margin-bottom: 0;
    }
    p {
      margin-bottom: .5em;
    }
    // add a .dark class to reverse the caption colour
    &.dark {
      background-color: @unit-primary;
      //background-color: @ubcBlueRGBA90;
    }
    &.dark,
    &.dark h2,
    &.dark a {
      color: white;
    }
    // add a class to caption to move to the right of the featured area
    &.right {
      left: auto;
      right: 0;
    }
  }
} 

.featured-content .flex-caption {
  background-image: url(../../img/image-screen.png);
  background-repeat: y;
}
  
/* MOVE THE CAPTION AREA BELOW THE SLIDES */ 
@media screen and (max-width: @slideshow-mq-max) {
  .featured-content .flex-caption {
    background-image: none;
    position: relative;
    max-width: 100%;
    padding: 1em;
    bottom: 0;
    p {
      color: @text-color;
    }
  }
  .featured.non-clf h1 {
    margin-top: 0;
    color: @unit-primary !important;
  }
}

/* ALTERNATE STYLE WHERE CAPTION IS BELOW IMAGE SOONER */
@media screen and (max-width: @screen-md-max) {
  .featured-content.narrow .flex-caption {
    position: relative;
    max-width: 90%;
    margin-left: 5%;
    margin-top: -2em;
    bottom: 0;
  }
}