// import base styles

@import "_featured-content-image.less";

/* FEATURED CONTENT IMAGE
-------------------------------------------------- */

/*

  SAMPLE MARKUP:
  --------------------------------------------------
  
    - see components-featured-content--image.less  
  
*/

.featured-content-image__caption .unit-theme-none {
  background-color: fade(white, 70%);
}
.featured-content-image__caption .unit-theme-one {
  background-color: fade(@unit-theme-one, 70%);
}
.featured-content-image__caption .unit-theme-two {
  background-color: fade(@unit-theme-two, 70%);
}
.featured-content-image__caption .unit-theme-three {
  background-color: fade(@unit-theme-three, 70%);
}
.featured-content-image__caption .unit-theme-four {
  background-color: fade(@unit-theme-four, 70%);
}
.featured-content-image__caption .unit-theme-five {
  background-color: fade(@unit-theme-five, 70%);
}
