section.featured-content-image.non-clf(role="complementary" aria-label="promotions")
    img(src="img/prototype/demo-short1.jpg" alt="alternate text")
    div.featured-content-image__caption
      div.container
        div.row
          div.col-md-8.unit-theme-none
            div.featured-content-image__subheading Conversations in Wellbeing
            h1.featured-content-image__heading.h3 Dr. Joan Botorff
