section.featured.non-clf
  div.flexslider.featured-content.wow.fadeIn(data-wow-duration=".25s" role="complementary" aria-label="promotions" style="animation-delay: 50ms;")
    ul.slides(style="list-style:none;margin: 0")
      li
        div
          a(href="#" title="your link title")
            img(src="img/prototype/homepage_hero.jpg" alt="alternate text")
        
        div.flex-caption.left
          div.container
            div.row
              div.col-md-8
                h1 SASF RFP Shortlisted Vendors.
                p 
                  | Janet Werker&rsquo;s award-winning research into how infants learn to talk sheds new light on how we all communicate.
                p
                  a.btn.btn-unit.btn-unit-alt.smoothscroll(href="#initiatives") Find out more
                  
        li
          div
            a(href="#" title="your link title")
              img(src="img/prototype/homepage_hero.jpg" alt="alternate text")
          
          div.flex-caption.left
            div.container
              div.row
                div.col-md-8
                  h1 Different title.
                  p 
                    | Something happened that was really great and you really need to hear about it.
                  p
                    a.btn.btn-unit.btn-unit-alt.smoothscroll(href="#initiatives") See the latest
      