section.featured.non-clf
  div.featured-content(role="complementary" aria-label="promotions")
    img(src="img/prototype/demo-short1.jpg" alt="alternate text")
    h1.featured-content__heading.h3 UBC Wellbeing
