section.featured-content-image.non-clf(role="complementary" aria-label="promotions")
    img(src="img/prototype/demo-short1.jpg" alt="alternate text")
    div.featured-content-image__caption
      div.container
        div.row
          div.col-md-8.col-md-offset-4.unit-theme-three
            div.featured-content-image__subheading UBC Wellbeing
            h1.featured-content-image__heading.h3 Food and Nutrition
