section.featured.non-clf
  div.flexslider.featured-content.featured-content--thumbs(role="complementary" aria-label="promotions" style="animation-delay: 50ms;")
    ul.slides.clearfix(style="list-style:none;margin: 0")
      li(data-thumb="img/prototype/demo-med1.jpg")
        div
          img(src="img/prototype/demo-huge1.jpg" alt="alternate text")
        
        div.flex-caption.left
          div.container
            div.row
              div.col-md-6
                h3 SASF RFP Shortlisted Vendors.
                p Janet Werker&rsquo;s award-winning research into how infants learn to talk sheds new light on how we all communicate.
                
                  
        li(data-thumb="img/prototype/demo-med2.jpg")
          div
            img(src="img/prototype/demo-huge2.jpg" alt="alternate text")
          
          div.flex-caption.left
            div.container
              div.row
                div.col-md-6
                  h3 Different title.
                  p Something happened that was really great and you really need to hear about it.
      