/* UNIT STYLES

All styles specific to the site */
#ubc7-unit {
  background-color: @ubc-blue;
}
.bg--light {
  background-color: @unit-accent-light;
}
.bg--dark {
  background-color: @ubc-blue;
}
.background__dark-grey {
  background-color: fade(@unit-accent-dark, 90%);
}
.background__grey {
  background-color: @unit-light-grey;
}
.background__light-grey,
.background--light-grey {
  background-color: @unit-lightest-grey;
}
.background__transparent {
  background-color: fade(white, 80%);
}