/* UNIT VARIABLES
-------------------------------------------------- */

/*
    This file is intended to interrupt default variables and replace them before they are processed. This can also be done ad hoc within a specific .less file if required.

		Contents:
		- MEDIA QUERIES AND GRID
		- BASE TYPE AND COLOURS
		- TYPOGRAPHY
		- COLOURS
		- BORDER RADIUS
		- ICONS
		- COMPONENTS
			- Accordions
			- Blockquotes
      - Breadcrumbs
      - Buttons
			- Cards
      - Datepicker
      - Forms
      - Horizontal Rules
      - Lists
      - Navigation
      - Tables
      - Tabs
*/


// MEDIA QUERIES AND GRID
// -------------------------

// Super Small Screen / Phone
@screen-ss:                  320px;
@screen-ss-min:              @screen-ss;
@screen-mini:                @screen-ss-min;
// Extra Small Screen / Phone
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;
// Small Screen / Tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;
// Medium Screen / Desktop
@screen-md:                  980px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;
// Large Screen / Wide Desktop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;
// So media queries don't overlap when required, provide a maximum
@screen-ss-max:              (@screen-xs-min - 1);
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
// Grid Defaults
@grid-columns:              12;
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
// Container: Small screen / tablet
@container-tablet:             (100%);
@container-sm:                 @container-tablet;
// Container: Medium screen / desktop
@container-desktop:            (940px);
@container-md:                 @container-desktop;
// Container: Large screen / wide desktop
@container-large-desktop:      (1170px);
@container-lg:                 @container-large-desktop;
// Media Query for Slideshows
@slideshow-mq-sm:               859px;
@slideshow-mq-min:              860px;
@slideshow-mq-max:              @slideshow-mq-min;


// BASE TYPE AND COLOURS
// -------------------------
@sans-font-family:         'Whitney SSm A', 'Whitney SSm B', Arial, 'Helvetica Neue', sans-serif;
@clf-font-family:          Arial, 'Helvetica Neue', Helvetica, sans-serif;
@icon-font-family:         'fontawesome';
@body-bg:                  #fff;
@content-bg:               @white;
@text-color:               @unit-accent-dark;
@text-muted:               @unit-accent-lighter;
@component-active-color:   #fff;
@component-active-bg:      @brand-primary;
@brand-primary:            @unit-primary;
// Link Colours
@link-color:               @unit-primary;
@link-color-hover:         #000;


// TYPOGRAPHY
// -------------------------
// Assign desktop sizes and we will use a LESS calculation to adjust the values for smaller viewports
@font-size-base:           15px;
@base-line-height:         24px;
@h1-font-weight:         400;
@h1-font-size:           48px;
@h1-line-height:         56px;
@h2-font-weight:         600;
@h2-font-size:           30px;
@h2-line-height:         40px;
@h3-font-weight:         400;
@h3-font-size:           30px;
@h3-line-height:         40px;
@h4-font-weight:         600;
@h4-font-size:           20px;
@h4-line-height:         24px;
@h5-font-weight:         600;
@h5-font-size:           15px;
@h5-line-height:         24px;
@h6-font-weight:         600;
@h6-font-size:           15px;
@h6-line-height:         24px;
@lead-text-font-weight:  400;
@lead-text-font-size:    24px;
@lead-text-line-height:  1.5em;
//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px


// COLOURS
// -------------------------

// UBC Colours
@ubc-blue:              #002145;
@ubc-grey:              #2f5d7c;
@ubc-light-grey:        #5e869f;
@ubc-lighter-grey:      #98b2c3;
@ubc-silver-grey:       #c3d0d8;
@ubc-silver:            #d7e0e7;
// Grays
@black:                 #000;
@gray-darker:           #222;
@gray-dark:             #333;
@gray:                  #555;
@gray-light:            #999;
@gray-lighter:          #eee;
@white:                 #fff;
// Theme Colours
@unit-primary:          #007296;
@unit-primary-light:    #00a8e1;
@unit-primary-lighter:  #40b4e5;
@unit-primary-lightest: @unit-primary-lighter;
@unit-secondary:        #275b8d;
@unit-secondary-light:  #3d79b7;
@unit-secondary-lighter:#bbd0e6;
@unit-tertiary:         #3d79b7;
@unit-accent:           #585858;
@unit-accent-dark:      #000;
@unit-accent-light:     #f7f8fa;
@unit-accent-lighter:   #ccc;
@unit-text-light:       @unit-accent-lighter;
@unit-light-grey:       #ccc;
@unit-lightest-grey:    #ededed;
// Alert Colours
@unit-warning:          #f39c12;
@unit-danger:           #e74c3c;
@unit-error:            #e74c3c;
@unit-success:          #18bc9c;
@unit-info:             #3498db;
@unit-status:           #3498db;


// BORDER RADIUS
// -------------------------
@border-radius-large:     4px;
@border-radius-small:     3px;
// Buttons
@btn-border-radius:       0;
@btn-border-radius-large: 0;
@btn-border-radius-small: 0;
// Pager
@pager-border-radius:     0;


// ICONS
// -------------------------
// adding them as variables for easy replacement
// NAV
@home-icon:       '\F015';
@subnav--icon:    '\f054';
@sidenav__icon:    '\f106';
@sidenav__icon--expanded:    '\f107';
@sidenav__icon--collapsed:    '\f105';
// BUTTONS
@unit-btn--icon:    '\f054';
@unit-btn--icon--reverse: '\f053';
@unit-btn--plain-icon:    '\f105';
// ACCORDION
@accordion-open-icon:   '\f106';
@accordion-closed-icon:   '\f107';
// CHECKLISTS
@checklist-ol-icon: '\f058';
@checklist-ul-icon: '\f058';
// DATEPICKER
@datepicker-prev-icon:   '\F053';
@datepicker-next-icon:   '\F054';
// CUSTOM
@search-icon:   '\F002';
@quicklinks-icon:   '\F0C1';
@external-link-icon:   '\F08E';


// -------------------------
// COMPONENTS
// -------------------------

// Accordions
// -------------------------
@accordion-trigger-open-text-color:   #fff;
@accordion-trigger-closed-text-color:   @ubc-blue;
@accordion-trigger-hover-text-color:   #fff;
@accordion-trigger-open-background-color:   @ubc-blue;
@accordion-trigger-closed-background-color:   #fff;
@accordion-trigger-hover-background-color:   @unit-primary;
@accordion-trigger-border-color: #ccc;
// for icons, see Icon section


// Blockquotes
// -------------------------
@blockquote-border: @text-muted;
@blockquote-text: @unit-accent;
@blockquote-cite-text: @unit-accent-dark;


// Breadcrumbs
// -------------------------
@breadcrumb-bg:         #fff;
@breadcrumb-separator:  "|";
@breadcrumb-padding-horizontal: 15px;


// Buttons (specific to unit)
// -------------------------
@unit-btn--border-width:          1px;
@unit-btn--color:                 @ubc-blue;
@unit-btn--background-color:      #fff;
@unit-btn--border-color:          @ubc-blue;
@unit-btn--color_hover:           #fff;
@unit-btn--background-color_hover:@ubc-blue;
@unit-btn--border-color_hover:    @ubc-blue;
// reverse buttons
@unit-btn-reverse--color:                 #fff;
@unit-btn-reverse--background-color:      @ubc-blue;
@unit-btn-reverse--border-color:          @ubc-blue;
@unit-btn-reverse--color_hover:           @ubc-blue;
@unit-btn-reverse--background-color_hover:#fff;
@unit-btn-reverse--border-color_hover:    @ubc-blue;
// alernate buttons
@unit-btn-alt--color:                     @ubc-blue;
@unit-btn-alt--background-color:          #fff;
@unit-btn-alt--border-color:              @ubc-blue;
@unit-btn-alt--color_hover:               #fff;
@unit-btn-alt--background-color_hover:    @ubc-blue;
@unit-btn-alt--border-color_hover:        @ubc-blue;
// reverse buttons
@unit-btn-secondary-reverse--color:         @unit-secondary;
@unit-btn-secondary-reverse--background-color:         @unit-secondary;
@unit-btn-secondary-reverse--border-color:         @unit-secondary;
@unit-btn-secondary-reverse--color_hover:         @unit-secondary;
@unit-btn-secondary-reverse--background-color_hover:         @unit-secondary;
@unit-btn-secondary-reverse--border-color_hover:         @unit-secondary;
// alernate buttons
@unit-btn-secondary-alt--color:         @unit-secondary;
@unit-btn-secondary-alt--background-color:         @unit-secondary;
@unit-btn-secondary-alt--border-color:         @unit-secondary;
@unit-btn-secondary-alt--color_hover:         @unit-secondary;
@unit-btn-secondary-alt--background-color_hover:         @unit-secondary;
@unit-btn-secondary-alt--border-color_hover:         @unit-secondary;
// plain button - usually just text color
@unit-btn-plain--color:                   @unit-primary;
@unit-btn-plain--hover-color:             @unit-accent;
// for icons, see Icon section


// Cards
// -------------------------
@card-border-radius:   @border-radius-small;
@datepicker-text-color: #555;
@datepicker-hover-background-color: #eee;
@datepicker-active-background-color: #ddd;
// for icons, see Icon section


// Datepicker
// -------------------------
@datepicker-border-color:   #66AFE9;
@datepicker-text-color: #555;
@datepicker-hover-background-color: #eee;
@datepicker-active-background-color: #ddd;
// for icons, see Icon section


// Forms
// -------------------------
@input-color:                    @text-color;
@input-border:                   @unit-light-grey;
@input-border-focus:             @unit-primary;
@input-border-radius:            0;
@input-border-radius-large:      @border-radius-large;
@input-border-radius-small:      @border-radius-small;
// for icons, see Icon section


// Horizontal Rules
// -------------------------
@horizontal-rule-color:          @unit-primary;


// Lists
// -------------------------
@checklist-icon-color: @unit-primary;
// for icons, see Icon section
//** Background color on `.list-group-item`
@list-group-bg:                 #fff;
//** `.list-group-item` border color
@list-group-border:             #ddd;
//** List group border radius
@list-group-border-radius:      @btn-border-radius;
@list-group-heading-color:      white;
@list-group-heading-bg:         @unit-primary;
@list-group-heading-border:     lighten(@unit-primary, 5%);
//** Background color of single list elements on hover
@list-group-hover-bg:           #f5f5f5;
//** Text color of active list elements
@list-group-active-color:       @component-active-color;
//** Background color of active list elements
@list-group-active-bg:          @component-active-bg;
//** Border color of active list elements
@list-group-active-border:      @list-group-active-bg;
@list-group-active-text-color:  lighten(@list-group-active-bg, 40%);
@list-group-link-color:         @unit-primary;
@list-group-link-heading-color: #333;


// Navigation
// -------------------------
@nav-link-hover-bg:     @unit-primary;
@nav-pills-border-radius: 0;
@nav-pills-active-link-hover-color:  white;
@nav-pills-active-link-hover-bg:   @unit-primary;
// for icons, see Icon section


// Tables
// -------------------------
//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            .75em;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  .5em;
//** Default background color used for all tables.
@table-bg:                      transparent;
@table-th-bg:                   white;
@table-th-color:                @text-color;
//** Background color used for `.table-striped`.
@table-bg-accent:               lighten(@unit-lightest-grey, 2%);
//** Alternate background color used for `.table-striped`.
@table-bg-accent-alternate:     lighten(@unit-lightest-grey, 5%);
//** Background color used for `.table-hover`.
@table-bg-hover:                lighten(@unit-lightest-grey, 8%);
@table-bg-active:               @table-bg-hover;
//** Border color for table and cell borders.
@table-border-color:            #ddd;


// Tabs
// -------------------------
/*
@nav-tabs-border-color:                     #fff;
@nav-tabs-link-hover-border-color:          @unit-secondary;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @unit-tertiary;
@nav-tabs-active-link-hover-border-color:   @unit-tertiary;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;
*/
