/** FILE FOR CONCATENATING ALL LESS FILES - no styles should be added here directly **/

/* CORE MIXINS */
@import "_mixins.less";

/* GENERAL UNTILITIES / LAYOUT */
@import "utilities/_utilities.less";
@import "clf/_clf-base.less"; // Drupal specific styles & overrides
@import "clf/_clf-fixes.less"; // fix any clf issues
//@import "layout/_grid-mixins.less"; // from bootstrap3 - add this in to generate BS3 grids
//@import "layout/_grid.less"; // add bootstrap3 grid - add this in to generate BS3 gids
@import "layout/_mobile-layouts-bs3.less";

/** LIBRARIES **/

/* Formstone (https://formstone.it) */
/* enable the less resources as needed */
//@import "_lib/formstone-0.8.48/background.less";
//@import "_lib/formstone-0.8.48/carousel.less";
@import "_lib/formstone-0.8.48/checkbox.less";
@import "_lib/formstone-0.8.48/dropdown.less";
@import "_lib/formstone-0.8.48/equalize.less";
//@import "_lib/formstone-0.8.48/grid.ie.less";
//@import "_lib/formstone-0.8.48/grid.less";
//@import "_lib/formstone-0.8.48/lightbox.less";
//@import "_lib/formstone-0.8.48/navigation.less";
//@import "_lib/formstone-0.8.48/number.less";
//@import "_lib/formstone-0.8.48/pagination.less";
//@import "_lib/formstone-0.8.48/range.less";
@import "_lib/formstone-0.8.48/scrollbar.less";
//@import "_lib/formstone-0.8.48/swap.less";
//@import "_lib/formstone-0.8.48/tabs.less";
//@import "_lib/formstone-0.8.48/tooltip.less";
//@import "_lib/formstone-0.8.48/touch.less";
//@import "_lib/formstone-0.8.48/transition.less";
//@import "_lib/formstone-0.8.48/upload.less";
/* And an overriden version of _lib/formstone-0.8.48/navigation.less */
//@import "_unit_slideout-navigation.less";

/* Animate (https://daneden.github.io/animate.css/) */
@import "_lib/animate/animate.less";

/* Bootstrap v3.3.5 (http://getbootstrap.com) */
// Core variables and mixins - copied from the librariy folder so it can be easily referenced
@import "_bs3-variables.less";
@import "_bs3-mixins.less";
// Reset and dependencies
@import "_lib/bootstrap/normalize.less";
//@import "_lib/bootstrap/print.less";
//@import "_lib/bootstrap/glyphicons.less";
// Core CSS
//@import "_lib/bootstrap/scaffolding.less";
@import "_lib/bootstrap/type.less";
//@import "_lib/bootstrap/code.less";
@import "_lib/bootstrap/grid.less";
//@import "_lib/bootstrap/tables.less";
@import "_lib/bootstrap/forms.less";
@import "_lib/bootstrap/buttons.less";
// Components
//@import "_lib/bootstrap/component-animations.less"; (interferes with default clf search dropdown)
//@import "_lib/bootstrap/dropdowns.less";
//@import "_lib/bootstrap/button-groups.less";
//@import "_lib/bootstrap/input-groups.less";
//@import "_lib/bootstrap/navs.less";
//@import "_lib/bootstrap/navbar.less";
@import "_lib/bootstrap/breadcrumbs.less";
@import "_lib/bootstrap/pagination.less";
@import "_lib/bootstrap/pager.less";
//@import "_lib/bootstrap/labels.less";
//@import "_lib/bootstrap/badges.less";
//@import "_lib/bootstrap/jumbotron.less";
//@import "_lib/bootstrap/thumbnails.less";
@import "_lib/bootstrap/alerts.less";
//@import "_lib/bootstrap/progress-bars.less";
//@import "_lib/bootstrap/media.less";
@import "_lib/bootstrap/list-group.less";
//@import "_lib/bootstrap/panels.less";
@import "_lib/bootstrap/responsive-embed.less";
//@import "_lib/bootstrap/wells.less";
@import "_lib/bootstrap/close.less";
// Components w/ JavaScript
//@import "_lib/bootstrap/modals.less";
//@import "_lib/bootstrap/tooltip.less";
//@import "_lib/bootstrap/popovers.less";
//@import "_lib/bootstrap/carousel.less";
// Utility classes
//@import "_lib/bootstrap/utilities.less";
@import "_lib/bootstrap/responsive-utilities.less";

/** UNIT VARIABLES **/
@import "_unit-variables.less"; // Modify this file to add additional variables or interrupt previously declared variables before processing

/** COMPONENTS **/
@import "accordions/_unit-accordions.less";
@import "alerts/_unit-alerts.less";
@import "blockquotes/_unit-blockquotes.less";
@import "buttons/_unit-buttons.less";
//@import "callouts/_unit-callouts.less";
//@import "cards/_unit-cards.less";
//@import "datepicker/_unit_datepicker.less";
//@import "featured/_unit-featured-content.less";
@import "featured/_unit-featured-content-image.less";
//@import "featured/_unit-featurebox.less";
//@import "featured/_unit-featurebox--collapsible.less";
//@import "featured/_unit-featurebox--gallery.less";
@import "forms/_unit-forms.less";
@import "images/_unit-images.less";
@import "images/_unit-svg.less";
//@import "images/_unit-imagebreak.less";
@import "lists/_unit-lists.less";
@import "lists/_unit-list-group.less";
//@import "lists/_unit-link-lists.less";
//@import "lists/_unit-leaders.less";
@import "lists/_unit-checklists.less";
//@import "navigation/_unit-action-links.less";
@import "navigation/_unit-breadcrumbs.less";
//@import "navigation/_unit-fixed-links.less";
@import "navigation/_unit-main.less";
//@import "navigation/_unit-secondary.less";
@import "navigation/_unit-sidenav.less";
@import "navigation/_unit-slidein.less";
@import "navigation/_unit-subnav.less";
//@import "navigation/_unit-subnav--collapsing.less";
//@import "pager/_unit-pager.less";
//@import "pills/_unit-pills.less";
//@import "search/_unit-search.less";
@import "supporting-content/_unit-supporting-content.less";
@import "tables/_unit-tables.less";
//@import "tabs/_unit-tabs.less";
@import "tags/_unit-tags.less";
//@import "tags/_unit-badges.less";
@import "teasers/_unit-teasers.less";
@import "throbber/_unit-throbber.less";

/* UNIT STYLES */
@import "typography/_unit-type.less";
@import "_unit-custom-styles.less";

/*** FOR PROTOTYPE ONLY - remove from production version ***/
 .color-swatch {
   padding: 30px;
   border-radius: 50%;
   width: 180px;
   height: 180px;
   float: left;
   margin: 0 .5em 1em 0;
   font-size: .75em;
   line-height: 1em;
   text-align: center;
 }
