body {
  background-color: $white;
}

#ubc7-unit {
  background-color: $ubc-blue;
}

.ubc-required,
#ubc7-global-menu,
#ubc7-header,
#ubc7-footer,
#ubc7-unit .btn-navbar,
#ubc7-unit-menu {
  box-sizing: content-box;
}

.ubc-required .container {
  padding-left: 0;
  padding-right: 0;
}

#ubc7-global-footer h3 {
  line-height: 30px;
}

@media (min-width:$breakpoint--md) {
  #ubc7-search-box .input-xlarge {
    max-width: 278px !important;
  }
}
