// Tailwind's base styles
//See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622 */
@tailwind preflight;

// Add custom styles */
@import 'config/variables',
'config/functions';
@import 'base/base',
'base/forms',
'base/table',
'base/media',
'base/typography';
@import 'components/button',
'components/card',
'components/supporting',
'components/accordion',
'components/tabs',
'components/testimonial',
'components/throbber',
'components/navigation';
@import 'theme/clf',
'theme/default';

// Injects all of Tailwind's utility classes
//See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622 */
@tailwind utilities;

// Custom utilities you need that don't come out of the box with Tailwind. /

// TRANSFORMATION UTILITIES
.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

// Object fit
.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.object-fill {
  object-fit: fill;
}

.object-none {
  object-fit: none;
}

.object-scale-down {
  object-fit: scale-down;
}

// Object postion
.object-bottom {
  object-position: bottom;
}

.object-center {
  object-position: center;
}

.object-left {
  object-position: left;
}

.object-left-bottom {
  object-position: left bottom;
}

.object-left-top {
  object-position: left top;
}

.object-right {
  object-position: right;
}

.object-right-bottom {
  object-position: right bottom;
}

.object-right-top {
  object-position: right top;
}

.object-top {
  object-position: top;
}

.top-1 {
  top: 1px;
}

.bg-ubc-blue--semi {
  background-color: $semitrans-blue;
}

.bg-unit-green--semi {
  background-color: $semitrans-green;
}

.element-invisible,
.skip a:hover,
.skip a:link,
.skip a:visited,
.visuallyhidden {
  position: absolute;
  top: auto;
  left: -300%;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Add tailwind responsive directive to generate repsonsive utility classes
@responsive {

  // FLEXBOX ORDER
  .flex-order--1 {
    order: -1;
  }

  .flex-order-0 {
    order: 0;
  }

  .flex-order-1 {
    order: 1;
  }

  // WIDTHS
  /* purgecss start ignore */
  .w-half {
    width: 50%;
  }

  .w-one-third {
    width: calc(100% / 3);
  }

  .w-two-thirds {
    width: calc(100% / 3 * 2);
  }

  .w-one-quarter {
    width: 25%;
  }

  .w-three-quarters {
    width: 75%;
  }

  .w-one-fifth {
    width: 20%;
  }

  .w-two-fifths {
    width: 40%;
  }

  .w-three-fifths {
    width: 60%;
  }

  .w-four-fifths {
    width: 80%;
  }

  .w-one-sixth {
    width: calc(100% / 6);
  }

  .w-five-sixths {
    width: calc(100% / 6 * 5);
  }
  /* purgecss end ignore */

}

// HACKS and WORKAROUNDS
/* purgecss start ignore */
.pr-0 {
  padding-right: 0 !important;
}

@media (min-width: $breakpoint--md) {
  .md--pr-4 {
    padding-right: 1rem !important;
  }
}

@media (max-width: $breakpoint--sm--max) {
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

// Misc styles for correcting errant layout behaviours
.-ml-2 {
  margin-left: -.5rem;
}

.-mr-2 {
  margin-right: -.5rem;
}

// Bootstrap collapse behaviour
.collapse {
  position: relative;
  transition: height .35s ease;
  height: 0;
  overflow: hidden;
}

.collapse.in {
  height: auto;
}

@media (min-width: $breakpoint--lg) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

.container {
  @apply .px-4;
}

/* purgecss end ignore */
