// import base styles
@import "_buttons.less";

/* BUTTONS
-------------------------------------------------- */

/*

  SAMPLE MARKUP:
  --------------------------------------------------

  see: http://getbootstrap.com/2.3.2/base-css.html#buttons


  CUSTOM BUTTON CLASSES:
  --------------------------------------------------

  .unit-btn : a base class for custom-styled buttons with unit colours. Intended for use with a second class defining colours (see below)
  .unit-btn--primary : used to add the primary unit color to the unit button
    (usage: class="unit-btn unit-btn--primary")
  .unit-btn--reverse : used to create the reverse button colors of .unit-btn--primary
    (usage: class="unit-btn unit-btn--reverse")
  .unit-btn--plain : adds a simplified button style
    (usage: class="unit-btn--plain" - this style does not require the base class)
  .btn--w-icon : adds spacing to the button for an icon on the right. Also requires the icon class (fontawesome eample below)
    (usage: class="unit-btn unit-btn--reverse btn--w-icon fa fa-twitter")
  .btn--w-icon-reverse : adds spacing to the button for an icon on the left. Also requires the icon class (fontawesome eample below)
    (usage: class="unit-btn unit-btn--reverse btn--w-icon-reverse fa fa-twitter")

  VARIABLES
  --------------------------------------------------
  @unit-primary
  @unit-secondary
  @unit-accent
  @unit-accent-dark
  @unit-accent-light
  @btnBorderRadius - add default button radius
  @linkColor
  @linkColorHover

*/

/* GENERAL STYLES
- utility class (.non-clf) added to limit the styling to regions with the 'non-clf' class applied
*/

// default unit button styles
.unit-btn {
  white-space: normal;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border-style: solid;
  line-height: 1.5em !important; // to prevent fontawesome from triggering new line heights
  border-width: @unit-btn--border-width;
  padding: .50em .750em;
  position: relative;
  &:hover {
    text-decoration: none;
  }
}
// icon on right side (default)
.btn--w-icon {
  padding: .50em 44px .50em .750em;
  position: relative;
  &:before {
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: 34px;
    line-height: 0;
    font-size: 120%;
    font-family: @icon-font-family;
    text-align: center;
    z-index: 2;
  }
  &:active:before, &:hover:before {
    animation: iconwiggle-reverse ease-in-out .75s;
    animation-iteration-count: infinite;
  }
  // icon on left side
  &-reverse {
    padding: .50em .750em .50em 44px;
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      display: block;
      width: 34px;
      line-height: 0;
      font-size: 120%;
      font-family: @icon-font-family;
      text-align: center;
      z-index: 2;
    }
    &:active:before, &:hover:before {
      animation: iconwiggle-reverse ease-in-out .75s;
      animation-iteration-count: infinite;
    }
  }
}

/* CUSTOM UNIT BUTTON STYLES
-------------------------------------------------- */
// unit-btn used as a base so it doesn't conflict with Bootstrap button styles.
/* PRIMARY BUTTONS */
.unit-btn--primary {
  color: @unit-btn--color;
  background-color: @unit-btn--background-color;
  border-color: @unit-btn--border-color;
  &:hover {
    color: @unit-btn--color_hover;
    background-color: @unit-btn--background-color_hover;
    border-color: @unit-btn--border-color_hover;
  }
}

/* REVEERSED PRIMARY BUTTONS */
.unit-btn--reverse {
  color: @unit-btn-reverse--color;
  background-color: @unit-btn-reverse--background-color;
  border-color: @unit-btn-reverse--border-color;
  &:hover {
    color: @unit-btn-reverse--color_hover;
    background-color: @unit-btn-reverse--background-color_hover;
    border-color: @unit-btn-reverse--border-color_hover;
  }
}

/* PLAIN BUTTONS */
.unit-btn--plain {
  background-color: transparent;
  border: none;
  color: @unit-btn-plain--color !important;
  position: relative;
  text-decoration: none;
  padding: 0 1.75em 0 0;
  box-shadow: none;
  position: relative;
  display: inline-block;
  font-size: inherit;
  transition: all 0.4s cubic-bezier(0.58, 0.39, 0.7, 1.55);
  &:hover {
    background-color: transparent;
    color: @unit-btn-plain--hover-color !important;
    text-decoration: none;
    &:after {
      animation: iconwiggle ease-in-out .75s;
      animation-iteration-count: infinite;
    }
  }
  &:after {
    position: absolute;
    content: @unit-btn--plain-icon;
    right: 1em;
    display: block;
    font-family: @icon-font-family;
    top: 50%;
    font-weight: normal;
    font-size: .875em;
    //color: @unit-primary;
    line-height: 0;
  }
}

/* ICON ANIMATIONS */
@keyframes iconwiggle{
  0% {
    transform:  translate(0,0)  ;
  }
  50% {
    transform:  translate(4px,0)  ;
  }
  100% {
    transform:  translate(0,0)  ;
  }
}
@keyframes iconwiggle-reverse{
  0% {
    transform:  translate(0,0)  ;
  }
  50% {
    transform:  translate(-4px,0)  ;
  }
  100% {
    transform:  translate(0,0)  ;
  }
}

// BUTTON SIZES
.btn--xs {
  font-size: .656em;
}
.btn--sm {
  font-size: .750em;
}
.btn--lg {
  font-size: 1.25em;
}

// remove the content from button groups
.btn-group>[class*=unit-btn] {
  padding: .5em 1.25em .375em 1.25em;
}
.btn-group>[class*=unit-btn]:after {
  background-color: transparent;
}


// EXTEND SOME BUTTON STYLES FOR DRUPAL CONTENT THAT IS DIFFICULT TO ALTER
.pager.pager-load-more li>a,
.non-clf .btn.form-submit,
.non-clf .btn.btn-secondary.form-submit {
  &:extend(.unit-btn);
}

.pager.pager-load-more li>a,
.non-clf .btn.form-submit,
.non-clf .btn.btn-secondary.form-submit {
  text-decoration: none;
  position: relative;
}
.non-clf .btn.form-submit,
.non-clf .btn.btn-secondary.form-submit {
  padding-right: 1.25em;
}

input.form-submit,
ul.pager-load-more a {
  &:extend(.unit-btn);
  &:extend(.unit-btn--reverse);
  text-decoration: none !important;
  &:hover {
    &:extend(.unit-btn:hover);
    &:extend(.unit-btn--reverse:hover);
    transition: background-color .5s ease, color .5s ease;
  }
}
.views-reset-button input.form-submit {
  &:extend(.unit-btn--primary);
  &:hover {
    &:extend(.unit-btn--primary:hover);
  }
}
.link--more {
  text-align: right;
}
.link--more a {
  &:extend(.unit-btn);
  &:extend(.unit-btn--primary);
  text-decoration: none !important;
  &:hover {
    &:extend(.unit-btn:hover);
    &:extend(.unit-btn--primary:hover);
  }
}

