/* SUPPORTING CONTENT
-------------------------------------------------- */

/*

  USAGE
  --------------------------------------------------
  
  Intended to be used in an aside or sub-region of the page to provide additional supporting content (metadata, additional links, etc)
  

  SAMPLE MARKUP:
  --------------------------------------------------
  
  <section class="supporting">
    <header>
      <h3>Some Title</h3>
    </header>
    <div class="content">
      etc...
    </div>
  </section>
    
  
  CUSTOM SUPPORTING CONTENT CLASSES:
  --------------------------------------------------
  .supporting - triggers the styles below
  
  
  VARIABLES USED:
  --------------------------------------------------
  @unit-primary - colour for supporting content's title (H3)
  @unit-accent-light - border colour below supporting content's title
  @baseFontSize - sets the font size (and in this use case, reduces it)
  
*/


.supporting-content {
  font-size: .875em;
  background-color: @unit-accent-light;
  padding: 15px;
  h3 {
    color: @unit-primary !important;
  }
  h4 {
    color: @ubc-blue;
    font-size: @h5-font-size !important;
    //line-height: @h5-line-height !important;
    border-bottom: 1px solid #333;
    margin-top: 1em;
  }
  figure {
    margin-left: -1em;
    margin-right: -1em;
  }
}
@media screen and (max-width: @screen-sm-max ) {
  .supporting-content {
    font-size: .7em;
    padding: 0 0 30px 0;
    background-color: #fff;
    figure {
      margin-left: 0;
      margin-right: 0;
    }  }
  
}