/* TAGS
-------------------------------------------------- */

/* 

  CUSTOM STYLES 
  --------------------------------------------------
  
  .tags : add to ul / ol to convert into a list of tag style items (with or without links). Will require .clearfix on ul/ol for proper float behaviour  
          
  SAMPLE MARKUP:
  --------------------------------------------------
  
    <ul class="tags clearfix">
      <li><a href="#">item one</a></li>
      <li><a href="#">item two</a></li>   
      <li><a href="#">item three</a></li>
    </ul>
  
  
  VARIABLES:
  --------------------------------------------------
  @text-color - sets the default tag text colour
  @unit-accent - sets the active and hover background colours
  @unit-accent-light - sets the default background colour
  @font-size-base - sets the font size (and in this use case, reduces it)

*/


.tags {
  list-style: none;
  margin: 0;
  li {
    float: left;
    display: block;
    margin: 0 .5em .5em 0;
    font-size: (@font-size-base - 3);
    //padding: .125em 1em;
    transition: background-color .5s ease, color .5s ease;
    a {
      display: block;
    }
  }
}

// to fix the spacing when inserted into tables, we add a negative margin to the tags container
table .tags {
  margin-bottom: -9px;
  margin-top: -3px;
}